#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/CargoManagerDwr.js?t=201205020930.js",
            	"$StringUtil.getContextPath()/js/stock/cargoManager.js?t=201206060930.js"])

#set($cond = $form.condition)
#set($itemClassId = $!cond.get('itemClassId'))
#set($ornaClassId = $!cond.get('ornaClassId'))
#set($styleItemClass = $!cond.get('styleItemClass'))
#set($styleMiddleClass = $!cond.get('styleMiddleClass'))
#set($styleOrnaClass = $!cond.get('styleOrnaClass'))
#set($styleId = $!cond.get('styleId'))
#set($analysisId = $!cond.get('analysisId'))
#set($ornaBarCode = $!cond.get('ornaBarCode'))
#set($ornaCode = $!cond.get('ornaCode'))
#set($isMaterial = $!cond.get('isMaterial'))
#set($isCode = $!cond.get('isCode'))
#if(!$isCode)#set($isCode = "0")#end

<table class='content'>
	<tbody id="codeCondition">
		<tr >
			<td class='body1'>商品条码</td>
			<td class='body2'>
				<input type='text' id="ornaBarCode" name="ornaBarCode"   value="$!ornaBarCode" />
			</td>
			<td class='body1'>商品编码</td>
			<td class='body2'>
				<input type='text' id="ornaCode" name="ornaCode"  value="$!ornaCode" />
			</td>
			<td class='body1'></td>
			<td class='body2'></td>
			<td class='body1'></td>
			<td class='body2'></td>
		</tr>
    </tbody>
</table>

<form id="frm" action="cargoManager.vm"  method="post">
	<table class="title">
		<tr><td>原料货位维护#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
	</table>
	
	

	<input type="hidden" id="isCode" name="isCode" value="$!isCode"/>
	<table class='content'>
		<tbody id="noCodeCondition" >
			<tr >
    			<td class='body1'>大类</td>
    			<td class='body2'>
    				<select id="itemClassId" name="itemClassId" dataType="Require" value="$!BdCommon.getItemClassDesc($itemClassId)" msg="不能为空">$StringUtil.emptyOption()</select>
    			</td>
    			<td class='body1'>小类</td>
    			<td class='body2'>
    				<select id="ornaClassId" name="ornaClassId" dataType="Require" value="$!BdCommon.getOrnaClassDesc($ornaClassId)" msg="不能为空">$StringUtil.emptyOption()</select>
    			</td>
    			<td class='body1'>分析范围</td>
    			<td class='body2'>
    				<select id="analysisId" name="analysisId" dataType="Require" value="$!analysisId" msg="不能为空">$StringUtil.emptyOption()</select>
    			</td>
    			<td class='body1'>款式大类</td>
    			<td class='body2'>
    				<select id="styleItemClass" name='styleItemClass' >$StringUtil.emptyOption()</select>
    			</td>
				<td class='body1'>
    				<input type='button' value='查询' class='btn' id='btnSearch'>
    			</td>
    		</tr>
			<tr>
				<td class='body1'>款式中类</td>
    			<td class='body2'>
    				<select id="styleMiddleClass" name="styleMiddleClass"  >$StringUtil.emptyOption()</select>
    			</td>
    			<td class='body1'>款式小类</td>
    			<td class='body2'>
    				<select id="styleOrnaClass" name='styleOrnaClass'  >$StringUtil.emptyOption()</select>
    			</td>
				<td class='body1'>款式</td>
    			<td class='body2'>
    				<select id="styleId" name="styleId" >$StringUtil.emptyOption()</select>
    			</td>
    			<td class='body1'>是否备货</td>
    			<td class='body2'>
    				<select id="isMaterial" name="isMaterial" >$StringUtil.emptyOption()</select>
    			</td>
				<td class='body1'>
    				<input type='button' value='重置' class='btn' id='btnReset'>
    			</td>
			</tr>
        </tbody>
	</table>
	<table class="search-tb">
		<tr>
			<td>
				<input type='button' value='打标记' class='btn' id='btnAddTip' $RightUtil.able($session, '08030801','1')/>
				<input type='button' value='清标记' class='btn' id='btnDelTip' $RightUtil.able($session, '08030801','2')/>
				<input type='checkBox' id="enbaleCode" name='enbaleCode' #if($isCode == "1")checked=true#end  onclick="changeCheckBox(this);">
    			<span style="color:red;">使用饰品编码或条码查询</span>
			</td>
		</tr>
	</table>
	<div class="scroll" style="height:538px;">
	<table class='list' style="width:1300px;">
		<thead>
			<tr>
				<th width='45px'><input type='checkbox' id='chkall'/></th>
				<th width="40px">标志</th>
				<th width="90px">大类</th>
				<th width="60px">小类</th>
				<th width="60px">款式</th>
				<th width="90px">分析范围</th>
				<th width="90px">饰品编码</th>
				<th width="150px">饰品名称</th>
				<th width="60px">计量单位</th>
				<th width="60px">现有量</th>
				<th width="60px">总重量</th>
				<th width="60px">粒数</th>
				<th width="60px">销售金额</th>
				<th width="60px">主石重量</th>
				<th width="60px">配石重量</th>
			</tr>
		</thead>
		<tbody id="tbl">
			#foreach($map in $form.pager.pageData)
				<tr>
					<td><input type='checkbox' name='chk'/>$velocityCounter</td>
					<td align="center">
						#if($!map.isMaterial == "1")<img src='$!StringUtil.getContextPath()/image/mclon/flag.png' />#end
					</td>
					<td>
						$!map.itemClassName
						<input type="hidden" name="ornaCode_list" value="$!map.ornaCode"/>
					</td>
					<td>$!map.ornaClassName</td>
					<td><a href='javascript:viewStyle("$!map.styleId")'>$!map.styleName</a></td>
					<td>$!map.alaysisName</td>
					<td>$!map.ornaCode</td>
					<td><input type='text' readonly class='none' value="$!map.ornaDsc" style='width:150px;'></td>
					<td>$!BdCommon.getUnitName($!map.saleUnitId)</td>
					<td>$!map.nowQty</td>
					<td>$!map.allQty</td>
					<td>$!map.stoneNowNum</td>
					<td>$!map.posAmount</td>
					<td>$!map.mainWeight</td>
					<td>$!map.partWeight</td>
				</tr>
			#end
    	</tbody>
	</table>
</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>

<script>

function setValues(){
	jQuery("#itemClassId").val("$!itemClassId");
	jQuery("#ornaClassId").val("$!ornaClassId");
	jQuery("#styleItemClass").val("$!styleItemClass");
	jQuery("#styleOrnaClass").val("$!styleOrnaClass");
	jQuery("#styleMiddleClass").val("$!styleMiddleClass");
	jQuery("#analysisId").val("$!analysisId");
	jQuery("#styleId").val("$!styleId");
	jQuery("#ornaCode").val("$!ornaCode");
	jQuery("#ornaBarCode").val("$!ornaBarCode");
	var value = {
		itemClassId : "$!itemClassId",
    	ornaClassId : "$!ornaClassId",
    	styleItemClass : "$!styleItemClass",
    	styleOrnaClass : "$!styleOrnaClass",
    	styleMiddleClass : "$!styleMiddleClass",
    	analysisId : "$!analysisId",
    	styleId : "$!styleId"
	};
	#if($isCode == "1")
		jQuery("#noCodeCondition").css("display", "none");
		jQuery("#codeCondition").css("display", "");
	#else
		jQuery("#noCodeCondition").css("display", "");
		jQuery("#codeCondition").css("display", "none");
	#end
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true, "$!itemClassId");
    	changeItemClass(value);
	});
	DictDwr.getDictsForSlt('yesorno', function(data){
		addOptions("isMaterial", data, null, null, true, true, "$!isMaterial");
	});
}
jQuery(function(){
	/*setEnterKey("ornaCode", function(){
		info(1);
	});
	setEnterKey("ornaBarCode", function(){
		info(2);
	});*/
	setValues();
	checkTable('tbl', 'chkall', 'chk', true, null, null);
	onButtons();
});
	
</script>