#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js"])
<form id="myForm" method="post">
<table class="control">
    	<tr>
    		<td>
    			<input type='button' value='查询' id='btnQueryOk'>
    			<input type='button' value='重置' id='btnQueryReset'>
    		</td>
    	</tr>
    </table>
    <table class='content'>
    	<tr>
			<input type="hidden" id="ininvTypeId" value="$!{form.condition.ininvTypeId}" />
			<input type="hidden" id="handoverBillId" value="$!{form.condition.handoverBillId}" />
    		<td class="body1">供应商</td>
    		<td class='body2'>
				<!--<input type='text' id='verdorName' name='verdorName' value="$!{form.condition.verdorName}"/></td>-->
				<select id="verdorName" name='verdorName' style='width:200px;' ></select>
    		<td class="body1">创建启始时间</td>
    		<td class='body2'><input type='text' id='beginTime' name='beginTime' value="$!{form.condition.beginTime}"/></td>
			<td class="body1">创建结束时间</td>
    		<td class='body2'><input type='text' id='endTime' name='endTime' value="$!{form.condition.endTime}"/></td>
    	</tr>
    </table>
<table class='list'>
    <thead>
		<tr>
            <th width='20px'><input type='checkbox' id='chkall'/></th>
			<th>交接单号</th>
            <th>供应商</th>
			<th>业务类型</th>
			<th>来源单据</th>
			<th>状态</th>
			<th>创建时间</th>
		</tr>
	</thead>
	<tbody id='tbl'>
		#foreach($map in $form.pager.pageData)
		<tr>
    		<td>
    			<input type='checkbox' name='chk' #if($!{form.condition.handoverBillId}=="$!map.billid") checked #end  />
    			<input type="hidden" name="billid"        value = "$!map.billid"       /> 
				<input type="hidden" name="billno"        value = "$!map.billno"       /> 
                <input type="hidden" name="verdorId"      value = "$!map.verdorId"       />
				<input type="hidden" name="dotype"        value = "$!map.dotype"       /> 
                <input type="hidden" name="status"        value = "$!map.status"       />
                <input type="hidden" name="createDate"    value = "$!map.createDate"       />
                <input type="hidden" name="isPsale"    value = "$!map.isPsale"       />
                <input type="hidden" name="materialId"    value = "$!map.materialId"       />
    		</td>
            <td>$!map.billno</td>
            <td>$!BdCommon.getVendorName($!map.verdorId)</td>
            <td>$!DictUtil.getValue('purbiztype',$!map.dotype)</td>
            <td>$!DictUtil.getValue('billcode',$!map.sourceType)</td>
            <td>$!DictUtil.getValue('status', $!map.status)</td>
            <td>$!map.createDate</td>
		</tr>
		#end
    </tbody>
</table>
<script>
createPagingToolbar('myForm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
//供外部调用的取值方法
function getValues(){
	var idxs = getSelectIndexs('chk'),
		result = [];
	if(idxs.length==0){
		alert("请选择交接单");
		return;
	}
	if(-1 == getSelectIndexs('chk'))
		return null;
	var vend = {
		billid       	:$n("billid")[idxs].value,
        billno     		:$n("billno")[idxs].value,
        verdorId       	:$n("verdorId")[idxs].value,
        dotype        	:$n("dotype")[idxs].value,
        status    		:$n("status")[idxs].value,
        createDate		:$n("createDate")[idxs].value,
        isPsale		:$n("isPsale")[idxs].value,
		materialId		:$n("materialId")[idxs].value
	};
	return vend;
}
function clickRow(i){
	var idxs = getSelectIndexs('chk'),
		result = [];
	if(idxs.length==0){
		return;
	}
	if(-1 == getSelectIndexs('chk'))
		return null;
	var result = {
		billid       	:$n("billid")[idxs].value,
        billno     		:$n("billno")[idxs].value,
        verdorId       	:$n("verdorId")[idxs].value,
        dotype        	:$n("dotype")[idxs].value,
        status    		:$n("status")[idxs].value,
        createDate		:$n("createDate")[idxs].value,
        isPsale		:$n("isPsale")[idxs].value,
		materialId		:$n("materialId")[idxs].value
		
	};
	parent.changeHandover(result.billid,result.billno,result.verdorId,result.dotype,result.isPsale,result.materialId);
	parent.closePrintWin();
}
/**
 * 查询
 */
function executeQuery(){
	jQuery("#myForm").submit();
}
function resetQuery(){
	jQuery("#verdorName").val('');
	jQuery("#beginTime").val('');
	jQuery("#endTime").val('');
}
jQuery(function(){
	initCalendarArr(["beginTime", "endTime"],{dateFormat: "%Y-%m-%d %H:%M:%S",showTime:true});
	checkTable('tbl', 'chkall', 'chk', false,clickRow);
	jQuery("#btnQueryOk").click(executeQuery);
	jQuery("#btnQueryReset").click(resetQuery);
	BdCommonDwr.getAllVendor(function(data){
		addOptions("verdorName", data, null, null, true, true,"$!{form.condition.verdorName}");
	});
	
});
</script>