#set($jsfiles = [
"$StringUtil.getContextPath()/js/stock/materInivGold.js?t=201211191240",
"$StringUtil.getContextPath()/dwr/interface/MaterInivDwr.js",
"$StringUtil.getContextPath()/dwr/interface/CoefficientDwr.js",
"$StringUtil.getContextPath()/dwr/interface/GoldSpecialChargeDwr.js",
"$StringUtil.getContextPath()/script/mclon/ZeroClipboard/ZeroClipboard.js",
"$StringUtil.getContextPath()/dwr/interface/PriceHeadDwr.js"])
#set($cssfiles = ["$!StringUtil.getContextPath()/css/mclon/tabpanel.css"])
<div id="printDiv">
    <form id="print" method="post" target="_blank"  action="$StringUtil.getContextPath()/velocity/mclon/common/printLabelJson.jsp">
    	<input type="hidden" id="printData" name="LIST_FOR_BARCODE_JSON"/>
    	<input type="hidden" id="printPt"  name="pt"/>
    	<input type="hidden" id="printParams" name="params"/>
    </form>
</div>
<form id='frm' action="" method="post">
	<input type="hidden" id="id" value="$!form.iniv.id"/>
	<input type="hidden" id="allowInivType" value="1"/>
	<input type="hidden" id="no" value="$!form.iniv.no"/>
	<input type="hidden" id="updatedate" value="$!form.iniv.updatedate"/>
	<input type="hidden" id="createuserid" value="$!form.iniv.createuserid"/>
	<input type="hidden" id="createdate" value="$!form.iniv.createdate"/>
	<input type="hidden" id='inivOrg' value="$!form.iniv.inivOrg">
	<input type='hidden' id='articleTypeId' value="$!form.iniv.articleTypeId"/>
	<input type='hidden' id='srcBillId' value="$!form.iniv.srcBillId"/>
	<input type='hidden' id='srcBillCode' value="$!form.iniv.srcBillCode"/>
	<input type='hidden' id='inivFlag' value="$!form.iniv.inivFlag"/>
	<input type='hidden' id='stockId' value="$!form.iniv.stockId"/>
	<input type='hidden' id='handoverBillId' value="$!form.iniv.handoverBillId"/>
	<input type='hidden' id='nuclearBillId' value="$!form.iniv.nuclearBillId"/>
	<input type='hidden' id='isConsign' value="$!form.iniv.isConsign"/>
	<input type='hidden' id='styleId' value="$!form.iniv.styleId"/>
	<input type='hidden' id='oldHid' value="-1"/>
    <input type='hidden' id='fixedGoldPrice' value="$!form.iniv.fixedGoldPrice"/>
	<table class="title">
    	<tr><td>$!DictUtil.getValue('inivtype', $!form.inivType)</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='重置' class='btn' id='btnSave' onclick='result()'>
				<input type='button' value='保存' class='btn' id='btnSave1' onclick='save(1)' $RightUtil.able($session, '08060102','1')>
				<input type='button' value='保存复制' class='btn' id='btnSave2' onclick='save(2)' $RightUtil.able($session, '08060102','2')>
				<input type='button' value='保存复制并打印' class='btn' id='btnSave3' $RightUtil.able($session, '08060102','3')>
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08060102','4')>
				<input type='button' value='返回列表' class='btn' id='btnToList' onclick='returnList()'>
                <font color='red'><label id="showMasage"></label></font>
		</td></tr>
    </table>
	<div id="tab">
    		<table class='content'>
    			<tr>
    				<td class='body1'>创建人</td>
    				<td class='body2'>
						<input type='text' id='createUserName' name="createUserName" readonly value="$!BdCommon.getUserName($!form.iniv.createuserid)">
					</td>
					<td class='body1'>单据时间</td>
    				<td class='body2'>
						<input type='text' id='inivDate' name="" readonly value="$!form.iniv.inivDate"/>
					</td>
    				<td class='body1'>饰品编码</td>
    				<td class='body2'>
						<input type='text' id='ornaCode' readonly value="$!form.iniv.ornaCode" />
					</td>
					<td class='body1'>条码</td>
    				<td class='body2'>
						<input type='text' id='ornaBarcode' readonly value="$!form.iniv.ornaBarcode" />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>交接单</td>
    				<td class='body2'>
						<input type='text' id='srcBillNo' dataType="Require" msg="不能为空" value="$!form.iniv.srcBillNo" readonly><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择交接单" onclick="showHandover()"/>$StringUtil.star()
					</td>
    				<td class='body1'>供应商</td>
    				<td class='body2'>
						<input type="hidden" id='venderId' value="$!form.iniv.venderId">
						<input type='text' id='venderName' readonly/>
					</td>
					<td class='body1'>饰品名称</td>
    				<td class='body2'>
						<input type='text' id='ornaName' value="$!form.iniv.ornaName" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>小数点位数</td>
    				<td class='body2'>
						<select id='decimalNum' value="$!form.iniv.decimalNum" onchange="changeNum()" >
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>商品类别</td>
    				<td class='body2'>
						<input type='text' id='articleTypeName' readonly value="$!BdCommon.getArticleTypeDesc($!form.iniv.articleTypeId)"/>
					</td>
    				<td class='body1'>大类</td>
    				<td class='body2'>
						<select id="itemClassId" dataType="Require" msg="不能为空" onchange="changeItemClassId()" #if($!form.iniv.id!="") disabled #end>$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>小类</td>
    				<td class='body2'>
						<select id="ornaClassId" dataType="Require" msg="不能为空" onchange="changeOrnaClassId()" #if($!form.iniv.id!="") disabled #end>$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>标签名称</td>
    				<td class='body2'>
						<select id="smallLabelType" onchange="changeLabel()"  dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>款式大类</td>
    				<td class='body2'>
						<select id="styleItemId" dataType="Require" onchange="changeStyleItem()" msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>款式中类</td>
    				<td class='body2'>
						<select id="styleMiddleId" dataType="Require" onchange="changeStyleMiddle()"  msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    				<td class='body1'>款式小类</td>
    				<td class='body2'>
						<select id="styleOrnaId" dataType="Require" onchange="changeStyleOrna()" msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    				<td class='body1'>是否双标签</td>
    				<td class='body2'>
						<input type='checkbox' id='isDblLabel' disabled />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>托架材质</td>
    				<td class='body2'>
						<select id="qualityId" onchange="changeQuality()" dataType="Require" msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>计量单位</td>
    				<td class='body2'>
						<select id='unitId' onchange="changeUnit()" value="$!form.iniv.unitId" >
							<option value="609">克</option>
							<option value="612">件</option>
						</select>
					</td>
					<td class='body1'>款式</td>
    				<td class='body2'>
						<input type='text' id='styleName' dataType="Require" msg="不能为空" readonly /><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择款式" onclick="showStyleWindow()"/>$StringUtil.star()
						<!--<select id="styleId" dataType="Require"  onchange="changeStyle()" msg="不能为空">$StringUtil.emptyOption()</select>-->
					</td>
					<td class='body1'>柜组</td>
    				<td class='body2'>
						<select id='groups'></select>
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>托架颜色</td>
    				<td class='body2'>
						<select id="bracketcolorId" dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>价格属性组</td>
    				<td class='body2'>
						<select id='priceAttrGroup' dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>工厂款号</td>
    				<td class='body2'>
						<input type='text' id='factoryStyleId' onblur="loadFactoryStyle()" value="$!form.iniv.factoryStyleId"/>
					</td>
					<td class='body1'>分析范围</td>
    				<td class='body2'>
						<input type='hidden' id='analysisArangeId' readonly value="$!form.iniv.analysisArangeId"/>
						<input type='text' id='analysisArangeName' readonly dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>重量</td>
    				<td class='body2'>
						<input type='text'  id='allQty' onblur="setOrnaWeight()" value="$!form.iniv.allQty" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>数量</td>
    				<td class='body2'>
						<input type='text'  id='quantity' readonly value="$!StringUtil.formatDouble($!{form.iniv.quantity},6)" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>特殊工费</td>
    				<td class='body2'>
						<input type='text' id='specialWorkPrice' readonly value="$!form.iniv.specialWorkPrice" />
					</td>
					<td class='body1'>工厂工费方式</td>
    				<td class='body2'>
						<select id='factoryFeeType' onchange="changeFactoryFeePrice()" value="$!form.iniv.factoryFeeType" dataType="Require" msg="不能为空" >
							<option value="">--请选择--</option>
							<option value="1">件</option>
							<option value="2">克</option>
						</select>$StringUtil.star()
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>特殊重量</td>
    				<td class='body2'>
						<input type='text'  id='specialWeight' onblur="blurSpecialWeight()"  value="$!form.iniv.specialWeight"  />
					</td>
					<td class='body1'>红绳工费</td>
    				<td class='body2'>
						<select id="stringWorkPrice" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>生肖</td>
    				<td class='body2'>
						<select id="zodiac" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>工厂工费单价</td>
    				<td class='body2'>
						<input type='text' id='factoryFeePrice' value="$!form.iniv.factoryFeePrice" onblur="changeFactoryFeePrice()"  />
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>成本单价</td>
    				<td class='body2'>
						<input type='text' id='costPrice' onblur="changeCostPric()" value="$!form.iniv.costPrice" dataType="Require" msg="不能为空"  />$StringUtil.star()
					</td>
					<td class='body1'>尺寸</td>
    				<td class='body2'>
						<select id="sizeId" ></select>
					</td>
    				<td class='body1'>配石内容</td>
    				<td class='body2'>
						<input type='text' id='partContent' value="$!form.iniv.partContent" />
					</td>
    				<td class='body1'>工厂工费</td>
    				<td class='body2'>
						<input type='text' id='factoryFee' readonly value="$!form.iniv.factoryFee"  />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>基础价</td>
    				<td class='body2'>
						<input type='text' id='basicPrice' msg="不能为空" readonly value="$!form.iniv.basicPrice" onblur="blurBasicPrice()"/>
					</td>
    				<td class='body1'>国检证书</td>
    				<td class='body2'>
						<input type='text' id='identId' value="$!form.iniv.identId" />
					</td>
					<td class='body1'>核价单</td>
    				<td class='body2'>
						<input type='text' id='nuclearBillName'  onchange="enterCalcPriceNo()" value="$!form.iniv.calcpriceNo" readonly><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择核价单" onclick="showNuclearBill()"/>
					</td>
					<td class='body1'>输入核价单</td>
    				<td class='body2'>
						<input type='text' id='calcpriceNo' value="$!form.iniv.calcpriceNo" />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>网点金额</td>
    				<td class='body2'>
						<input type='text' id='posAmount' readonly value="$!form.iniv.posAmount"/>
					</td>
    				<td class='body1'>佩戴对象</td>
    				<td class='body2'>
						<select id="wearId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>是否定做</td>
    				<td class='body2'>
						<input type='checkbox' id='isCustom' disabled value="$!form.iniv.isCustom" />
					</td>
					<td class='body1'>定做单号</td>
    				<td class='body2'>
						<input type='text' id='customizeNo' value="$!form.iniv.customizeNo" onblur="blurCustomizeNo()"><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择定做单" onclick="showPurchaseHeadWind()"/>
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>款式类别</td>
    				<td class='body2'>
						<select id="styleType" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>常用摘要</td>
    				<td class='body2'>
						<select id="summaryId" disabled  >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>是否原料</td>
    				<td class='body2'>
						<input type='checkbox' id='materialId' disabled />
					</td>
					<td class='body1'>价格锁定</td>
    				<td class='body2'>
						<input type='checkbox' id='lockFlag' disabled />
					</td>
    			</tr>
                <tr>
					<td class='body1'>单据状态</td>
    				<td class='body2'>
						<input type="hidden" id='state' readonly value="$!form.iniv.state">
						<input type='text' id='stateName' readonly value="$!DictUtil.getValue('status', $!form.iniv.state)"" />
					</td>
					<td class='body1'>总成本</td>
    				<td class='body2'>
						<input type='text' disabled  id='totalCost' value="$!form.iniv.totalCost"/>
					</td>
					<td class='body1'></td>
    				<td class='body2'>
						<input type='text' disabled  id='inivCost' />
					</td>
					<td class='body1'>工厂饰品代码</td>
    				<td class='body2'>
						<input type='text' disabled msg="不能为空"  id='factoryOrnaCode' value="$!form.iniv.factoryOrnaCode" />
					</td>
                </tr>
				<tr>
					<td class='body1'>是否高工艺</td>
    				<td class='body2'>
						<input type='checkbox' id='privateType' disabled />
					</td>
					<td class='body1'>原饰品编码</td>
    				<td class='body2'>
						<input type='text' id='oldOrnaCode' value="$!form.iniv.oldOrnaCode" ondblclick="showSelectOrnaCodeWin()" class='target'>
						##<select id="oldOrnaCode" >$StringUtil.emptyOption()</select>
					</td>
				</tr>
    		</table>
    </div>
</form>
<script>
var wpLimit = $BdCommon.getMaterInivWorkPrice();
var verdor_charge_price = $BdCommon.getVerdorChargePrice();// 特殊工费单价
var verdor_charge_fare = $BdCommon.getVerdorChargeFare();// 特殊工费加价
var fixed_gold_price_range = $BdCommon.getFixedGoldPriceRange();// 素金入库单 成本单价与爱尚金固定金价差异值范围

wpLimit = wpLimit||60;

jQuery(function(){
	altRowCSS('tbl');//为列表添加换行样式
	getInivCode();
	if("$!form.iniv.id")
		loadPageValue();
	else{
		setPageValue();
		jQuery("#inivDate").val("$DateUtil.getCurrentDate10()")
		jQuery("#createUserName").val("$StringUtil.getUserName($session)")
	}
	setEnterKey("calcpriceNo",enterCalcPriceNo);
	setEnterKey("factoryStyleId", loadFactoryStyle);
	initLabelPrint("btnSave3", function(){return save('3');});
});
function loadPageValue(){
	setButDis("$!form.iniv.state");//设置按钮
	BdCommonDwr.getCustById("$!form.iniv.venderId",function(venderName){//交接单下的供应商
		if(venderName!=null)
			jQuery("#venderName").val(venderName);
	});
	countFactoryOrnaCode("$!form.iniv.isConsign");
	
	PriceHeadDwr.getHandoerItemClassByHeadId("$!form.iniv.handoverBillId","1","$!form.iniv.articleTypeId","2",function(data){//交接单下的大类
		addOptions("itemClassId", data, null, null, true, true,"$!form.iniv.itemClassId");
	});
	BdCommonDwr.getOrnaClassByItemClassIdForSlt("$!form.iniv.itemClassId", function(data){//大类下的小类
		addOptions("ornaClassId", data, null, null, true, true,"$!form.iniv.ornaClassId");
	});
	BdCommonDwr.getQualityByStyleId("$!form.iniv.styleId", function(data){//款式下的材质
		addOptions("qualityId", data, null, null, true, true,"$!form.iniv.qualityId");
	});
	BdCommonDwr.getBracketColorByQualityId("$!form.iniv.qualityId",function(data){//托架材质下托架颜色
		addOptions("bracketcolorId", data, null, null, true, true,"$!form.iniv.bracketcolorId");
	});
	BdCommonDwr.getStyleItemClassForSlt("$!form.iniv.itemClassId","$!form.iniv.ornaClassId", function(data){//大类小类下的款式大类
		addOptions("styleItemId", data, null, null, true, true,"$!form.iniv.styleItemId");
	});
	BdCommonDwr.getStyleMiddleClassForSlt("$!form.iniv.itemClassId","$!form.iniv.ornaClassId", "$!form.iniv.styleItemId", function(data){//款式大类的款式中类
		addOptions("styleMiddleId", data, null, null, true, true,"$!form.iniv.styleMiddleId");
	});
	BdCommonDwr.getStyleOrnaClassForSlt("$!form.iniv.itemClassId","$!form.iniv.ornaClassId", "$!form.iniv.styleItemId", "$!form.iniv.styleMiddleId", function(data){//款式中类的款式小类
		addOptions("styleOrnaId", data, null, null, true, true,"$!form.iniv.styleOrnaId");
	});
	//红绳工费
	DictDwr.getDictsForSlt("stringworkprice", function(data){
		addOptions("stringWorkPrice", data, null, null, true, true ,"$!form.iniv.stringWorkPrice");
	});
	BdCommonDwr.getStyleByIdAndVendor("$!form.iniv.styleId","$!form.iniv.venderId", function(s){
    	jQuery("#styleName").val(s.styleName);
	});
	BdCommonDwr.getNewLabelTypeByCalc("$!form.iniv.itemClassId","$!form.iniv.ornaClassId","$!form.iniv.unitId","$!form.iniv.qualityId","$!form.iniv.privateType", function(data){//标签名称
		addOptions("smallLabelType", data, null, null, true, true,"$!form.iniv.smallLabelType"+"_"+"$!form.iniv.isDblLabel");
		if(data==""||data==null||jQuery("#smallLabelType").val()==""){
			jQuery("#smallLabelType").val("$!form.iniv.smallLabelType");
			jQuery("#smallLabelType option:selected").text("$!form.iniv.smallLabelType");
		}
	});
	BdCommonDwr.getAnalysisName("$!form.iniv.analysisArangeId", function(a){//分析范围
		jQuery("#analysisArangeName").val(a);
	});
	//生肖	
	DictDwr.getDictsForSlt("bornimg", function(data){
		addOptions("zodiac", data, null, null, true, true,"$!form.iniv.zodiac");
	});
	//柜组 
	DictDwr.getDictsForSlt("group", function(data){
		addOptions("groups", data, null, null, true, true,"$!form.iniv.groups");
	});
	//佩戴对象
	BdCommonDwr.getAllWear(function(data){
		addOptions("wearId", data, null, null, true, true,"$!form.iniv.wearId");
	});
	//款式类别
	DictDwr.getDictsForSlt("styletype", function(data){
		addOptions("styleType", data, null, null, true, true,"$!form.iniv.styleType");
	});
	//价格属性组
	/*var unitId = "$!form.iniv.specialWorkPrice"!=""?"612":"$!form.iniv.unitId";
	BdCommonDwr.getGoldByIniv("$!form.iniv.itemClassId","$!form.iniv.ornaClassId",unitId,"$!form.iniv.articleTypeId", function(data){
		//
		addOptions("priceAttrGroup", data, null, null, true, true,"$!form.iniv.priceAttrGroup");
		if("612"==unitId){
			jQuery("#priceAttrGroup").attr("disabled", "disabled");
			
		}else{
			jQuery("#priceAttrGroup").removeAttr("disabled"); 
		}
	});*/
	//countGtoup("$!form.iniv.itemClassId","$!form.iniv.ornaClassId","$!form.iniv.factoryFeeType","$!form.iniv.priceAttrGroup");
	//尺寸
	BdCommonDwr.getSizeByItemIdAndOrnaId("$!form.iniv.itemClassId","$!form.iniv.ornaClassId",function(data){
		addOptions("sizeId", data, null, null, true, true,"$!form.iniv.sizeId");
	});
	//常用摘要
	BdCommonDwr.getAllSummary( function(data){
		addOptions("summaryId", data, null, null, true, true,"$!form.iniv.summaryId");
	});
	jQuery("#decimalNum").val("$!form.iniv.decimalNum");
	
	jQuery("#isDblLabel")[0].checked= "$!form.iniv.isDblLabel"=="1"?true:false;
	jQuery("#isCustom")[0].checked= "$!form.iniv.isCustom"=="1"?true:false;
	jQuery("#materialId")[0].checked= "$!form.iniv.materialId"=="1"?true:false;
	jQuery("#lockFlag")[0].checked= "$!form.iniv.lockFlag"=="1"?true:false;
	jQuery("#privateType")[0].checked= "$!form.iniv.privateType"=="1"?true:false;
	disLock("$!form.iniv.unitId");
	
	jQuery("#unitId").val("$!form.iniv.unitId");
	jQuery("#factoryFeeType").val("$!form.iniv.factoryFeeType");
	
	if("$!form.iniv.nuclearBillId"!=""){
		PriceHeadDwr.getPriceById("$!form.iniv.nuclearBillId",function(data){
			afterFindPrice(data,"1","$!form.iniv.styleId");//加载核价数据
		});
	}
	countInivCost("$!form.iniv.costUnit","$!form.iniv.inivCost");

    /*BdCommonDwr.getGoldByIniv("$!form.iniv.itemClassId", "$!form.iniv.ornaClassId", "$!form.iniv.unitId", "1", function(data){
        if(data && data.length==1){
            addOptions("priceAttrGroup", data, null, null, true, true, "$!form.iniv.priceAttrGroup");
        }else{
            addOptions("priceAttrGroup", data, null, null, true, true, "$!form.iniv.priceAttrGroup");
        }

    });*/
    beforeCountNewGoldPrice("$!form.iniv.itemClassId", "$!form.iniv.ornaClassId");
}
function returnList(){
	window.location = "materIniv.vm";
}
function result(){
	window.location.reload();
}
</script>