#set($jsfiles = [
"$StringUtil.getContextPath()/js/stock/materIniv.js?t=201211161240",
"$StringUtil.getContextPath()/dwr/interface/MaterInivDwr.js",
"$StringUtil.getContextPath()/dwr/interface/CoefficientDwr.js",
"$StringUtil.getContextPath()/script/mclon/ZeroClipboard/ZeroClipboard.js",
"$StringUtil.getContextPath()/dwr/interface/PriceHeadDwr.js"])
#set($cssfiles = ["$!StringUtil.getContextPath()/css/mclon/tabpanel.css"])
<div id="printDiv">
    <form id="print" method="post" target="_blank"  action="$StringUtil.getContextPath()/velocity/mclon/common/printLabelJson.jsp">
    	<input type="hidden" id="printData" name="LIST_FOR_BARCODE_JSON"/>
    	<input type="hidden" id="printPt"  name="pt"/>
    	<input type="hidden" id="printParams" name="params"/>
    </form>
</div>
<form id='frm' action="" method="post">
	<input type="hidden" id="id" value="$!form.iniv.id"/>
	<input type="hidden" id="allowInivType" value="2"/>
	<input type="hidden" id="no" value="$!form.iniv.no"/>
	<input type="hidden" id="updatedate" value="$!form.iniv.updatedate"/>
	<input type="hidden" id="createuserid" value="$!form.iniv.createuserid"/>
	<input type="hidden" id="createdate" value="$!form.iniv.createdate"/>
	<input type="hidden" id='inivOrg' value="$!form.iniv.inivOrg">
	<input type='hidden' id='articleTypeId' value="$!form.iniv.articleTypeId"/>
	<input type='hidden' id='srcBillId' value="$!form.iniv.srcBillId"/>
	<input type='hidden' id='srcBillCode' value="$!form.iniv.srcBillCode"/>
	<input type='hidden' id='inivFlag' value="$!form.iniv.inivFlag"/>
	<input type='hidden' id='stockId' value="$!form.iniv.stockId"/>
	<input type='hidden' id='handoverBillId' value="$!form.iniv.handoverBillId"/>
	<input type='hidden' id='nuclearBillId' value="$!form.iniv.nuclearBillId"/>
	<input type='hidden' id='isConsign' value="$!form.iniv.isConsign"/>
	<input type='hidden' id='styleId' value="$!form.iniv.styleId"/>
	<input type='hidden' id='privateType' value="0"/>
	<input type='hidden' id='oldHid' value="-1"/>
	<table class="title">
    	<tr><td>$!DictUtil.getValue('inivtype', $!form.inivType)</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='重置' class='btn' id='btnSave' onclick="result()">
				<input type='button' value='保存' class='btn' id='btnSave1' onclick="save('1')" $RightUtil.able($session, '08060103','1')>
				<input type='button' value='保存复制' class='btn' id='btnSave2' onclick="save('2')" $RightUtil.able($session, '08060103','2')>
				<input type='button' value='保存复制并打印' class='btn' id='btnSave3' $RightUtil.able($session, '08060103','3')>
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08060103','4')>
				<input type='button' value='返回列表' class='btn' id='btnToList' onclick="returnList()">
				<font color='red'><label id="showMasage"></label></font>
		</td></tr>
    </table>
	<div id="tab">
    		<table class='content'>
    			<tr>
    				<td class='body1'>创建人</td>
    				<td class='body2'>
						<input type='text' id='createUserName' readonly value="$!BdCommon.getUserName($!form.iniv.createuserid)">
					</td>
					<td class='body1'>单据时间</td>
    				<td class='body2'>
						<input type='text' id='inivDate' readonly value="$!form.iniv.inivDate"/>
					</td>
    				<td class='body1'>饰品编码</td>
    				<td class='body2'>
						<input type='text' id='ornaCode' readonly value="$!form.iniv.ornaCode" />
					</td>
					<td class='body1'>条码</td>
    				<td class='body2'>
						<input type='text' id='ornaBarcode' readonly value="$!form.iniv.ornaBarcode" />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>交接单</td>
    				<td class='body2'>
						<input type='text' id='srcBillNo' dataType="Require" msg="不能为空" value="$!form.iniv.srcBillNo" readonly><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择交接单" onclick="showHandover()"/>$StringUtil.star()
					</td>
    				<td class='body1'>供应商</td>
    				<td class='body2'>
						<input type="hidden" id='venderId' value="$!form.iniv.venderId">
						<input type='text' id='venderName' readonly/>
					</td>
					<td class='body1'>饰品名称</td>
    				<td class='body2'>
						<input type='text' id='ornaName' value="$!form.iniv.ornaName" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>小数点位数</td>
    				<td class='body2'>
						<select id='decimalNum' value="$!form.iniv.decimalNum" onchange="changeNum()" >
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>商品类别</td>
    				<td class='body2'>
						<input type='text' id='articleTypeName' readonly value="$!BdCommon.getArticleTypeDesc($!form.iniv.articleTypeId)"/>
					</td>
    				<td class='body1'>大类</td>
    				<td class='body2'>
						<select id="itemClassId" dataType="Require" msg="不能为空" onchange="changeItemClassId()" #if($!form.iniv.id!="") disabled #end>$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>小类</td>
    				<td class='body2'>
						<select id="ornaClassId" dataType="Require" msg="不能为空" onchange="changeOrnaClassId()" #if($!form.iniv.id!="") disabled #end>$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>标签名称</td>
    				<td class='body2'>
						<select id="smallLabelType" onchange="changeLabel()" dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>款式大类</td>
    				<td class='body2'>
						<select id="styleItemId" dataType="Require" onchange="changeStyleItem()"  msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>款式中类</td>
    				<td class='body2'>
						<select id="styleMiddleId" dataType="Require" onchange="changeStyleMiddle()" msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    				<td class='body1'>款式小类</td>
    				<td class='body2'>
						<select id="styleOrnaId" dataType="Require" onchange="changeStyleOrna()" msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    				<td class='body1'>是否双标签</td>
    				<td class='body2'>
						<input type='checkbox' id='isDblLabel' disabled value="$!form.iniv.isDblLabel"/>
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>托架材质</td>
    				<td class='body2'>
						<select id="qualityId" onchange="changeQuality()" dataType="Require" msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>计量单位</td>
    				<td class='body2'>
						<select id='unitId' value="$!form.iniv.unitId" >
							<option value="612">件</option>
						</select>
					</td>
					<td class='body1'>款式</td>
    				<td class='body2'>
						<input type='text' id='styleName' dataType="Require" msg="不能为空" readonly /><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择款式" onclick="showStyleWindow()"/>$StringUtil.star()
						<!--<select id="styleId" dataType="Require"  onchange="changeStyle()" msg="不能为空">$StringUtil.emptyOption()</select>-->
					</td>
					<td class='body1'>柜组</td>
    				<td class='body2'>
						<select id='groups' ></select>
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>托架颜色</td>
    				<td class='body2'>
						<select id="bracketcolorId" dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>价格属性组</td>
    				<td class='body2'>
						<select id='priceAttrGroup' value="$!form.iniv.priceAttrGroup" disabled  >
							<option value="A">A</option>
						</select>$StringUtil.star()
					</td>
					<td class='body1'>工厂款号</td>
    				<td class='body2'>
						<input type='text' id='factoryStyleId' onblur="loadFactoryStyle()" value="$!form.iniv.factoryStyleId"/>
					</td>
					<td class='body1'>分析范围</td>
    				<td class='body2'>
						<input type='hidden' id='analysisArangeId' readonly value="$!form.iniv.analysisArangeId"/>
						<input type='text' id='analysisArangeName' readonly dataType="Require" msg="不能为空"/>$StringUtil.star()
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>重量</td>
    				<td class='body2'>
						<input type='text'  id='allQty' onblur="setOrnaWeight()" value="$!form.iniv.allQty" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>数量</td>
    				<td class='body2'>
						<input type='text'  id='quantity' onblur="" readonly value="1" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>主石粒数</td>
    				<td class='body2'>
						<input type='text' id='mainStoneNum' readonly value="$!form.iniv.mainStoneNum" />
					</td>
					<td class='body1'>配石粒数</td>
    				<td class='body2'>
						<input type='text' id='partStoneNum' readonly value="$!form.iniv.partStoneNum"/>
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>特殊重量</td>
    				<td class='body2'>
						<input type='text'  id='specialWeight' onblur="blurSpecialWeight()"  value="$!form.iniv.specialWeight"  />
					</td>
    				<td class='body1'>成本单价</td>
    				<td class='body2'>
						<input type='text' id='costPrice' readonly  value="$!form.iniv.costPrice" dataType="Require" msg="不能为空"  />$StringUtil.star()
					</td>
					<td class='body1'>主石重量</td>
    				<td class='body2'>
						<input type='text' id='mainWeight' readonly value="$!form.iniv.mainWeight"/>
					</td>
					<td class='body1'>配石重量</td>
    				<td class='body2'>
						<input type='text' id='partStoneWeight' readonly value="$!form.iniv.partStoneWeight"/>
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>基础价</td>
    				<td class='body2'>
						<input type='text' id='basicPrice' readonly msg="不能为空" value="$!form.iniv.basicPrice"/>
					</td>
					<td class='body1'>网点金额</td>
    				<td class='body2'>
						<input type='text' id='posAmount' readonly value="$!form.iniv.posAmount"/>
					</td>
					<td class='body1'>总粒数</td>
    				<td class='body2'>
						<input type='text' id='totalNum' readonly value="$!form.iniv.totalNum"/>
					</td>
					<td class='body1'>配石内容</td>
    				<td class='body2'>
						<input type='text' id='partContent' value="$!form.iniv.partContent" />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>尺寸</td>
    				<td class='body2'>
						<select id="sizeId" ></select>
					</td>
					<td class='body1'>核价单</td>
    				<td class='body2'>
						<input type='text' id='nuclearBillName' dataType="Require" msg="不能为空" value="$!form.iniv.calcpriceNo" readonly><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择核价单" onclick="showNuclearBill()"/>$StringUtil.star()
					</td>
					<td class='body1'>主石形状</td>
    				<td class='body2'>
						<select id="mainShapeId" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>国检证书</td>
    				<td class='body2'>
						<input type='text' id='identId' value="$!form.iniv.identId" />
					</td>
                </tr>
				
				<tr>
					<td class='body1'>输入核价单</td>
    				<td class='body2'>
						<input type='text' id='calcpriceNo' onchange="enterCalcPriceNo()" value="$!form.iniv.calcpriceNo" />
					</td>
					<td class='body1'>主石对称性</td>
    				<td class='body2'>
						<select id="symmetryId" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>主石颜色</td>
    				<td class='body2'>
						<select id="colorId" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>HRD国检证书</td>
    				<td class='body2'>
						<input type='text' id='hrdCert' value="$!form.iniv.hrdCert" />
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>佩戴对象</td>
    				<td class='body2'>
						<select id="wearId" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>主石色级</td>
    				<td class='body2'>
						<select id="mainColorGradeId" disabled>$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>主石修饰度</td>
    				<td class='body2'>
						<select id="mainModification" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>IGI国检证书</td>
    				<td class='body2'>
						<input type='text' id='igiCert' value="$!form.iniv.igiCert" />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>款式类别</td>
    				<td class='body2'>
						<select id="styleType" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>主石净度</td>
    				<td class='body2'>
						<select id="cleanId" disabled >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>主石荧光</td>
    				<td class='body2'>
						<select id="fluorescenceId" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>GIA国检证书</td>
    				<td class='body2'>
						<input type='text' id='giaCert' value="$!form.iniv.giaCert" />
					</td>
    			</tr>
				<tr>
    				<td class='body1'>常用摘要</td>
    				<td class='body2'>
						<select id="summaryId" disabled >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>镶嵌净度</td>
    				<td class='body2'>
						<select id='cleanIdXq'  dataType="Require" msg="不能为空" onchange="changeCleanIdXq()"></select>$StringUtil.star()
					</td>
					<td class='body1'>主石抛光</td>
    				<td class='body2'>
						<select id="polishineId" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>其它证书</td>
    				<td class='body2'>
						<input type='text' id='agsCert' value="$!form.iniv.agsCert" />
					</td>
				</tr>
				<tr>
					<td class='body1'>切工亭深比</td>
    				<td class='body2'>
						<input type='text' id='cutDeepScale'  value="$!form.iniv.cutDeepScale" />
					</td>	
					<td class='body1'>镶嵌色级</td>
    				<td class='body2'>
						<select id='colorGradeIdXq'  dataType="Require" msg="不能为空" onchange="changeColorGradeIdXq()"></select>$StringUtil.star()
					</td>
					<td class='body1'>单据状态</td>
    				<td class='body2'>
						<input type="hidden" id='state' readonly value="$!form.iniv.state">
						<input type='text' id='stateName' readonly value="$!DictUtil.getValue('status', $!form.iniv.state)" />
					</td>
					<td class='body1'>生肖</td>
    				<td class='body2'>
						<select id="zodiac" >$StringUtil.emptyOption()</select>
					</td>
    			</tr>
				<tr>
					<td class='body1'>切工台宽比</td>
    				<td class='body2'>
						<input type='text' id='cutWideScale'  value="$!form.iniv.cutWideScale"  />
					</td> 					
					</td>
					<td class='body1'>主石切工</td>
    				<td class='body2'>
						<select id="cutId" >$StringUtil.emptyOption()</select>
					</td>
    				<td class='body1'>吉祥语</td>
    				<td class='body2'>
						<input type='text' id='luckyWord' value="$!form.iniv.luckyWord" />
					</td>
					<td class='body1'>价格锁定</td>
    				<td class='body2'>
						<input type='checkbox' id='lockFlag' />
					</td>
    			</tr>
                <tr>
					<td class='body1'>是否原料</td>
    				<td class='body2'>
						<input type='checkbox' id='materialId' disabled />
					</td>
					<td class='body1'>主石底尖</td>
    				<td class='body2'>
						<select id="vertexId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>是否定做</td>
    				<td class='body2'>
						<input type='checkbox' id='isCustom' disabled  value="$!form.iniv.isCustom"/>
					</td>
					<td class='body1'>定做单号</td>
    				<td class='body2'>
						<input type='text' id='customizeNo' value="$!form.iniv.customizeNo" onblur="blurCustomizeNo()"><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择定做单" onclick="showPurchaseHeadWind()"/>
					</td>
				</tr>
                <tr>
					<td class='body1'>总成本</td>
    				<td class='body2'>
						<input type='text' disabled  id='totalCost' value="$!form.iniv.totalCost"/>
					</td>
					<td class='body1'>主石腰围</td>
    				<td class='body2'>
						<select id="waistlineId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>原饰品编码</td>
    				<td class='body2'>
						<input type='text' id='oldOrnaCode' value="$!form.iniv.oldOrnaCode" ondblclick="showSelectOrnaCodeWin()" class='target'>
						##<select id="oldOrnaCode" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>工厂饰品代码</td>
    				<td class='body2'>
						<input type='text' disabled msg="不能为空"  id='factoryOrnaCode' value="$!form.iniv.factoryOrnaCode" />
					</td>
				</tr>
					
    		</table>
    </div>
</form>
<script>
jQuery(function(){
	altRowCSS('tbl');//为列表添加换行样式
	jQuery("#btnSearch").click(function(){
		jQuery("#frm").submit();
	});
	getInivCode();
	if("$!form.iniv.id")
		loadPageValue();
	else{
		setPageValue();
		jQuery("#inivDate").val("$DateUtil.getCurrentDate10()")
		jQuery("#createUserName").val("$StringUtil.getUserName($session)")
	}
	setEnterKey("calcpriceNo",enterCalcPriceNo);
	setEnterKey("factoryStyleId", loadFactoryStyle);
	initLabelPrint("btnSave3", function(){return save('3');});
});
function loadPageValue(){
	setButDis("$!form.iniv.state");//设置按钮
	BdCommonDwr.getCustById("$!form.iniv.venderId",function(venderName){//交接单下的供应商
		if(venderName!=null)
			jQuery("#venderName").val(venderName);
	});
	countFactoryOrnaCode("$!form.iniv.isConsign");
	
	PriceHeadDwr.getHandoerItemClassByHeadId("$!form.iniv.handoverBillId","2","","2",function(data){//交接单下的大类
		addOptions("itemClassId", data, null, null, true, true,"$!form.iniv.itemClassId");
	});
	BdCommonDwr.getOrnaClassByItemClassIdForSlt("$!form.iniv.itemClassId", function(data){//大类下的小类
		addOptions("ornaClassId", data, null, null, true, true,"$!form.iniv.ornaClassId");
	});
	BdCommonDwr.getQualityByStyleId("$!form.iniv.styleId", function(data){//款式下的材质
		addOptions("qualityId", data, null, null, true, true,"$!form.iniv.qualityId");
	});
	BdCommonDwr.getBracketColorByQualityId("$!form.iniv.qualityId",function(data){//托架材质下托架颜色
		addOptions("bracketcolorId", data, null, null, true, true,"$!form.iniv.bracketcolorId");
	});
	BdCommonDwr.getStyleItemClassForSlt("$!form.iniv.itemClassId","$!form.iniv.ornaClassId", function(data){//大类小类下的款式大类
		addOptions("styleItemId", data, null, null, true, true,"$!form.iniv.styleItemId");
	});
	BdCommonDwr.getStyleMiddleClassForSlt("$!form.iniv.itemClassId","$!form.iniv.ornaClassId", "$!form.iniv.styleItemId", function(data){//款式大类的款式中类
		addOptions("styleMiddleId", data, null, null, true, true,"$!form.iniv.styleMiddleId");
	});
	BdCommonDwr.getStyleOrnaClassForSlt("$!form.iniv.itemClassId","$!form.iniv.ornaClassId", "$!form.iniv.styleItemId", "$!form.iniv.styleMiddleId", function(data){//款式中类的款式小类
		addOptions("styleOrnaId", data, null, null, true, true,"$!form.iniv.styleOrnaId");
	});
	//PriceHeadDwr.getStyleByCalc("$!form.iniv.itemClassId","$!form.iniv.ornaClassId",
    //	"$!form.iniv.styleItemId","$!form.iniv.styleMiddleId","$!form.iniv.styleOrnaId",
    //	"$!form.iniv.venderId","$!form.iniv.handoverBillId","2",function(data){//加载款式
	//	addOptions("styleId", data, null, null, true, true, "$!form.iniv.styleId");
	//});
	BdCommonDwr.getStyleByIdAndVendor("$!form.iniv.styleId","$!form.iniv.venderId", function(s){
    	jQuery("#styleName").val(s.styleName);
	});
	BdCommonDwr.getNewLabelTypeByCalc("$!form.iniv.itemClassId","$!form.iniv.ornaClassId","$!form.iniv.unitId","$!form.iniv.qualityId","$!form.iniv.privateType", function(data){//标签名称
		addOptions("smallLabelType", data, null, null, true, true,"$!form.iniv.smallLabelType"+"_"+"$!form.iniv.isDblLabel");
		if(data==""||data==null||jQuery("#smallLabelType").val()==""){
			jQuery("#smallLabelType").val("$!form.iniv.smallLabelType");
			jQuery("#smallLabelType option:selected").text("$!form.iniv.smallLabelType");
		}
	});
	BdCommonDwr.getAnalysisName("$!form.iniv.analysisArangeId", function(a){//分析范围
		jQuery("#analysisArangeName").val(a);
	});
	
	//生肖	
	DictDwr.getDictsForSlt("bornimg", function(data){
		addOptions("zodiac", data, null, null, true, true,"$!form.iniv.zodiac");
	});
	//柜组 
	DictDwr.getDictsForSlt("group", function(data){
		addOptions("groups", data, null, null, true, true,"$!form.iniv.groups");
	});
	//佩戴对象
	BdCommonDwr.getAllWear(function(data){
		addOptions("wearId", data, null, null, true, true,"$!form.iniv.wearId");
	});
	//款式类别
	DictDwr.getDictsForSlt("styletype", function(data){
		addOptions("styleType", data, null, null, true, true,"$!form.iniv.styleType");
	});
	//价格属性组
	BdCommonDwr.getGoldByIniv("$!form.iniv.itemClassId","$!form.iniv.ornaClassId","$!form.iniv.unitId","$!form.iniv.articleTypeId", function(data){
		addOptions("priceAttrGroup", data, null, null, true, true,"$!form.iniv.priceAttrGroup");
	});
	//尺寸
	BdCommonDwr.getSizeByItemIdAndOrnaId("$!form.iniv.itemClassId","$!form.iniv.ornaClassId",function(data){
		addOptions("sizeId", data, null, null, true, true,"$!form.iniv.sizeId");
	});
	jQuery("#isDblLabel")[0].checked= "$!form.iniv.isDblLabel"=="1"?true:false;
	jQuery("#isCustom")[0].checked= "$!form.iniv.isCustom"=="1"?true:false;
	jQuery("#materialId")[0].checked= "$!form.iniv.materialId"=="1"?true:false;
	jQuery("#lockFlag")[0].checked= "$!form.iniv.lockFlag"=="1"?true:false;
	
	jQuery("#unitId").val("$!form.iniv.unitId");
	jQuery("#factoryFeeType").val("$!form.iniv.factoryFeeType");
	jQuery("#decimalNum").val("$!form.iniv.decimalNum");
	if("$!form.iniv.nuclearBillId"!=""){
		PriceHeadDwr.getPriceById("$!form.iniv.nuclearBillId",function(priceData){
			afterFindPrice(priceData,"1","$!form.iniv.styleId","U");//加载核价数据
			//形状
    		DictDwr.getDictsForSlt("diashape", function(data){
    			addOptions("mainShapeId", data, null, null, true, true,"$!form.iniv.mainShapeId");
    		});
    		//颜色
    		DictDwr.getDictsForSlt("diacolor", function(data){
    			addOptions("colorId", data, null, null, true, true,"$!form.iniv.colorId");
    		});
    		//净度
    		DictDwr.getDictsForSlt("diaclean", function(data){
    			addOptions("cleanId", data, null, null, true, true,"$!form.iniv.cleanId");
    		});
    		//色级
    		DictDwr.getDictsForSlt("diacolorgrade", function(data){
    			addOptions("mainColorGradeId", data, null, null, true, true,"$!form.iniv.mainColorGradeId");
    		});
    		//切工
    		DictDwr.getDictsForSlt("diacut", function(data){
    			addOptions("cutId", data, null, null, true, true,"$!form.iniv.cutId");
    		});
    		//萤光
    		DictDwr.getDictsForSlt("diafluor", function(data){
    			addOptions("fluorescenceId", data, null, null, true, true,"$!form.iniv.fluorescenceId");
    		});
    		//抛光
    		DictDwr.getDictsForSlt("diapoli", function(data){
    			addOptions("polishineId", data, null, null, true, true,"$!form.iniv.polishineId");
    		});
    		//钻石底尖
    		DictDwr.getDictsForSlt("diavertex", function(data){
    			addOptions("vertexId", data, null, null, true, true,"$!form.iniv.vertexId");
    		});
    		//主石腰围
    		DictDwr.getDictsForSlt("diawais", function(data){
    			addOptions("waistlineId", data, null, null, true, true,"$!form.iniv.waistlineId");
    		});
    		//钻石修饰度
    		DictDwr.getDictsForSlt("diamodi", function(data){
    			addOptions("mainModification", data, null, null, true, true,"$!form.iniv.mainModification");
    		});
    		//主石对称性
    		DictDwr.getDictsForSlt("diasymm", function(data){
    			addOptions("symmetryId", data, null, null, true, true,"$!form.iniv.symmetryId");
    		});
        	//常用摘要
        	BdCommonDwr.getAllSummary( function(data){
        		addOptions("summaryId", data, null, null, true, true,"$!form.iniv.summaryId");
        	});
			//XQ净度
			DictDwr.getDictsForSlt("diaclean", function(data){
				addOptions("cleanIdXq", data, null, null, true, true,"$!form.iniv.cleanIdXq");
			});
			//XQ色级
			DictDwr.getDictsForSlt("diacolorgrade", function(data){
				addOptions("colorGradeIdXq", data, null, null, true, true,"$!form.iniv.colorGradeIdXq");
			});
		});
	}
}
function returnList(){
	window.location = "materIniv.vm";
}
function result(){
	window.location.reload();
}
</script>