#set($jsfiles = [
"$StringUtil.getContextPath()/js/stock/materIniv.js?t=201211161240",
"$StringUtil.getContextPath()/dwr/interface/MaterInivDwr.js",
"$StringUtil.getContextPath()/script/mclon/ZeroClipboard/ZeroClipboard.js",
"$StringUtil.getContextPath()/dwr/interface/CoefficientDwr.js",
"$StringUtil.getContextPath()/dwr/interface/PriceHeadDwr.js"])
#set($cssfiles = ["$!StringUtil.getContextPath()/css/mclon/tabpanel.css"])
<div id="printDiv">
    <form id="print" method="post" target="_blank"  action="$StringUtil.getContextPath()/velocity/mclon/common/printLabelJson.jsp">
    	<input type="hidden" id="printData" name="LIST_FOR_BARCODE_JSON"/>
    	<input type="hidden" id="printPt"  name="pt"/>
    	<input type="hidden" id="printParams" name="params"/>
    </form>
</div>
<form id='frm' action="" method="post">
	<input type="hidden" id="id" value="$!form.iniv.id"/>
	<input type="hidden" id="allowInivType" value="3"/>
	<input type="hidden" id="no" value="$!form.iniv.no"/>
	<input type="hidden" id="updatedate" value="$!form.iniv.updatedate"/>
	<input type="hidden" id="createuserid" value="$!form.iniv.createuserid"/>
	<input type="hidden" id="createdate" value="$!form.iniv.createdate"/>
	<input type="hidden" id='inivOrg' value="$!form.iniv.inivOrg">
	<input type='hidden' id='articleTypeId' value="$!form.iniv.articleTypeId"/>
	<input type='hidden' id='srcBillId' value="$!form.iniv.srcBillId"/>
	<input type='hidden' id='srcBillCode' value="$!form.iniv.srcBillCode"/>
	<input type='hidden' id='inivFlag' value="$!form.iniv.inivFlag"/>
	<input type='hidden' id='stockId' value="$!form.iniv.stockId"/>
	<input type='hidden' id='handoverBillId' value="$!form.iniv.handoverBillId"/>
	<input type='hidden' id='oldHid' value="-1"/>
	<input type='hidden' id='unitId' readonly value="$!form.iniv.unitId"/>
	<input type='hidden' id='styleId' value="$!form.iniv.styleId"/>
	<input type='hidden' id='privateType' value="0"/>
	<input type='hidden' id='isConsign' value="$!form.iniv.isConsign"/>
	<table class="title">
    	<tr><td>$!DictUtil.getValue('inivtype', $!form.inivType)</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='重置' class='btn' id='btnSave' onclick='result()'>
				<input type='button' value='保存' class='btn' id='btnSave1' onclick='save(1)' $RightUtil.able($session, '08060104','1')>
				<input type='button' value='保存复制' class='btn' id='btnSave2' onclick='save(2)' $RightUtil.able($session, '08060104','2')>
				<input type='button' value='保存复制并打印' class='btn' id='btnSave3' $RightUtil.able($session, '08060104','3')>
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08060104','4')>
				<input type='button' value='返回列表' class='btn' id='btnToList' onclick='returnList()'>
				<font color='red'><label id="showMasage"></label></font>
		</td></tr>
    </table>
	<div id="tab">
    		<table class='content'>
    			<tr>
    				<td class='body1'>创建人</td>
    				<td class='body2'>
						<input type='text' id='createUserName' readonly value="$!BdCommon.getUserName($!form.iniv.createuserid)">
					</td>
					<td class='body1'>单据时间</td>
    				<td class='body2'>
						<input type='text' id='inivDate' readonly value="$!form.iniv.inivDate"/>
					</td>
    				<td class='body1'>饰品编码</td>
    				<td class='body2'>
						<input type='text' id='ornaCode' readonly value="$!form.iniv.ornaCode" />
					</td>
					<td class='body1'>条码</td>
    				<td class='body2'>
						<input type='text' id='ornaBarcode' readonly value="$!form.iniv.ornaBarcode" />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>交接单</td>
    				<td class='body2'>
						<input type='text' id='srcBillNo' dataType="Require" msg="不能为空" value="$!form.iniv.srcBillNo" readonly><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择交接单" onclick="showHandover()"/>$StringUtil.star()
					</td>
    				<td class='body1'>供应商</td>
    				<td class='body2'>
						<input type="hidden" id='venderId' value="$!form.iniv.venderId">
						<input type='text' id='venderName' readonly/>
					</td>
					<td class='body1'>饰品名称</td>
    				<td class='body2'>
						<input type='text' id='ornaName' value="$!form.iniv.ornaName" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>小数点位数</td>
    				<td class='body2'>
						<select id='decimalNum' onchange="changeNum()"  >
							<option #if($!form.iniv.decimalNum=="1") selected #end value="1">1</option>
							<option #if($!form.iniv.decimalNum=="2") selected #end value="2">2</option>
							<option #if($!form.iniv.decimalNum=="3") selected #end value="3">3</option>
						</select>
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>商品类别</td>
    				<td class='body2'>
						<input type='text' id='articleTypeName' readonly value="$!BdCommon.getArticleTypeDesc($!form.iniv.articleTypeId)"/>
					</td>
    				<td class='body1'>大类</td>
    				<td class='body2'>
						<select id="itemClassId" dataType="Require" msg="不能为空" onchange="changeItemClassId()" #if($!form.iniv.id!="") disabled #end>$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>小类</td>
    				<td class='body2'>
						<select id="ornaClassId" dataType="Require" msg="不能为空" onchange="changeOrnaClassId()" #if($!form.iniv.id!="") disabled #end>$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>标签名称</td>
    				<td class='body2'>
						<select id="smallLabelType" onchange="changeLabel()" dataType="Require"  msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>款式大类</td>
    				<td class='body2'>
						<select id="styleItemId" dataType="Require" onchange="changeStyleItem()"  msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>款式中类</td>
    				<td class='body2'>
						<select id="styleMiddleId" dataType="Require" onchange="changeStyleMiddle()" msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    				<td class='body1'>款式小类</td>
    				<td class='body2'>
						<select id="styleOrnaId" dataType="Require" onchange="changeStyleOrna()" msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>柜组</td>
    				<td class='body2'>
						<select id='groups'></select>
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>计量单位</td>
    				<td class='body2'>
						<input type='text' id='unitName' readonly />
					</td>
					<td class='body1'>工厂款号</td>
    				<td class='body2'>
						<input type='text' id='factoryStyleId' onblur="loadFactoryStyle()" value="$!form.iniv.factoryStyleId"/>
					</td>
					<td class='body1'>款式</td>
    				<td class='body2'>
						<input type='text' id='styleName' dataType="Require" msg="不能为空" readonly /><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择款式" onclick="showStyleWindow()"/>$StringUtil.star()
						<!--<select id="styleId" dataType="Require"  onchange="changeStyle()" msg="不能为空">$StringUtil.emptyOption()</select>-->
					</td>
    				<td class='body1'>是否双标签</td>
    				<td class='body2'>
						<input type='checkbox' id='isDblLabel' disabled />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>重量</td>
    				<td class='body2'>
						<input type='text'  id='allQty' onblur="setOrnaWeight()" value="$!form.iniv.allQty" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>数量</td>
    				<td class='body2'>
						<input type='text'  id='quantity' readonly value="$!StringUtil.formatDouble($!{form.iniv.quantity},6)" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
    				<td class='body1'>是否三分以下</td>
    				<td class='body2'>
						<input type='checkbox' id='isUnder_3fen' />
					</td>
					<td class='body1'>是否拆石</td>
    				<td class='body2'>
						<input type='checkbox' id='isTearStone' />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>总粒数</td>
    				<td class='body2'>
						<input type='text' id='totalNum' value="$!form.iniv.totalNum" onblur="countTotalNum()" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>平均分数</td>
    				<td class='body2'>
						<input type='text' id='avgNum' readonly value="$!form.iniv.avgNum" dataType="Require" msg="不能为空"/>$StringUtil.star()
					</td>
					<td class='body1'>分析范围</td>
    				<td class='body2'>
						<input type='hidden' id='analysisArangeId' readonly value="$!form.iniv.analysisArangeId"/>
						<input type='text' id='analysisArangeName' readonly dataType="Require" msg="不能为空"/>$StringUtil.star()
					</td>
					<td class='body1'>价格锁定</td>
    				<td class='body2'>
						<input type='checkbox' id='lockFlag' disabled />
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>国检证书</td>
    				<td class='body2'>
						<input type='text' id='identId' value="$!form.iniv.identId" />
					</td>
					<td class='body1'>主石形状</td>
    				<td class='body2'>
						<select id="mainShapeId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>主石对称性</td>
    				<td class='body2'>
						<select id="symmetryId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>是否原料</td>
    				<td class='body2'>
						<input type='checkbox' id='materialId' disabled />
					</td>
                </tr>
				<tr>
    				<td class='body1'>HRD国检证书</td>
    				<td class='body2'>
						<input type='text' id='hrdCert' value="$!form.iniv.hrdCert" />
					</td>
    				<td class='body1'>主石颜色</td>
    				<td class='body2'>
						<select id="colorId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>主石修饰度</td>
    				<td class='body2'>
						<select id="mainModification" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>托架材质</td>
    				<td class='body2'>
						<select id="qualityId" dataType="Require" msg="不能为空" onchange="changeQuality()">$StringUtil.emptyOption()</select>
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>IGI国检证书</td>
    				<td class='body2'>
						<input type='text' id='igiCert' value="$!form.iniv.igiCert" />
					</td>
    				<td class='body1'>主石色级</td>
    				<td class='body2'>
						<select id="mainColorGradeId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>主石荧光</td>
    				<td class='body2'>
						<select id="fluorescenceId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>尺寸</td>
    				<td class='body2'>
						<select id="sizeId" ></select>
					</td>
    			</tr>
				<tr>
    				<td class='body1'>GIA国检证书</td>
    				<td class='body2'>
						<input type='text' id='giaCert' value="$!form.iniv.giaCert" />
					</td>
					<td class='body1'>主石净度</td>
    				<td class='body2'>
						<select id="cleanId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>切工亭深比</td>
    				<td class='body2'>
						<input type='text' id='cutDeepScale' onblur="checkNum('cutDeepScale')" value="$!form.iniv.cutDeepScale" />
					</td>
					<td class='body1'>主石抛光</td>
    				<td class='body2'>
						<select id="polishineId" >$StringUtil.emptyOption()</select>
					</td>
				</tr>
				<tr>
    				<td class='body1'>其它证书</td>
    				<td class='body2'>
						<input type='text' id='agsCert' value="$!form.iniv.agsCert" />
					</td>
					<td class='body1'>主石切工</td>
    				<td class='body2'>
						<select id="cutId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>切工台宽比</td>
    				<td class='body2'>
						<input type='text' id='cutWideScale' onblur="checkNum('cutWideScale')" value="$!form.iniv.cutWideScale" />
					</td> 
					<td class='body1'>主石底尖</td>
    				<td class='body2'>
						<select id="vertexId" >$StringUtil.emptyOption()</select>
					</td>
    			</tr>
				<tr>
					<td class='body1'>成本计算方式</td>
    				<td class='body2'>
						<select id='costUnit' onchange="changeCostUnit()" value="$!form.iniv.costUnit"  dataType="Require" msg="不能为空">
							<option #if($!form.iniv.costUnit=="") selected #end value="">--请选择--</option>
							<option #if($!form.iniv.costUnit=="1") selected #end value="1">每粒</option>
							<option #if($!form.iniv.costUnit=="2") selected #end value="2">每克拉</option>
							<option #if($!form.iniv.costUnit=="3") selected #end value="3">整包</option>
						</select>$StringUtil.star()
					</td>
    				<td class='body1'>成本单价</td>
    				<td class='body2'>
						<input type='text' id='costPrice' onblur="countStronCostPrice()" value="$!form.iniv.costPrice" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
					<td class='body1'>主石腰围</td>
    				<td class='body2'>
						<select id="waistlineId" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>单据状态</td>
    				<td class='body2'>
						<input type="hidden" id='state' readonly value="$!form.iniv.state">
						<input type='text' id='stateName' readonly value="$!DictUtil.getValue('status', $!form.iniv.state)"" />
					</td>
    			</tr>
                <tr>
					<td class='body1'>是否定做</td>
    				<td class='body2'>
						<input type='checkbox' id='isCustom' disabled  value="$!form.iniv.isCustom"/>
					</td>
					<td class='body1'>定做单号</td>
    				<td class='body2'>
						<input type='text' id='customizeNo' value="$!form.iniv.customizeNo" onblur="blurCustomizeNo()"><IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择定做单" onclick="showPurchaseHeadWind()"/>
					</td>
					<td class='body1'>总成本</td>
    				<td class='body2'>
						<input type='text' disabled  id='totalCost' value="$!form.iniv.totalCost"/>
					</td>
					<td class='body1'></td>
    				<td class='body2'>
						<input type='text' disabled  id='inivCost' />
					</td>
				</tr>
				<tr>
					<td class='body1'>原饰品编码</td>
    				<td class='body2'>
						<input type='text' id='oldOrnaCode' value="$!form.iniv.oldOrnaCode" ondblclick="showSelectOrnaCodeWin()" class='target'>
						##<select id="oldOrnaCode" >$StringUtil.emptyOption()</select>
					</td>
					<td class='body1'>工厂饰品代码</td>
    				<td class='body2'>
						<input type='text' disabled msg="不能为空"  id='factoryOrnaCode' value="$!form.iniv.factoryOrnaCode" />
					</td>
				</tr>
					
    		</table>
    </div>
</form>
<script>
jQuery(function(){
	altRowCSS('tbl');//为列表添加换行样式
	jQuery("#btnSearch").click(function(){
		jQuery("#frm").submit();
	});
	getInivCode();
	if("$!form.iniv.id")
		loadPageValue();
	else{
		setPageValue();
		jQuery("#inivDate").val("$DateUtil.getCurrentDate10()")
		jQuery("#createUserName").val("$StringUtil.getUserName($session)")
	}
	setEnterKey("calcpriceNo",enterCalcPriceNo);
	setEnterKey("factoryStyleId", loadFactoryStyle);
	initLabelPrint("btnSave3", function(){return save('3');});
	
});
function loadPageValue(){
	setButDis("$!form.iniv.state");//设置按钮
	BdCommonDwr.getCustById("$!form.iniv.venderId",function(venderName){//交接单下的供应商
		if(venderName!=null)
			jQuery("#venderName").val(venderName);
	});
	countFactoryOrnaCode("$!form.iniv.isConsign");
	
	PriceHeadDwr.getHandoerItemClassByHeadId("$!form.iniv.handoverBillId","3","","2",function(data){//交接单下的大类
		addOptions("itemClassId", data, null, null, true, true,"$!form.iniv.itemClassId");
	});
	
	
	BdCommonDwr.getOrnaClassByItemClassIdForSlt("$!form.iniv.itemClassId", function(data){//大类下的小类
		addOptions("ornaClassId", data, null, null, true, true,"$!form.iniv.ornaClassId");
	});
	BdCommonDwr.getQualityByStyleId("$!form.iniv.styleId", function(data){//款式下的材质
		addOptions("qualityId", data, null, null, true, true,"$!form.iniv.qualityId");
	});
	BdCommonDwr.getStyleItemClassForSlt("$!form.iniv.itemClassId","$!form.iniv.ornaClassId", function(data){//大类小类下的款式大类
		addOptions("styleItemId", data, null, null, true, true,"$!form.iniv.styleItemId");
	});
	BdCommonDwr.getStyleMiddleClassForSlt("$!form.iniv.itemClassId","$!form.iniv.ornaClassId", "$!form.iniv.styleItemId", function(data){//款式大类的款式中类
		addOptions("styleMiddleId", data, null, null, true, true,"$!form.iniv.styleMiddleId");
	});
	BdCommonDwr.getStyleOrnaClassForSlt("$!form.iniv.itemClassId","$!form.iniv.ornaClassId", "$!form.iniv.styleItemId", "$!form.iniv.styleMiddleId", function(data){//款式中类的款式小类
		addOptions("styleOrnaId", data, null, null, true, true,"$!form.iniv.styleOrnaId");
	});
	BdCommonDwr.getStyleByIdAndVendor("$!form.iniv.styleId","$!form.iniv.venderId", function(s){
    	jQuery("#styleName").val(s.styleName);
	});
	BdCommonDwr.getNewLabelTypeByCalc("$!form.iniv.itemClassId","$!form.iniv.ornaClassId","$!form.iniv.unitId","$!form.iniv.qualityId", "$!form.iniv.privateType",function(data){//标签名称
		addOptions("smallLabelType", data, null, null, true, true,"$!form.iniv.smallLabelType"+"_"+"$!form.iniv.isDblLabel");
		if(data==""||data==null||jQuery("#smallLabelType").val()==""){
			jQuery("#smallLabelType").val("$!form.iniv.smallLabelType");
			jQuery("#smallLabelType option:selected").text("$!form.iniv.smallLabelType");
		}
	});	
	BdCommonDwr.getAnalysisName("$!form.iniv.analysisArangeId", function(a){//分析范围
		jQuery("#analysisArangeName").val(a);
	});
	//柜组 
	DictDwr.getDictsForSlt("group", function(data){
		addOptions("groups", data, null, null, true, true,"$!form.iniv.groups");
	});
	//尺寸
	BdCommonDwr.getSizeByItemIdAndOrnaId("$!form.iniv.itemClassId","$!form.iniv.ornaClassId",function(data){
		addOptions("sizeId", data, null, null, true, true,"$!form.iniv.sizeId");
	});

	jQuery("#isDblLabel")[0].checked= "$!form.iniv.isDblLabel"=="1"?true:false;
	jQuery("#isCustom")[0].checked= "$!form.iniv.isCustom"=="1"?true:false;
	jQuery("#isUnder_3fen")[0].checked= "$!form.iniv.isUnder_3fen"=="1"?true:false;
	jQuery("#isTearStone")[0].checked= "$!form.iniv.isTearStone"=="1"?true:false;
	jQuery("#materialId")[0].checked= "$!form.iniv.materialId"=="1"?true:false;
	jQuery("#lockFlag")[0].checked= "$!form.iniv.lockFlag"=="1"?true:false;
	disLock("$!form.iniv.unitId");
	
	jQuery("#unitId").val("$!form.iniv.unitId");
	jQuery("#factoryFeeType").val("$!form.iniv.factoryFeeType");
	BdCommonDwr.getUnitName("$!form.iniv.unitId",function(v){
		jQuery("#unitName").val(v);
	});
	
	//形状
	DictDwr.getDictsForSlt("diashape", function(data){
		addOptions("mainShapeId", data, null, null, true, true,"$!form.iniv.mainShapeId");
	});
	//颜色
	DictDwr.getDictsForSlt("diacolor", function(data){
		addOptions("colorId", data, null, null, true, true,"$!form.iniv.colorId");
	});
	//净度
	DictDwr.getDictsForSlt("diaclean", function(data){
		addOptions("cleanId", data, null, null, true, true,"$!form.iniv.cleanId");
	});
	//色级
	DictDwr.getDictsForSlt("diacolorgrade", function(data){
		addOptions("mainColorGradeId", data, null, null, true, true,"$!form.iniv.mainColorGradeId");
	});
	//切工
	DictDwr.getDictsForSlt("diacut", function(data){
		addOptions("cutId", data, null, null, true, true,"$!form.iniv.cutId");
	});
	//萤光
	DictDwr.getDictsForSlt("diafluor", function(data){
		addOptions("fluorescenceId", data, null, null, true, true,"$!form.iniv.fluorescenceId");
	});
	//抛光
	DictDwr.getDictsForSlt("diapoli", function(data){
		addOptions("polishineId", data, null, null, true, true,"$!form.iniv.polishineId");
	});
	//钻石底尖
	DictDwr.getDictsForSlt("diavertex", function(data){
		addOptions("vertexId", data, null, null, true, true,"$!form.iniv.vertexId");
	});
	//主石腰围
	DictDwr.getDictsForSlt("diawais", function(data){
		addOptions("waistlineId", data, null, null, true, true,"$!form.iniv.waistlineId");
	});
	//钻石修饰度
	DictDwr.getDictsForSlt("diamodi", function(data){
		addOptions("mainModification", data, null, null, true, true,"$!form.iniv.mainModification");
	});
	//主石对称性
	DictDwr.getDictsForSlt("diasymm", function(data){
		addOptions("symmetryId", data, null, null, true, true,"$!form.iniv.symmetryId");
	});
	
	countInivCost("$!form.iniv.costUnit","$!form.iniv.inivCost");
}
function returnList(){
	window.location = "materIniv.vm";
}
function result(){
	window.location.reload();
}
</script>