#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/BdCommonDwr.js", 
                "$StringUtil.getContextPath()/dwr/interface/PlSaleDwr.js?t=2012010251400.js",
                "$StringUtil.getContextPath()/js/stock/plSale.js?t=2012010251400.js"])
	
<form id='frm' action="plSale.vm" method="post">
	#set($plSaleHead = $form.plSaleHead)
	#set($lines = $form.lines)
	
	#if($StringUtil.isBlank($!plSaleHead.billno))
		#set($billno = "自动生成")
		#set($orgId = $StringUtil.getOrgId($session))
		#set($dodate = $DateUtil.getCurrentDate10())
		#set($statusName = "保存") 
		#set($status = "1")
	#else
		#set($billno = $plSaleHead.billno)
		#set($orgId = $plSaleHead.orgId)
		#set($dodate = $plSaleHead.dodate)
		#set($statusName = $!DictUtil.getValue('status', $!{plSaleHead.status}))
		#set($status = $!{plSaleHead.status})
	#end
	
	#set($enableSave = false)
	#set($enableCheck = false)
	#set($enableClose = false)
	#set($enableDestroy = false)
	#set($enablePrint = false)
	#set($isSaved = false)
	#if($StringUtil.isNotBlank($status))
		#if($status == "1")
			#set($enableSave = true)
			#set($isSaved = true)
			#set($enableCheck = true)
		#elseif($status == "5")##审批完成
			#set($enableClose = true)
			#set($enablePrint = true)
			#set($isSaved = false)
		#elseif($status == "8")##关闭状态
			#set($enablePrint = true)
			#set($enableDestroy = true)
		#end
	#end
	#if($plSaleHead)
		#set($disable = true)
	#end
	<input type="hidden" id="user_action" name="user_action" value=""/>
	<input type="hidden" id="billid" name="billid" value="$!{plSaleHead.billid}"/>
	<input type="hidden" id="billCode" name="billCode" value="TL"/>
	<input type='hidden' id="deleteIds" name='deleteIds'  value=""/>
    <table class="title">
    	<tr><td>代销修改详细页</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' #if(!$enableSave)disabled#end class='btn' id='btnSave' $RightUtil.able($session, '08031002','1')>
				<input type='button' value='审核' #if(!$enableCheck)disabled#end class='btn' id='btnCheck' $RightUtil.able($session, '08031002','2')>
				<input type='button' value='关闭'  #if(!$enableClose)disabled#end class='btn' id='btnClose' $RightUtil.able($session, '08031002','3')>
				<input type='button' value='撤销'  #if(!$enableDestroy)disabled#end class='btn' id='btnDestroy' $RightUtil.able($session, '08031002','5')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08031002','4')>
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号：</td>
			<td class='body2'>
				<input type='text' id="billno" name='billno' readonly value="$!billno">
			</td>
			<td class='body1'>单据日期：</td>
			<td class='body2'>
				<input type='text' id="dodate" name='dodate' readonly #if(!$isSaved)disabled#end value="$!{dodate}" dataType="Require" msg="不能为空">
			</td>
			<td class='body1'>组织:</td>	
			<td class='body2'>
				<input type='hidden' id="orgId" name='orgId' value="$!{orgId}">
				<input type='text' id="orgName" name='orgName'  value="$!BdCommon.getOrgName($orgId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			<td class='body1'>单据状态：</td>	
			<td class='body2'>
				<input type='text' id="status" name='status' readonly value="$!statusName">
			</td>
		</tr>
		<tr>
			<td class='body1'>供应商：</td>
			<td class='body2'>
				<input type='hidden' id='vendorId' name="vendorId" value="$!plSaleHead.vendorId">
				<input type='text' id='vendorName' value="$!BdCommon.getVendorName($!plSaleHead.vendorId)" readonly #if($disable)disabled#end class='target' ondblclick="showVendorWin()" dataType="Require" msg="不能为空">
				$!StringUtil.star()
			</td>
			<td class='body1'>仓库：</td>
			<td class='body2'>
				<select id="stock_id" name="stock_id" #if($procChange)disabled#end  dataType="Require" value="$plSaleHead.stockId" msg="不能为空" >
					$StringUtil.emptyOption()
				</select>
				$StringUtil.star()
			</td>
			<td class='body1'>件数合计：</td>	
			<td class='body2'>
				<input type='text' id="sumCount" readonly name='sumCount' value="$!{plSaleHead.sumCount}" >
			</td>
			<td class='body1'>重量合计：</td>
			<td class='body2'>
				<input type='text' id="sumWeight" readonly name='sumWeight' value="$!{plSaleHead.sumWeight}" >
			</td>
		</tr>
		<tr>
			<td class='body1'>粒数合计：</td>	
			<td class='body2'>
				<input type='text' id="sumGrains" name='sumGrains' readonly value="$!{plSaleHead.sumGrains}" >
			</td>
			<td class='body1'>金额合计：</td>	
			<td class='body2'>
				<input type='text' id="sumMoney" name='sumMoney' readonly value="$!{plSaleHead.sumMoney}" >
			</td>
			<td class='body1'></td>	
			<td class='body2'></td>
			<td class='body1'></td>	
			<td class='body2'></td>
		</tr>
		<tr>
			<td class='body1'>备注：</td>
			<td class='body2' colspan="7">
				<input type="text" id="memo" name="memo" #if(!$isSaved)readonly#end style="width:90%;" value="$!{plSaleHead.memo}"/>
			</td>
		</tr>
		<tr>
			<td class='body1'>条码：</td>
			<td class='body2'>
				<input type='text' id="barCode_in" name='barCode_in' #if(!$isSaved)disabled#end  value="">
			</td>
			<td class='body1'>编码：</td>
			<td class='body2'>
				<input type='text' id="ornaCode_in" name='ornaCode_in'  #if(!$isSaved)disabled#end value="">
			</td>
            <td class='body2' colspan="4"></td>
		</tr>
    </table>
<div class="scroll2">
	<table class='list' style="width:2400px;">
    	<thead>
			<tr>
				<th width='45px'></th>
				<th width='180px'>组织</th>
				<th width='120px'>饰品编码</th>
                <th width='120px'>饰品名称</th>
    			<th width='90px'>大类</th>
				<th width='90px'>小类</th>
    			<th width='120px'>款式大类</th>
    			<th width='120px'>款式中类</th>
    			<th width='120px'>款式小类</th>
    			<th width='120px'>款式</th>
    			<th width='90px'>分析范围</th>
    			<th width='60px'>计量单位</th>
    			<th width='90px'>现有量</th>
    			<th width='90px'>总重量</th>
    			<th width='60px'>粒数</th>
    			<th width='90px'>主石重量</th>
				<th width='90px'>配石重量</th>
				<th width='60px'>是否多粒</th>
				<th width='60px'>是否双标签</th>
				<th width='90px'>网店金额</th>
				<th width='60px'>是否出库</th>
				<th width='60px'></th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($line in $lines)
			<tr>
				<td></td>
				<td>$!BdCommon.getOrgName($!line.orgId)</td>
				<td>$!line.ornaCode</td>
				<td>$!line.ornaDsc</td>
				<td>$!line.itemClassName</td>
				<td>$!line.ornaClassName</td>
				<td>$!line.styleitemclassName</td>
				<td>$!line.stylemiddleclassName</td>
				<td>$!line.styleornaclassName</td>
				<td>$!HtmlUtil.printStyle($!line.styleId, $!line.styleName, $!line.bigGraph)</td>
				<td>$!line.alaysisName</td>
				<td>$!line.unitName</td>
				<td>$!line.nowQty</td>
				<td>$!line.allQty</td>
				<td>$!line.grains</td>
				<td>$!StringUtil.formatDouble($!line.mainWeight, 4)</td>
				<td>$!StringUtil.formatDouble($!line.partWeight, 4)</td>
				<td>$!line.isMutiPartName</td>
				<td>$!line.isDblLabelName</td>
				<td>$!line.posMoney</td>
				<td>$!DictUtil.getValue("yesorno", $!line.outFlag)</td>
				<td><input type='button' value='删除' #if(!$isSaved)disabled#end style='width:60px;' onclick='deleteLine(this, "$!{line.lineid}")'/>
					 <input type='hidden' name='ornaCode'        	value = "$!line.ornaCode"/> 
					 <input type='hidden' name='ornaBarcode'      	value = "$!line.ornaBarcode"/> 
					 <input type='hidden' name='ornaDsc'         	value = "$!line.ornaDsc"/>
					 <input type='hidden' name='itemClassId'     	value = "$!line.itemClassId"/> 
					 <input type='hidden' name='ornaClassId'      	value = "$!line.ornaClassId"/> 
					 <input type='hidden' name='styleitemclass'     value = "$!line.styleitemclass"/> 
					 <input type='hidden' name='stylemiddleclass'   value = "$!line.stylemiddleclass"/> 
					 <input type='hidden' name='styleornaclass'     value = "$!line.styleornaclass"/> 
					 <input type='hidden' name='styleId'       		value = "$!line.styleId"/> 
					 <input type='hidden' name='alaysisId'          value = "$!line.alaysisId"/> 
					 <input type='hidden' name='unitId'         	value = "$!line.unitId"/> 
					 <input type='hidden' name='nowQty'          	value = "$!line.nowQty" />
					 <input type='hidden' name='allQty'          	value = "$!line.allQty" />
					 <input type='hidden' name='grains' 			value = "$!line.grains"/>
					 <input type='hidden' name='mainWeight' 		value = "$!line.mainWeight"/>
					 <input type='hidden' name='partWeight' 		value = "$!line.partWeight"/>
					 <input type='hidden' name='isMutiPart' 		value = "$!line.isMutiPart"/>
					 <input type='hidden' name='isDblLabel' 		value = "$!line.isDblLabel"/>
					 <input type='hidden' name='posMoney' 			value = "$!line.posMoney"/>
					<input type='hidden' name='lineid' 				value = "$!line.lineid" />
					<input type='hidden' name='line_orgId' 			value = "$!line.orgId" />
					<input type='hidden' name='outFlag' 			value = "$!line.outFlag" />
				</td>
			</tr>
		#end
    	</tbody>
    </table>
    </div>
</form>
<script>

function showVendorWin(){
	selectVendor(function(idArr, nameArr){
		jQuery("#vendorId").val(idArr.join(','));
		jQuery("#vendorName").val(nameArr.join(','));
	}, null, null, false, jQuery("#vendorId").val());
}
jQuery(function(){
	altRowCSS('tbl');
	initCalendar("dodate");
	
	setEnterKey("ornaCode_in", loadOldItemByOrnaCode);	
	setEnterKey("barCode_in", loadOldItemByBarCode);
	DictDwr.getDictsForSlt("invcode", function(data){
		addOptions("stock_id",  data, null, null, true, true, "$!plSaleHead.stockId");
	});
	
	jQuery("#deleteIds").val("");
	jQuery("#btnSave").click(saveform);
	jQuery("#btnClose").click(closeBill);
	jQuery("#btnCheck").click(checkBill);
	jQuery("#btnDestroy").click(destroyBill);
	jQuery("#btnToList").click(function(){
		window.location = "plSale.vm";
	});
	enableCheck();
	checkReview();
	changeSeq("tbl");
})

</script>