#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js"])
<form id="myForm" method="post">
<table class="control">
    	<tr>
    		<td>
    			<input type='button' value='查询' id='btnQueryOk'>
    			<input type='button' value='重置' id='btnQueryReset'>
    		</td>
    	</tr>
    </table>
    <table class='content'>
    	<tr>
			<input type="hidden" id="inivType" value="$!{form.condition.inivType}" />
			<input type="hidden" id="handoverBillId" value="$!{form.condition.handoverBillId}" />
			<input type="hidden" id="itemClassId" value="$!{form.condition.itemClassId}" />
			<input type="hidden" id="ornaClassId" value="$!{form.condition.ornaClassId}" />
    		<td class="body1">核价单号</td>
    		<td class='body2'>
				<input type='text' id='verdorName' name='no' value="$!{form.condition.no}"/></td>
    		<td class="body1">饰品编码</td>
    		<td class='body2'>
				<input type='text' id='wlCode' name='wlCode' value="$!{form.condition.wlCode}"/></td>
    		<td class="body1">创建启始时间</td>
    		<td class='body2'><input type='text' id='beginTime' name='beginTime' value="$!{form.condition.beginTime}"/></td>
			<td class="body1">创建结束时间</td>
    		<td class='body2'><input type='text' id='endTime' name='endTime' value="$!{form.condition.endTime}"/></td>
    	</tr>
	</table>
<table class='list'>
    <thead>
		<tr>
            <th width='20px'><input type='checkbox' id='chkall'/></th>
			<th>核价单号</th>
			<th>饰品编码</th>
            <th>供应商</th>
			<th>业务类型</th>
			<th>大类</th>
			<th>小类</th>
            <th>基础价</th>
			<th>状态</th>
			<th>创建时间</th>
		</tr>
	</thead>
	<tbody id='tbl'>
		#foreach($map in $form.pager.pageData)
		<tr>
    		<td>
    			<input type='checkbox' name='chk' #if($!{form.condition.id}=="$!map.id") checked #end  />
    			<input type="hidden" name="id"        value = "$!map.id"       /> 
				<input type="hidden" name="no"        value = "$!map.no"       /> 
                <input type="hidden" name="vender"      value = "$!map.vender"       />
				<input type="hidden" name="inivFlag"        value = "$!map.inivFlag"       /> 
                <input type="hidden" name="itemClassId"      value = "$!map.itemClassId"       />
				<input type="hidden" name="ornaClassId"        value = "$!map.ornaClassId"       /> 
				<input type="hidden" name="allWeight"        value = "$!map.allWeight"       /> 
                <input type="hidden" name="state"        value = "$!map.state"       />
                <input type="hidden" name="createDate"    value = "$!map.createDate"       />
				<input type="hidden" name="secondDsc"        value = "$!map.secondDsc"       /> 
				<input type="hidden" name="basicPrice"        value = "$!map.basicPrice"       /> 
				<input type="hidden" name="allWidthoutTaxPrice"        value = "$!map.allWidthoutTaxPrice"       /> 
				<input type="hidden" name="qualityId"        value = "$!map.qualityId"       /> 
				<input type="hidden" name="sbraColorId"        value = "$!map.sbraColorId"       /> 
				<input type="hidden" name="labelId"        value = "$!map.labelId"       /> 
				<input type="hidden" name="isDoubleLabel"        value = "$!map.isDoubleLabel"       /> 
				<input type="hidden" name="mainNumber"        value = "$!map.mainNumber"       /> 
				<input type="hidden" name="secondNumber"        value = "$!map.secondNumber"       /> 
				<input type="hidden" name="allNumber"        value = "$!map.allNumber"       /> 
				<input type="hidden" name="mainWeight"        value = "$!map.mainWeight"       /> 
				<input type="hidden" name="secondWeight"        value = "$!map.secondWeight"       /> 
				<input type="hidden" name="analysisArangeId"        value = "$!map.analysisArangeId"       /> 
    		</td>
            <td>$!map.no</td>
			<td>$!map.wlCode</td>
            <td>$!BdCommon.getVendorName($!map.vender)</td>
            <td>$!DictUtil.getValue('purbiztype',$!map.inivFlag)</td>
			<td>$!BdCommon.getItemClassDesc($!map.itemClassId)</td>
			<td>$!BdCommon.getOrnaClassDesc($!map.ornaClassId)</td>
			<td>$!map.basicPrice</td>
            <td>$!DictUtil.getValue('status', $!map.state)</td>
            <td>$!map.createDate</td>
		</tr>
		#end
    </tbody>
</table>
<script>
createPagingToolbar('myForm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
//供外部调用的取值方法
function getValues(){
	var idxs = getSelectIndexs('chk'),
		result = [];
	if(idxs.length==0){
		alert("请选择交接单");
		return;
	}
	if(-1 == getSelectIndexs('chk'))
		return null;
	var vend = {
		id       	:$n("id")[idxs].value,
        no     		:$n("no")[idxs].value,
        vender       	:$n("vender")[idxs].value,
		itemClassId		:$n("itemClassId")[idxs].value,
		ornaClassId		:$n("ornaClassId")[idxs].value,
		allWeight		:$n("allWeight")[idxs].value,
        inivFlag        :$n("inivFlag")[idxs].value,
        state    		:$n("state")[idxs].value,
        secondDsc		:$n("secondDsc")[idxs].value,
        basicPrice		:$n("basicPrice")[idxs].value,
        allWidthoutTaxPrice		:$n("allWidthoutTaxPrice")[idxs].value,
        qualityId		:$n("qualityId")[idxs].value,
        sbraColorId		:$n("sbraColorId")[idxs].value,
        labelId		:$n("labelId")[idxs].value,
        isDoubleLabel		:$n("isDoubleLabel")[idxs].value,
        mainNumber		:$n("mainNumber")[idxs].value,
        secondNumber		:$n("secondNumber")[idxs].value,
        allNumber		:$n("allNumber")[idxs].value,
        analysisArangeId		:$n("analysisArangeId")[idxs].value,
        mainWeight		:$n("mainWeight")[idxs].value,
        secondWeight		:$n("secondWeight")[idxs].value
	};
	return vend;
}
function chickRow(){
	var idxs = getSelectIndexs('chk'),
		result = [];
	if(idxs.length==0){
		return;
	}
	if(-1 == getSelectIndexs('chk'))
		return null;
	var vend = {
		id       	:$n("id")[idxs].value,
        no     		:$n("no")[idxs].value,
        vender       	:$n("vender")[idxs].value,
		itemClassId		:$n("itemClassId")[idxs].value,
		ornaClassId		:$n("ornaClassId")[idxs].value,
		allWeight		:$n("allWeight")[idxs].value,
        inivFlag        :$n("inivFlag")[idxs].value,
        state    		:$n("state")[idxs].value,
        secondDsc		:$n("secondDsc")[idxs].value,
        basicPrice		:$n("basicPrice")[idxs].value,
        allWidthoutTaxPrice		:$n("allWidthoutTaxPrice")[idxs].value,
        qualityId		:$n("qualityId")[idxs].value,
        sbraColorId		:$n("sbraColorId")[idxs].value,
        labelId		:$n("labelId")[idxs].value,
        isDoubleLabel		:$n("isDoubleLabel")[idxs].value,
        mainNumber		:$n("mainNumber")[idxs].value,
        secondNumber		:$n("secondNumber")[idxs].value,
        allNumber		:$n("allNumber")[idxs].value,
        analysisArangeId		:$n("analysisArangeId")[idxs].value,
        mainWeight		:$n("mainWeight")[idxs].value,
        secondWeight		:$n("secondWeight")[idxs].value
	};
	parent.findPByid(vend.id);
	parent.closePrintWin();
}
/**
 * 查询
 */
function executeQuery(){
	jQuery("#myForm").submit();
}
function resetQuery(){
	jQuery("#no").val('');
	jQuery("#wlCode").val('');
	jQuery("#beginTime").val('');
	jQuery("#endTime").val('');
}
jQuery(function(){
	initCalendarArr(["beginTime", "endTime"]);
	checkTable('tbl', 'chkall', 'chk', false,chickRow);
	jQuery("#btnQueryOk").click(executeQuery);
	jQuery("#btnQueryReset").click(resetQuery);
});
</script>