#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js",
                "$StringUtil.getContextPath()/dwr/interface/BdCommonDwr.js", 
                "$StringUtil.getContextPath()/dwr/interface/ProcExitDwr.js?t=201204101130.js", 
                "$StringUtil.getContextPath()/js/stock/procexit.js?t=201204101130.js",
				"$StringUtil.getContextPath()/js/stock/procexit_condition.js"])
	
<form id='frm' action="procPackage.vm" method="post">
	#set($procExit = $form.procExitHead)
	#set($exitLines = $form.exitLines)
	
	#if($StringUtil.isBlank($!procExit.billno))
		#set($billno = "自动生成")
		#set($orgId = $StringUtil.getOrgId($session))
		#set($dodate = $DateUtil.getCurrentDate10())
		#set($statusName = "保存") 
		#set($status = "1")
	#else
		#set($billno = $procExit.billno)
		#set($orgId = $procExit.orgId)
		#set($dodate = $procExit.dodate)
		#set($statusName = $!DictUtil.getValue('status', $!{procExit.status}))
		#set($status = $!{procExit.status})
	#end
	
	#set($enableAdd = false)
	#set($enableSave = false)
	#set($enableCheck = false)
	#set($enableClose = false)
	#set($enablePrint = false)
	#set($isSaved = false)
	#set($isHandover = false)
	#set($enableCash = false)
	#if($StringUtil.isNotBlank($status))
		#if($status == "1")
			#set($enableAdd = true)
			#set($enableSave = true)
			#set($isSaved = true)
			#set($enableCheck = true)
		#elseif($status == "5")##审批完成
			#set($enableClose = true)
			#set($enablePrint = true)
			#set($isSaved = false)
			#set($isHandover = true)
		#elseif($status == "8")##关闭状态
			#set($enablePrint = true)
			#set($isHandover = true)
			#set($enableCash = true)
		#elseif($status == "9")##预关闭状态
			#set($isHandover = true)
		#end
	#end
	#if($procExit)
		#set($disable = true)
	#end
	<input type="hidden" id="user_action" name="user_action" value=""/>
	<input type="hidden" id="billid" name="billid" value="$!{procExit.billid}"/>
	<input type="hidden" id="billCode" name="billCode" value="TL"/>
	<input type='hidden' id="deleteOldIds" name='deleteOldIds'  value=""/>
    <table class="title">
    	<tr><td>退料单详细页</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='增行' #if(!$enableAdd)disabled#end class='btn' id='btnAddExitLine' $RightUtil.able($session, '08030402','1')>
				<input type='button' value='保存' #if(!$enableSave)disabled#end class='btn' id='btnSave' $RightUtil.able($session, '08030402','2')>
				<input type='button' value='审核' #if(!$enableCheck)disabled#end class='btn' id='btnCheck' $RightUtil.able($session, '08030402','3')>
				##<input type='button' value='关闭'  #if(!$enableClose)disabled#end class='btn' id='btnClose' $RightUtil.able($session, '08030402','4')>
				#if($enableCash)
					<input type='button' value='结算' #if(!$enableCash)disabled#end class='btn' id='btnCash' $RightUtil.able($session, '08030402','7')>
				#end
				<input type='button' value='交接单' style="display:#if(!$isHandover)none#end;" class='btn' id='btnHandover' $RightUtil.able($session, '08030402','5')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08030402','6')>
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号：</td>
			<td class='body2'>
				<input type='text' id="billno" name='billno' readonly value="$!billno">
			</td>
			<td class='body1'>单据日期：</td>
			<td class='body2'>
				<input type='text' id="dodate" name='dodate' readonly #if(!$isSaved)disabled#end value="$!{dodate}" dataType="Require" msg="不能为空">
			</td>
			<td class='body1'>组织:</td>	
			<td class='body2'>
				<input type='hidden' id="orgId" name='orgId' value="$!{orgId}">
				<input type='text' id="orgName" name='orgName'  value="$!BdCommon.getOrgName($orgId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			<td class='body1'>单据状态：</td>	
			<td class='body2'>
				<input type='text' id="status" name='status' readonly value="$!statusName">
			</td>
		</tr>
		<tr>
			<td class='body1'>供应商：</td>
			<td class='body2'>
				#*<select id="vendorId" name='vendorId'  value="$!{procExit.vendorId}" dataType='Require'  msg='不能为空'>$StringUtil.emptyOption()</select>
				$StringUtil.star()*#
				<input type='hidden' id='vendorId' name="vendorId" value="$!procExit.vendorId">
				<input type='text' id='vendorName' value="$!BdCommon.getVendorName($!procExit.vendorId)" readonly #if($disable)disabled#end class='target' ondblclick="showVendorWin()" dataType="Require" msg="不能为空">
				$!StringUtil.star()
			</td>
			<td class='body1'>件数合计：</td>	
			<td class='body2'>
				<input type='text' id="sumCount" readonly name='sumCount' value="$!{procExit.sumCount}" dataType='Require'  msg='不能为空'>
				$StringUtil.star()
			</td>
			<td class='body1'>重量合计：</td>
			<td class='body2'>
				<input type='text' id="sumWeight" readonly name='sumWeight' value="$!{procExit.sumWeight}" dataType='Require'  msg='不能为空'>
				$StringUtil.star()
			</td>
			<td class='body1'>粒数合计：</td>	
			<td class='body2'>
				<input type='text' id="sumGrains" name='sumGrains' readonly value="$!{procExit.sumGrains}" dataType='Require'  msg='不能为空'>
				$StringUtil.star()
			</td>
		</tr>
		<tr>
			<td class='body1'>总成本：</td>	
			<td class='body2'>
				<input type='text' id="sumCost" name='sumCost' readonly value="$!{procExit.sumCost}" >
			</td>
			<td class='body1'>总金额：</td>	
			<td class='body2'>
				<input type='text' id="sumMoney" name='sumMoney' value="$!{procExit.sumMoney}" >
			</td>
			<td class='body1'>加工费：</td>	
			<td class='body2'>
				<input type='text' id="charge" name='charge' #if(!$enableCash)readonly#end value="$!{procExit.charge}" >
			</td>
			<td class='body1'></td>	
			<td class='body2'></td>
		</tr>
		<tr>
			<td class='body1'>备注：</td>
			<td class='body2' colspan="7">
				<input type="text" id="memo" name="memo" #if(!$isSaved)readonly#end style="width:90%;" value="$!{procExit.memo}"/>
			</td>
		</tr>
    </table>
	<div class="scroll2">
	<table class='list' style="width: 1300px;">
    	<thead>
			<tr>
				<th></th>
				<th>发料单号</th>
                <th>原料时间</th>
    			<th>饰品编码</th>
				<th>成本</th>
    			<th>原料类型</th>
    			<th>大类</th>
    			<th>分析范围</th>
    			<th>色级</th>
    			<th>净度</th>
    			<th>结算单位</th>
    			<th>单据数量</th>
    			<th>可退料数量</th>
    			<th>退料数量</th>
    			<th>是否有规格偏差</th>
				<th width='60px'></th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($exitLine in $exitLines)
			<tr>
				<td></td>
				<td>$!exitLine.billno</td>
				<td>$!exitLine.billdate</td>
				<td>$!exitLine.ornaNo</td>
				<td>$!exitLine.costPrice</td>
				<td>$!exitLine.materialTypeName</td>
				<td>$!exitLine.itemClassName</td>
				<td>$!exitLine.alaysisName</td>
				<td>$!exitLine.mainColorGradeName</td>
				<td>$!exitLine.cleanName</td>
				<td>$!exitLine.cashUnitName</td>
				<td>$!exitLine.billNums</td>
				<td>$!exitLine.oldNums</td>
				<td><input type='text' name='exitNums' value="$!exitLine.exitNums" style="width:50px;" #if(!$isSaved)readonly#end onblur='checkField(this)' dataType='Require'  msg='不能为空' /></td>
				<td><select name="isDiff" dataType="Require" #if(!$isSaved)disabled#end value="$!DictUtil.getValue($exitLine.isDiff)" msg="不能为空">$StringUtil.emptyOption()</select></td>
				<td><input type='button' value='删除' #if(!$isSaved)disabled#end style='width:60px;' onclick='deleteExitLineData(this, "$!{exitLine.lineid}")'/>
					 <input type='hidden' name='outBillno'        value = "$!exitLine.billno"/> 
					 <input type='hidden' name='outBillDate'      value = "$!exitLine.billdate"/> 
					 <input type='hidden' name='ornaNo'         value = "$!exitLine.ornaNo"/>
					 <input type='hidden' name='materialType'     value = "$!exitLine.materialType"/> 
					 <input type='hidden' name='itemClassId'      value = "$!exitLine.itemClassId"/> 
					 <input type='hidden' name='alaysisId'       value = "$!exitLine.alaysisId"/> 
					 <input type='hidden' name='mainColorGradeId'     value = "$!exitLine.mainColorGradeId"/> 
					 <input type='hidden' name='cleanId'          value = "$!exitLine.cleanId"/> 
					 <input type='hidden' name='cashUnit'       value = "$!exitLine.cashUnit"/> 
					 <input type='hidden' name='unitId'           value = "$!exitLine.unitId"/> 
					 <input type='hidden' name='billNums'         value = "$!exitLine.billNums"/> 
					 <input type='hidden' name='oldNums'          value ="$!exitLine.oldNums" />
					 <input type='hidden' name='costPrice'          value ="$!exitLine.costPrice" />
					 <input type='hidden' name='memo' value="$!exitLine.memo"/>
					<input type='hidden' name='lineid' value="$!exitLine.lineid" />
					<input type='hidden' name='isDiffOld' value="$!exitLine.isDiff"/>
					 <input type='hidden' name='oldExitNums' value ="$!exitLine.exitNums" />
				</td>
			</tr>
		#end
    	</tbody>
    </table></div>
</form>
<script>
// 大类
function changeSelectOption(){
	var oldRows = $("tbl").rows.length;
	DictDwr.getDictsForSlt("yesorno", function(data){
    	for(var i=0; i< oldRows; i++) {
    		addOptions2("isDiff", i, data, null, null, true, true, $n("isDiffOld")[i].value);
		}
	});
	/*BdCommonDwr.getAllVendor(function(data){
		addOptions("vendorId",  data, null, null, true, true, "$!procExit.vendorId");
	});*/
}
function showVendorWin(){
	selectVendor(function(idArr, nameArr){
		jQuery("#vendorId").val(idArr.join(','));
		jQuery("#vendorName").val(nameArr.join(','));
	}, null, null, false, jQuery("#vendorId").val());
}
jQuery(function(){
	altRowCSS('tbl');
	initCalendar("dodate");
	jQuery("#deleteOldIds").val("");
	changeSelectOption();
	jQuery("#btnAddExitLine").click(addRow);
	jQuery("#btnCash").click(cashCharge);
	jQuery("#btnSave").click(saveform);
	//jQuery("#btnClose").click(closeBill);
	jQuery("#btnCheck").click(checkBill);
	jQuery("#btnHandover").click(showHandover);
	jQuery("#btnToList").click(function(){
		window.location = "procExit.vm";
	});
	enablePackageType();
	checkReview();
	changeSeq("tbl");
})

</script>