#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/InventoryDwr.js", 
                "$StringUtil.getContextPath()/js/stock/inventory.js?t=201208171703.js"])
	
<form id='frm' action="procInventory.vm" method="post">
	#set($inventoryHead = $form.procInventoryHead)
	#set($lines = $form.lines)
	
	#if($StringUtil.isBlank($!inventoryHead.billno))
		#set($billno = "自动生成")
		#set($orgId = $StringUtil.getOrgId($session))
		#set($dodate = $DateUtil.getCurrentDate10())
		#set($createDate = $DateUtil.getCurrentDate10())
		#set($createId = $StringUtil.getUserId($session))
		#set($statusName = "保存")
		#set($status = "1")
	#else
		#set($billno = $inventoryHead.billno)
		#set($orgId = $inventoryHead.orgId)
		#set($dodate = $inventoryHead.dodate)
		#set($createDate = $inventoryHead.createDate)
		#set($createId = $!inventoryHead.createId)
		#set($statusName = $!DictUtil.getValue('status', $!{inventoryHead.status}))
		#set($status = $!{inventoryHead.status})
	#end
	
	#set($enableClose = false)
	#set($enablePrint = false)
	#set($isSaved = false)
	#if($StringUtil.isNotBlank($status))
		#if($status == "1")
			#set($isSaved = true)
			#if($inventoryHead.ismain == "1")
				#set($enableClose = true)
			#end
		#end
		#if($status == "5")##审批完成
			#set($enableClose = true)
			#set($enablePrint = true)
		#elseif($status == "8")##关闭状态
			#set($enablePrint = true)
		#end
	#end
	
	<input type="hidden" id="user_action" name="user_action" value=""/>
	<input type="hidden" id="billid" name="billid" value="$!{inventoryHead.billid}"/>
    <table class="title">
    	<tr><td>盘点单</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='关闭' #if(!$enableClose)disabled#end class='btn' id='btnClose' $RightUtil.able($session, '08030902','1')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08030902','2')>
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号：</td>
			<td class='body2'>
				<input type='text' id="billno" name='billno' readonly value="$!billno">
			</td>
			<td class='body1'>单据状态：</td>	
			<td class='body2'>
				<input type='text' id="status" name='status' readonly value="$!statusName">
			</td>
			<td class='body1'>创建日期：</td>
			<td class='body2'>
				<input type='text' id="createDate" name='createDate' readonly value="$!{createDate}" dataType="Require" msg="不能为空">
			</td>
			<td class='body1'>创建人员:</td>	
			<td class='body2'>
				<input type='hidden' id="createId" name='createId' value="$!{createId}">
				<input type='text' id="createName" name='createName'  value="$!BdCommon.getUserName($!createId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			
		</tr>
		<tr>
			<td class='body1'>单据日期：</td>
			<td class='body2'>
				<input type='text' id="dodate" name='dodate' readonly value="$!{dodate}" dataType="Require" msg="不能为空">
			</td>
			<td class='body1'>库存组织:</td>	
			<td class='body2'>
				<input type='hidden' id="orgId" name='orgId' value="$!{orgId}">
				<input type='text' id="orgName" name='orgName'  value="$!BdCommon.getOrgName($orgId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			<td class='body1'>盘点仓库：</td>
			<td class='body2'>
				<select id="stockId" name="stockId" #if($inventoryHead)disabled#end  dataType="Require" value="$inventoryHead.stockId" msg="不能为空" onchange="changeStockCount(this);">
					$StringUtil.emptyOption()
				</select>
				$StringUtil.star()
			</td>
			<td class='body1'>仓库总件数：</td>	
			<td class='body2'>
				<input type='text' id="isstock" name='isstock' readonly value="$!{inventoryHead.isstock}">
			</td>
		</tr>
		<tr>
			<td class='body1'>盘点合计：</td>
			<td class='body2'>
				<input type='text' id="sumCount" name='sumCount' readonly value="0">
			</td>
			<td class='body1'>备注：</td>
			<td class='body2' colspan="5">
				<input type="text" id="memo" name="memo" style="width:90%;" value="$!{inventoryHead.memo}"/>
			</td>
		</tr>
		<tr>
			<td class='body1'>条码：</td>
			<td class='body2'>
				<input type='text' id="barCode_in" #if(!$isSaved)disabled#end name='barCode_in' value="">
			</td>
			#if($RightUtil.isAble($session, '08030902','3'))
			<td class='body1'>编码：</td>
			<td class='body2'>
				<input type='text' id="ornaCode_in" #if(!$isSaved)disabled#end  name='ornaCode_in'  value="">
			</td>
			#else
				<td class='body1'></td>
    			<td class='body2'><input type='hidden' id='ornaCode_in'/></td>
			#end
			<td class='body1'></td>
    		<td class='body2'></td>
			<td class='body1'></td>
    		<td class='body2'></td>
		</tr>
    </table>
	
	<table class='list'>
    	<thead>
			<tr>
				<th></th>
				<th>大类</th>
				<th>小类</th>
				<th>款式</th>
                <th>分析范围</th>
        		<th>饰品编码</th>
        		<th>饰品名称</th>
				<th>计量单位</th>
				<th>现有量</th>
				<th>总重量</th>
				<th>粒数</th>
				<th>销售金额</th>
				<th>主石重量</th>
        		<th>配石重量</th>
				<th>柜组</th>
				<th>备注</th>
            </tr>
        </thead>
        <tbody id="tbl_old_mater">
		
    	</tbody>
    </table>
	
</form>
<script>

// 手工输入饰品编码出发的方法
function loadOldItemByOrnaCode(){
	var ornaCode = jQuery("#ornaCode_in").val();
	var memo = jQuery("#memo").val();
	if(memo){
		if(ornaCode){
    		InventoryDwr.getMaterActiveByOrnaCode(ornaCode, jQuery("#orgId").val(), jQuery("#stockId").val(), function(data){
        		if (data) {
            		addOldMaterActive(data, true);
            	} else {
            		alert("饰品不存在或不属于该组织");
            	}
        	})
        	jQuery("#ornaCode_in").val("");
			
    	}
	} else {
		alert("编码盘点必须要写备注");
	}
}
// 扫描枪 扫描饰品出发的方法
function loadOldItemByBarCode(){
	var barCode = jQuery("#barCode_in").val();
	if(barCode){
		InventoryDwr.getMaterActiveByBarCode(barCode, jQuery("#orgId").val(), jQuery("#stockId").val(), function(data){
    		if (data) {
        		addOldMaterActive(data, false);
        	} else {
        		alert("饰品不存在或不属于该组织");
        	}
    	})
    	jQuery("#barCode_in").val("");	
	}
}

function changeStockCount(obj){
	if(obj.value) {
		//  获取仓库中饰品的数量
		InventoryDwr.getStockCount(obj.value, jQuery("#orgId").val(), function(data){
			if(data) {
				jQuery("#isstock").val(data);
			}
			checkOrnaCode();
		});
	} else {
		jQuery("#isstock").val("");
		checkOrnaCode();
	}
}
function setValues(){
	DictDwr.getDictsForSlt("invcode", function(data){
		addOptions("stockId",  data, null, null, true, true, "$!inventoryHead.stockId");
	});
}


jQuery(function(){
	setEnterKey("ornaCode_in", loadOldItemByOrnaCode);	
	setEnterKey("barCode_in", loadOldItemByBarCode);	
	setValues();
	jQuery("#btnClose").click(closeBill);
	jQuery("#btnToList").click(function(){
		window.location = "procInventory.vm";
	});
	checkOrnaCode();
	altRowCSS("tbl_old_mater");
	changeSeq("tbl_old_mater");
})

</script>