<form id="myForm" method="post">
<table class='list'>
    <thead>
		<tr>
            <th width='20px'><input type='checkbox' id='chkall'/></th>
			<th>定单号</th>
            <th>组织</th>
			<th>创建时间</th>
		</tr>
	</thead>
	<tbody id='tbl'>
		#foreach($map in $form.pur)
		<tr>
    		<td>
    			<input type='radio' onclick="clickRow(1)" name='chk' #if($!{form.condition.billno}=="$!map.billno") checked #end  />
    			<input type="hidden" name="billid"        value = "$!map.headid"       />
				<input type="hidden" name="billno"        value = "$!map.billno"       />
    		</td>
            <td><a href='javascript:toViewPage($!{map.headid});'>$!map.billno</a></td>
            <td>$!BdCommon.getOrgName($!map.orgId)</td>
            <td>$!map.createDate</td>
		</tr>
		#end
    </tbody>
</table>
</form>
<script>
//供外部调用的取值方法
function getValues(){
	var idxs = getSelectIndexs('chk'),
		result = [];
	if(idxs.length==0){
		alert("请选择定做单");
		return;
	}
	if(-1 == getSelectIndexs('chk'))
		return null;
	var vend = {
		billid       	:$n("billid")[idxs].value,
        billno     		:$n("billno")[idxs].value
	};
	return vend;
}
function clickRow(i){
	var idxs = getSelectIndexs('chk'),
		result = [];
	if(idxs.length==0){
		return;
	}
	if(-1 == getSelectIndexs('chk'))
		return null;
	var result = {
		billid       	:$n("billid")[idxs].value,
        billno     		:$n("billno")[idxs].value
		
	};
	parent.changePurchae(result.billno);
	parent.closePrintWin();
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
	if("$!{form.condition.length}"=="0"){
		alert("该交接单没有定做单号");
	}
});
function toViewPage(headid){
	var options = {
		title : '定做单详情',
		contentType : 'iframe',
		iframeId : "purchaseWindowId",
		width : 800,
		height : 400,
		okBtnName : '确定',
		closeable:true,
		boxid:'winDiv',
		onok : function(box) {box.close();},
		oncancel : function(box) {box.close();}
	};
	var url = ctxPath+ "/pur/purchase.vm?user_action=toView&headid=" + headid + "&reviewflag=1";
	printWin= jQuery.weeboxs.open(url, options);
}
</script>