<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<META HTTP-EQUIV="content-type" content="text/html; charset=utf-8">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
	
<link href="$!StringUtil.getContextPath()/css/mclon/tab/imgs/tab.css" rel="stylesheet" type="text/css">
#foreach($item in $!cssfiles)
<link href="$item" type="text/css" rel="stylesheet" />
#end
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/jquery-1.4.2.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/TabView.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/contextmenu/jquery.contextmenu.r2-debug.js" charset="UTF-8"></script>
<!--
<script language=javascript src='$!StringUtil.getContextPath()/dwr/engine.js'></script>
<script language=javascript src='$!StringUtil.getContextPath()/dwr/util.js'></script>
-->
#foreach($item in $!jsfiles)
<script language="javascript" type="text/javascript" src='$item' charset="UTF-8"></script>
#end
<title>SCM</title>
<style type="text/css">
body{margin:0;padding:0;}
h2 {
	background-color: #cccccc;
	padding: 0px;
	font-size: 18px;
	font-family: "黑体";
}
#tab_hr {
	width:100%;
}
#tab_menu {
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#page {
	width: 100%;
	height: 667px;
	overflow:hidden;
	border: solid 1px #cccccc;
	/*height: expression(parentNode . parentNode . offsetHeight-25);*/
}
</style>
</HEAD>
<body>
	<table width='100%'>
		<tr>
			<td colspan='2' align="right"><a href="$!StringUtil.getContextPath()/logOff.vm" target="_top">[退出]</a></a></td>
		</tr>
		<tr>
			<td width='189px;' valign="top">$screen_content</td>
			<td width='1241px;' valign="top">
            	<div id="tab_menu"></div>
            	<div id="page"></div>
			</td>
			<td>
			</td>
		</tr>
	</table>
	<input type="hidden" id="hiddentitles" name="hiddentitles" value=""/>
    <div class="contextMenu" id="pageitem">
        <ul>
          <li id="close_item">关闭</li>
          <li id="closeother_item">关闭其他</li>
          <li id="closeall_item">关闭所有</li>
          <li id="refrese_item">刷新</li>
        </ul>
    </div>
</body>
</html>
<script>
self.moveTo(0,0); 
self.resizeTo(screen.availWidth,screen.availHeight); 

var tabPanel=null;
jQuery(document).ready(function() {
	tabPanel = new TabView({
		containerId :'tab_menu',
		pageid :'page',
		cid :'tab_po',
		position :'top'
	});
	addTab("欢迎", "about:blank", true);
});
var index=1;
function addTab(tabtitle, taburl, fixed){
	//alert($("#hiddentitles").val());
	var ishave = -1;//$("#hiddentitles").val().indexOf(tabtitle + ",");
	if(ishave == -1){
		var tabid = "tab_index_" + index;
    	index++;
		tabPanel.add({
			id : tabid,
			title : tabtitle,
			url : taburl,
			isClosed : !fixed || false
		});
		addContextMenu("#" + tabid);
    	$("#hiddentitles").val($("#hiddentitles").val() + tabid + "|" + tabtitle + ",");
	}
}
$(document).ready(function(){
	addContextMenu(".tab_item");
});
function addContextMenu(queryItem){
	$(queryItem).contextMenu('pageitem', {
			//点击所有Span标签都会弹出右键菜单
			onShowMenu: function(e, menu) {
				//alert(e.target);
    			//alert($(e.target).attr('id'));
    			return menu;
    		},
    		bindings: {
    			'close_item': function(t) {//关闭tab
				//将允许关闭的tab关闭
				if(!$("#" + t.id).find(".tab_close").is(":hidden")){
					tabPanel.close(t.id);
				}
    		},
    		'closeother_item': function(t) {//关闭其他tab
				$(".tab_item").each( function() {
        			var item = this;
					//alert(item.id + "----" +  $(item).find(".tab_close").is(":hidden"));
					if(!$(item).find(".tab_close").is(":hidden") && item.id != t.id){
						tabPanel.close(item.id);
					}
        		});
    		},
    		'closeall_item': function(t) {//关闭所有tab
				$(".tab_item").each( function() {
        			var item = this;
					if(!$(item).find(".tab_close").is(":hidden")){
    					tabPanel.close(item.id);
					}
        		});
    		},
    		'refrese_item': function(t) {//刷新页面
				//alert($("#page_" + t.id).load);
				//$("#page_" + t.id).load($("#page_" + t.id).attr("src"));
				$("#page_" + t.id).attr("src", $("#page_" + t.id).attr('src'));
            }
    	}
	});
}
</script>