<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<META HTTP-EQUIV="content-type" content="text/html; charset=utf-8">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<title>万隆SCM</title>
#set($dateParam = '201211131505')
<link href="$!StringUtil.getContextPath()/css/mclon/jqueryUI/jquery-ui-1.8.18.custom.css" type="text/css" rel="stylesheet" />
<link href="$!StringUtil.getContextPath()/css/mclon/common.css?date=$!dateParam" type="text/css" rel="stylesheet" />
<link href="$!StringUtil.getContextPath()/css/mclon/alerts1.1/jquery.alerts.css" type="text/css" rel="stylesheet" />
<link href="$!StringUtil.getContextPath()/css/mclon/weebox.css" type="text/css" rel="stylesheet" />
<link href="$!StringUtil.getContextPath()/script/mclon/calendar/calendar.css" type="text/css" rel="stylesheet" />
#foreach($item in $!cssfiles)
<link href="$item" type="text/css" rel="stylesheet" />
#end
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/jquery-1.4.2-debug.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/bgiframe/jquery.bgiframe-2.1.2.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/jquery-ui-1.8.18.custom.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/alerts1.1/jquery.alerts.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/weebox.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/formValidate.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src='$!StringUtil.getContextPath()/script/mclon/calendar/calendar.js' charset="UTF-8"></script>

<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/commonLayer.js?date=$!dateParam" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/common.js?date=$!dateParam" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/common_query.js?date=$!dateParam" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="$!StringUtil.getContextPath()/script/mclon/commonSelector.js?date=$!dateParam" charset="UTF-8"></script>

<script language="javascript" type="text/javascript" src='$!StringUtil.getContextPath()/dwr/engine.js?date=$!dateParam' charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src='$!StringUtil.getContextPath()/dwr/util.js?date=$!dateParam' charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src='$!StringUtil.getContextPath()/dwr/interface/DictDwr.js?date=$!dateParam' charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src='$!StringUtil.getContextPath()/dwr/interface/BdCommonDwr.js?date=$!dateParam' charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src='$!StringUtil.getContextPath()/dwr/interface/QueryConditionDwr.js?date=$!dateParam' charset="UTF-8"></script>

<script>
var ctxPath = "$!StringUtil.getContextPath()";
var jmCtxPath = "/jmscm";
dwr.engine.setTimeout(600000);
dwr.engine.setErrorHandler(function(msg, err){
	showLayer(false);//移除遮罩层
	if("Timeout" == msg){
		alert("系统执行超时...");
	}else{
    	alert(msg);
	}
});
</script>
#foreach($item in $!jsfiles)
<script language="javascript" type="text/javascript" src='$item' charset="UTF-8"></script>
#end
</HEAD>
<BODY>
	$screen_content
</BODY>
</HTML>