<form id="frm" method="post">
	<input type="hidden" name="reportType" value="$!form.reportType"/>
	<input type='hidden' id='user_action' name='user_action'/>
	<input type='hidden' name='firstFlag' value="1"/>
    <table class="title">
    	<tr><td>报表管理【未结算单据查询】#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
    </table>
	<table class='control'>
		<tr>
			<td>
				<input type='button' value='高级查询' class='btn' id='btnSearch1'>
		       	<input type='button' value='导出Excel' class='btn' id='exportToExcel'  $RightUtil.able($session, '08053701','1')>		
			    <input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08053701','2')>
			</td>
		</tr>
	</table>
	<div class='scroll2'>
        <table class='list'>
        	<thead>
    			<tr>
					<th>交接单未结算数量</th>
					<th>委外发料未结算数量</th>
    				<th>对公销售未结算数量</th>
    				<th>退料单未结算数量</th>
    				<th>对公销售单未出票数量</th>
					<th>交接单未收票数量</th>
                </tr>
            </thead>
            <tbody id="tbl">
			#foreach($map in $form.list)
    			<tr>
                    <td><a href='javascript:toViewPage(1);'>$!map.HAND_CASH</a></td>
					<td><a href='javascript:todgViewPage(3);'>$!map.SEND_CASH</a></td>		
                    <td><a href='javascript:todgViewPage(1);'>$!map.SALE_CASH</a></td>
    				<td><a href='javascript:totlViewPage();'>$!map.EXIT_CASH</a></td>
                    <td><a href='javascript:todgViewPage(2);'>$!map.OUT_CASH</a></td>
					<td><a href='javascript:toViewPage(2);'>$!map.IN_CASH</a></td>
    			</tr>
			#end
			</tbody>
        </table>
    </div>
<script>
createPagingToolbar('frm', $!form.start, $!form.limit, $!form.totalCount);
</script>
</form>
<script>
jQuery(function(){
	initQuery2("CWWJS", 'frm', 'btnSearch1');
	initExportExcel("exportToExcel", exportListToExcel);
	checkTable('tbl', 'chkall', 'chk', true,null, null);
});

function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}

function toViewPage(type){
	var name = "";
	if("1"==type)
		name = "交接单未结算数量";
	else 
		name = "交接单未收票数量";
	var options = {
		title : name,
		contentType : 'iframe',
		iframeId : "jjdwjssl",
		width : 950,
		height : 450,
		okBtnName : '确定',
		closeable:true,
		boxid:'winDiv',
		onok : function(box) {box.close();},
		oncancel : function(box) {box.close();}
	};
	
	var url = ctxPath+ "/pur/handover.vm?user_action=reportList&type="+type;
	printWin= jQuery.weeboxs.open(url, options);
}

function todgViewPage(type){
	var name = "";
	if("1"==type)
		name = "对公销售未结算数量";
	else if("2"==type)
		name = "对公销售单未出票数量";
	else 
		name = "委外发料未结算数量";
	var options = {
		title : name,
		contentType : 'iframe',
		iframeId : "jjdwjsdg",
		width : 950,
		height : 450,
		okBtnName : '确定',
		closeable:true,
		boxid:'winDiv',
		onok : function(box) {box.close();},
		oncancel : function(box) {box.close();}
	};
	
	var url = ctxPath+ "/out/outVendor.vm?user_action=toPubSaleReportList&type="+type;
	printWin= jQuery.weeboxs.open(url, options);
}

function totlViewPage(type){
	var options = {
		title : '退料单未结算数量',
		contentType : 'iframe',
		iframeId : "jjdwjsdg",
		width : 950,
		height : 450,
		okBtnName : '确定',
		closeable:true,
		boxid:'winDiv',
		onok : function(box) {box.close();},
		oncancel : function(box) {box.close();}
	};
	
	var url = ctxPath+ "/stock/procExit.vm?user_action=doReportPerform";
	printWin= jQuery.weeboxs.open(url, options);
}
</script>
