#set($jsfiles = ["$StringUtil.getContextPath()/js/tag/labelTagApplyPrint.js?t=201209111719.js",
"$StringUtil.getContextPath()/dwr/interface/LabelTagApplyPrintDwr.js?t=201203211719.js"])
	
<form id='frm' action="labelTagApplyPrint.vm" method="post">
	#set($labelTagApplyPrint = $!form.labelTagApplyPrint)
	#set($lines = $!form.lines)
	#if($StringUtil.isBlank($!labelTagApplyPrint.no))
		#set($billNo = "自动生成")
		#set($statusName = "保存")
		#set($status = "1")
		#set($createDate = $DateUtil.getCurrentDate10())
		#set($createId = $StringUtil.getUserId($session))
		#set($printType = "公司调整")
	#else
		#set($billNo = $labelTagApplyPrint.no)
		#set($statusName = $!DictUtil.getValue('status', $!{labelTagApplyPrint.state}))
		#set($status = $!{labelTagApplyPrint.state})
		#set($createDate = $labelTagApplyPrint.createdate)
		#set($createId = $!labelTagApplyPrint.createuserid)
		#set($printType = $!labelTagApplyPrint.printType)
	#end
	
	#set($enableSave = false)
	#set($disable = false)
	#set($isSaved = false)
	#set($enableClose = false)
	#if($StringUtil.isNotBlank($status))
		#if($status == "1")
			#set($enableSave = true)
			#set($isSaved = true)
			#set($enableClose = true)
			#if($!labelTagApplyPrint)
				#set($enableAccount = true)
			#end
		#end
	#end
	#if($labelTagApplyPrint)
		#set($disable = true)
	#end
	<input type="hidden" id="user_action" name="user_action" value=""/>
	<input type="hidden" id="id" name="id" value="$!{labelTagApplyPrint.id}"/>
    <table class="title">
    	<tr><td>标签打印单详情</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' #if(!$enableSave)disabled#end class='btn' id='btnSave' $RightUtil.able($session, '08080202','1')>
				<input type='button' value='记账' #if(!$enableClose)disabled#end class='btn' id='btnClose' $RightUtil.able($session, '08080202','2')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08080202','3')>
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号：</td>
			<td class='body2'>
				<input type='text' id="billNo" name='billNo' readonly value="$!billNo">
			</td>
			<td class='body1'>创建日期:</td>	
			<td class='body2'>
				<input type='text' id="createdate" name='createdate'  value="$!createDate" readonly  dataType="Require" msg="不能为空" >
			</td>
			<td class='body1'>创建人员：</td>	
			<td class='body2'>
				<input type='hidden' id="createuserid" name='createuserid' value="$!{createId}">
				<input type='text' id="createName" name='createName'  value="$!BdCommon.getUserName($!createId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			<td class='body1'>创建组织:</td>	
			<td class='body2'>
				<input type='hidden' id="orgId" name='orgId' value="$!{labelTagApplyPrint.orgId}">
				<input type='text' id="orgName" name='orgName'  value="$!BdCommon.getOrgName($!labelTagApplyPrint.orgId)" readonly class="target"  dataType="Require" msg="不能为空" onclick="showSelectOrgWin()">
				$StringUtil.star()
			</td>
		</tr>
		<tr>
			<td class='body1'>接收人：</td>	
			<td class='body2'>
				<input type='hidden' id="receiveUserid" name='receiveUserid' value="$!{receiveUserid}">
				<input type='text' id="receiveUserName" name='receiveUserName'  value="$!BdCommon.getUserName($!receiveUserid)" readonly  >
			</td>
			<td class='body1'>件数合计：</td>	
			<td class='body2'>
				<input type='text' id="numTotal" name='numTotal' readonly value="$!labelTagApplyPrint.numTotal" >
			</td>
			<td class='body1'>接收件数：</td>	
			<td class='body2'>
				<input type='text' id="receiveNum" name='receiveNum' readonly value="$!labelTagApplyPrint.receiveNum">
			</td>
			<td class='body1'>取消件数：</td>	
			<td class='body2'>
				<input type='text' id="cancelNum" name='cancelNum' readonly value="$!labelTagApplyPrint.cancelNum">
			</td>
		</tr>
		<tr>
			<td class='body1'>更新人：</td>	
			<td class='body2'>
				<input type='hidden' id="updateuserid" name='updateuserid' value="$!{labelTagApplyPrint.updateuserid}">
				<input type='text' id="updateuserName" name='updateuserName'  value="$!BdCommon.getUserName($!labelTagApplyPrint.updateuserid)" readonly  >
			</td>
			<td class='body1'>更新时间：</td>	
			<td class='body2'>
				<input type='text' id="updatedate" name='updatedate' readonly value="$!labelTagApplyPrint.updatedate">
			</td>
			<td class='body1'>单据状态：</td>	
			<td class='body2'>
				<input type='text' id="status" name='status' readonly value="$!statusName">
			</td>
			<td class='body1'>打印类型：</td>	
			<td class='body2'>
				<input type='text' id="printType" name='printType'  value="$!printType" readonly >
			</td>
		</tr>
		<tr>
			<td class='body1'>条码：</td>
			<td class='body2'>
				<input type='text' id="barCode_in" name='barCode_in' #if(!$!isSaved)disabled#end value="">
			</td>
			<td class='body1'>编码：</td>
			<td class='body2'>
				<input type='text' id="ornaCode_in" name='ornaCode_in' #if(!$!isSaved)disabled#end  value="">
			</td>
			<td class='body1'></td>
			<td class='body2'></td>
			<td class='body1'></td>
			<td class='body2'></td>
		</tr>
    </table>
	<input type="hidden" value="" name="deleteIds" id="deleteIds"/>
	<style >
		.fieldCls{width:60px;}
    </style>
	<div class="scroll2">
	<table class='list' style="width:2500px;">
    	<thead>
			<tr>
				<th></th>
				<th>饰品编码</th>
				<th>大类</th>
				<th>小类</th>
        		<th>计量单位</th>
				<th>现有量</th>
				<th>总重量</th>
				<th>原饰品名称</th>
				<th>新饰品名称</th>
				<th>原基础价</th>
				<th>新基础价</th>
				<th>原金额</th>
				<th>新金额</th>
				<th>原尺寸</th>
				<th>新尺寸</th>
				<th>更新原因</th>
				<th>原特殊工费</th>
				<th>新特殊工费</th>
				<th>原国检证书</th>
				<th>新国检证书</th>
				<th>原GIA证书</th>
				<th>新GIA证书</th>
				<th>原HRD证书</th>
				<th>新HRD证书</th>
				<th>原IGI证书</th>
				<th>新IGI证书</th>
				<th>原生肖</th>
				<th>现生肖</th>
				<th>是否双标签</th>
				<th>标签种类</th>
				<th>状态</th>
				<th width='60px'></th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($line in $lines)
			<tr>
				<td></td>
				<td>$!line.ornaCode</td>
				<td>$!BdCommon.getItemClassDesc($!line.itemClassId)</td>
				<td>$!BdCommon.getOrnaClassDesc($!line.ornaClassId)</td>
				<td>$!BdCommon.getUnitName($!line.unitId)</td>
				<td>$!line.num</td>
				<td>$!line.weight</td>
				<td>$!line.oldOrnaName</td>
				<td><input type='text' name='newOrnaName' value="$!line.newOrnaName" #if(!$!isSaved)readonly#end /></td>
				<td>$!line.oldBasicPrice</td>
				<td><input type='text' name='newBasicPrice' value="$!line.newBasicPrice" #if(!$!isSaved)readonly#end class="fieldCls" onblur="checkField()"/></td>
				<td>$!line.oldAmount</td>
				<td><input type='text' name='newAmount' value="$!line.newAmount" #if(!$!isSaved)readonly#end class="fieldCls" onblur="checkField()"/></td>
				<td>$!line.oldSizeName</td>
				<td><input type="button" name="newSizeBtn" style="width:50px;" value="$!line.newSizeName" onclick="showNewSizeSelect(this)"/></td>
				<td><input type='text' name='updateReason' value="$!line.updateReason" #if(!$!isSaved)readonly#end /></td>
				<td>$!line.oldSpecialWorkPrice</td>
				<td><input type='text' name='newSpecialWorkPrice' value="$!line.newSpecialWorkPrice" #if(!$!isSaved)readonly#end class="fieldCls" onblur="checkField()"/></td>
				<td>$!line.oldNativeCert</td>
				<td><input type='text' name='newNativeCert' value="$!line.newNativeCert" #if(!$!isSaved)readonly#end class="fieldCls"/></td>
				<td>$!line.oldGiaCert</td>
				<td><input type='text' name='newGiaCert' value="$!line.newGiaCert" #if(!$!isSaved)readonly#end class="fieldCls"/></td>
				<td>$!line.oldHrdCert</td>
				<td><input type='text' name='newHrdCert' value="$!line.newHrdCert" #if(!$!isSaved)readonly#end class="fieldCls"/></td>
				<td>$!line.oldIgiCert</td>
				<td><input type='text' name='newIgiCert' value="$!line.newIgiCert" #if(!$!isSaved)readonly#end class="fieldCls"/></td>
				<td>$!line.oldZodiac</td>
				<td><select type="text" name="newZodiac" value="" #if(!$!isSaved)disabled#end/></select></td>
				<td>#if("$!line.isDblLabel"=="1")是#else否#end</td>
				<td><select type="text" name="labelKind" value="" #if(!$!isSaved)disabled#end /></select></td>
				<td>$!DictUtil.getValue('status', $!line.state)</td>
				<td><input type='button' value='删除' #if(!$!isSaved)disabled#end style='width:60px;' onclick='deleteLineRow(this, "tbl")'/>
    				<input type='hidden' name='lineid' value="$!line.id" />
    				<input type='hidden' name='itemClassId' value="$!line.itemClassId" />
    				<input type='hidden' name='ornaClassId' value="$!line.ornaClassId" />
					<input type='hidden' name='ornaCode' value="$!line.ornaCode" />
					<input type='hidden' name='unitId' value="$!line.unitId" />
					<input type='hidden' name='num' value="$!line.num" />
					<input type='hidden' name='weight' value="$!line.weight" />
					<input type='hidden' name='oldAmount' value="$!line.oldAmount" />
					<input type='hidden' name='oldOrnaName' value="$!line.oldOrnaName" />
					<input type='hidden' name='oldNativeCert' value="$!line.oldNativeCert" />
					<input type='hidden' name='oldGiaCert' value="$!line.oldGiaCert" />
					<input type='hidden' name='oldHrdCert' value="$!line.oldHrdCert" />
					<input type='hidden' name='oldIgiCert' value="$!line.oldIgiCert" />
					<input type='hidden' name='oldZodiac' value="$!line.oldZodiac" />
					<input type='hidden' name='oldSpecialWorkPrice' value="$!line.oldSpecialWorkPrice" />
					<input type='hidden' name='oldBasicPrice' value="$!line.oldBasicPrice" />
					<input type='hidden' name='isDblLabel' value="$!line.isDblLabel" />
					<input type='hidden' name='labelKind_1' value="$!line.labelKind" />
					<input type="hidden" name="oldSizeId" value="$!line.oidSize" />
					<input type='hidden' name='state' value="$!line.state" />
					<input type='hidden' name='new_size_id' value="$!line.newSize" />
					<input type='hidden' name='newZodiac_1' value="$!line.newZodiac" />
				</td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
</form>
<div id="selectNewSizeDiv" style="display:none;">
	<select id="selectNewSize" name="selectNewSize" style="width:180px;">
		$StringUtil.emptyOption()
	</select>
</div>
<script>
//显示组织选择窗口
function showSelectOrgWin(){
	selectOrg(function(idArr, nameArr){
			jQuery("#orgId").val(idArr.join(","));
			jQuery("#orgName").val(nameArr.join(","));
		}, null, null, false, jQuery("#orgId").val());//, "getExecuteOrgTree");
}

function setValues(){
	var len = $("tbl").rows.length;
	DictDwr.getDictsForSlt("bornimg", function(data){
		for(var j=0;j<len;j++){
    		addOptions2("newZodiac", j, data, null, null, true, true, $n("newZodiac_1")[j].value);
    	}
	});
	setLabelKind();
}

function setLabelKind(){
	var len = $("tbl").rows.length;
	for(var i=0;i<len;i++){
		var isDblLabel = $n("isDblLabel")[i].value;
		setLabelKindValue(i, isDblLabel);
		$n("labelKind")[i].value = $n("labelKind_1")[i].value;
	}
}
jQuery(function(){
	altRowCSS("tbl");
	jQuery("#deleteIds").val("");
	setEnterKey("ornaCode_in", loadMaterByOrnaCode);
	setEnterKey("barCode_in", loadMaterByOrnaBarCode);
	setValues();
	jQuery("#btnSave").click(saveForm);
	jQuery("#btnClose").click(closeBill);
	jQuery("#btnToList").click(function(){
		window.location = "labelTagApplyPrint.vm";
	});
	checkReview();
	changeSeq("tbl");
})

</script>