#set($jsfiles = ["$StringUtil.getContextPath()/js/calc/accessory.js", "$StringUtil.getContextPath()/dwr/interface/AccessoryDwr.js"])

<form id='frm' action="" method="post">
	<input type="hidden" id="id" value="$!{form.a.id}"/>
    <table class="title">
    	<tr><td>辅料系数</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' class='btn' id='btnSave' $RightUtil.able($session, '08060402','1')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>辅料</td>	<td class='body2'>
				<select id='accessoryId' name='accessoryId' dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()</td>
				<!--<input type='text' id='vendorId' dataType="Require" msg="不能为空" value="$!{form.sv.vendorId}"></td>-->
			<td class='body1'>系数</td><td class='body2'><input type='text' id='coefficient' dataType="Require" msg="不能为空" value="$!{form.a.coefficient}">$StringUtil.star()</td>
		</tr>
    </table>
</form>

<script>
jQuery(function(){
	jQuery("#btnSave").click(function(){
    	saveAccessory();
	});
	jQuery("#btnToList").click(function(){
		window.location = "accessory.vm";
	});
	
	DictDwr.getDictsForSlt("accessories", function(data){
		addOptions("accessoryId", data);
		if(!"$!form.c.id"){
			selectOption("accessoryId", "$!{form.a.accessoryId}");
		}
	});
});


</script>