#set($jsfiles = ["$StringUtil.getContextPath()/js/calc/coefficient.js", "$StringUtil.getContextPath()/dwr/interface/CoefficientDwr.js"])

<form id='frm' action="" method="post">
	<input type="hidden" id="id" value="$!{form.c.id}"/>
    <table class="title">
    	<tr><td>总系数</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' class='btn' id='btnSave' $RightUtil.able($session, '08060302','1')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>大类</td>
			<td class='body2'>
				<select id="itemClassId" dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
				<!--<input type='text' id='vendorId' dataType="Require" msg="不能为空" value="$!{form.sv.vendorId}"></td>-->
			</td>
			<td class='body1'>材质</td>	
			<td class='body2'>
				<!--<input type='hidden' id='styleId' value="1">class='target' ondblclick="showSelectStyleWin()"-->
				<select id="qualityId" dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
			</td>
		</tr>
    	<tr>
			<td class='body1'>启始重量</td><td class='body2'><input type='text' id='startWeight' dataType="Require" msg="不能为空" value="$!StringUtil.formatDouble($!{form.c.startWeight},2)">$StringUtil.star()</td>
			<td class='body1'>截止重量</td><td class='body2'><input type='text' id='endWeight' dataType="Require" msg="不能为空" value="$!StringUtil.formatDouble($!{form.c.endWeight},2)">$StringUtil.star()</td>
		</tr>
		<tr>
			<td class='body1'>档级</td><td class='body2'>
				<select id="styleStandard">$StringUtil.emptyOption()</select>
			</td>
			<td class='body1'>系数</td><td class='body2'><input type='text' id='coefficient' dataType="Require" msg="不能为空" value="$!StringUtil.formatDouble($!{form.c.coefficient},2)">$StringUtil.star()</td>
		</tr>
    </table>
</form>

<script>
function setPageContent(){
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true);
	});
	BdCommonDwr.getAllQualityForSlt(function(data){
		addOptions("qualityId", data, null, null, true, true);
	});
	DictDwr.getDictsForSlt("hlevel", function(data){
		addOptions("styleStandard", data, null, null, true, true);
	});
}
function setValues(){
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true,"$!{form.c.itemClassId}");
	});
	BdCommonDwr.getAllQualityForSlt(function(data){
		addOptions("qualityId", data, null, null, true, true,"$!{form.c.qualityId}");
	});
	DictDwr.getDictsForSlt("hlevel", function(data){
		addOptions("styleStandard", data, null, null, true, true,"$!{form.c.styleStandard}");
	});
}
jQuery(function(){
	jQuery("#btnSave").click(function(){
    	saveCoefficient();
	});
	jQuery("#btnToList").click(function(){
		window.location = "coefficient.vm";
	});
	if("$!form.c.id"){
		setValues();
	}else{
		setPageContent();
	}
});


</script>