#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/PriceHeadDwr.js"])
<form id="myForm" method="post">
    <table class="title">
    	<tr><td>修改定做单</td></tr>
    </table>
    <table class='content'>
    	<tr>
    		<td class="body1">饰品编号</td>
    		<td class='body2'><input type='text' id='wlCode' name='wlCode' onchange="changeWlCode()" /></td>
    		<td class="body1">定做编号</td>
    		<td class='body2'><input type='text' id='dzCode' name='dzCode' /></td>
    	</tr>
    </table>
</form>
<script>
//供外部调用的取值方法
function getValues(){
	var wlCode = jQuery("#wlCode").val();
	var dzCode = jQuery("#dzCode").val();
	
	if(dzCode==""||wlCode==""){
		alert("请输入");
		return null;
	}
	
	var vend = {
		wlCode:wlCode,
        dzCode:dzCode
	};
	return vend;
}
function changeWlCode(){
	var wlCode = jQuery("#wlCode").val();
	if(wlCode=="")
		return;
	PriceHeadDwr.getMaterInivCountByWlCode(wlCode, function(count){
		if(count=="0"){
			alert("没有找到该饰品");
			jQuery("#wlCode").val("");
		}
	});
}
jQuery(function(){
});
</script>