#set($cssfiles = ["$!StringUtil.getContextPath()/css/mclon/tabpanel.css"])
#set($jsfiles = [
"$StringUtil.getContextPath()/js/calc/priceAcsLine.js?t=201202071128.js",
"$StringUtil.getContextPath()/js/calc/priceSbraLine.js?t=201202071128.js",
"$StringUtil.getContextPath()/js/calc/priceStoneLine.js?t=201207301128.js",
"$StringUtil.getContextPath()/js/calc/priceHead.js?t=201207301128.js",
"$StringUtil.getContextPath()/dwr/interface/SbraTypeDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/SbraPriceDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/SbraCoefficientDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/StoneCoefficientDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/script/mclon/ZeroClipboard/ZeroClipboard.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/CoefficientDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/CoefficientWWDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/StonePriceDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/BasicPriceOneDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/BasicPriceTwoDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/BasicPriceJadeDwr.js?t=201202071128.js",
"$StringUtil.getContextPath()/dwr/interface/PriceHeadDwr.js?t=201202071128.js"])

<form id='frm' action="" method="post">
	<input type="hidden" id="id" value="$!form.head.id"/>
	<input type="hidden" id="caclType" value="2"/>
	<input type="hidden" id="no" value="$!form.head.no"/>
	<input type="hidden" id="updateDate" value="$!form.head.updateDate"/>
	<input type="hidden" id="createUserId" value="$!form.head.createUserId"/>
	<input type="hidden" id="createDate" value="$!form.head.createDate"/>
	<input type="hidden" id='orgId' value="$!form.head.orgId">
	<input type='hidden' id='handoverNo_h' value="$!form.head.handoverNo"/>
	<input type='hidden' id='isConsignment' value="$!form.iniv.isConsignment"/>
    <table class="title">
    	<tr><td>$!DictUtil.getValue('cacltype', $!form.caclType)</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='重置' class='btn' id='btnSave' onclick='result()'>
				<input type='button' value='保存' class='btn' id='btnSave1' onclick='save(1)' $RightUtil.able($session, '08060202','1')>
				<input type='button' value='保存复制' class='btn' id='btnSave2' onclick='save(2)' $RightUtil.able($session, '08060202','2')>
				<input type='button' value='保存复制并打印' class='btn' id='btnSave3' $RightUtil.able($session, '08060202','7')>
				<input type='button' value='增主石行' class='btn' id='btnAddRow1' onclick='addStoneRow()' $RightUtil.able($session, '08060202','3')>
				<input type='button' value='增托架行' class='btn' id='btnAddRow2' onclick='addSbraRow()' $RightUtil.able($session, '08060202','4')>
				<input type='button' value='增配件行' class='btn' id='btnAddRow3' onclick='addAcsRow()' $RightUtil.able($session, '08060202','5')>
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08060202','6')>
				<input type='button' value='返回列表' class='btn' id='btnToList' onclick='returnList()'>
                <font color='red'><label id="showMasage"></label></font>
		</td></tr>
    </table>
	<div id="tab">
    	<h3 class="up" onclick="go_to(1)">$!DictUtil.getValue('cacltype', $!form.caclType)</h3>
    	<div class="block">
    		<table class='content'>
    			<tr>
    				<td class='body1'>创建人</td>
    				<td class='body2'>
						<input type="hidden" id='createUserId' readonly value="$!form.head.createUserId">
						<input type='text' id='createUserName' readonly value="$!BdCommon.getUserName($!form.head.createUserId)">
					</td>
					<td class='body1'>创建时间</td>
    				<td class='body2'>
						<input type='text' id='createDate' readonly value="$!form.head.createDate" />
					</td>
    				<td class='body1'>饰品编码</td>
    				<td class='body2'>
						<input type='text' id='wlCode' readonly value="$!form.head.wlCode" />
					</td>
    				<td class='body1'>条码</td>
    				<td class='body2'>
						<input type='text' id='ornaBarCode' readonly value="$!form.head.ornaBarCode"/>
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>核价组织</td>
    				<td class='body2'>
						<input type='text' id='orgName_h' readonly value="$!BdCommon.getOrgName($!form.head.orgId)">
					</td>
					<td class='body1'>交接单</td>
    				<td class='body2'>
						<input type='text' id='handoverName' dataType="Require" msg="不能为空" value="$!form.head.handoverName" readonly>&nbsp;<IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择交接单" onclick="showHandover()"/>$StringUtil.star()
					</td>
    				<td class='body1'>供应商</td>
    				<td class='body2'>
						<input type="hidden" id='vender_h' value="$!form.head.vender">
						<input type='text' id='venderName_h' readonly/>
					</td>
					<td class='body1'>单据状态</td>
    				<td class='body2'>
						<input type="hidden" id='state' readonly value="$!form.head.state">
						<input type='text' id='stateName' readonly value="$!DictUtil.getValue('status', $!form.head.state)"" />
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>大类</td>
    				<td class='body2'>
						<select id="itemClassId" dataType="Require" msg="不能为空" onchange="changeItemClassId()" #if($!form.head.id!="") disabled #end>$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>小类</td>
    				<td class='body2'>
						<select id="ornaClassId" dataType="Require" msg="不能为空" onchange="changeOrnaClassId()" #if($!form.head.id!="") disabled #end>$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    				<td class='body1'>材质</td>
    				<td class='body2'>
						<select id="qualityId" onchange="changeQuality()" dataType="Require" msg="不能为空" >$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
					<td class='body1'>分析范围</td>
    				<td class='body2'>
						<input type='hidden' id='analysisArangeId_h' readonly value="$!form.head.analysisArangeId"/>
						<input type='text' id='analysisArangeName_h' readonly />
					</td>
					
    			</tr>
								
				<tr>
    				<td class='body1'>饰品总重</td>
    				<td class='body2'>
						<input type='text' id='allWeight_h' value="$!form.head.allWeight"  onblur="loadCoefficient()" dataType='Double' msg='不能为空,且为数字类型'>$StringUtil.star()
					</td>
					<td class='body1'>配石内容</td>
    				<td class='body2'>
						<input type='text' id='secondDsc_h' value="$!form.head.secondDsc"/>
					</td>
    				<td class='body1'>托架颜色</td>
    				<td class='body2'>
						<select id="sbraColorId_h" dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    				<td class='body1'>镶嵌证书</td>
    				<td class='body2'>
						<input type='text' id='identId' value="$!form.head.identId" onblur="changeIdentId()" />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>总税率</td>
    				<td class='body2'>
						<input type='text' id='taxCoefficient_h' onblur="blurAllWidthoutTaxPrice_h()" value="$!form.head.taxCoefficient" readonly dataType='Double' msg='不能为空,且为数字类型' />$StringUtil.star()
					</td>
    				<td class='body1'>总不含税成本</td>
    				<td class='body2'>
						<input type='text' id='allWidthoutTaxPrice_h' onblur="blurAllWidthoutTaxPrice_h()" value="$!form.head.allWidthoutTaxPrice" readonly dataType='Double' msg='不能为空,且为数字类型' />$StringUtil.star()
					</td>
					<td class='body1'>总含税成本</td>
    				<td class='body2'>
						<input type='text' id='allWidthTaxPrice_h' onblur="blurAllWidthTaxPrice_h()" value="$!form.head.allWidthTaxPrice" readonly dataType='Double' msg='不能为空,且为数字类型' />$StringUtil.star()
					</td>
					<td class='body1'>业务类型</td>
    				<td class='body2'>
						<select id="inivFlag" disabled>$StringUtil.emptyOption()</select>
					</td>		
    			</tr>
				
				<tr>
    				<td class='body1'>主石粒数</td>
    				<td class='body2'>
						<input type='text' id='mainNumber_h' onblur="blutMainNumber()" msg='不能为空,且为整数类型' value="$!form.head.mainNumber" readonly />
					</td>
					<td class='body1'>主石重量</td>
    				<td class='body2'>
						<input type='text' id='mainWeight_h' onblur="blutMainNumber()" msg='不能为空,且为整数类型' value="$!form.head.mainWeight" readonly />
					</td>
    				<td class='body1'>主石不含税价</td>
    				<td class='body2'>
						<input type='text' id='mainWidthoutTaxPrice_h' value="$!form.head.mainWidthoutTaxPrice" readonly />
					</td>
					<td class='body1'>主石含税价</td>
    				<td class='body2'>
						<input type='text' id='mainWidthTaxPrice_h' value="$!form.head.mainWidthTaxPrice" readonly  />
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>配石粒数</td>
    				<td class='body2'>
						<input type='text' id='secondNumber_h' msg='不能为空,且为数字类型' onblur="blutMainNumber()" value="$!form.head.secondNumber" readonly />
					</td>
					<td class='body1'>配石重量</td>
    				<td class='body2'>
						<input type='text' id='secondWeight_h' msg='不能为空,且为数字类型'  onblur="checkNum('secondWeight_h')" value="$!form.head.secondWeight" readonly />
					</td>
    				<td class='body1'>配石不含税价</td>
    				<td class='body2'>
						<input type='text' id='secondWidthoutTaxPrice_h' value="$!form.head.secondWidthoutTaxPrice" readonly />
					</td>
					<td class='body1'>配石含税价</td>
    				<td class='body2'>
						<input type='text' id='secondWidthTaxPrice_h' value="$!form.head.secondWidthTaxPrice" readonly  />
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>总粒数</td>
    				<td class='body2'>
						<input type='text' id='allNumber_h' readonly  value="$!form.head.allNumber"/>
					</td>
					<td class='body1'>平均分数</td>
    				<td class='body2'>
						<input type='text' id='avgWeight' readonly value="$!form.head.avgWeight"/>
					</td>
    				<td class='body1'>配件不含税价</td>
    				<td class='body2'>
						<input type='text' id='acsWidthoutTaxPrice_h' readonly value="$!form.head.acsWidthoutTaxPrice" />
					</td>
					<td class='body1'>配件含税价</td>
    				<td class='body2'>
						<input type='text' id='acsWidthTaxPrice_h' readonly value="$!form.head.acsWidthTaxPrice" />
					</td>
    			</tr>
				
				<tr>
					<td class='body1'>拉/喷沙工费</td>
    				<td class='body2'>
						<input type='text' id='lpFee_h' onblur="changeLpFee()" value="$!form.head.lpFee" />
					</td>
					<td class='body1'>工费</td>
    				<td class='body2'>
						<input type='text' id='feeWidthoutTaxUnitPrice_h' value="$!form.head.feeWidthoutTaxUnitPrice" onblur="changeLpFee()" dataType="Require" msg="不能为空" />$StringUtil.star()
					</td>
    				<td class='body1'>工费计算方式</td>
    				<td class='body2'>
						<select id='factoryFeeType_h' onchange="changeLpFee()" dataType="Require" msg="不能为空">
							<option #if("$!form.head.factoryFeeType"=="") selected #end value="">--请选择--</option>
							<option #if("$!form.head.factoryFeeType"=="1") selected  #end value="1">件</option>
							<option #if("$!form.head.factoryFeeType"=="2") selected  #end value="2">克</option>
						</select>$StringUtil.star()
					</td>
					<td class='body1'>工费不含税价</td>
    				<td class='body2'>
						<input type='text' id='feeWidthoutTaxPrice_h' readonly value="$!form.head.feeWidthoutTaxPrice"  />
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>工费含税价</td>
    				<td class='body2'>
						<input type='text' id='feeWidthTaxPrice_h' readonly value="$!form.head.feeWidthTaxPrice" />
					</td>
					<td class='body1'>托架重量</td>
    				<td class='body2'>
						<input type='text' id='sbraWeight_h' readonly value="$!form.head.sbraWeight" />
					</td>
    				<td class='body1'>托架不含税价</td>
    				<td class='body2'>
						<input type='text' id='sbraWidthoutTaxPrice_h' readonly value="$!form.head.sbraWidthoutTaxPrice" />
					</td>
					<td class='body1'>托架含税价</td>
    				<td class='body2'>
						<input type='text' id='sbraWidthTaxPrice_h' readonly value="$!form.head.sbraWidthTaxPrice" />
					</td>
    			</tr>
					<input type='hidden' id='accMarketPrice_h'  value="0" />
					<input type='hidden' id='accPriceWithCoefficient_h'  value="0" />
					<input type='hidden' id='accWithoutTax_h'   value="0"/>
					<input type='hidden' id='accWithTax_h'  value="0" />
    			
				<tr>
    				<td class='body1'>主石市场价</td>
    				<td class='body2'>
						<input type='text' id='mainMarketPrice_h' readonly value="$!form.head.mainMarketPrice" />
					</td>
					<td class='body1'>主石含系数后价</td>
    				<td class='body2'>
						<input type='text' id='mainPriceWithCoefficient_h' readonly value="$!form.head.mainPriceWithCoefficient"/>
					</td>
    				<td class='body1'>配石市场价</td>
    				<td class='body2'>
						<input type='text' id='secondMarketPrice_h' readonly value="$!form.head.secondMarketPrice"/>
					</td>
					<td class='body1'>配石含系数后价</td>
    				<td class='body2'>
						<input type='text' id='secondPriceWithCoefficient_h' readonly  value="$!form.head.secondPriceWithCoefficient"/>
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>托架市场价</td>
    				<td class='body2'>
						<input type='text' id='sbraMarketPrice_h' readonly value="$!form.head.sbraMarketPrice"/>
					</td>
					<td class='body1'>托架含系数后价</td>
    				<td class='body2'>
						<input type='text' id='sbraPriceWithCoefficient_h' readonly value="$!form.head.sbraPriceWithCoefficient"/>
					</td>
    				<td class='body1'>配件市场价</td>
    				<td class='body2'>
						<input type='text' id='acsMarketPrice_h' readonly value="$!form.head.acsMarketPrice"/>
					</td>
					<td class='body1'>配件含系数后价</td>
    				<td class='body2'>
						<input type='text' id='acsPriceWithCoefficient_h' readonly  value="$!form.head.acsPriceWithCoefficient"/>
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>工费市场价</td>
    				<td class='body2'>
						<input type='text' id='feeMarketPrice_h' readonly value="$!form.head.feeMarketPrice"/>
					</td>
					<td class='body1'>工费含系数后价</td>
    				<td class='body2'>
						<input type='text' id='feeWithCoefficient_h' readonly value="$!form.head.feeWithCoefficient"/>
					</td>
    				<td class='body1'>总市场价</td>
    				<td class='body2'>
						<input type='text' id='allMarketPrice_h' readonly value="$!form.head.allMarketPrice"/>
					</td>
					<td class='body1'>总含系数后价</td>
    				<td class='body2'>
						<input type='text' id='allmoneyWithCoefficient_h' readonly  value="$!form.head.allmoneyWithCoefficient"/>
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>工费系数</td>
    				<td class='body2'>
						<input type='text' id='otherCoefficient_h' readonly value="$!form.head.otherCoefficient"/>
					</td>
    				<td class='body1'>总系数</td>
    				<td class='body2'>
						<input type='text' id='ncoefficient_h' dataType="Require" msg="不能为空" readonly value="$!form.head.ncoefficient"/>$StringUtil.star()
					</td>
					<td class='body1'>基础价</td>
    				<td class='body2' colspan="3">
						<table class="control">
                            <tr>
								<td><input type='text' id='basicPrice_h' onblur="checkNum('basicPrice_h')" readonly dataType='Double' msg='不能为空,且为数字类型' value="$!form.head.basicPrice"/>$StringUtil.star()</td>
								<td><input type='checkbox' id='updateBasicPrice' onchange="changeUpdatePrice()"/><input type='hidden' id='basicPrice_value' value="$!form.head.basicPrice"/></td>
							</tr>
						</table>
					</td>
    			</tr>
				
				<tr>
    				<td class='body1'>镶嵌净度</td>
    				<td class='body2'>
						<select id='cleanIdxq' ></select>
					</td>
					<td class='body1'>镶嵌色级</td>
    				<td class='body2'>
						<select id='colorGreadIdxq' ></select>
					</td>
    				<td class='body1'>是否双标签</td>
    				<td class='body2'>
						<input type='checkbox' id='isDoubleLabel_h' disabled value="$!form.head.isDoubleLabel"/>
					</td>
					<td class='body1'>标签名称</td>
    				<td class='body2'>
						<select id="labelId_h" onchange="changeLabel()" dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
					</td>
    			</tr>
                <tr>
    				<td class='body1'>工费税率</td>
    				<td class='body2'>
						<input type='text' id='feeTax_h' readonly value="1.17" />
					</td>
    				<td class='body1'>实际以旧换新费用</td>
    				<td class='body2'>
						<input type='text' id='actTradeinFee' readonly value="$!form.head.actTradeinFee" />
					</td>
    				<td class='body1'>以旧换新费用</td>
    				<td class='body2'>
						<input type='text' id='tradeinFee' readonly value="$!form.head.tradeinFee" />
					</td>
					<td class='body1'>原基础价</td>
    				<td class='body2'>
						<input type='text' id='basicPriceOld' readonly value="$!form.head.basicPriceOld"/>
					</td>
				</tr>
    		</table>
    	</div>
    	<h3 onclick="go_to(2)">主配石行表</h3>
    	<div class="scroll2" id="stonediv">
			<input type="hidden" id="deleteStoneLineIds" value=""/>
			<table class="list" style="width:220%;" id="lineStone">
        		<thead>
        			<tr>
						<th >计费方式</th>
						<th >是否自有料</th>
						<th >M裸石编码</th>
						<th >工厂编码</th>
						<th >石头类型</th>
						<th >形状</th>
						<th >颜色</th>
						<th >净度</th>
						<th >色级</th>
						<th >切工</th>
						<th >粒数</th>
						<th >石头重量</th>
						<th >不含税单价</th>
						<th >不含税总金额</th>
						<th >税率</th>
						<th >含税总金额</th>
						<th >市场价单价</th>
						<th >市场价总金额</th>
						<th >石头系数</th>
						<th >含系数后价</th>
        				<th >操作</th>
        			</tr>
                </thead>
        		<tbody id='tb1'>
        	#if("" != "$!form.head.id")
        		#foreach($item in $form.stoneLine)
					<tr>
            			<!--计费方式-->
                    	<input type='hidden' name='stoneId' value="$!item.id" />
                    			<td><select name='feeType' onchange='loadStoneDwr(this,2)' value="$!item.feeType" #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2") && $!item.privateType=="1") disabled #end>
								<option value='1' #if($!item.feeType=="1") selected #end>件</option>
                    			<option value='2' #if($!item.feeType=="2") selected #end>克拉</option></select></td>
                    	<!--是否自有料-->
                    	<td><select name='stonePrivateType' onchange='changeStoneM(this)' style='width:90px;' value="$!item.privateType">
							<option value='1' #if($!item.privateType=="1") selected #end>是</option>
                    		<option value='0' #if($!item.privateType=="0") selected #end>否</option></select></td>
    					<!--M裸石编码-->
                    	<td><input type='text' onchange='loadStoneDwr(this,1)' name='luodanCode' style='width:130px;' value="$!item.luodanCode" #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2") && $!item.privateType=="1") dataType='Require' msg='不能为空' #end #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2") && $!item.privateType=="0") disabled #end/></td>
                    	<!--工厂编码 -->
						<td><input type='text' name='factoryNuleCode' style='width:130px;' value="$!item.factoryNuleCode" #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2") && $!item.privateType=="0") dataType='Require' msg='不能为空' #end #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2") && $!item.privateType=="1") disabled #end/></td>
                    	<!--石头类型 -->
                    	<td><select name='stoneType' onchange='loadStoneDwr(this,2)' style='width:80px;'  #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Require' msg='不能为空' #end ></select></td>
                    	<!--形状-->
                    	<td><select name='dmShapeId' onchange='loadStoneDwr(this,2)' style='width:80px;' ></select></td>
                    	<!--颜色-->
                    	<td><select name='colorId' onchange='loadStoneDwr(this,2)' style='width:80px;'></select></td>
                    	<!--净度-->
                    	<td><select name='cleanId' onchange='loadStoneDwr(this,2)' style='width:80px;'></select></td>
                    	<!--色级-->
                    	<td><select name='colorGreadId' onchange='loadStoneDwr(this,2))' style='width:80px;'></select></td>
                    	<!--切工-->
                    	<td><select name='cutId' onchange='loadStoneDwr(this,2)' style='width:80px;'></select></td>
                    	<!--粒数-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Integer' msg='不能为空,必须整数' #end  name='stoneNums' onblur='loadStoneDwr(this,2)' style='width:80px;' value="$!item.stoneNums"/></td>
                    	<!--石头重量-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end  name='stoneWeight' onblur='loadStoneDwr(this,2)' style='width:70px;' value="$!item.stoneWeight"/></td>
                    	<!--不含税单价-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end  name='withotTaxPrice' onchange='loadStoneDwr(this,2)' #if($!item.privateType=="1") readonly #end style='width:90px;' value="$!item.withotTaxPrice"/></td>
                    	<!--不含税总金额-->
						<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='withoutTaxAllMoney' readonly style='width:110px;'  value="$!item.withoutTaxAllMoney"/></td>
                    	<!-- 税率 -->
						<td><input type='text' name='stoneTax' dataType='Double' readonly style='width:40px;' value='1' /></td>
                    	<!--含税总金额-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='withTaxAllMoney' readonly style='width:80px;' value="$!item.withTaxAllMoney" /></td>
                    	<!--市场价单价-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='marketPrice' readonly  style='width:80px;' value="$!item.marketPrice"/></td>
                    	<!--市场价总金额-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='marketAllMoney' readonly style='width:100px;' value="$!item.marketAllMoney"/></td>
                    	<!--石头系数-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='stoneCoefficient' readonly style='width:80px;' value="$!item.stoneCoefficient"/></td>
                    	<!--含系数后价-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='stone_priceWithCoefficient' readonly style='width:80px;' value="$!item.priceWithCoefficient"/></td>
                    	
                    	<td><input type='button' value='删除' style='width:60px;' onclick='beforeDeleteRow(this,"tb1",1)'>
							<input type="hidden" name="oldOrnaCode" value="$!item.luodanCode"/>
							<input type="hidden" name="oldStoneNum" value="$!item.stoneNums"/>
						</td>
                	</tr>
        		#end
        	#end
                </tbody>
        	</table>
    	</div>
    	<h3 onclick="go_to(3)">托架行表</h3>
    	<div class="scroll2" id="sbradiv">
			<input type="hidden" id="deleteSbraLineIds" value=""/>
			<table class="list" style="width:190%;">
        		<thead>
        			<tr>
						<th >金耗重 </th>
						<th >含耗重 </th>
						<th >损耗率 </th>
						<th >是否自有料 </th>
						<th >托架材质 </th>
						<th >托架重量 </th>
						<th >托架含税单价 </th>
						<!--<th >托架不含税金额 </th>-->
						<th >托架含税金额 </th>
						<th >托架市场价单价 </th>
						<th >托架市场总金额 </th>
						<th >托架系数 </th>
						<th >含系数后价 </th>
        				<th >操作</th>
        			</tr>
                </thead>
        		<tbody id='tb2'>
        	#if("" != "$!form.head.id")
        		#foreach($item in $form.sbraLine)
					<tr>
            			<!--金耗重-->
                    	<input type='hidden' name='sbraLineId' value="$!item.id"/>
						<input type='hidden' name='sbraWithoutTaxmoney' style='width:90px;' readonly value="$!item.sbraWithoutTaxmoney"/>
						<input type='hidden' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='sbra_qualityId' value='$!item.qualityId' />
                    				<td><input type='text' name='goldLostWeight' style='width:60px;' readonly value="$!item.goldLostWeight"/></td>
                    	<!--含耗重-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='goldAllweight' style='width:60px;' readonly value="$!item.goldAllweight"/></td>
                    	<!--损耗率-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Require' msg='不能为空' #end   name='goldLostPercent' style='width:60px;' onblur='countSbraLineData(this)' value="$!item.goldLostPercent"/></td>
                    	<!--是否自有料-->
                    	<td><select name='sbraPrivateType' style='width:90px;' value="$!item.sbraPrivateType">
							<option value='1' #if($!item.privateType=="0") selected #end>是</option>
                    		<option value='0' #if($!item.privateType=="0") selected #end>否</option></select></td>
                    	<!--托架材质-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Require' msg='不能为空' #end name='sbra_qualityName' style='width:100px;' value='$!BdCommon.getQualityName("$!item.qualityId")' readonly/></td>
                    	<!--托架重量-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='sbraWeight' style='width:70px;' onblur='countSbraLineData(this)' value="$!item.sbraWeight"/></td>
                    	<!--托架不含税单价-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='sbraWithoutTaxPrice' style='width:90px;' onblur='countSbraLineData(this)' value="$!item.sbraWithoutTaxPrice"/></td>
                    	<!--托架不含税金额-->
                    	<!--托架含税金额-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='sbraWithTaxMoney' style='width:90px;' readonly value="$!item.sbraWithTaxMoney"/></td>
                    	<!--托架市场价单价-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='sbraMarketPrice' style='width:70px;' readonly value="$!item.sbraMarketPrice"/></td>
                    	<!--托架市场价总金额-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='sbraMarketAllMoney' style='width:90px;' readonly value="$!item.sbraMarketAllMoney"/></td>
                    	<!--托架系数-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='sbraCoefficient' style='width:60px;' readonly value="$!item.sbraCoefficient"/></td>
                    	<!--含系数后价-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='sbra_priceWithCoefficient' style='width:70px;' readonly value="$!item.priceWithCoefficient"/></td>
                    	<td><input type='button' value='删除' style='width:60px;' onclick='beforeDeleteRow(this,"tb2",2)'></td>
					</tr>
        		#end
        	#end
                </tbody>
        	</table>
    	</div>
    	<h3 onclick="go_to(4)">配件行表</h3>
    	<div class="scroll2" id="acsdiv">
			<input type="hidden" id="deleteAcsLineIds" value=""/>
			<table class="list" style="width:135%;">
        		<thead>
        			<tr>
						<th >成色</th>
						<th >是否自有料</th>
                        <th >M配件编码</th>
        				<th >配件类型</th>
						<th >重量</th>
						<th >数量</th>
						<th >配件不含税单价</th>
						<th >配件不含税金额</th>
						<th >税率</th>
						<th >配件含税金额</th>
						<th >其它系数</th>
						<th >含系数价</th>
        				<th >操作</th>
        			</tr>
                </thead>
        		<tbody id='tb3'>
        	#if("" != "$!form.head.id")
        		#foreach($item in $form.acsLine)
					<tr>
            			<!--成色 -->
                    	<input type='hidden' name='acsLineId' value="$!item.id"/> 
                    	<td><select name='acs_qualityId' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Require' msg='不能为空' #end onchange='' style='width:100px;' ></select></td>
                    	<!--是否自有料-->
                    	<td><select name='acsPprivateType' onchange='changeAcsM(this)' style='width:70px;' value="$!item.acsPprivateType">
								<option value='1'  #if($!item.privateType=="0") selected #end>是</option>
								<option value='0'  #if($!item.privateType=="0") selected #end>否</option></select></td>
                    	<!--M配件编码-->
                    	<td><input type='text' name='acsCode' style='width:110px;' value="$!item.acsCode"/></td>
                    	<!--配件类型-->
                    	<td><select name='acsType' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Require' msg='不能为空' #end onchange='loadQuality(this)' style='width:100px;' ></select></td>
                    	<!--重量-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end  name='acsWeight' style='width:50px;' value="$!item.acsWeight"/></td>
                    	<!--数量-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='acsQuantity' style='width:50px;' value='$!item.acsQuantity' onblur='countAcsLineData(this)' value="$!item.acsQuantity"/></td>
                    	<!--配件不含税单价-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='acsWithoutTaxPrice' style='width:80px;' onblur='countAcsLineData(this)' value="$!item.acsWithoutTaxPrice"/></td>
                    	<!--配件不含税金额-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='acsWithoutTaxMoney' style='width:80px;' readonly value="$!item.acsWithoutTaxMoney"/></td>
                    	<!--税率-->
                    	<td><input type='text' name='acsTax' readonly style='width:40px;' value='1'/></td>
                    	<!--配件含税金额-->
                    	<td><input type='hidden' name='acsMarketAllMoney' style='width:80px;' readonly value="$!item.acsMarketAllMoney"/>
							<input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='acsWithTaxMoney' style='width:80px;' readonly value="$!item.acsWithTaxMoney"/></td>
                    	<!--其它系数-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='otherCoefficient' style='width:70px;' readonly value="$!item.otherCoefficient"/></td>
                    	<!--系数后价-->
                    	<td><input type='text' #if(($!form.head.inivFlag=="1"||$!form.head.inivFlag=="2")) dataType='Double' msg='不能为空,且为数字类型' #end name='acs_priceWithCoefficient' style='width:70px;' readonly value="$!item.priceWithCoefficient"/></td>
                    	<td><input type='button' value='删除' style='width:60px;' onclick='beforeDeleteRow(this,"tb3",3)'></td>
					</tr>
				#end
        	#end
                </tbody>
        	</table>
    	</div>
    </div>
</form>
<script>
jQuery(function(){
	altRowCSS('tbl');//为列表添加换行样式
	jQuery("#btnSearch").click(function(){
		jQuery("#frm").submit();
	});
	getInivCalcCode();
	initLabelPrint("btnSave3", function(){return save('3');});
	
	if("$!form.head.id")
		loadPageValue();
	else{
		setPageValue();
		jQuery("#createUserName").val("$StringUtil.getUserName($session)");
		jQuery("#orgName_h").val("$StringUtil.getOrgName($session)");
	}
});
function loadPageValue(){
	BdCommonDwr.getCustById("$!form.head.vender",function(venderName){//交接单下的供应商
		if(venderName!=null)
			jQuery("#venderName_h").val(venderName);
	});
	disableDoType("$!form.head.inivFlag");
	//业务类型
	DictDwr.getDictsForSlt("purbiztype", function(data){
		addOptions("inivFlag", data,null, null, true, true,"$!form.head.inivFlag");
	});
	PriceHeadDwr.getHandoerItemClassByHeadId("$!form.head.handoverNo","2","","1",function(data){//交接单下的大类
		addOptions("itemClassId", data, null, null, true, true,"$!form.head.itemClassId");
	});
	BdCommonDwr.getOrnaClassByItemClassIdForSlt("$!form.head.itemClassId", function(data){//大类下的小类
		addOptions("ornaClassId", data, null, null, true, true,"$!form.head.ornaClassId");
	});
	//所有材质
	BdCommonDwr.getAllQualityForSlt(function(data){
		addOptions("qualityId", data, null, null, true, true,"$!form.head.qualityId");
	});
	BdCommonDwr.getBracketColorByQualityId("$!form.head.qualityId",function(data){//托架材质下托架颜色
		addOptions("sbraColorId_h", data, null, null, true, true,"$!form.head.sbraColorId");
	});
	BdCommonDwr.getNewLabelTypeByCalc("$!form.head.itemClassId","$!form.head.ornaClassId","612","$!form.head.qualityId", "0",function(data){
		addOptions("labelId_h", data, null, null, true, true,"$!form.head.labelId"+"_"+"$!form.head.isDoubleLabel");
		if(data==""||data==null||jQuery("#labelId_h").val()==""){
			jQuery("#labelId_h").val("$!form.head.labelId"+"_"+"$!form.head.isDoubleLabel");
			jQuery("#labelId_h option:selected").text("$!form.head.labelId");
		}
	});
	BdCommonDwr.getAnalysisName("$!form.head.analysisArangeId", function(a){//分析范围
		jQuery("#analysisArangeName_h").val(a);
	});
	jQuery("#isDoubleLabel_h")[0].checked= "$!form.head.isDoubleLabel"=="1"?true:false;
	jQuery("#updateBasicPrice")[0].checked= "$!form.head.updateBasicPrice"=="1"?true:false;
	changeUpdatePrice();
	
	//净度
	DictDwr.getDictsForSlt("diaclean", function(data){
		addOptions("cleanIdxq", data, null, null, true, true,"$!form.head.cleanIdxq");
	});
	//色级
	DictDwr.getDictsForSlt("diacolorgrade", function(data){
		addOptions("colorGreadIdxq", data, null, null, true, true,"$!form.head.colorGreadIdxq");
	});
 	//加载行表
	dwr.engine.setAsync(false);//设置同步
	#foreach($item in $form.stoneLine)
		//形状
    	DictDwr.getDictsForSlt("diashape", function(data){
    		addOptions2("dmShapeId", ${velocityCounter}-1, data, null, null, true, true,"$!item.dmShapeId");
    	});
    	//颜色
    	DictDwr.getDictsForSlt("diacolor", function(data){
    		addOptions2("colorId", ${velocityCounter}-1, data, null, null, true, true,"$!item.colorId");
    	});
    	//净度
    	DictDwr.getDictsForSlt("diaclean", function(data){
    		addOptions2("cleanId", ${velocityCounter}-1, data, null, null, true, true,"$!item.cleanId");
    	});
    	//色级
    	DictDwr.getDictsForSlt("diacolorgrade", function(data){
    		addOptions2("colorGreadId", ${velocityCounter}-1, data, null, null, true, true,"$!item.colorGreadId");
    	});
    	//切工
    	DictDwr.getDictsForSlt("diacut", function(data){
    		addOptions2("cutId", ${velocityCounter}-1, data, null, null, true, true,"$!item.cutId");
    	});
    	//石头类型
    	DictDwr.getDictsForSlt("stonetype", function(data){
    		addOptions2("stoneType", ${velocityCounter}-1, data, null, null, true, true,"$!item.stoneType");
    	});
	#end
	
	#foreach($item in $form.acsLine)
    	SbraTypeDwr.getSbraTypeHeadList("2",function(data){//加载配件类型
    		addOptions2("acsType", ${velocityCounter}-1, data, null, null, true, true, "$!item.acsType"+"_"+"$!item.otherCoefficient");
			
        	SbraTypeDwr.getSbraTypeLineSelectList("$!item.acsType",function(data){//加载成色
        		addOptions2("acs_qualityId", ${velocityCounter}-1, data, null, null, true, true, "$!item.qualityId");
        	});
    	});
    #end
	
	dwr.engine.setAsync(true);//取消同步
}
function returnList(){
	window.location = "priceHead.vm";
}
function result(){
	window.location.reload();
}
</script>