#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/PriceHeadDwr.js",
"$StringUtil.getContextPath()/script/mclon/calendar/calendar.js",
"$StringUtil.getContextPath()/script/mclon/ZeroClipboard/ZeroClipboard.js"])
<form id="myForm" method="post" action="priceHead.vm">
	<input type='hidden' id='user_action' name='user_action' value=''/>
	<table class="title">
		<tr>
			<td>
				核价单#if($!form.message)[<font color='blue'>$!form.message</font>]#else[<font color='red'>$!form.message</font>]#end
            </td>
        </tr>
    </table>
	<div id="queryDiv">
        <table class="control">
        	<tr>
        		<td>
        			<input type='button' value='确定' id='btnQueryOk'>
        			<input type='button' value='重置' id='btnQueryReset'>
        			<input type='button' value='取消' id='btnQueryCancel'>
        		</td>
        	</tr>
        </table>
        <table class='content'>
        	<tr>
        		<td class="body1">饰品编号</td>
        		<td class='body2'><input type='text' id='wlCode' name='wlCode' value="$!{form.condition.wlCode}"/></td>
        		<td class="body1">核价类型</td>
        		<td class='body2'>
					<select id="caclType" name="caclType">
						<option value="">--请选择--</option>
						<option value="1">素金核价单</option>
						<option value="2">钻石核价单</option>
						<option value="3">其它珠宝核价单</option>
						<option value="4">特殊核价单</option>
                    </select>
				</td>
        	</tr>
			<tr>
        		<td class="body1">交接编号</td>
        		<td class='body2'><input type='text' id='handoverNo' name='handoverNo' value="$!{form.condition.handoverNo}"/></td>
        		<td class="body1">人员</td>
        		<td class='body2'>
    				<input type='hidden' id="orgId" name='orgId' value="$StringUtil.getOrgId($session)">
					<input type='hidden' id='createId' name="createId" >
					<input type='text' id='createName' readonly class="target" ondblclick="showSelectUserWin()" >
				</td>
        	</tr>
			<tr>
        		<td class="body1">大类</td>
        		<td class='body2'>
					<select id="itemClassId" name="itemClassId" onchange="loadOrna()"></select>
				</td>
        		<td class="body1">小类</td>
        		<td class='body2'>
					<select id="ornaClassId" name="ornaClassId"></select>
                </td>
        	</tr>
			<tr>
    			<td class="body1">供应商</td>
        		<td class='body2'>
    				<select id="verdorName" name='verdorName'></select>
                </td>
				<td class="body1">核价编号</td>
        		<td class='body2'>
					<input type='text' id='calcpriceNo' name='calcpriceNo' value="$!{form.condition.calcpriceNo}"/>
				</td>
        	</tr>
			<tr>
        		<td class="body1">创建启始时间</td>
        		<td class='body2'><input type='text' id='beginTime' name='beginTime' value="$!{form.condition.beginTime}"/></td>
    			<td class="body1">创建结束时间</td>
        		<td class='body2'><input type='text' id='endTime' name='endTime' value="$!{form.condition.endTime}"/></td>
            </tr>
			<tr>
        		<td class="body1">基础价</td>
        		<td class='body2'><input type='text' id='basicPrice' name='basicPrice' value="$!{form.condition.basicPrice}"/></td>
    		</tr>
        </table>
    </div>
	<table class="control">
    	<tr>
			<td>
				<input type='button' value='钻石核价单' class='btn' id='btnAdd2' onclick="save(2)" $RightUtil.able($session, '08060201','1')>
				<input type='button' value='其它珠宝核价单' class='btn' id='btnAdd3'  onclick="save(3)" $RightUtil.able($session, '08060201','2')> 
				<input type='button' value='素金核价单' class='btn' id='btnAdd1'  onclick="save(1)" $RightUtil.able($session, '08060201','3')>
				<input type='button' value='特殊核价单' class='btn' id='btnAdd4'  onclick="save(4)" $RightUtil.able($session, '08060201','4')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' $RightUtil.able($session, '08060201','5')>
				<input type='button' value='高级查询' class='btn' id='btnQueryShow1' $RightUtil.able($session, '08060201','5')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, '08060201','6')>
				<input type='button' value='删除' class='btn' id='deleteLine' disabled  onclick="deletePriceHead()" $RightUtil.able($session, '08060201','7')>
				<input type='button' value='标签打印' class='btn' id="printBtn" $RightUtil.able($session, '08060201','8')>
				<select id="selectLabel" name="selectLabel" onchange="changeLabelType()" >
					<option #if($!{form.condition.selectLabel}=='') selected #end value="">--请选择--</option>
					<option #if($!{form.condition.selectLabel}=='1') selected #end value="1">普通标签</option>
					<option #if($!{form.condition.selectLabel}=='2') selected #end value="2">物流标签</option>
					<option #if($!{form.condition.selectLabel}=='3') selected #end value="3">价格标签</option>
                </select>
				<input type='checkbox' id='stateId' name="stateId" onchange="executeQuery()" >显示所有状态</input>
				<input type='button' value='裸石编码查询' class='btn' id="ornaCodeBtn" onclick="showPriceStoneNum()" $RightUtil.able($session, '08060201','9')>
				
			</td>
		</tr>
    </table>
	<div class="scroll">
	    <table class='list' style="width:1900px;">
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
				<th width='60px'>状态</th>
                <th width='120px'>饰品编码</th>
				<th width='120px'>交接单号</th>
				<th width='120px'>核价单号</th>
				<th width='120px'>单据类型</th>
				<th width='180px'>创建时间</th>
        		<th width='90px'>创建人</th>
        		<th width='180px'>修改时间</th>
        		<th width='90px'>大类</th>
				<th width='90px'>小类</th>
				<th width='90px'>材质</th>
				<th width='90px'>基础价</th>
				<th width='180px'>供应商</th>
				<th width='90px'>饰品总重</th>
				<th width='90px'>是否双标签</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value="$!{map.id}"/>$velocityCounter
					<input type='hidden' name='caclType' value="$!{map.caclType}"/>
					<input type='hidden' name='state' value='$!{map.state}'/>
				</td>
				<td>$!DictUtil.getValue('status', $!map.state)</td>
                <td><a href='javascript:toEditPage($!{map.id},$!{map.caclType});'>$!map.wlCode</a></td>
				<td>$!map.handoverName</td>
				<td>$!map.no</td>
				<td>$!DictUtil.getValue('cacltype', $!map.caclType)</td>
				<td>$!map.createDate</td>
				<td>$!BdCommon.getUserName($!map.createUserId)</td>
				<td>$!map.updateDate</td>
				<td>$BdCommon.getItemClassDesc($!map.itemClassId)</td>
				<td>$BdCommon.getOrnaClassDesc($!map.ornaClassId)</td>
				<td>$!BdCommon.getQualityName($!map.qualityId)</td>
				<td>$!map.basicPrice</td>
				<td><input type='text' class='none' style='width:180px;' value="$!BdCommon.getVendorName($!map.vender)"></td>
				<td>$!map.allWeight</td>
				<td>$!DictUtil.getValue('yesorno', $!map.isDoubleLabel)</td> 
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
checkAll('chkall','chk',true);
/**
 * 查询
 */
function executeQuery(){
	if(""!=jQuery("#beginTime").val()&&""!=jQuery("#endTime").val()){
		var dateTime = new Date();
		var d1 = (jQuery("#beginTime").val()+"").split('-');
		var d2 = (jQuery("#endTime").val()+"").split('-');
		var date1 = dateTime.setFullYear(d1[0],d1[1],d1[2]);
		var date2 = dateTime.setFullYear(d2[0],d2[1],d2[2]);
		if(date1>date2){
			alert('时间止必须大于时间始');
			return;
		}
	}
	jQuery("#myForm").submit();
}
function resetQuery(){
	jQuery("#wlCode").val("");
	jQuery("#caclType").val("");
	jQuery("#handoverNo").val("");
	//jQuery("#stateId").val("");
	jQuery("#verdorName").val("");
	jQuery("#itemClassId").val("");
	jQuery("#ornaClassId").val("");
	jQuery("#calcpriceNo").val("");
	jQuery("#beginTime").val("");
	jQuery("#endTime").val("");
	jQuery("#createId").val("");
	jQuery("#createName").val("");
	jQuery("#basicPrice").val("");
}
function save(caclType){
	window.location = "priceHead.vm?user_action=toAddPriceHead&caclType="+caclType;
}
function loadOrna(){
	var itemClassId = jQuery("#itemClassId").val(); 
	BdCommonDwr.getOrnaClassByItemClassIdForSlt(itemClassId,function(data){
		addOptions("ornaClassId", data, null, null, true, true,"$!{form.condition.ornaClassId}");
	});	
}
function changeButtons(check,i){
	var index = getSelectIndexs('chk');
	if(index.length==1){
		jQuery("#deleteLine").removeAttr("disabled");
	}else{
		jQuery("#deleteLine").attr("disabled", "disabled");
	}
	if(jQuery("#selectLabel").val()!=""){
    	if(index.length>0){
    		jQuery("#printBtn").removeAttr("disabled");
    	}
	}
	if(index.length==0){
		jQuery("#deleteLine").attr("disabled", "disabled");
		jQuery("#printBtn").attr("disabled", "disabled");
	}
}
jQuery(function(){
	initCalendarArr(["beginTime", "endTime"]);
	checkTable('tbl', 'chkall', 'chk', true,changeButtons, function(index){
    	window.location = "priceHead.vm?user_action=toEditPriceHead&headid=" + $n("chk")[index].value+"&caclType="+$n("caclType")[index+1].value;
	});
	initQuery("btnQueryShow", "btnQueryCancel");
	initQuery2("HJ01", 'myForm', 'btnQueryShow1');
	jQuery("#btnQueryOk").click(executeQuery);
	jQuery("#btnQueryReset").click(resetQuery);
	jQuery("#caclType").val("$!{form.condition.caclType}");
	jQuery("#handoverNo").val("$!{form.condition.handoverNo}");
	jQuery("#createId").val("$!{form.condition.createId}");
	jQuery("#createName").val("$!BdCommon.getUserName($!{form.condition.createId})");
	jQuery("#stateId")[0].checked= "$!form.condition.stateId"=="on"?true:false;
	
	BdCommonDwr.getAllVendor(function(data){
		addOptions("verdorName", data, null, null, true, true,"$!{form.condition.verdorName}");
	});
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true,"$!{form.condition.itemClassId}");
	});
	BdCommonDwr.getOrnaClassByItemClassIdForSlt("$!{form.condition.itemClassId}",function(data){
		addOptions("ornaClassId", data, null, null, true, true,"$!{form.condition.ornaClassId}");
	});
	
	initLabelPrint("printBtn", getPrintPageUrl);
});
/**
 * 改变标签类型
 */
function changeLabelType(){
	var selectLabel = jQuery("#selectLabel").val();
	jQuery("#myForm").submit();
}
/**
 * 标签打印
 */
function getPrintPageUrl(){
	var index = getSelectIndexs('chk');
	if(index.length==0){
		alert("请选择要打印的记录");
		return ;
	}
	var ids = [] ;
	for(var i=0; i<index.length; i++){
		ids.push($n("chk")[index[i]].value);
	}
	var selectLabel = jQuery("#selectLabel").val();
	var pt = selectLabel;
	var params = "-"+selectLabel;
	var url = ctxPath + '/calc/priceHead.vm?user_action=printLabels&billid='+ids.toString()+"&pt="+pt+"&params="+params;
	return url;
}
function toEditPage(id,caclType){
	window.location = "priceHead.vm?user_action=toEditPriceHead&headid=" + id+"&caclType="+caclType;
}
function deletePriceHead(id,state){
	var index = getSelectIndexs('chk');
	if(index.length!=1){
		alert("请选择一行");
		return;
	}
	var state = $n("state")[index[0]].value;
	var id = $n("chk")[index[0]].value;
	
	if("1"!=state){
		alert("单据状态不为保存")
		return;
	}
	confirm("确定删除?", function(){
		PriceHeadDwr.deletePriceHead(id, function(errMsg){
			if(errMsg){
				alert(errMsg);
			}else{
				alert("删除成功", function(){
        			window.location = "priceHead.vm";
				});
			}
		});
	});
}
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#myForm").submit();
	//user_action改回之前的值，否则之后的任何提交如果不重新设置user_action，则都将是导出excel，比如上下翻页
	jQuery("#user_action").val("");
}
function showSelectUserWin(){
	selectEmp(function(idArr, nameArr){
			jQuery("#createId").val(idArr);
			jQuery("#createName").val(nameArr);
		}, 
		null, null, false, jQuery("#createId").val(), "getEmpByOrgId", {orgId:jQuery("#orgId").val()});
}
function showPriceStoneNum(){
	window.location = "priceHead.vm?user_action=toSelectStoneNum&ornaCode=&verdorId=";
}
</script>