<form id="myForm">
	<input type='hidden' id='user_action' name='user_action' value=''/>
	<table class="title">
		<tr>
			<td >
				<tr><td>裸石编码查询#if($!form.message)[<font color='blue'>$!form.message</font>]#else[<font color='red'>$!form.message</font>]#end</td></tr>
            </td>
        </tr>
    </table>
        <table class="control">
        	<tr>
        		<td>
        			<input type='button' value='确定' id='btnQueryOk'>
        			<input type='button' value='重置' id='btnQueryReset'>
        			<input type='button' value='返回' id='btnQueryCancel' onclick="back()">
        		</td>
        	</tr>
        </table>
        <table class='content'>
			<tr>
        		<td class="body1">裸石编码</td>
        		<td class='body2'>
					<input type='text' id='ornaCode' name='ornaCode' value="$!{form.condition.ornaCode}" dataType="Require" msg="不能为空"/>$StringUtil.star()
				</td>
        		<td class="body1">供应商</td>
        		<td class='body2'>
					<input type='hidden' id='verdorId' name="verdorId" value="$!{form.condition.verdorId}">
    				<input type='text' id='vendorName' value="$!BdCommon.getVendorName($!{form.condition.verdorId})" readonly class='target' ondblclick="showVendorWin()">
    				$!StringUtil.star()
                </td>
        	</tr>
        </table>
		 <table class='list'>
        	<thead>
    			<tr>
    				<th width='35px'>行号</th>
    				<th>委外发料单号</th>
    				<th>类型</th>
					<th>分析范围</th>
            		<th>总粒数</th>
            		<th>核价单末核销粒数</th>
    				<th>核价单已核销粒数</th>
					<th>退料粒数</th>
                    <th>剩余粒数</th>
                </tr>
            </thead>
            <tbody id="tbl">
    		#foreach($map in $form.cashLine)
    			<tr>
					<td>$velocityCounter</td>
    				<td>$!map.billNo</td>
    				<td>#if($!map.dotype==-1)交接单#else委外发料#end</td>
    				<td>$!map.articleTypeDsc</td>					
    				<td>$!map.billNums</td>
    				<td>$!map.cashNums</td>
    				<td>$!map.noNums</td>
					<td>$!map.billType</td>
    				<td>$!map.cashUnit</td>
    			</tr>
    		#end
        	</tbody>
        </table>
	    <table class='list'>
        	<thead>
    			<tr>
    				<th width='35px'>行号</th>
    				<th>核价单号</th>
                    <th>饰品编码</th>
					<th>入库单状态</th>
					<th>核价重量</th>
    				<th>核价粒数</th>
            		<th>状态</th>
            		<th>是否核销</th>
                </tr>
            </thead>
            <tbody id="tbl">
    		#foreach($map in $form.stoneLine)
    			<tr>
					<td>$velocityCounter</td>
    				<td>$!map.luodanCode</td>
    				<td>$!map.stoneItemClassId</td>
					<td>
						#if($!map.feeType=='-1')末做入库单#else$!DictUtil.getValue('status', $!map.feeType)#end
					</td>
					<td>$!map.stoneWeight</td>
    				<td>$!map.stoneNums</td>
    				<td>$!DictUtil.getValue('status', $!map.createUserId)</td>
    				<td>$!DictUtil.getValue('yesorno', $!map.privateType)</td>
    				
    			</tr>
    		#end
        	</tbody>
        </table>
</form>
<script>
function executeQuery(){
	var ornaCode = jQuery("#ornaCode").val();
	var verdorId = jQuery("#verdorId").val();
	if(!Validator.Validate($("myForm"),3)){
		//info("输入数据");
		return ;
	}
	//info("priceHead.vm?user_action=toSelectStoneNum&ornaCode="+ornaCode+"&verdorId="+verdorId)
	window.location = "priceHead.vm?user_action=toSelectStoneNum&ornaCode="+ornaCode+"&verdorId="+verdorId;
}
function resetQuery(){
	jQuery("#ornaCode").val("");
	jQuery("#verdorId").val("");
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
	jQuery("#btnQueryOk").click(executeQuery);
	jQuery("#btnQueryReset").click(resetQuery);
		
	//BdCommonDwr.getAllVendor(function(data){
	//	addOptions("verdorId", data, null, null, true, true,"$!{form.condition.verdorId}");
	//});
});
function back(){
	window.location = "priceHead.vm";
}
function showVendorWin(){
	selectVendor(function(idArr, nameArr){
		jQuery("#verdorId").val(idArr.join(','));
		jQuery("#vendorName").val(nameArr.join(','));
	}, null, null, false, jQuery("#verdorId").val());
}
</script>