#set($jsfiles = ["$StringUtil.getContextPath()/js/calc/sbraPrice.js", "$StringUtil.getContextPath()/dwr/interface/SbraPriceDwr.js"])

<form id='frm' action="" method="post">
	<input type="hidden" id="id" value="$!{form.sp.id}"/>
    <table class="title">
    	<tr><td>托架市场价</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' class='btn' id='btnSave' $RightUtil.able($session, '08060702','1')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>材质</td>	
			<td class='body2'>
				<!--<input type='hidden' id='styleId' value="1">class='target' ondblclick="showSelectStyleWin()"-->
				<select id="qualityId" dataType="Require" msg="不能为空">$StringUtil.emptyOption()</select>$StringUtil.star()
			</td>
		</tr>
		<tr>
			<td class='body1'>单价</td><td class='body2'><input type='text' id='marketPrice' dataType="Require" msg="不能为空" value="$!{form.sp.marketPrice}">$StringUtil.star()</td>
		</tr>
    </table>
</form>

<script>
function setPageContent(){
	BdCommonDwr.getAllQualityForSlt(function(data){
		addOptions("qualityId", data, null, null, true, true);
	});
}
function setValues(){
	BdCommonDwr.getAllQualityForSlt(function(data){
		addOptions("qualityId", data, null, null, true, true,"$!{form.sp.qualityId}");
	});
}
jQuery(function(){
	jQuery("#btnSave").click(function(){
    	saveSbraPrice();
	});
	jQuery("#btnToList").click(function(){
		window.location = "sbraPrice.vm";
	});
	if("$!form.sp.id"){
		setValues();
	}else{
		setPageContent();
	}
});


</script>