#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js", "$StringUtil.getContextPath()/dwr/interface/SpecialChargeDwr.js"])
<form id="frm" name="frm" method="post">
	<input type="hidden" id="user_action" name="user_action" value=""/>
    <table class="title">
    	<tr><td>特殊工费核算规则表#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
    </table>
	#set($cond = $form.condition)
	#set($orgId = $!cond.get('orgId'))
	#set($createId = $!cond.get('createId'))
	#set($startDate = $!cond.get('startDate'))
	#set($endDate = $!cond.get('endDate'))
	#set($itemClassId = $!cond.get('itemClassId'))
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' id='btnAdd' $RightUtil.able($session, '08061601','1')>
				<input type='button' value='删除' class='btn' id='btnDelete' $RightUtil.able($session, '08061601','2')>
				<input type='button' value='查询' class='btn' id='btnSearch2' $RightUtil.able($session, '08061601','3')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, '08061601','4')/>
			</td>
		</tr>
    </table>
	<div class="scroll">
	    <table class='list' style="width:1200px;">
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
        		<th style='width:90px;'>状态</th>
        		<th style='width:90px;'>编辑</th>
        		<th style='width:90px;'>重量始</th>
				<th style='width:90px;'>重量止</th>
				<th style='width:60px;'>核算重量</th>
        		<th style='width:90px;'>工费单价</th>
				<th style='width:90px;'>浮动值</th>
				<th style='width:90px;'>特殊工费</th>
				<th style='width:120px;'>备注</th>
        		<th style='width:180px;'>创建时间</th>
        		<th style='width:90px;'>创建人</th>
        		<th width='180px'>修改时间</th>
        		<th width='90px'>修改人</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value="$!{map.chargeId}"/>$velocityCounter</td>
				<td>$!DictUtil.getValue('status', $!map.status)</td>
				<td><a href='javascript:toEditPage($!{map.chargeId});'>进入修改</a></td>
				<td>$!map.weightStr</td>
				<td>$!map.weightEnd</td>
				<td>$!map.weightCheck</td>
				<td>$!map.chargeUnit</td>
				<td>$!map.chargeFloat</td>
				<td>$!map.chargeMoney</td>
				<td><input type='text' readonly class='none' value="$!map.memo" style='width:180px;'></td>
				<td>$!map.createDate</td>
				<td>$!BdCommon.getUserName($!map.createId)
					<input type='hidden' name='id' value="$!map.chargeId" >
					<input type="hidden" name="status_list" value="$!map.status"/>
				</td>
				<td>$!map.updateDate</td>
				<td>$!BdCommon.getUserName($!map.updateId)</td> 
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
jQuery(function(){

	checkTable('tbl', 'chkall', 'chk', true, null, function(index){
		window.location = "specialCharge.vm?user_action=toEditSpecialCharge&id=" + $n("chk")[index].value;
	});
	setValues();
	initQuery2("TSHJ01", "frm", "btnSearch2");
	jQuery("#btnAdd").click(function(){
		window.location = "specialCharge.vm?user_action=toEditSpecialCharge";
	});
	jQuery("#btnQueryOk").click(function(){
		jQuery("#frm").submit();
	});
	jQuery("#btnDelete").click(deleteRow);
});

function setValues(){
	
}

	
function toEditPage(id){
	window.location = "specialCharge.vm?user_action=toEditSpecialCharge&id=" + id;
}

function deleteRow(){
	//var idx = getSelectIndex("chk");
	var idx = getSelectIndexs("chk");
	if(idx !=''){
		confirm("确定删除?", function(){
			var ids = ""; 
			var array = (idx+"").split(',');
			for(var t=0;t<array.length;t++){
				ids+=$n("chk")[array[t]].value+",";
			}
			showLayer(true);
			SpecialChargeDwr.deleteSpecialCharge(ids, function(msg){
				showLayer(false);
				if(msg){
					alert(msg);
				} else {
					alert("删除成功", function(){
						jQuery("#frm").submit();
					});
				}
			});
    	});
	} else {
		alert("尚未选择要删除的行");	
	}
}
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
</script>
