<form id="myForm">
	<table class="title">
		<tr>
			<td >
				<tr><td>宝石系数#if($!form.message)[<font color='blue'>$!form.message</font>]#else[<font color='red'>$!form.message</font>]#end</td></tr>
            </td>
        </tr>
    </table>
	<table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' id='btnAdd' $RightUtil.able($session, '08060501','1')>
				<input type='button' value='删除' class='btn' onclick='deleteLine()'  $RightUtil.able($session, '08060501','2')>
			</td>
		</tr>
    </table>
	<div class='scroll'>
	<table class='list'>
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
                <th>大类</th>
        		<th>规格</th>
        		<th>形状</th>
				<th>颜色</th>
        		<th>净度</th>
				<th>色级</th>
				<th>系数</th>
				<th>创建时间</th>
        		<th>创建人</th>
        		<th>修改时间</th>
        		<th>修改人</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value="$!{map.id}"/>$velocityCounter</td>
				<td><a href='javascript:toEditPage($!{map.id});'>$!BdCommon.getItemClassDesc($!{map.itemClassId})</a></td>
				<td>$!map.styleStandard</td>
				<td>$!DictUtil.getValue('diashape', $!map.mainShapeId)</td>
				<td>$!DictUtil.getValue('diacolor', $!map.colorId)</td>
				<td>$!DictUtil.getValue('diaclean', $!map.cleanId)</td>
				<td>$!DictUtil.getValue('diacolorgrade', $!map.colorGreadId)</td>
				<td>$!map.coefficient</td>
				<td>$!map.createDate</td>
				<td>$!BdCommon.getUserName($!map.createUserId)</td>
				<td>$!map.updateDate</td>
				<td>$!BdCommon.getUserName($!map.updateUserId)</td> 
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
	
	jQuery("#btnAdd").click(function(){
		window.location = "stoneCoefficient.vm?user_action=toEditStoneCoefficient";
	});
});
function toEditPage(id){
	window.location = "stoneCoefficient.vm?user_action=toEditStoneCoefficient&id=" + id;
}
function deleteStoneCoefficient(id){
	confirm("确定删除?", function(){
		window.location = "stoneCoefficient.vm?user_action=deleteStoneCoefficient&id=" + id;
	});
}
function deleteLine(){
	var index = getSelectIndexs('chk');
	if(index.length!=1){
		alert("请选择一行");
		return;
	}
	var id = $n("chk")[index[0]].value;
	confirm("确定删除?", function(){
		window.location = "stoneCoefficient.vm?user_action=deleteStoneCoefficient&id=" + id;
	});
}
</script>