<form id="myForm" action="stonePrice.vm" method="post">
	<input type='hidden' id='user_action' name='user_action' value=''/>
	<table class="title">
	<input type='hidden' id="priceType" name='priceType' value='$!form.priceType'/>
		<tr>
			<td >
				<tr><td>主石市场价#if($!form.message)[<font color='blue'>$!form.message</font>]#else[<font color='red'>$!form.message</font>]#end</td></tr>
            </td>
        </tr>
    </table>
	<div id="queryDiv">
        <table class="control">
        	<tr>
        		<td>
        			<input type='button' value='确定' id='btnQueryOk'>
        			<input type='button' value='重置' id='btnQueryReset'>
        			<input type='button' value='取消' id='btnQueryCancel'>
        		</td>
        	</tr>
        </table>
        <table class='content'>
			<tr>
        		<td class="body1">大类</td>
        		<td class='body2'>
					<select id="itemClassId" name="itemClassId">$StringUtil.emptyOption()</select>
				</td>
        		<td class="body1">石头类型</td>
        		<td class='body2'>
					<select id="stoneType" name="stoneType">$StringUtil.emptyOption()</select>
                </td>
        	</tr>
			<tr>
        		<td class="body1">启始重量</td>
        		<td class='body2'><input type='text' id='beginWeight' name='beginWeight' value="$!{form.condition.beginWeight}"/></td>
    			<td class="body1">截止重量</td>
        		<td class='body2'><input type='text' id='endWeight' name='endWeight' value="$!{form.condition.endWeight}"/></td>
            </tr>
			<tr>
        		<td class="body1">形状</td>
        		<td class='body2'>
					<select id="shapeId" name="shapeId">$StringUtil.emptyOption()</select>
                </td>
        		<td class="body1">颜色</td>
        		<td class='body2'>
					<select id="colorId" name="colorId">$StringUtil.emptyOption()</select>
                </td>
        	</tr>
			<tr>
        		<td class="body1">色级</td>
        		<td class='body2'>
					<select id="colorGradeId" name="colorGradeId">$StringUtil.emptyOption()</select>
                </td>
        		<td class="body1">净度</td>
        		<td class='body2'>
					<select id="cleanId" name="cleanId">$StringUtil.emptyOption()</select>
                </td>
			</tr>	
			<tr>
        		<td class="body1">切工</td>
        		<td class='body2'>
					<select id="cutId" name="cutId">$StringUtil.emptyOption()</select>
                </td>
        		<td class="body1">价格</td>
        		<td class='body2'>
					<input type='text' id='marketPrice' name='marketPrice' value="$!{form.condition.marketPrice}"/>
                </td>
            </tr>
			<tr>
        		<td class="body1">创建人</td>
        		<td class='body2'>
    				<input type='hidden' id="orgId" name='orgId' value="$StringUtil.getOrgId($session)">
					<input type='hidden' id='createUserId' name="createUserId" >
					<input type='text' id='createName' readonly class="target" ondblclick="showSelectUserWin()" >
				</td>
            </tr>
        </table>
    </div>
	<table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' id='btnAdd' $RightUtil.able($session, '08060901','1')>
				<input type='button' value='删除' class='btn' onclick='deleteLine()'  $RightUtil.able($session, '08060901','2')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' $RightUtil.able($session, '08060901','3')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()"  $RightUtil.able($session, '08060901','4')>
			</td>
		</tr>
    </table>
	    <div class="scroll">
	    <table class='list' style="width:1400px">
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
                <th width='90px'>大类</th>
        		<th width='60px'>规格</th>
				<th width='90px'>启始重量</th>
				<th width='90px'>截止重量</th>
        		<th width='60px'>形状</th>
				<th width='60px'>颜色</th>
        		<th width='60px'>净度</th>
				<th width='60px'>色级</th>
				<th width='60px'>切工</th>
				<th width='60px'>市场价</th>
				<th width='90px'>石头类型</th>
				<th width='90px'>价格类型</th>
				<th width='120px'>创建时间</th>
        		<th width='90px'>创建人</th>
        		<th width='120px'>修改时间</th>
        		<th width='90px'>修改人</th>
            </tr>
        </thead>
        <tbody id="tbl"  style="width:120%;">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value="$!{map.id}"/>$velocityCounter</td>
				<td><a href='javascript:toEditPage($!{map.id});'>$!BdCommon.getItemClassDesc($!{map.itemClassId})</a></td>
				<td>$!map.styleStandard</td>
				<td>$!map.startWeight</td>
				<td>$!map.endWeight</td>
				<td>$!DictUtil.getValue('diashape', $!map.shapeId)</td>
				<td>$!DictUtil.getValue('diacolor', $!map.colorId)</td>
				<td>$!DictUtil.getValue('diaclean', $!map.cleanId)</td>
				<td>$!DictUtil.getValue('diacolorgrade', $!map.colorGradeId)</td>
				<td>$!DictUtil.getValue('diacut', $!map.cutId)</td>
				
				<td>$!map.marketPrice</td>
				<td>$!DictUtil.getValue('stonetype', $!map.stoneType)</td>
				<td>$!DictUtil.getValue('pricetype', $!map.priceType)</td>
				<td>$!map.createDate</td>
				<td>$!BdCommon.getUserName($!map.createUserId)</td>
				<td>$!map.updateDate</td>
				<td>$!BdCommon.getUserName($!map.updateUserId)</td> 
			</tr>
		#end
    	</tbody>
    </table>
    </div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>

function executeQuery(){
	if(!isDecimal(jQuery("#beginWeight").val())&&""!=jQuery("#beginWeight").val()){
		alert('启始重量必须为数字');
		return;
	}if(!isDecimal(jQuery("#endWeight").val())&&""!=jQuery("#endWeight").val()){
		alert('截止重量必须为数字');
		return;
	}if(parseFloat(jQuery("#beginWeight").val())>=jQuery("#endWeight").val()
		&&""!=jQuery("#endWeight").val()&&""!=jQuery("#beginWeight").val()){
		alert('截止重量必须大于启始重量');
		return;
	}
	jQuery("#myForm").submit();
}
function resetQuery(){
	jQuery("#stoneType").val('');
	jQuery("#shapeId").val('');
	jQuery("#colorId").val("");
	jQuery("#colorGradeId").val("");
	jQuery("#itemClassId").val("");
	jQuery("#cutId").val("");
	jQuery("#cleanId").val("");
	jQuery("#beginWeight").val("");
	jQuery("#marketPrice").val("");
	jQuery("#endWeight").val("");
	jQuery("#createUserId").val("");
	jQuery("#createName").val("");
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false,null, function(index){
		window.location = "stonePrice.vm?user_action=toEditStonePrice&id=" + $n("chk")[index].value + "&priceType=$!{form.priceType} ";
	});
	//initQuery("btnQueryShow", "btnQueryCancel");
	initQuery2("ZS01", 'myForm', 'btnQueryShow');
	jQuery("#btnQueryOk").click(executeQuery);
	jQuery("#btnQueryReset").click(resetQuery);
	jQuery("#btnAdd").click(function(){
		window.location = "stonePrice.vm?user_action=toEditStonePrice&priceType=$!{form.priceType}";
	});
	
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data);
		selectOption("itemClassId", "$!{form.condition.itemClassId}");
	});
	DictDwr.getDictsForSlt("diashape", function(data){
		addOptions("shapeId", data);
		selectOption("shapeId", "$!{form.condition.shapeId}");
	});
	DictDwr.getDictsForSlt("diaclean", function(data){
		addOptions("cleanId", data);
		selectOption("cleanId", "$!{form.condition.cleanId}");
	});
	DictDwr.getDictsForSlt("diacolorgrade", function(data){
		addOptions("colorGradeId", data);
		selectOption("colorGradeId", "$!{form.condition.colorGradeId}");
	});
	DictDwr.getDictsForSlt("diacolor", function(data){
		addOptions("colorId", data);
		selectOption("colorId", "$!{form.condition.colorId}");
	});
	DictDwr.getDictsForSlt("diacut", function(data){
		addOptions("cutId", data);
		selectOption("cutId", "$!{form.condition.cutId}");
	});
	DictDwr.getDictsForSlt("stonetype", function(data){
		addOptions("stoneType", data);
		selectOption("stoneType", "$!{form.condition.stoneType}");
	});
	
	jQuery("#createUserId").val("$!{form.condition.createUserId}");
	jQuery("#createName").val("$!BdCommon.getUserName($!{form.condition.createUserId})");
});
function toEditPage(id){
	window.location = "stonePrice.vm?user_action=toEditStonePrice&id=" + id + "&priceType=$!{form.priceType} ";
}
function deleteStonePrice(id){
	confirm("确定删除?", function(){
		window.location = "stonePrice.vm?user_action=deleteStonePrice&id=" + id + "&priceType=$!{form.priceType}";
	});
}
function deleteLine(){
	var index = getSelectIndexs('chk');
	if(index.length!=1){
		alert("请选择一行");
		return;
	}
	var id = $n("chk")[index[0]].value;
	confirm("确定删除?", function(){
		window.location = "stonePrice.vm?user_action=deleteStonePrice&id=" + id + "&priceType=$!{form.priceType}";
	});
}
function showSelectUserWin(){
	selectEmp(function(idArr, nameArr){
			jQuery("#createUserId").val(idArr);
			jQuery("#createName").val(nameArr);
		}, 
		null, null, false, jQuery("#createUserId").val(), "getEmpByOrgId", {orgId:jQuery("#orgId").val()});
}
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#myForm").submit();
	//user_action改回之前的值，否则之后的任何提交如果不重新设置user_action，则都将是导出excel，比如上下翻页
	jQuery("#user_action").val("");
}
</script>