<table class='list'>
    <thead>
		<tr>
            <th width='20px'><input type='checkbox' id='chkall'/></th>
			<th>大类</th>
			<th>小类</th>
			<th>创建人</th>
			<th>创建时间</th>
		</tr>
	</thead>
	<tbody id='tbl'>
		#foreach($map in $form.list)
		<tr>
    		<td>
    			<input type='checkbox' name='chk'/>
    			<input type='hidden' name='conditionId' value='$!{map.id}'/>
    			<input type='hidden' name='createId' value='$!{map.createId}'/>
    		</td>
    		<td>$!BdCommon.getItemClassDesc($!map.itemClassId)</td>
    		<td>$!BdCommon.getOrnaClassDesc($!map.ornaClassId)</td>
			<td>$!BdCommon.getUserName($!map.createId)</td>
			<td>$!map.createDate</td>
		</tr>
		#end
    </tbody>
</table>
<script>
//供外部调用的取值方法
function getValues(){
	if(-1 == getSelectIndex('chk'))
		return null;
	return {
		conditionId:$n("conditionId")[getSelectIndex('chk')].value,
		createId:$n("createId")[getSelectIndex('chk')].value
	};
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
});
</script>