#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/ProdAccountDwr.js"])
#set($cond = $!form.condition)
#set($orgId = $!cond.get('orgId'))
#set($vendorId = $!cond.get('vendorId'))
#set($item_class_id = $!cond.get('item_class_id'))
#set($material_type = $!cond.get('material_type'))
#set($orna_code = $!cond.get('orna_code'))
#set($billno = $!cond.get('billno'))
<form id="frm" name="frm" method="post">
<table class='content'>
	<tr>
		<td class='body1'>发料单号：</td>
		<td class='body2'>
			<input type='text' id="billno" name='billno' value="$!billno">
		</td>
		<td class='body1'>饰品编码：</td>
		<td class='body2'>
			<input type='text' id="orna_code" name='orna_code'  value="$!{orna_code}">
		</td>
        <td rowspan="2" class='body1'>
			<input id="btnSearch" class="btn" type="button" style="width:60px;" value="查询">
		</td>
	</tr>
    <tr>
		<td class='body1'>原料类型</td>	
		<td class='body2'>
			<select id="material_type" name='material_type'  value="$!{material_type}" ></select>
		</td>
		<td class='body1'>大类：</td>	
		<td class='body2'>
			<select id="item_class_id" name='item_class_id'  value="$!{item_class_id}" ></select>
		</td>
	</tr>
</table>
<input type='hidden' id="orgId" name='orgId'  value="$!{orgId}">
<input type='hidden' id="vendorId" name='vendorId'  value="$!{vendorId}">
<table class='list'>
    <thead>
		<tr>
            <th width='20px'><input type='checkbox' id='chkall'/></th>
			<th>发料单号</th>
            <th>原料时间</th>
			<th>饰品编码</th>
			<th>成本</th>
			<th>原料类型</th>
			<th>大类</th>
			<th>分析范围</th>
			<th>色级</th>
			<th>净度</th>
			<th>计量单位</th>
			<th>单据数量</th>
			<th>可退料数量</th>
		</tr>
	</thead>
	<tbody id='tbl'>
		#foreach($map in $form.pager.pageData)
		<tr>
    		<td>
    			<input type='checkbox' name='chk'/>
    			<input type="hidden" name="accountId"        value = "$!map.accountId"       /> 
                <input type="hidden" name="outBillno"        value = "$!map.outBillno"       />
                <input type="hidden" name="outBillDate"      value = "$!map.outBillDate"     />
                <input type="hidden" name="ornaCode"         value = "$!map.ornaCode"        />
                <input type="hidden" name="materialType"     value = "$!map.materialType"    />
                <input type="hidden" name="materialTypeName" value = "$!map.materialTypeName"/>
                <input type="hidden" name="itemClassId"      value = "$!map.itemClassId"     />
                <input type="hidden" name="itemClassName"    value = "$!map.itemClassName"   />
                <input type="hidden" name="analysisId"       value = "$!map.analysisId"      />
                <input type="hidden" name="analysisName"     value = "$!map.analysisName"    />
                <input type="hidden" name="colorGradeId"     value = "$!map.colorGradeId"    />
                <input type="hidden" name="colorGradeName"   value = "$!map.colorGradeName"  />
                <input type="hidden" name="cleanId"          value = "$!map.cleanId"         />
                <input type="hidden" name="cleanName"        value = "$!map.cleanName"       />
                <input type="hidden" name="cashUnitId"       value = "$!map.cashUnitId"      />
                <input type="hidden" name="cashUnitName"     value = "$!map.cashUnitName"    />
                <input type="hidden" name="unitId"           value = "$!map.unitId"          />
                <input type="hidden" name="unitName"         value = "$!map.unitName"        />
                <input type="hidden" name="billNums"         value = "$!map.billNums"        />
                <input type="hidden" name="oldNums"          value = "$!map.oldNums"         />
				<input type="hidden" name="costPrice"        value = "$!map.costPrice"     />
    		</td>
            <td>$!map.outBillno</td>
            <td>$!map.outBillDate</td>
            <td>$!map.ornaCode</td>
			<td>$!map.costPrice</td>
            <td>$!map.materialTypeName</td>
            <td>$!map.itemClassName</td>
            <td>$!map.analysisName</td>
            <td>$!map.colorGradeName</td>
            <td>$!map.cleanName</td>
            <td>$!map.cashUnitName</td>
            <td>$!map.billNums</td>
            <td>$!map.oldNums</td>
		</tr>
		#end
    </tbody>
</table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
//供外部调用的取值方法
function getValues(){
	var idxs = getSelectIndexs('chk'),
		result = [],
		isExist = false;
		
	if(-1 == getSelectIndexs('chk'))
		return null;
	for(var i=0; i< idxs.length; i++) {
		var idx = idxs[i],
			oldNums = $n("oldNums")[idx].value;
			if(floatSub(oldNums, 0) <=0){
				isExist = true;
				break;
			}
		var vend = {
			accountId       :$n("accountId")[idx].value,
            outBillno       :$n("outBillno")[idx].value,
            outBillDate     :$n("outBillDate")[idx].value,
            ornaCode        :$n("ornaCode")[idx].value,
            materialType    :$n("materialType")[idx].value,
            materialTypeName:$n("materialTypeName")[idx].value,
            itemClassId     :$n("itemClassId")[idx].value,
            itemClassName   :$n("itemClassName")[idx].value,
            analysisId      :$n("analysisId")[idx].value,
            analysisName    :$n("analysisName")[idx].value,
            colorGradeId    :$n("colorGradeId")[idx].value,
            colorGradeName  :$n("colorGradeName")[idx].value,
            cleanId         :$n("cleanId")[idx].value,
            cleanName       :$n("cleanName")[idx].value,
            cashUnitId      :$n("cashUnitId")[idx].value,
            cashUnitName    :$n("cashUnitName")[idx].value,
            unitId          :$n("unitId")[idx].value,
            unitName        :$n("unitName")[idx].value,
            billNums        :$n("billNums")[idx].value,
            oldNums         :oldNums,
			costPrice       :$n("costPrice")[idx].value
		};
		result.push(vend);
	}
	if(isExist){
		alert("请选择可退料数量大于0的单据");
		return false;
	}
	if(result.length <=0){
		alert("请选择单据");
		return false;
	}
	return result;
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true);
	jQuery("#btnSearch").click(function(){
		jQuery("#frm").submit();
	});
	ProdAccountDwr.getItemClassList("", function(data){
		addOptions("item_class_id",  data, null, null, true, true, "$!item_class_id");
	});
	ProdAccountDwr.getMaterialTypeList(function(data){
		addOptions("material_type",  data, null, null, true, true, "$!material_type");
	});
});
</script>