#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js",
                "$StringUtil.getContextPath()/dwr/interface/HandoverDwr.js?201203201723.js",
                "$StringUtil.getContextPath()/js/pur/handover.js?t=201207121536.js"])
<style >
	input.delrow{
        cursor:pointer;
        background-image:url($!StringUtil.getContextPath()/image/mclon/minus-btn.png);
        background-repeat:no-repeat; 
		border-style: solid;
		color: white;
		background-color: white;
		border:0px;
    }
	input.analyz{
        cursor:pointer;
        background-image:url($!StringUtil.getContextPath()/image/mclon/sel.png);
        background-repeat:no-repeat; 
		border-style: solid;
		color: white;
		background-color: white;
		border:0px;
    }
</style>
<form id='frm' action="handover.vm" method="post">
	#set($handoverHead = $form.handoverHead)
	#set($lines = $form.lines)
	#set($cashLines = $form.cashLines)
	
	#if($StringUtil.isBlank($!handoverHead.billno))
		#set($billno = "自动生成")
		#set($orgId = $StringUtil.getOrgId($session))
		#set($dodate = $DateUtil.getCurrentDate10())
		#set($statusName = "保存")
		#set($status = "1")
		#set($createDate = $DateUtil.getCurrentDate10())
		#set($createId = $StringUtil.getUserId($session))
		#set($sourceTypeName = "采购单")
	#else
		#set($billno = $handoverHead.billno)
		#set($orgId = $handoverHead.orgId)
		#set($dodate = $handoverHead.dodate)
		#set($statusName = $!DictUtil.getValue('status', $!{handoverHead.status}))
		#set($status = $!{handoverHead.status})
		#set($createDate = $handoverHead.createDate)
		#set($createId = $!handoverHead.createId)
		#set($sourceTypeName = $!DictUtil.getValue('billcode', $!{handoverHead.sourceType}))
	#end
	
	#set($enableSave = false)
	#set($enableCheck = false)
	#set($enableReopen = false)
	#set($enableClose = false)
	#set($enableCash = false)
	#set($enableReceive = false)
	#set($enableStock = false)
	#set($enableInStock = false)
	#set($enableInValid = false)
	#set($isSaved = false)
	#set($isClosed = false)
	#set($isCash = false)
	#set($enableSaveLine = false)
	#if($StringUtil.isNotBlank($status))
		#if($status == "1")
			#set($enableSave = true)
			#set($isSaved = true)
			#set($enableCheck = true)
			
		#elseif($status == "5")##审批完成
			#set($enableReceive = true)
			#set($enableSaveLine = true)
		#elseif($status == "8")##关闭状态
			#set($enableReopen = true)
			#set($isClosed = true)
			#set($enableCash = true)
			#set($isCash = true)
		#elseif($status == "10")##接收状态
			#set($enableCash = true)
    		#set($enableInValid = true)
			#set($enableClose = true)
			#set($enableInStock = true)
			#set($isCash = true)
			#set($enableSaveLine = true)
		#end
	#end
	#if($!handoverHead)
		#set($enableStock = true)
	#end
	<script > var status = $!status;</script>
	<input type="hidden" id="user_action" name="user_action" value="toEdit"/>
	<input type="hidden" id="billid" name="billid" value="$!{handoverHead.billid}"/>
    <table class="title">
    	<tr><td>交接单详情页</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' #if(!$enableSave)disabled#end class='btn' id='btnSave' $RightUtil.able($session, '08020602','1')>
				<input type='button' value='审核' #if(!$enableCheck)disabled#end class='btn' id='btnCheck' $RightUtil.able($session, '08020602','2')>
				<input type='button' value='关闭' class='btn' #if(!$enableClose)disabled#end id='btnClose' $RightUtil.able($session, '08020602','3')>
				<input type='button' value='重开' class='btn' #if(!$enableReopen)disabled#end id='btnReopen' $RightUtil.able($session, '08020602','4')>
				<input type='button' value='接收' class='btn' #if(!$enableReceive)disabled#end id='btnReceive' $RightUtil.able($session, '08020602','5')>
				<input type='button' value='结算' class='btn' #if(!$enableCash)disabled#end id='btnCash' $RightUtil.able($session, '08020602','6')>
				<input type='button' value='修改不合格' class='btn' #if(!$enableInValid)disabled#end id='btnUpdateNoNum' $RightUtil.able($session, '08020602','7')>
				<input type='button' value='入库统计' class='btn' #if(!$enableStock)disabled#end id="btnStockSum" $RightUtil.able($session, '08020602','8')>
				<input type='button' value='采购入库' class='btn' #if(!$enableInStock)disabled#end id="btnToStock" $RightUtil.able($session, '08020602','9')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08020602','10')>
				#if($enableSaveLine)
					<input type='button' value='修改行信息' class='btn' id="btnEditLine" onclick="editLine()" $RightUtil.able($session, '08020602','11')>
				#end
				<input type='button' value='行信息修改历史' class='btn' id="btnLineHistory" onclick="showLineHistory()" $RightUtil.able($session, '08020602','12')>
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号：</td>
			<td class='body2'>
				<input type='text' id="billno" name='billno' readonly value="$!billno">
			</td>
			
			<td class='body1'>组织:</td>	
			<td class='body2'>
				<input type='hidden' id="orgId" name='orgId' value="$!{orgId}">
				<input type='text' id="orgName" name='orgName'  value="$!BdCommon.getOrgName($orgId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			<td class='body1'>单据时间：</td>
			<td class='body2'>
				<input type='text' id="dodate" name='dodate' readonly #if(!$!isSaved)disabled#end value="$!{dodate}" dataType="Require" msg="不能为空">
						$StringUtil.star()
			</td>
			<td class='body1'>单据状态：</td>	
			<td class='body2'>
				<input type='hidden' id="status" name='status' readonly value="$!status">
				<input type='text' id="statusName" name='statusName' readonly value="$!statusName">
			</td>
		</tr>
		<tr>
			<td class='body1'>供应商：</td>
			<td class='body2'>
				#*<select id="verdorId" name="verdorId" #if(!$!isSaved)disabled#end   dataType="Require" value="$handoverHead.verdorId" msg="不能为空" >
					$StringUtil.emptyOption()
                </select>$StringUtil.star()*#
				<input type='hidden' id='verdorId' name="verdorId" value="$!handoverHead.verdorId">
				<input type='text' id='vendorName' value="$!BdCommon.getVendorName($!handoverHead.verdorId)" #if($!isSaved)ondblclick="showVendorWin()" class='target'#end readonly   dataType="Require" msg="不能为空">
				$!StringUtil.star()
			</td>
			<td class='body1'>交接人员：</td>
			<td class='body2'>
				<input type='text' id="createName" name='createName' readonly value="$!BdCommon.getUserName($!createId)" dataType="Require" msg="不能为空">
			</td>
			
			<td class='body1'>创建人员：</td>	
			<td class='body2'>
				<input type='hidden' id="createId" name='createId' value="$!{createId}">
				<input type='text' id="createName" name='createName'  value="$!BdCommon.getUserName($!createId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			<td class='body1'>创建时间：</td>
			<td class='body2'>
				<input type='text' id="createDate" readonly name='createDate' value="$!{createDate}">
			</td>
		</tr>
		<tr>
			<td class='body1'>来源类型：</td>
			<td class='body2'>
				<input type='hidden' id="sourceType" name='sourceType' readonly value="$!handoverHead.sourceType">
				<input type='text' id="sourceTypeName" name='sourceTypeName' readonly value="$!sourceTypeName">
			</td>
			<td class='body1'>来源单号：</td>	
			<td class='body2' colspan="5">
				<input type='hidden' id="sourceId" name='sourceId' readonly value="$!{handoverHead.sourceId}">
				<input type='text' id="sourceNo" name='sourceNo' readonly value="$!{handoverHead.sourceNo}" style="width:90%;"  >
				#if($!isSaved)<IMG src="$!StringUtil.getContextPath()/image/mclon/sel.png" alt="选择采购单" onclick="selectPurchaseWin()"/>#end
			</td>
			
		</tr>
		<tr>
			<td class='body1'>业务类型：</td>	
			<td class='body2'>
				<select id="dotype" name="dotype" #if($handoverHead)disabled#end onchange="changeCashRows()" dataType="Require" value="$!handoverHead.dotype" msg="不能为空" >
					$StringUtil.emptyOption()
				</select>$StringUtil.star()
			</td>
			<td class='body1'>发货单号：</td>
			<td class='body2'>
				<input type='text' id="expressNo" name='expressNo' readonly value="$!{handoverHead.expressNo}">
			</td>
			<td class='body1'>接收人员：</td>	
			<td class='body2'>
				<input type='hidden' id="receUser" name='receUser' readonly value="$!{handoverHead.receUser}">
				<input type='text' id="receUserName" name='receUserName'  value="$!BdCommon.getUserName($!handoverHead.receUser)" readonly>
			</td>
			<td class='body1'>接收时间：</td>
			<td class='body2'>
				<input type='text' id="receDate" name='receDate' #if(!$!isSaved)readonly#end readonly value="$!{handoverHead.receDate}">
			</td>
		</tr>
		<tr>
			<td class='body1'>总数量：</td>
			<td class='body2'>
				<input type='text' id="sumNum" name='sumNum' readonly value="$!{handoverHead.sumNum}">
			</td>
			<td class='body1'>总工费：</td>	
			<td class='body2'>
				<input type='text' id="sumCharge" name='sumCharge' readonly value="$!{handoverHead.sumCharge}">
			</td>
			<td class='body1'>总金额：</td>
			<td class='body2'>
				<input type='text' id="sumMoney" name='sumMoney' readonly value="$!{handoverHead.sumMoney}">
			</td>
			<td class='body1'>是否代销：</td>	
			<td class='body2'>
				<select id="isPsale" name="isPsale" #if(!$!isSaved)disabled#end  dataType="Require" value="$handoverHead.isPsale" msg="不能为空" >
					<option value=''>--请选择--</option>
					<option value="1">是</option>
					<option value="0">否</option>
				</select>$StringUtil.star()
			</td>
		</tr>
		<tr>
			<td class='body1'>是否原料：</td>	
			<td class='body2'>
				<select id="materialId" name="materialId" #if(!$!isSaved)disabled#end  dataType="Require" value="$handoverHead.materialId" msg="不能为空" >
					<option value=''>--请选择--</option>
					<option value="1">是</option>
					<option value="0">否</option>
				</select>$StringUtil.star()
			</td>
			<td class='body1'>是否装箱：</td>	
			<td class='body2'>
				<select id="isPack"  name='isPack' #if(!$!isSaved)disabled#end  dataType='Require' value='$!handoverHead.isPack' msg='不能为空' >
					<option value=''>--请选择--</option> <option value='1'>是</option> <option value='0'>否</option> 
				</select>$StringUtil.star()
			</td>
			<td class='body1'>装箱单号：</td>
			<td class='body2'>
				<input type='text' id="packNo" name='packNo' readonly value="$!{handoverHead.packNo}">
			</td>
			<td class='body1'></td>
			<td class='body2'>
			</td>
		</tr>
		<tr>
			<td class='body1'>修改人员：</td>	
			<td class='body2'>
				<input type='text' id="modifyUser" name='modifyUser' readonly value="$!BdCommon.getUserName($!{handoverHead.updateId})">
			</td>
			<td class='body1'>修改时间：</td>
			<td class='body2'>
				<input type='text' id="modifyDate" name='modifyDate' readonly value="$!{handoverHead.updateDate}">
			</td>
			<td class='body1'>备注：</td>
			<td class='body2' colspan="3">
				<input type='text' id="memo" name='memo' style="width:90%;"  value="$!{handoverHead.memo}">
			</td>
		</tr>
    </table>
	<input type='hidden' id="deleteIds" name='deleteIds'  value=""/>
	<div style="background-color: #EBEBEB;font-weight: bold;">&nbsp;&nbsp;交接标签</div>
	<div class="scroll2">
	<table class='list' id="hand_list" style="width:1200px;">
    	<thead>
			<tr>
				<th></th>
				<th>大类</th>
				<th>计量单位</th>
				<th>交接数<br>量/重量</th>
				<th>金价</th>
                <th>单价</th>
				<th>交接工费</th>
				<th>交接金额</th>
				<th>前次不合格<br>数量/重量</th>
				<th>本次不合格<br>数量/重量</th>
				<th>合格数<br>量/重量</th>	
				<th>合格金额</th>
				<th>磅差数<br>量/重量</th>
        		<th>磅差金额</th>
				<th width="25px;"><a href="#if($!isSaved)javascript:addRow();#else # #end"><img src='$!StringUtil.getContextPath()/image/mclon/add-btn.png' #if(!$!isSaved)disabled#end /></a></th>
            </tr>
        </thead>
        <tbody id="tbl">
		#set($itemClassList = "")
		#set($isExistCashList = false)
		#foreach($line in $lines)
			#set($itemClassList = $itemClassList + ";" + $!line.itemClassId)
			<tr>
				<td></td>
				<td><select name='itemClassId' dataType='Require' #if(!$!isSaved)disabled#end onchange="checkitemClass(this)" value='' msg='不能为空'></select>
					<input type="button" name="itemBtn" value="" class="analyz" style="display:none;" onclick="showLineChild(this)"/>
				</td>
				<td>
					<select name='unitNo' dataType='Require' #if(!$!isSaved)disabled#end value='' msg='不能为空'></select>
				</td>
				<td><input type='text' name='hangNum' #if(!$!isSaved)readonly#end style='width:50px;' value="$!line.hangNum" onblur='checkField(this)' dataType='Require' msg='不能为空'></td>
				<td><input type='text' name='goldPrice' #if(!$!isSaved)readonly#end style='width:60px;' value="$!line.goldPrice" onblur='checkField(this)' dataType='Require' msg='不能为空'></td>
                <td><input type='text' name='hangPrice' #if(!$!isSaved)readonly#end style='width:60px;' value="$!line.hangPrice" onblur='checkField(this)' dataType='Require'  msg='不能为空'></td>
				<td><input type='text' name='handCharge' #if(!$!isSaved)readonly#end style='width:60px;' value="$!line.handCharge" onblur='checkField(this)' dataType='Require'  msg='不能为空'></td>
				<td><input type='text' name='handMoney' #if(!$!isSaved)readonly#end style='width:60px;' readonly value="$!line.handMoney" dataType='Require'  msg='不能为空'></td>
				<td><input type='text' name='noNumLast'  style='width:50px;' #if($!isClosed)readonly#end value="$!line.noNumLast" onblur='checkField(this)' ></td>
				<td><input type='text' name='noNumNow'  style='width:50px;' #if($!isClosed)readonly#end value="$!line.noNumNow" onblur='checkField(this)' ></td>
				<td><input type='text' name='yesNum'   value="$!line.yesNum" #if(!$!isSaved)readonly#end readonly style='width:50px;'></td>
				<td><input type='text' name='yesMoney'  style='width:80px;' #if(!$!isSaved)readonly#end value="$!line.yesMoney" readonly ></td>
				<td><input type='text' name='diffNum' #if(!$!isSaved)readonly#end style='width:50px;' value="$!line.diffNum" readonly ></td>
				<td><input type='text' name='diffMoney' #if(!$!isSaved)readonly#end style='width:60px;' value="$!line.diffMoney" readonly ></td>
				<td>
					<input type='button' value='' class='delrow' #if(!$!isSaved)disabled#end onclick='deleteHandoverRow(this,"tbl")'/>
    				<input type='hidden' name='olditemClassId' value="$!line.itemClassId" />
					<input type='hidden' name='oldUnitNo' value="$!line.unitNo" />
					<input type='hidden' name='oldHangNum' value="$!line.hangNum" />
					<input type='hidden' name='oldIsGifts' value="$!line.isGifts" />
					<input type='hidden' name='noNumLastOld' readonly value="$!line.noNumLast">
					<input type='hidden' name='noNumNowOld' readonly value="$!line.noNumNow">
					<input type='hidden' name='lineid' value="$!line.lineid" />
					<input type="hidden" name="child_list" value=$!BdCommon.resetLineChild($!line.childList) />
					<input type="hidden" name="delete_child_ids" value=''/>
				</td>
			</tr>
		#end
    	</tbody>
    </table></div><br>
	<input type='hidden' id="deleteCashIds" name='deleteCashIds'  value=""/>
	<div style="background-color: #EBEBEB;font-weight: bold; ">&nbsp;&nbsp;结算标签</div>
	<table class='list'>
    	<thead>
			<tr>
				<th></th>
				<th>大类</th>
				<th>说明</th>
				<th>金额/重量</th>
				<th width="25px;"><a href="javascript:addCashRow();"><img src='$!StringUtil.getContextPath()/image/mclon/add-btn.png' /></a></th>
            </tr>
        </thead>
		<tbody id="tbl_cash">
			#foreach($cash in $cashLines)
				#set($isExistCashList = true)
            <tr>
				#if($handoverHead.dotype == "0")
					#set($disable = "disabled")
				#else
					#set($disable = "")
				#end
				<td></td>
				<td><select name='cash_itemClassId' $disable   value='' ></select></td>
    			<td><input type="text" name="cash_memo" value="$!cash.memo"  style="width:400px;"></td>
    			<td><input type="text" name="cash_money" value="$!cash.moneys" d/></td>
				<td>
					<input type='button' value='' class='delrow'  onclick='deleteCashRow(this,"tbl_cash")'/>
					<input type="hidden" name="cash_itemClassId_old" value="$!cash.itemClassId"/>
					<input type='hidden' name='cash_money_old' value="$!cash.moneys"/>
					<input type="hidden" name="cash_lineid" value="$!cash.lineid"/>
				</td>
				<td></td>
    		</tr>
			#end
		</tbody>
	</table>
	<input type="hidden" id="deleteChildIds"/>
	<div id="line_children_head" style="display:none;">
		<table>
        	<tr>
        		<td>　总数：</td><td><input type="text" id="analysCount" readonly style="width:80px;"/></td>
        	</tr>
        </table>
    	<table class='list' style="width:380px;">
    		<thead>
        		<tr>
        			<th>分析范围</th>
        			<th>数量</th>
					<th>单价</th>
					<th width="25px;"><a href="#if(!$isClosed)javascript:addChildRow();#else # #end"><img src='$!StringUtil.getContextPath()/image/mclon/add-btn.png' /></a></th>
    			</tr>
    		</thead>	
    		<tbody id="line_children">
    			
            </tbody>
    	</table>
	</div>
	<div id="sourceBillDiv" style="display:none;">
		<select id="sourceBill" name="sourceBill" style="width:200px;">
			$StringUtil.emptyOption()
		</select>
    </div>
</form>
<script>
function showVendorWin(){
	selectVendor(function(idArr, nameArr){
		var oldVerdor = jQuery("#verdorId").val(),
			newVerdor = idArr.join(',');
		jQuery("#verdorId").val(idArr.join(','));
		jQuery("#vendorName").val(nameArr.join(','));
		if(oldVerdor != newVerdor){
			changeVendor();
		}
	}, null, null, false, jQuery("#verdorId").val());
}
function setValues(){
	/*BdCommonDwr.getAllVendor(function(data){
		addOptions("verdorId",  data, null, null, true, true, "$!handoverHead.verdorId");
	});*/
	jQuery("#materialId").val("$!handoverHead.materialId");
	jQuery("#isPack").val("$!handoverHead.isPack");
	jQuery("#isPsale").val("$!handoverHead.isPsale");
	
	var rowsLen = $("tbl").rows.length;
	var rowNew = $("tbl_cash").rows.length;
	BdCommonDwr.getAllItemClassForSlt(function(data){
		for(var k=0; k<rowsLen; k++) {
			addOptions2("itemClassId", k,  data, null, null, true, true, $n("olditemClassId")[k].value);
			if($n("olditemClassId")[k].value == "156"){
				$n("itemBtn")[k].style.display = "";
				$n("itemBtn")[k].disabled = false;
			}
		}
		if($("tbl_cash")){
    		for(var j=0; j<rowNew; j++) {
    			addOptions2("cash_itemClassId", j,  data, null, null, true, true, $n("cash_itemClassId_old")[j].value);
    		}
    	}
	});
	DictDwr.getDictsForSlt('purunit', function(data){
		for(var m=0; m<rowsLen; m++) {
			addOptions2("unitNo", m,  data, null, null, true, true, $n("oldUnitNo")[m].value);
		}
	});
	if(jQuery("#dotype").val()=="0"){
		jQuery("select[name='cash_itemClassId']").each(function(){
			jQuery(this).attr("disabled", true);
		});
	}
	DictDwr.getDictsForSlt('purbiztype', function(data){
		addOptions("dotype", data, null, null, true, true, "$!handoverHead.dotype");
	});
}

jQuery(function(){
	initCalendar("dodate");
	jQuery("#dotype").val($!handoverHead.dotype);
	jQuery("#btnAddRow").click(addRow);
	jQuery("#btnSave").click(saveform);
	jQuery("#btnCash").click(cashForm);
	jQuery("#btnCheck").click(checkBill);
	jQuery("#btnClose").click(closeBill);
	jQuery("#btnReceive").click(receiveBill);
	jQuery("#btnToStock").click(materInStock);
	jQuery("#btnStockSum").click(showInstockWin);
	jQuery("#btnUpdateNoNum").click(updateNoNum);
	jQuery("#btnReopen").click(reopenBill);
	// jQuery("#verdorId").change(changeVendor);
	jQuery("#btnToList").click(function(){
		window.location = "handover.vm";
	});
	jQuery("#deleteIds").val("");
	jQuery("#deleteCashIds").val("");
	checkReview();
	setValues();
	altRowCSS("tbl");
	changeSeq("tbl");
	changeSeq("tbl_cash");
	
	var dw = jQuery(document).width();
	if(dw > 1200){
		jQuery("#hand_list").css("width", dw+"px");
	}
})

</script>