#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/PurchaseDwr.js"])

<form id='frm' action="purchaseArrive.vm" method="post">
	<input type="hidden" name="user_action" value="toView"/>
	<input type="hidden" id="headid" name="headid" value="${form.head.headid}"/>
    <table class="title">
    	<tr><td>采购单到货记录</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' class='btn' id="btnSave" $RightUtil.able($session, '08020402','1')>
				<input type='button' value='打印' class='btn' id="btnPrint" onclick="window.print();" $RightUtil.able($session, '08020402','2')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
				<input type='checkbox' onchange="changeUsedFlag(this, true, ${form.head.headid})" #if("1" == $!form.head.usedFlag) checked #end> 保留
		</td></tr>
    </table>
	<table class="content">
		<tr>
			<td class='body1'>采购单编号</td><td class='body2'>$!form.head.billno</td>
			<td class='body1'>来源单据名称</td><td class='body2'>$!form.head.srcBillName</td>
			<td class='body1'>来源单据编号</td><td class='body2'>$!form.head.srcBillNo</td>
			<td class='body1'>单据类型</td><td class='body2'>$!DictUtil.getValue('purbilltype', $!form.head.billType)</td>
		</tr>
		<tr>
			<td class='body1'>供应商</td><td class='body2'>$!BdCommon.getVendorName($!form.head.vendorId)</td>
			<td class='body1'>采购组织</td><td class='body2'>$!BdCommon.getOrgName($!form.head.orgId)</td>
			<td class='body1'>采购员</td>
			<td class='body2'>
				<input type='hidden' id='purEmpids' value='$!{form.head.purEmpids}'/>
				<input type='text' id='purEmpnames' class='target' readonly value="$!BdCommon.getUserName($!form.head.purEmpids)" ondblclick="selectPurchaseEmps()" dataType="Require" msg="不能为空"/></td>
			<td class='body1'>业务类型</td><td class='body2'>$!DictUtil.getValue('purbiztype', $!{form.head.bizType})</td>
		</tr>
		<tr>
			<td class='body1'>采购总数</td><td class='body2'>$!form.head.sumNum</td>
			<td class='body1'>说明</td><td class='body2' colspan="5"><input type='text' id='memo' readonly value='$!{form.head.memo}' style="width:95%;"/></td>
		</tr>
	</table>
	<table class="list">
		<thead>
			<tr>
				<th style="width:12%;">大类</th>
				<th style="width:12%;">小类</th>
				<th style="width:12%;">分析范围</th>
				<th style="width:12%;">款式大类</th>
				<th style="width:12%;">款式中类</th>
				<th style="width:12%;">款式小类</th>
				<th style="width:12%;">明细款式</th>
				<th>未完成采购</th>
				<th></th>
			</tr>
        </thead>
		<tbody>
			<tr>
				<td><select id="itemClassId" name="itemClassId" onchange="changeItemClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="ornaClassId" name="ornaClassId" onchange="changeOrnaClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="analysisId" name="analysisId" onchange="changeAnalysis()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleItemClassId" name="styleItemClassId" onchange="changeStyleItemClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleMiddleClassId" name="styleMiddleClassId" onchange="changeStyleMiddleClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleOrnaClassId" name="styleOrnaClassId" onchange="changeStyleOrnaClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleId" name="styleId" onchange=""><option value=''>--请选择--</option></select></td>
				<td><input type="checkbox" name="purchaseOverFlag" value="1" #if("1" == $!form.condition.purchaseOverFlag) checked #end/></td>
				<td><input type="button" value="筛选" id="btnQuery" class='btn'/> </td>
			</tr>
        </tbody>
	</table>
	<table class="list">
		<thead>
			<tr>
				<th>到货数量</th> 	<th>采购数量</th>
				<th>到货数量 </th> <th>不合格数量</th>
				<th>合格数量</th> <th>大类</th> <th>小类</th>
				<th>分析范围</th> <th>款式大类</th> <th>款式中类</th> <th>款式小类</th> <th>款式</th>
				<th>商品材质</th> <th>单位</th> <th>尺寸</th>
				<th>色级</th> <th>净度</th> <th>品质</th>
				<th>保留</th>
			</tr>
        </thead>
		<tbody id='tbl'>
		#foreach($item in $form.pager.pageData)
			<tr>
    			<td>
					<input type='hidden' name='lineid' value='$!{item.lineid}'/>
					<input type='text' style='width:45px;' name='numArriveNew' ondblclick="calcNumArriveNew(this)" onchange="checkNumArriveNew(this)"/>
				</td>
    			<td><input type='text' readonly style="width:45px;" class='none' name='numOrder' value='$!{item.numOrder}'/></td>
    			<td><input type='button' class="btn" style='width:45px;' name='numArrive' value='$!{item.numArrive}' onclick="showNumArrive(this, '$!{item.lineid}')"/></td>
    			<td><input type='button' class="btn" style='width:45px;' name='numUncheck' value='$!{item.numUncheck}' onclick="showUncheck(this, '$!{item.lineid}')"/></td>
    			<td><input type='text' readonly style="width:45px;" class='none' name='numCheck' value='$!{item.numCheck}'/></td>
				<td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
				<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
				<td>$!item.analysisName</td>
				<td>$!BdCommon.getStyleItemClassNames($!item.styleItemClassId)</td>
				<td>$!BdCommon.getStyleMiddleClassNames($!item.styleMiddleClassId)</td>
				<td>$!BdCommon.getStyleOrnaClassNames($!item.styleOrnaClassId)</td>
				<td>$!HtmlUtil.printStyle($!item.styleId, $!item.styleName, $!item.bigGraph)</td>
    			<td>$!BdCommon.getQualityName($!item.qualityId)</td>
				<td>$!BdCommon.getUnitName($!item.unitId)</td>
				<td>$!item.sizeName</td>
    			<td>$!DictUtil.getValue('diacolorgrade',$!item.colorGradeId)</td>
    			<td>$!DictUtil.getValue('diaclean',$!item.cleanId)</td>
    			<td>$!{DictUtil.getValue('gradelevel',$!item.colorGradeGradeId)}$!{DictUtil.getValue('gradelevel',$!item.cleanGradeId)}</td>
				<td><input type='checkbox' onchange="changeUsedFlag(this, false, $!{item.lineid})" #if("1" == $!item.usedFlag) checked #end></td>
			</tr>
		#end
    	</tbody>
	</table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function calcNumArriveNew(obj){
	var index = obj.parentNode.parentNode.rowIndex - 1;
	var tmp = floatSub($n("numOrder")[index].value, $n("numCheck")[index].value);
	if(tmp >0){
		obj.value = tmp;
	}else{
		obj.value = "";
	}
}
function changeUsedFlag(chk, headFlag, operId){
	PurchaseDwr.changeUsedFlag(headFlag, operId, chk.checked);
	if(headFlag){
    	jQuery("#frm").submit();
	}
}
/**
 * 选择采购员 用于查看
 */
function selectPurchaseEmps(){
	selectEmp(function(idArr, nameArr){
		//jQuery("#purEmpids").val(idArr);
		//jQuery("#purEmpnames").val(nameArr);
	}, null, null, true, jQuery("#purEmpids").val(), "getPurchaseEmp");
}
/**
 * 检查到货数量的有效性
 */
function checkNumArriveNew(obj){
	if(isNull(obj.value)){
		return false;
	}
	var index = obj.parentNode.parentNode.rowIndex - 1;
	if(!isNumber(obj.value)){
		alert("第" + (index + 1) + "行 到货数量 必须为整数");
		return false;
	}
	return true;
}
/**
 * 到货数量登记
 */
function showNumArrive(obj, lineid){
	var enterType = "1";//"1"到货数量登记"2"不合格数量登记
	showEnterWin(lineid, enterType);
}
/**
 * 不合格数量登记
 */
function showUncheck(obj, lineid){
	var enterType = "2";//"1"到货数量登记"2"不合格数量登记
	showEnterWin(lineid, enterType);
}
function showEnterWin(lineid, enterType){
	var _iframeId = "puchase_arriveEnter";
	var options = {
			title : "1" == enterType?'到货数量登记':'不合格数量登记',
			contentType : 'iframe',
			iframeId : _iframeId,
			width : 600,
			height : 350,
			okBtnName : '关闭',
			//cancelBtnName : '',
			showCancel : false,
			closeable:false,
			boxid:'winDiv',
			onok : function(box) {
				updateNum(lineid);
				box.close();
			}
	};
	var url =ctxPath + "/pur/purchase.vm?user_action=arriveEnter&headid=" + jQuery("#headid").val()
		+ "&lineid=" + lineid + "&enterType=" + enterType;
	//info(url);
	jQuery.weeboxs.open(url, options);
}
/**
 * 根据行id获取下标
 */
function getRowIndexByLineId(lineid){
	for(var i=0;i<$n("lineid").length;i++){
		if(lineid == $n("lineid")[i].value){
			return i;
		}
	}
	return -1;
}
function updateNum(lineid){
	var index = getRowIndexByLineId(lineid);
	if(index > -1){
		PurchaseDwr.getNumArriveCheck(lineid, function(data){
        	$n("numArrive")[index].value = data[1];
        	$n("numCheck")[index].value = data[2];
        	$n("numUncheck")[index].value = data[3];
		});
	}
}
/**
* 改变大类
*/
function changeItemClass(){
	PurchaseDwr.getOrnaClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
		changeOrnaClass();
	});
}
/**
* 改变小类
*/
function changeOrnaClass(){
	PurchaseDwr.getAnalysisForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("analysisId", data, null, null, true, true);
		changeAnalysis();
	});
}
/**
* 改变分析范围
*/
function changeAnalysis(){
	PurchaseDwr.getStyleItemClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), function(data){
		addOptions("styleItemClassId", data, null, null, true, true);
		changeStyleItemClass();
	});
}
/**
* 改变款式大类
*/
function changeStyleItemClass(){
	PurchaseDwr.getStyleMiddleClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), function(data){
		addOptions("styleMiddleClassId", data, null, null, true, true);
		changeStyleMiddleClass();
	});
}
/**
* 改变款式中类
*/
function changeStyleMiddleClass(){
	PurchaseDwr.getStyleOrnaClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
		addOptions("styleOrnaClassId", data, null, null, true, true);
		changeStyleOrnaClass();
	});
}
/**
* 改变款式小类
*/
function changeStyleOrnaClass(){
	PurchaseDwr.getStyleIdForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
		addOptions("styleId", data, null, null, true, true);
	});
}
/**
 * 保存到货数量
 */
function savePurchaseEnter(){
	var lineidArr = [];
	var numArriveNewArr = [];
	for(var i=0;i<$n("numArriveNew").length;i++){
		if(isNull($n("numArriveNew")[i].value)){
			continue;
		}
		if(checkNumArriveNew($n("numArriveNew")[i])){
			lineidArr.push($n("lineid")[i].value);
			numArriveNewArr.push($n("numArriveNew")[i].value);
		}else{
			return ;
		}
	}
	if(lineidArr.length<1){
		alert("请先填写到货数量");
		return ;
	}
	confirm("确定保存?", function(){
		var result = null;
		startSync();
		showLayer(true);
		for(var i=0;i<lineidArr.length;i++){
    		PurchaseDwr.savePurchaseEnter(jQuery("#headid").val(), {
    			lineid:lineidArr[i],
    			enterType:'1',
    			numEnter:numArriveNewArr[i],
    			memo:null
    		}, function(data){
				result = data;
    		});
			if(result){
				alert(result);
				return ;
			}
		}
		endSync();
		showLayer(false);
		alert("保存成功", function(){
			jQuery("#frm").submit();
		});
	});
}
function setValues(){
	//请求大类数据
	PurchaseDwr.getItemClassForSlt(jQuery("#headid").val(), function(data){
		addOptions("itemClassId", data, null, null, true, true, "$!form.condition.itemClassId");
		if("$!form.condition.itemClassId"){
			//请求小类数据
			PurchaseDwr.getOrnaClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), function(data){
    			addOptions("ornaClassId", data, null, null, true, true, "$!form.condition.ornaClassId");
				if("$!form.condition.ornaClassId"){
        			//请求分析范围数据
        			PurchaseDwr.getAnalysisForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
                		addOptions("analysisId", data, null, null, true, true, "$!form.condition.analysisId");
                		if("$!form.condition.analysisId"){
                			//请求款式大类数据
							PurchaseDwr.getStyleItemClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), function(data){
                        		addOptions("styleItemClassId", data, null, null, true, true, "$!form.condition.styleItemClassId");
								if("$!form.condition.styleItemClassId"){
                        			//请求款式中类数据
        							PurchaseDwr.getStyleMiddleClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), function(data){
                                		addOptions("styleMiddleClassId", data, null, null, true, true, "$!form.condition.styleMiddleClassId");
        								if("$!form.condition.styleMiddleClassId"){
                                			//请求款式小类数据
                							PurchaseDwr.getStyleOrnaClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
                                        		addOptions("styleOrnaClassId", data, null, null, true, true, "$!form.condition.styleOrnaClassId");
                                        		if("$!form.condition.styleOrnaClassId"){
                                        			//请求款式数据
                									PurchaseDwr.getStyleIdForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
                                                		addOptions("styleId", data, null, null, true, true, "$!form.condition.styleId");
                                                	});
                								}
                                        	});
										}
        							});
								}
							});
						}
                	});
				}
    		});
		}
	});
}
jQuery(function(){
	altRowCSS('tbl');
	//checkTable('tbl', 'chkall', 'chk', false);
	jQuery("#btnQuery").click(function(){
		jQuery("#frm").submit();
	});
	jQuery("#btnSave").click(savePurchaseEnter);
	//返回列表
	jQuery("#btnToList").click(function(){
		window.location = "purchaseArrive.vm";
	});
	setValues();
	dealStatus();
	checkReview();
});
function dealStatus(){
	if("8" == "$!form.head.status"){
    	jQuery("#btnSave").attr("disabled", true);
		//单据关闭后，不能进行保留、添加到货数量、添加不合格数量
		jQuery("input[type='checkbox']").each(function(index){
			jQuery(this).attr("disabled", true);
		});
		jQuery("input[name='numArrive']").each(function(index){
			jQuery(this).attr("disabled", true);
		});
		jQuery("input[name='numUncheck']").each(function(index){
			jQuery(this).attr("disabled", true);
		});
		jQuery("input[name='numArriveNew']").each(function(index){
			jQuery(this).attr("disabled", true);
		});
	}
}
</script>