#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js",
	"$StringUtil.getContextPath()/dwr/interface/PurchaseDwr.js"])
#if("1" == "$!{form.jmFlag}")
	#set($modelCode = '09070202')
#else
	#set($modelCode = '08020502')
#end
<form id='frm' action="purchase.vm" method="post">
	<input type="hidden" name="user_action" value="toView"/>
	<input type='hidden' id='doomNum' value='$!{form.cust.doomNum}'/>
	<input type="hidden" id="custid" name="custid" value="${form.cust.custid}"/>
    <input type='hidden' id='jmFlag' name='jmFlag' value='$!{form.jmFlag}'/>
    <table class="title">
    	<tr><td>定做单</td></tr>
    </table>
    <table class="control" style="width:1200px;">
    	<tr><td>
				<input type='button' value='添加供应商' class='btn' id="btnAddVendor">
				<input type='button' value='生成采购单' class='btn' id="btnCreatePurchase" $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
		</td></tr>
    </table>
	<table class="content" style="width:1200px;">
		<tr>
			<td class='body1'>定做单编号</td><td class='body2'>$!form.cust.billno</td>
			<td class='body1'>组织</td><td class='body2'>$!BdCommon.getOrgName($!form.cust.orgId)</td>
			<td class='body1'>创建人</td><td class='body2'>$!BdCommon.getUserName($!form.cust.createId)</td>
			<td class='body1'>创建时间</td><td class='body2'>$!form.cust.createDate</td>
		</tr>
    </table>
    <table class='list' style="width:1200px;">
    	<thead>
			<tr>
                <th>供应商</th>
                <th>款式</th>
        		<th>分配数量</th>
        		<th>下单日期</th>
                <th>采购员</th>
                <th>业务类型</th>
				<th>说明</th>
        		<th>采购单号</th>
        		<th>到货数</th>
				<th>不合格数</th>
        		<th style='width:60px;'></th>
            </tr>
        </thead>
        <tbody id="tbl"></tbody>
	</table>
	<table class="content" style="width:1200px;">
		<tr>
			<td class='body1'>顾客姓名</td><td class='body2'>$!form.cust.customerName</td>
			<td class='body1'>顾客电话</td><td class='body2'>$!form.cust.customerTel</td>
            <td class='body1'>计划岗审批意见</td><td class='body2' colspan="3"><input type="text" readonly style="width:99%" value="$!form.cust.appviewReason"/></td>
		</tr>
		<tr>
			<td class='body1'>预定数量</td><td class='body2'>$!form.cust.doomNum</td>
			<td class='body1'>预定重量</td><td class='body2'>$!form.cust.doomWeight</td>
			<td class='body1'>要求到货时间</td><td class='body2'>$!form.cust.requestDate</td>
		</tr>
		<tr>
            <td class='body1'>备注</td><td class='body2' colspan="7"><textarea readonly style="width:99%" rows="2">$!form.cust.memo</textarea></td>
		</tr>
		<tr>
			<td class='body1'>商品类别</td><td class='body2'>$!BdCommon.getArticleTypeDesc($!form.cust.articleTypeId)</td>
			<td class='body1'>大类</td><td class='body2'>$!BdCommon.getItemClassDesc($!form.cust.itemClassId)</td>
			<td class='body1'>小类</td><td class='body2'>$!BdCommon.getOrnaClassDesc($!form.cust.ornaClassId)</td>
			<td class='body1'>分析范围</td><td class='body2'>$!form.cust.analysisName</td>
		</tr>
		<tr>
			<td class='body1'>款式大类</td><td class='body2'>$!BdCommon.getStyleItemClassNames($!form.cust.styleItemClassId)</td>
			<td class='body1'>款式中类</td><td class='body2'>$!BdCommon.getStyleMiddleClassNames($!form.cust.styleMiddleClassId)</td>
			<td class='body1'>款式小类</td><td class='body2'>$!BdCommon.getStyleOrnaClassNames($!form.cust.styleOrnaClassId)</td>
			<td class='body1'>款式</td><td class='body2'>
			#if("" == "$!form.cust.stylePicPath")
				$!form.cust.styleName
			#else
				<a href='javascript:viewStyle("$!form.cust.styleId")'>$!form.cust.styleName</a>
			#end
			</td>
		</tr>
		<tr>
			<td class='body1'>商品材质</td><td class='body2'>$!BdCommon.getQualityName($!form.cust.qualityId)</td>
			<td class='body1'>计量单位</td><td class='body2'>$!BdCommon.getUnitName($!form.cust.unitId)</td>
			<td class='body1'>尺寸</td><td class='body2'>$!form.cust.sizeName</td>
		</tr>
		<tr>
			<td class='body1'>色级</td><td class='body2'>$!DictUtil.getValue('diacolorgrade',$!form.cust.colorGradeId)</td>
			<td class='body1'>净度</td><td class='body2'>$!DictUtil.getValue('diaclean',$!form.cust.cleanId)</td>
			<td class='body1'>品质</td><td class='body2'>$!{DictUtil.getValue('gradelevel',$!form.cust.colorGradeGradeId)}$!{DictUtil.getValue('gradelevel',$!form.cust.cleanGradeId)}</td>
			<td class='body1'>定做类别</td><td class='body2'>$!form.cust.customizeClass</td>
		</tr>
		#if(""!="$!{form.stylePicPath}")
		<tr>
			<td class='body1' colspan="4">
				<img src="$!{form.stylePicPath}" style="width:400px;height:300px;"/>
			</td>
		</tr>
		#end
	</table>
</form>
<script>
var count = 0;
function setLineValues(){
	#set($count = 0)
	#foreach($item in $form.vendorList)
		addVendorRow();
		$n("vendorId")[$count].value = "$!{item.vendorId}";
		$n("vendorName")[$count].value = "$!BdCommon.getVendorName($!{item.vendorId})";
		$n("styleId")[$count].value = "$!{item.styleId}";
		$n("styleName")[$count].value = "$!{item.styleName}";
		DictDwr.getDictsForSlt("purbiztype", function(data){
			addOptions($n("bizType")[$count], data, null, null, true, true, "$!{item.bizType}");
		});
		$n("numOrder")[$count].value = "$!{item.numOrder}";
		$n("dodate")[$count].value = "$!{item.dodate}";
		$n("purEmpids")[$count].value = "$!{item.purEmpids}";
		$n("purEmpnames")[$count].value = "$!BdCommon.getUserName($!item.purEmpids)";
		$n("memo")[$count].value = "$!{item.memo}";
		$n("purchaseBillno")[$count].value = "$!{item.purchaseBillno}";
		$n("numArrive")[$count].value = "$!{item.numArrive}";
		$n("numUncheck")[$count].value = "$!{item.numUncheck}";
		
		#set($count = $count + 1)
	#end
}
function checkNumOrder(obj){
	if(isNull(obj.value)){
		return false;
	}
	var index = obj.parentNode.parentNode.rowIndex - 1;
	if(!isNumber(obj.value)){
		alert("第" + (index + 1) + "行 分配数量 必须为整数");
		return false;
	}
	return true;
}
function checkAvail(){
	var numOrderSum = 0.0;
	for(var i=0;i<$("tbl").rows.length;i++){
		if(isNull($n("vendorId")[i].value)){
			alert("第" + (i+1) + "行 请选择供应商");
			return false;
		}
		if(isNull($n("styleId")[i].value)){
			alert("第" + (i+1) + "行 请选择款式");
			return false;
		}
		if(isNull($n("numOrder")[i].value)){
			alert("第" + (i+1) + "行 请填写分配数量");
			return false;
		}
		if(!checkNumOrder($n("numOrder")[i])){return false;}
		if(isNull($n("dodate")[i].value)){
			alert("第" + (i+1) + "行 请选择下单日期");
			return false;
		}
		if(isNull($n("purEmpids")[i].value)){
			alert("第" + (i+1) + "行 请选择采购员");
			return false;
		}
		if(isNull($n("bizType")[i].value)){
			alert("第" + (i+1) + "行 请选择业务类型");
			return false;
		}
		numOrderSum += parseInt($n("numOrder")[i].value);
	}
	if(!checkVendorRepeat())
		return false;
	//info(numOrderSum);
	if(numOrderSum != parseInt(jQuery("#doomNum").val())){
		alert("分配数量之和[" + numOrderSum + "]不等于预订数量[" + jQuery("#doomNum").val() + "]");
		return false;
	}
	return true;
}
function checkVendorRepeat(){
	for(var i=0;i<$("tbl").rows.length;i++){
		if(isNull($n("vendorId")[i].value))
			return false;
		for(var j=i+1;j<$("tbl").rows.length;j++){
    		if($n("vendorId")[i].value == $n("vendorId")[j].value){
    			alert("第" + (i+1) + "行 和 第" + (j+1) + "行 供应商不能相同");
    			return false;
    		}
		}
	}
	return true;
}
function createPurchaseBill(){
	if(!checkAvail()){return ;}
	confirm("确定生成采购单?", function(){
		var purchaseHeadList = [];
		for(var i=0;i<$("tbl").rows.length;i++){
			purchaseHeadList.push({
				vendorId : $n("vendorId")[i].value,
				styleId : $n("styleId")[i].value,
				numOrder : $n("numOrder")[i].value,
				dodate : $n("dodate")[i].value,
				purEmpids : $n("purEmpids")[i].value,
				bizType : $n("bizType")[i].value,
				memo : $n("memo")[i].value
			});
		}
		showLayer(true);
    	PurchaseDwr.createPurchaseBillFromCust(jQuery("#custid").val(), jQuery("#jmFlag").val(), purchaseHeadList, function(data){
    		showLayer(false);
			alert(data?data:"生成采购单成功", function(){
				if(!data){
					window.location = "purchaseCust.vm?jmFlag=" + jQuery("#jmFlag").val();
				}
			});
    	});
	});
}
/**
 * 选择采购员
 */
function selectPurchaseEmps(obj){
	var index = obj.parentNode.parentNode.rowIndex - 1;
	selectEmp(function(idArr, nameArr){
		$n("purEmpids")[index].value = idArr;
		$n("purEmpnames")[index].value = nameArr;
	}, null, null, true, $n("purEmpids")[index].value, "getPurchaseEmp");
}
function showVendorWin(obj){
	var index = obj.parentNode.parentNode.rowIndex - 1;
	selectVendor(function(idArr, nameArr){
		$n("vendorId")[index].value = idArr.join(',');
		$n("vendorName")[index].value = nameArr.join(',');
	}, null, null, false, $n("vendorId")[index].value);
}
/**
 * 添加供应商行
 */
function addVendorRow(){
	var htmlArr = ["<input type='hidden' name='vendorId' value=''><input style='width:120px;' type='text' name='vendorName' value='' readonly class='target' ondblclick='showVendorWin(this)'>",	
		"<input type='hidden' name='styleId' value='" + (isNull("$!{form.cust.styleId}")?"":"$!{form.cust.styleId}")
			+ "'/><input type='text' name='styleName' style='width:120px;' readonly"
			+ (isNull("$!{form.cust.styleId}")?" class='target' ondblclick='selectCustStyle(this)'":" value='$!{form.cust.styleName}'")	+ "/>",
		"<input type='text' name='numOrder' style='width:60px;' onchange='checkNumOrder(this)'/>",
		"<input type='text' name='dodate' id='dodate" + count + "' style='width:90px;'/>",
		"<input type='hidden' name='purEmpids'/><input type='text' name='purEmpnames' class='target' readonly ondblclick='selectPurchaseEmps(this)'/>",
		"<select style='width:90px;' name='bizType'></select>",
		"<input type='text' name='memo' value='$!{item.memo}'/>",
		"<input type='text' name='purchaseBillno' readonly style='width:100px;' class='none' value='$!{item.purchaseBillno}'/>",
		"<input type='text' name='numArrive' readonly style='width:45px;' class='none' value='$!{item.numArrive}'/>",
		"<input type='text' name='numUncheck' readonly style='width:45px;' class='none' value='$!{item.numUncheck}'/>",
		"<input type='button' class='btn' value='删除' onclick='deleteRow(this,\"tbl\")'/>"];
	insertRow('tbl', htmlArr, false);

	var index = $("tbl").rows.length - 1;
	DictDwr.getDictsForSlt("purbiztype", function(data){
		addOptions($n("bizType")[index], data, null, null, true, true);
	});
	
	initCalendar("dodate" + count);
	count ++;
}
jQuery(function(){
	altRowCSS('tbl');
	jQuery("#btnCreatePurchase").click(createPurchaseBill);
	jQuery("#btnToList").click(function(){
		window.location = "purchaseCust.vm?jmFlag=" + jQuery("#jmFlag").val();
	});
	jQuery("#btnAddVendor").click(addVendorRow);
	setLineValues();
	disableButton();
	checkReview();
});
function disableButton(){
	jQuery("#btnCreatePurchase").attr("disabled", true);
	jQuery("#btnAddVendor").attr("disabled", true);
	if(("$!{form.jmFlag}" == 1 && "$!form.cust.status" == "24")
		||("$!{form.jmFlag}" == 0 && "$!form.cust.status" == "45")){
    	jQuery("#btnCreatePurchase").attr("disabled", false);
    	jQuery("#btnAddVendor").attr("disabled", false);
	}
}
/**
 * 选择款式
 */
function selectCustStyle(obj){
	var index = obj.parentNode.parentNode.rowIndex - 1;
	selectStyle(function(id, name){
		$n("styleId")[index].value = id;
		$n("styleName")[index].value = name;
	}, null, null, $n("styleId")[index].value);
}
function selectStyle(okfunc, cancelfunc, checkFunc, selectedValues){
	var _iframeId = "selectStyleFrm";
	var options = {
			title : '选择款式',
			contentType : 'iframe',
			iframeId : _iframeId,
			width : 500,
			height : 200,
			onok : function(box) {
    			var results = jQuery("#" + _iframeId)[0].contentWindow.getValues();
    			if(checkFunc && !checkFunc(results[0], results[1])){
    				return;
    			}
    			okfunc(results[0], results[1]);
    			box.close();
			},
			oncancel : function(box) {
				if(cancelfunc){
					cancelfunc();
				}
				box.close();
			}
	};
	var url = ctxPath + '/pur/purchaseCust.vm?user_action=selectStyleForCust&custid=${form.cust.custid}&selectedValues='
			+ selectedValues + "&jmFlag=" + jQuery("#jmFlag").val();
	jQuery.weeboxs.open(url, options);
}
</script>