<form id="frm" method="post">
    <input type='hidden' id='user_action' name='user_action' value=''/>
	<table class="title">
    	<tr><td>采购单到货记录#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='查看' class='btn' id='btnView' $RightUtil.able($session, '08020401','1')>
				<input type='button' value='查询' class='btn' id='btnQueryShow'>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()">
			</td>
		</tr>
    </table>
	<div class='scroll'>
    <table class='list' style="width:1900px;">
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
        		<th style="width:60px;">状态</th>
                <th style="width:120px;">采购单编号</th>
        		<th style="width:90px;">来源单据</th>
        		<th style="width:120px;">来源单据号</th>
				<th style="width:90px;">单据类型</th>
				<th style="width:90px;">业务类型</th>
				<th style="width:180px;">供应商名称</th>
        		<th style="width:180px;">采购组织</th>
				<th style="width:180px;">采购员</th>
        		<th style="width:90px;">是否保留</th>
				<th style="width:90px;">采购总数</th>
        		<th style="width:90px;">创建人</th>
        		<th style="width:120px;">创建时间</th>
        		<th style="width:90px;">修改人</th>
        		<th style="width:120px;">修改时间</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($item in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value='$!{item.headid}'/>$velocityCounter</td>
				<td>$!DictUtil.getValue('status', $!item.status)</td>
				<td><a href='javascript:toViewPage($!{item.headid});'>$!item.billno</a></td>
				<td>$!DictUtil.getValue('billcode', $!item.srcBillCode)</td>
				<td><a href="javascript:toViewPage2($!{item.srcBillId},'$!item.srcBillCode');">$!item.srcBillNo</a></td>
				<td>$!DictUtil.getValue('purbilltype', $!item.billType)</td>
    			<td>$!DictUtil.getValue('purbiztype', $!item.bizType)</td>
				<td><input type='text' class='none' readonly value="$!BdCommon.getVendorName($!item.vendorId)"></td>
				<td>$!BdCommon.getOrgName($!item.orgId)</td>
				<td><input type='text' readonly class='none' value="$!BdCommon.getUserName($!item.purEmpids)" style='width:180px;'></td>
				<td>$!DictUtil.getValue('yesorno', $!item.usedFlag)</td>
				<td>$!item.sumNum</td>
				<td>$!BdCommon.getUserName($!item.createId)</td>
				<td>$!item.createDate</td>
				<td>$!BdCommon.getUserName($!item.updateId)</td>
				<td>$!item.updateDate</td>
			</tr>
		#end
    	</tbody>
    </table>
    </div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false, null, function(index){
		toViewPage($n("chk")[index].value);
	});
	jQuery("#btnView").click(function(){
		if(-1 == getSelectIndex("chk")){
			alert("请选择要查看的记录");
			return ;
		}
		toViewPage($n("chk")[getSelectIndex('chk')].value);
	});
	initQuery2("CM02", "frm", "btnQueryShow");
});
function toViewPage(headid){
	window.location = "purchaseArrive.vm?user_action=toView&headid=" + headid;
}
function toViewPage2(headid,type){
	var titleName = "";
	var url = "";
	if(type=="DZ"){
		titleName = "定做单";
		url = ctxPath+ "/pur/purchaseCust.vm?user_action=toView&custid=" + headid + "&jmFlag=0&reviewflag=1";
	}else if(type=="customizeBill"){
		titleName = "加盟定做单";
		url = ctxPath+ "/pur/purchaseCust.vm?user_action=toView&custid=" + headid + "&jmFlag=1&reviewflag=1";
	}else if(type=="CZ"){
		titleName = "采购总单";
		url = ctxPath+ "/pur/purGather.vm?user_action=toView&headid=" + headid + "&reviewflag=1";
	}
	var options = {
		title : titleName,
		contentType : 'iframe',
		iframeId : "purchaseWindowId",
		width : 800,
		height : 400,
		okBtnName : '确定',
		closeable:true,
		boxid:'winDiv',
		onok : function(box) {box.close();},
		oncancel : function(box) {box.close();}
	};
	jQuery.weeboxs.open(url, options);
}
</script>