#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js",
	"$StringUtil.getContextPath()/dwr/interface/PurGatherDwr.js"])

<form id='frm' action="purGather.vm" method="post">
	<input type="hidden" name="user_action" value="createPurchase"/>
	<input type="hidden" id="headid" name="headid" value="${form.head.headid}"/>
	<input type="hidden" id="dispatchOverFlag" name="dispatchOverFlag" value="${form.condition.dispatchOverFlag}"/>
    <table class="title">
    	<tr><td>生成采购单</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='记账' class='btn' id="btnMark">
				<input type='button' value='返回列表' class='btn' id="btnToList">
		</td></tr>
    </table>
	<table class="content">
		<tr>
			<td class='body1'>采购总单号</td><td class='body2'>$!form.head.billno</td>
			<td class='body1'>区域</td><td class='body2'>$!form.head.regionName</td>
			<td class='body1'>周期类型</td><td class='body2'>$!form.head.cycleTypeName</td>
			<td class='body1'>购物类型</td><td class='body2'>$!DictUtil.getValue("ordertype", $!form.head.orderType)</td>
		</tr>
		<tr>
			<td class='body1'>供应商</td><td class='body2'>
				<input type='hidden' id='vendorId' name="vendorId" value="$!{form.condition.vendorId}">
				<input type='text' id='vendorName' value="$!BdCommon.getVendorName($!{form.condition.vendorId})" readonly class='target' ondblclick="showVendorWin()" dataType="Require" msg="不能为空">
				$!StringUtil.star()
			</td>
			<td class='body1'>下单时间</td><td class='body2'><input type='text' id='dodate' name='dodate' value="$!DateUtil.getCurrentDate10()" dataType="Require" msg="不能为空" readonly/>$!StringUtil.star()</td>
			<td class='body1'>采购员</td>
			<td class='body2'>
				<input type='hidden' id='purEmpids' name='purEmpids'>
				<input type='text' id='purEmpnames' dataType="Require" msg="不能为空" class='target' readonly ondblclick="selectPurchaseEmps()"/>$!StringUtil.star()
			</td>
			<td class='body1'>业务类型</td><td class='body2'><select id='bizType' name='bizType' dataType="Require" msg="不能为空"></select>$!StringUtil.star()</td>
		</tr>
		<tr>
			<td class='body1'>说明</td><td class='body2' colspan="7"><input type='text' id='memo' name='memo' value="$!form.condition.memo" style="width:95%;"/></td>
		</tr>
	</table>
	<table class="list">
		<thead>
			<tr>
				<th style="width:12%;">大类</th>
				<th style="width:12%;">小类</th>
				<th style="width:12%;">分析范围</th>
				<th style="width:12%;">款式大类</th>
				<th style="width:12%;">款式中类</th>
				<th style="width:12%;">款式小类</th>
				<th style="width:12%;">明细款式</th>
				<th>显示未解完</th>
				<th></th>
			</tr>
        </thead>
		<tbody>
			<tr>
				<td><select id="itemClassId" name="itemClassId" onchange="changeItemClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="ornaClassId" name="ornaClassId" onchange="changeOrnaClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="analysisId" name="analysisId" onchange="changeAnalysis()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleItemClassId" name="styleItemClassId" onchange="changeStyleItemClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleMiddleClassId" name="styleMiddleClassId" onchange="changeStyleMiddleClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleOrnaClassId" name="styleOrnaClassId" onchange="changeStyleOrnaClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleId" name="styleId" onchange=""><option value=''>--请选择--</option></select></td>
				<td><input type="checkbox" onclick="clickDispatchOverChk(this)" value="1" #if("1" == $!form.condition.dispatchOverFlag) checked #end/></td>
				<td><input type="button" value="筛选" id="btnQuery" class='btn'/> </td>
			</tr>
        </tbody>
	</table>
	<table class="list">
		<thead>
			<tr>
				<th>当前分解</th>
				<th>已分解</th>
				<th>采购数量</th>
				<th>大类</th>
				<th>小类</th>
				<th>分析范围</th>
				<th>款式大类</th>
				<th>款式中类</th>
				<th>款式小类</th>
				<th>款式</th>
				<th>商品材质</th>
				<th>托架颜色</th>
				<th>计量单位</th>
				<th>尺寸</th>
				<th>色级</th>
				<th>净度</th>
				<th>品质</th>
			</tr>
        </thead>
		<tbody id='tbl'>
		#foreach($item in $form.pager.pageData)
			<tr>
    			<td>
					<input type='hidden' name='lineid' value='$!{item.lineid}'/>
					<input type="text" style="width:60px;" name="numCurrentDispatch" value="$!item.numCurrentDispatch" ondblclick="calcNumCurrentDispatch(this)" onchange="changeNumCurrentDispatch(this)"/></td>
    			<td><input type='text' readonly class='none' style="width:60px;" name='numDispatch' value="$!item.numDispatch"/></td>
    			<td><input type='text' readonly class='none' style="width:60px;" name='numOrder' value="$!item.numOrder"/></td>
				<td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
				<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
				<td>$!item.analysisName</td>
				<td>$!BdCommon.getStyleItemClassNames($!item.styleItemClassId)</td>
				<td>$!BdCommon.getStyleMiddleClassNames($!item.styleMiddleClassId)</td>
				<td>$!BdCommon.getStyleOrnaClassNames($!item.styleOrnaClassId)</td>
				<td>$!HtmlUtil.printStyle($!item.styleId, $!item.styleName, $!item.bigGraph)</td>
    			<td>$!BdCommon.getQualityName($!item.qualityId)</td>
				<td>$!DictUtil.getValue('bracketcolor',$!item.bracketcolorId)</td>
				<td>$!BdCommon.getUnitName($!item.unitId)</td>
				<td>$!item.sizeName</td>
    			<td>$!DictUtil.getValue('diacolorgrade',$!item.colorGradeId)</td>
    			<td>$!DictUtil.getValue('diaclean',$!item.cleanId)</td>
    			<td>$!{DictUtil.getValue('gradelevel',$!item.colorGradeGradeId)}$!{DictUtil.getValue('gradelevel',$!item.cleanGradeId)}</td>
			</tr>
		#end
    	</tbody>
	</table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function clickDispatchOverChk(obj){
	jQuery("#dispatchOverFlag").val(obj.checked?"1":"0");
}
function checkField(){
	var flag = true;
	for(var i=0;i<$n("numCurrentDispatch").length;i++){
		var obj = $n("numCurrentDispatch")[i];
    	if(isNull(obj.value)){
    		continue;
    	}
		if(!changeNumCurrentDispatch(obj)){
    		return false;
    	}
		if(parseFloat(obj.value)>0){
    		flag = true;
		}
	}
	if(!flag){
		alert("请填写当前分解数量");
		return false;
	}
	return true;
}
/**
 * 记账
 */
function markPurchase(){
	if(!Validator.Validate($("frm"),3)){
		return false;
	}
	if(!checkField()){
		return false;
	}
	confirm("确定记账?", function(){
		var purchaseHead = {
			dodate : jQuery("#dodate").val(),
			vendorId : jQuery("#vendorId").val(),
			purEmpids : jQuery("#purEmpids").val(),
			bizType : jQuery("#bizType").val(),
			memo : jQuery("#memo").val()
		};
		//行数据从session中获取
		showLayer(true);
    	PurGatherDwr.savePurchase(jQuery("#headid").val(), purchaseHead, function(data){
			showLayer(false);
			alert(data?data:"记账成功", function(){
				if(!data){
					jQuery("#frm").submit();
				}
			});
		});
	});
}
/**
 * 选择采购员
 */
function selectPurchaseEmps(){
	selectEmp(function(idArr, nameArr){
		jQuery("#purEmpids").val(idArr);
		jQuery("#purEmpnames").val(nameArr);
	}, null, null, true, jQuery("#purEmpids").val(), "getPurchaseEmp");
}
function calcNumCurrentDispatch(obj){
	var index = obj.parentNode.parentNode.rowIndex - 1;
	var result = floatSub($n("numOrder")[index].value, $n("numDispatch")[index].value);
	if(parseFloat(result)<=0){
		$n("numCurrentDispatch")[index].value = "0";
	}else{
		$n("numCurrentDispatch")[index].value = result;
	}
	addNumDispatchToSession($n("lineid")[index].value, $n("numCurrentDispatch")[index].value);
}
function changeNumCurrentDispatch(obj){
	var index = obj.parentNode.parentNode.rowIndex - 1;
	if(isNull(obj.value)){
		addNumDispatchToSession($n("lineid")[index].value, "0");
		return false;
	}
	if(!isNumber(obj.value)){
		alert("第"+(index+1)+"行 当前分解必须为整数");
		addNumDispatchToSession($n("lineid")[index].value, "0");
		return false;
	}
	var result = floatSub($n("numOrder")[index].value, $n("numDispatch")[index].value);
	if(parseFloat(result)<parseFloat(obj.value)){
		alert("第"+(index+1)+"行记录，当前分解+已分解 不能大于 采购数量");
		$n("numCurrentDispatch")[index].value = parseFloat(result);
		addNumDispatchToSession($n("lineid")[index].value, result);
		return false;
	}
	addNumDispatchToSession($n("lineid")[index].value, $n("numCurrentDispatch")[index].value);
	return true;
}
function addNumDispatchToSession(lineid, numCurrentDispatch){
	startSync();
	PurGatherDwr.addNumDispatchToSession(lineid, numCurrentDispatch);
	endSync();
}
/**
* 改变大类
*/
function changeItemClass(){
	PurGatherDwr.getOrnaClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
		changeOrnaClass();
	});
}
/**
* 改变小类
*/
function changeOrnaClass(){
	PurGatherDwr.getAnalysisForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("analysisId", data, null, null, true, true);
		changeAnalysis();
	});
}
/**
* 改变分析范围
*/
function changeAnalysis(){
	PurGatherDwr.getStyleItemClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), function(data){
		addOptions("styleItemClassId", data, null, null, true, true);
		changeStyleItemClass();
	});
}
/**
* 改变款式大类
*/
function changeStyleItemClass(){
	PurGatherDwr.getStyleMiddleClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), function(data){
		addOptions("styleMiddleClassId", data, null, null, true, true);
		changeStyleMiddleClass();
	});
}
/**
* 改变款式中类
*/
function changeStyleMiddleClass(){
	PurGatherDwr.getStyleOrnaClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
		addOptions("styleOrnaClassId", data, null, null, true, true);
		changeStyleOrnaClass();
	});
}
/**
* 改变款式小类
*/
function changeStyleOrnaClass(){
	PurGatherDwr.getStyleIdForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
		addOptions("styleId", data, null, null, true, true);
	});
}
/**
 * 
 */
function setValues(){
	//请求大类数据
	PurGatherDwr.getItemClassForSlt(jQuery("#headid").val(), function(data){
		addOptions("itemClassId", data, null, null, true, true, "$!form.condition.itemClassId");
		if("$!form.condition.itemClassId"){
			//请求小类数据
			PurGatherDwr.getOrnaClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), function(data){
    			addOptions("ornaClassId", data, null, null, true, true, "$!form.condition.ornaClassId");
				if("$!form.condition.ornaClassId"){
        			//请求分析范围数据
        			PurGatherDwr.getAnalysisForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
                		addOptions("analysisId", data, null, null, true, true, "$!form.condition.analysisId");
                		if("$!form.condition.analysisId"){
                			//请求款式大类数据
							PurGatherDwr.getStyleItemClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), function(data){
                        		addOptions("styleItemClassId", data, null, null, true, true, "$!form.condition.styleItemClassId");
                        		if("$!form.condition.styleItemClassId"){
                        			//请求款式中类数据
        							PurGatherDwr.getStyleMiddleClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), function(data){
                                		addOptions("styleMiddleClassId", data, null, null, true, true, "$!form.condition.styleMiddleClassId");
                                		if("$!form.condition.styleMiddleClassId"){
                                			//请求款式小类数据
                							PurGatherDwr.getStyleOrnaClassForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
                                        		addOptions("styleOrnaClassId", data, null, null, true, true, "$!form.condition.styleOrnaClassId");
                                        		if("$!form.condition.styleOrnaClassId"){
                                        			//请求款式数据
                									PurGatherDwr.getStyleIdForSlt(jQuery("#headid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
                                                		addOptions("styleId", data, null, null, true, true, "$!form.condition.styleId");
                                                	});
                								}
                                        	});
										}
									});
								}
							});
						}
                	});
				}
    		});
		}
	});
   	//设置采购员
	if(isNull("$!{form.condition.purEmpids}")){
    	startSync();
    	PurGatherDwr.isSessionUserPurEmp(function(data){
    		if(data){
        		jQuery("#purEmpids").val("$!StringUtil.getUserId($session)");
        		jQuery("#purEmpnames").val("$!StringUtil.getUserName($session)");
    		}
    	});
	}else{
		jQuery("#purEmpids").val("$!{form.condition.purEmpids}");
		jQuery("#purEmpnames").val("$!BdCommon.getUserName(${form.condition.purEmpids})");
	}
	endSync();
	if(!isNull("$!{form.condition.dodate}")){
    	jQuery("#dodate").val("$!{form.condition.dodate}");
	}
	DictDwr.getDictsForSlt('purbiztype',function(data){
		addOptions("bizType",  data, null, null, true, true, "$!{form.condition.bizType}");
	});
}
function showVendorWin(){
	selectVendor(function(idArr, nameArr){
		jQuery("#vendorId").val(idArr.join(','));
		jQuery("#vendorName").val(nameArr.join(','));
	}, null, null, false, jQuery("#vendorId").val());
}
jQuery(function(){
	altRowCSS('tbl');
	jQuery("#btnQuery").click(function(){
		jQuery("#frm").submit();
	});
	//返回列表
	jQuery("#btnToList").click(function(){
		window.location = "purGather.vm?user_action=list2";
	});
	//记账
	jQuery("#btnMark").click(markPurchase);
	initCalendar("dodate");
	setValues();
	dealwithStatus();
});
function dealwithStatus(){
	jQuery("#btnMark").attr("disabled", true);
	if("2" == "$!form.head.status"){
    	jQuery("#btnMark").attr("disabled", false);
	}
}
</script>