#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/PurGatherDwr.js"])

<form id="frm" method="post">
	<input type='hidden' name='exportExcelFlag' value='1'/>
	<input type='hidden' id='user_action' name='user_action' value=''/>
    <table class="title">
    	<tr><td>采购总单管理#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='查看' class='btn' id='btnView' $RightUtil.able($session, '08020101','1')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' $RightUtil.able($session, '08020101','3')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, '08020101','2')>
			</td>
		</tr>
    </table>
	<div class='scroll'>
    <table class='list' style="width:1800px;">
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
        		<th width='60px'>状态</th>
                <th width='120px'>单据编号</th>
        		<th width='150px'>区域</th>
        		<th width='120px'>总单编号</th>
				<th width='90px'>周期类型</th>
				<th width='180px'>商品类别</th>
				<th width='90px'>购物类型</th>
				<th width='90px'>要货分类</th>
        		<th width='90px'>是否保留</th>
        		<th width='90px'>采购总数</th>
        		<th width='90px'>创建人</th>
        		<th width='120px'>创建时间</th>
                <th width='90px'>修改人</th>
                <th width='120px'>修改时间</th>
				<th style='width:60px;'></th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value='$!{map.headid}'/>$velocityCounter</td>
				<td>$!DictUtil.getValue('status', $!map.status)</td>
				<td><a href='javascript:toViewPage($!{map.headid});'>$!{map.billno}</a></td>
				<td>$!map.regionName</td>
				<td>$!map.gatherHeadNo</td>
				<td>$!map.cycleTypeName</td>
				<td><input type='text' readonly class='none' style='width:180px;' value="$!BdCommon.getArticleTypeDesc($!map.articleTypeIds)"></td>
				<td>$!DictUtil.getValue('ordertype', $!map.orderType)</td>
				<td>$!DictUtil.getValue('orderkind', $!map.orderKind)</td>
				<td>$!DictUtil.getValue('yesorno', $!map.usedFlag)</td>
				<td>$!map.sumNum</td>
				<td>$!BdCommon.getUserName($!map.createId)</td>
				<td>$!map.createDate</td>
                <td>$!BdCommon.getUserName($!map.updateId)</td>
                <td>$!map.updateDate</td>
				<td><input type="button" style="height:19px;" class="btn" value="撤销" onclick="cancelPurGather('$!{map.headid}')"/></td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false, null, function(index){
		toViewPage($n("chk")[index].value);
	});
	jQuery("#btnQueryOk").click(function(){jQuery("#frm").submit();});
	jQuery("#btnQueryReset").click(function(){jQuery("#frm").clearForm();});
	jQuery("#btnView").click(function(){
		if(-1 == getSelectIndex("chk")){
			alert("请选择要查看的记录");
			return ;
		}
		toViewPage($n("chk")[getSelectIndex('chk')].value);
	});
	initQuery2("CZ01", "frm", "btnQueryShow");
	setQueryContent();
});
function toViewPage(headid){
	window.location = "purGather.vm?user_action=toView&headid=" + headid;
}
/**
 * 撤销采购总单
 */
function cancelPurGather(headid){
	confirm("确定撤销采购总单?", function(){
		PurGatherDwr.cancelPurGather(headid, function(errMsg){
			alert(errMsg?errMsg:"撤销采购总单成功", function(){
    			if(!errMsg){
        			window.location = "purGather.vm";
				}
			});
		});
	});
}
</script>