#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/PurGatherDwr.js"])

<form id="frm" method="post" action="purGather.vm">
	<input type='hidden' name='exportExcelFlag' value='0'/>
	<input type='hidden' id='user_action' name='user_action' value='list2'/>
    <table class="title">
    	<tr><td>采购总单#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='查看对应采购单' class='btn' id='btnViewPurchase' $RightUtil.able($session, '08020201','2')>
				<input type='button' value='查看采购总单' class='btn' id='btnViewPurGather' $RightUtil.able($session, '08020201','1')>
				<input type='button' value='手工生成采购单' class='btn' id='btnCreatePurchase' $RightUtil.able($session, '08020201','3')>
				<input type='button' value='自动生成采购单' class='btn' id='btnCreatePurchaseAuto' $RightUtil.able($session, '08020201','4')>
				<input type='button' value='查询' class='btn' id='btnQueryShow'>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()">
			</td>
		</tr>
    </table>
	<div class='scroll'>
    <table class='list' style="width:1700px;">
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
        		<th width='60px'>状态</th>
                <th width='120px'>单据编号</th>
        		<th width='150px'>区域</th>
        		<th width='120px'>总单编号</th>
				<th width='90px'>周期类型</th>
				<th width='180px'>商品类别</th>
				<th width='90px'>购物类型</th>
				<th width='90px'>要货分类</th>
        		<th width='90px'>是否保留</th>
        		<th width='90px'>采购总数</th>
        		<th width='90px'>创建人</th>
        		<th width='120px'>创建时间</th>
                <th width='90px'>修改人</th>
                <th width='120px'>修改时间</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value='$!{map.headid}'/>$velocityCounter</td>
				<td><input type='hidden' name='status' value='$!{map.status}'>$!DictUtil.getValue('status', $!map.status)</td>
				<td><a href='javascript:toViewPage($!{map.headid});'>$!{map.billno}</a></td>
				<td>$!map.regionName</td>
				<td>$!map.gatherHeadNo</td>
				<td>$!map.cycleTypeName</td>
				<td><input type='text' readonly class='none' style='width:180px;' value="$!BdCommon.getArticleTypeDesc($!map.articleTypeIds)"></td>
				<td>$!DictUtil.getValue('ordertype', $!map.orderType)</td>
				<td>$!DictUtil.getValue('orderkind', $!map.orderKind)</td>
				<td>$!DictUtil.getValue('yesorno', $!map.usedFlag)</td>
				<td>$!map.sumNum</td>
				<td>$!BdCommon.getUserName($!map.createId)</td>
				<td>$!map.createDate</td>
                <td>$!BdCommon.getUserName($!map.updateId)</td>
                <td>$!map.updateDate</td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("list2");
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false, changeButtonAble, function(index){
		toViewPage($n("chk")[index].value);
	});
	
	jQuery("#btnViewPurGather").click(function(){
		if(-1 == getSelectIndex("chk")){
			alert("请选择要查看的记录");
			return ;
		}
		window.location = "purGather.vm?user_action=toView2&headid=" + $n("chk")[getSelectIndex('chk')].value;
	});
	jQuery("#btnViewPurchase").click(function(){
		if(-1 == getSelectIndex("chk")){
			alert("请选择要查看的记录");
			return ;
		}
		//window.location = "purchase.vm?purGatherHeadId=" + $n("chk")[getSelectIndex('chk')].value;
		toViewPage($n("chk")[getSelectIndex('chk')].value);
	});
	jQuery("#btnCreatePurchase").click(function(){
		if(-1 == getSelectIndex("chk")){
			alert("请选择要手工生成采购单的记录");
			return ;
		}
		window.location = "purGather.vm?user_action=createPurchase&headid=" + $n("chk")[getSelectIndex('chk')].value;
	});
	jQuery("#btnCreatePurchaseAuto").click(createPurchaseAuto);
	initQuery2("CZ02", "frm", "btnQueryShow");
});
function changeButtonAble(chk, index){
	jQuery("#btnCreatePurchase").attr("disabled", true);
	jQuery("#btnCreatePurchaseAuto").attr("disabled", true);
	if(!chk)	return ;
	if($n("status")[index].value == '2'){
    	jQuery("#btnCreatePurchase").attr("disabled", false);
    	jQuery("#btnCreatePurchaseAuto").attr("disabled", false);
	}
}
function toViewPage(headid){
	window.location = "purchase.vm?purGatherHeadId=" + headid + "&start=1";
}
/**
* 自动生成采购单
*/
function createPurchaseAuto(){
	if(-1 == getSelectIndex("chk")){
		alert("请选择要自动生成采购单的记录");
		return ;
	}
	showLayer(true);
	PurGatherDwr.createPurchaseAuto($n("chk")[getSelectIndex('chk')].value, function(data){
		showLayer(false);
		alert(data?data:"手工生成采购单成功");
	});
}
</script>