#set($jsfiles = ["$StringUtil.getContextPath()/js/basic/ptCharge.js?t=201204011204.js", 
	"$StringUtil.getContextPath()/dwr/interface/PtChargeDwr.js"])
	
	#set($charge = $form.charge)
	
<form id='frm' action="charge.vm" method="post">
	
	<input type="hidden" id="user_action" name="user_action" value=""/>
	<input type="hidden" id="chargeId" name="chargeId" value="$!{charge.chargeId}"/>
    <table class="title">
    	<tr><td>PT950特殊工费标准</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' class='btn' id='btnSave' $RightUtil.able($session, '08012802','1')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>金额始</td>	
			<td class='body2'>
				<input type='text' id="weightStr" name='weightStr' value="$!charge.weightStr" onblur="checkField(this);" dataType="Require" msg="不能为空">
				$StringUtil.star()
			</td>
			<td class='body1'>金额止</td>	
			<td class='body2'>
				<input type='text' id="weightEnd" name='weightEnd' value="$!charge.weightEnd" onblur="checkField(this);"  dataType="Require" msg="不能为空">
				$StringUtil.star()
			</td>
			<td class='body1'>工费标准</td>	
			<td class='body2'>
				<input type='text' id="chargeUnit" name='chargeUnit' value="$!charge.chargeUnit" onblur="checkField(this);"  dataType="Require" msg="不能为空">
				$StringUtil.star()
			</td>
		</tr>
		<tr>
			<td class='body1'>状态</td>
			<td class='body2'>
				<input type='text' name='status' readonly value="保存">
			</td>
			<td class='body1'>说明</td>
			<td class='body2' colspan="3">
				<input type="text" id="memo" name="memo" style="width:90%;" value="$!{charge.memo}"/>
			</td>
		</tr>
    </table>
</form>
<script>
jQuery(function(){
	jQuery("#btnSave").click(saveform);
	
	jQuery("#btnToList").click(function(){
		window.location = "ptCharge.vm";
	});
})

</script>