#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/PtChargeDwr.js"])
<form id="frm" name="frm" method="post">
	<input type="hidden" id="user_action" name="user_action" value=""/>
    <table class="title">
    	<tr><td>特殊工费标准#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' id='btnAdd' $RightUtil.able($session, '08012801','1')>
				<input type='button' value='删除' class='btn' id='btnDelete' $RightUtil.able($session, '08012801','2')/>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, '08012801','3')/>
			</td>
		</tr>
    </table>
	<div class='scroll'>
    <table class='list'>
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall' /></th>
				<th style='width:60px;'>状态</th>
                <th style='width:90px;'>金额始</th>
        		<th style='width:90px;'>金额止</th>
        		<th style='width:90px;'>工费单价</th>
        		<th style='width:120px;'>创建时间(查看)</th>
        		<th style='width:90px;'>创建人</th>
        		<th style='width:120px;'>修改时间</th>
        		<th style='width:90px;'>修改人</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk'/>$velocityCounter</td>
				<td>$!DictUtil.getValue('status', $!map.status)
					<input type="hidden" name="status_list" value="$!map.status"/>
					<input type="hidden" name="chargeId" value="$!map.chargeId"/>
				</td>
				##<td><a href='javascript:toEditPage($!{map.chargeId});'>$!{map.chargeId}</a></td>
				<td>$!map.weightStr</td>
				<td>$!map.weightEnd</td>
				<td>$!map.chargeUnit</td>
				<td><a href="javascript:toEditPage($!{map.chargeId});">$!map.createDate</a></td>
				<td>$!BdCommon.getUserName($!map.createId)</td>
				<td>$!map.updateDate</td>
				<td>$!BdCommon.getUserName($!map.updateId)</td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function disableDeleteBtn(checked, index){
	jQuery("#btnDelete").attr("disabled", true);
	if(checked ){
		if($n("status_list")[index].value==="1"){
			jQuery("#btnDelete").attr("disabled", false);
		}
	}
}

jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true, null, function(index){
    	window.location = "ptCharge.vm?user_action=toEdit&chargeId=" + $n("chargeId")[index].value;
    });
	
	jQuery("#btnAdd").click(function(){
		window.location = "ptCharge.vm?user_action=toEdit";
	});
	jQuery("#btnDelete").click(deleteRow);
	jQuery("#btnSearch").click(function(){
		jQuery("#frm").submit();
	});
});

function deleteRow(){
	var idxs = getSelectIndexs("chk");
	if(idxs.length <= 0){
		alert("尚未选择要删除的行");
	} else {
		confirm("确定删除?", function(){
			showLayer(true);
			var chargeIds = "";
			for(var i=0; i<idxs.length;i++){
				if(chargeIds) chargeIds = chargeIds + ";" + $n("chargeId")[idxs[i]].value;
				else chargeIds = $n("chargeId")[idxs[i]].value;
			}
			PtChargeDwr.deletePtCharge(chargeIds, function(msg){
				showLayer(false);
				if(msg){
					alert(msg);
				} else {
					alert("删除成功", function(){
						jQuery("#frm").submit();
					});
				}
			});
    	});
	}
}
function toEditPage(chargeId){
	window.location = "ptCharge.vm?user_action=toEdit&chargeId=" + chargeId;
}

function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
</script>