<form id="myForm"> 
	<input type='hidden' id='user_action' name='user_action' value=''/>
	<table class="title">
		<tr>
			<td >
				<tr><td>供应商系数#if($!form.message)[<font color='blue'>$!form.message</font>]#else[<font color='red'>$!form.message</font>]#end</td></tr>
            </td>
        </tr>
    </table>
	<div id="queryDiv">
        <table class="control">
        	<tr>
        		<td>
        			<input type='button' value='确定' id='btnQueryOk'>
        			<input type='button' value='重置' id='btnQueryReset'>
        			<input type='button' value='取消' id='btnQueryCancel'>
        		</td>
        	</tr>
        </table>
        <table class='content'>
			<tr>
        		<td class="body1">供应商</td>
        		<td class='body2'>
					<select id="vendorId" name="vendorId" >$StringUtil.emptyOption()</select>
				</td>
        		<td class="body1">系数</td>
        		<td class='body2'>
					<input type='text' id='coef' name="coef" value="$!{form.condition.coef}">
                </td>
        	</tr>
        </table>
    </div>
	<table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' id='btnAdd' $RightUtil.able($session, '08012501','1')>
				<input type='button' value='删除' class='btn' onclick='deleteLine()'  $RightUtil.able($session, '08012501','2')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' $RightUtil.able($session, '08012501','3')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" >
			</td>
		</tr>
    </table>
	<div class="scroll">
	    <table class='list' >
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
        		<th width='60px'>状态</th>
				<th width='180px'>供应商</th>
				<th width='60px'>系数</th>
        		<th width='180px'>备注</th>
				<th width='120px'>创建时间</th>
        		<th width='90px'>创建人</th>
        		<th width='120px'>修改时间</th>
        		<th width='90px'>修改人</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value="$!{map.coefId}"/>$velocityCounter</td>
				<td>$!DictUtil.getValue('status',$!map.status)</td>
				<td><a href='javascript:toEditPage($!{map.coefId});'>$!BdCommon.getVendorName($!map.vendorId)</a></td>
				<td>$!StringUtil.formatDouble($!map.coef,2)</td>
				<td><input type='text' readonly class='none' value="$!map.memo" style='width:180px;'></td>
				<td>$!map.createDate</td>
				<td>$!BdCommon.getUserName($!map.createId)</td>
				<td>$!map.updateDate</td>
				<td>$!BdCommon.getUserName($!map.updateId)</td> 
			</tr>
		#end
    	</tbody>
    </table>
    </div>
<script>
createPagingToolbar('myForm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function executeQuery(){
	jQuery("#myForm").submit();
}
function resetQuery(){
	jQuery("#vendorId").val("");
	jQuery("#coef").val("");
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false,null, function(index){
		window.location = "vendorCoef.vm?user_action=toEditVendorCoef&id=" + $n("chk")[index].value;
	});
	//initQuery("btnQueryShow", "btnQueryCancel");
	initQuery2("GY01", 'myForm', 'btnQueryShow');
	jQuery("#btnQueryOk").click(executeQuery);
	jQuery("#btnQueryReset").click(resetQuery);
	
	jQuery("#btnAdd").click(function(){
		window.location = "vendorCoef.vm?user_action=toEditVendorCoef";
	});
	BdCommonDwr.getAllVendor(function(data){
		addOptions("vendorId", data, null, null, true, true,"$!{form.condition.vendorId}");
	});
});
function toEditPage(id){
	window.location = "vendorCoef.vm?user_action=toEditVendorCoef&id=" + id;
}
function deleteVendorCoef(id){
	confirm("确定删除?", function(){
		window.location = "vendorCoef.vm?user_action=deleteVendorCoef&id=" + id;
	});
}
function deleteLine(){
	var index = getSelectIndexs('chk');
	if(index.length!=1){
		alert("请选择一行");
		return;
	}
	var id = $n("chk")[index[0]].value;
	confirm("确定删除?", function(){
		window.location = "vendorCoef.vm?user_action=deleteVendorCoef&id=" + id;
	});
}
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#myForm").submit();
	jQuery("#user_action").val("");
}
</script>