#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js"])
<form id="frm" name="frm" method="post" action="cashHead.vm">
#set($cond = $form.condition)
#set($billno = $!cond.get('billno'))
#set($startDate = $!cond.get('startDate'))
#set($endDate = $!cond.get('endDate'))
<input type="hidden" id="data" name="data" value="$!cond.data"/>
<input type="hidden" id="is_src" name="is_src" value="$!cond.is_src"/>
<input type="hidden" id="billType" name="billType" value="$!cond.billType"/>
<input type="hidden" id="vendorId" name="vendorId" value="$!cond.vendorId"/>
<input type="hidden" id="articleTypeId" name="articleTypeId" value="$!cond.articleTypeId"/>
<input type="hidden" name="user_action" value="selectCash"/>
<input type="button" value="筛选" id="btnFilter"/>
<div id="queryDiv">
	<table class="control"><!-- 控制按钮 -->
		<tr>
			<td>
				<input type='button' value='确定' id='btnQueryOk'>
				<input type='button' value='重置' id='btnQueryReset'>
				<input type='button' value='取消' id='btnQueryCancel'>
			</td>
		</tr>
	</table>
	<table class='content'>
		<tr>
			<td class="body1">单据编号</td>
			<td class='body2'>
				<input type='text' id="billno" name='billno' value="$!billno" >
			</td>
			<td class="body1"></td>
			<td class='body2'>
			</td>
		</tr>
		<tr>
			<td class="body1">创建时间始</td>
			<td class='body2'>
				<input type='text' id="startDate" name='startDate' value="$!startDate" >
			</td>
			<td class="body1">创建时间止</td>
			<td class='body2'>
				<input type='text' id="endDate" name='endDate' value="$!endDate" >
			</td>
        </tr>
    </table>
</div>
<table class='list'>
	<thead>
		<tr>
			<td width='20px'><input type='checkbox' name='chkall2' #if($cond.is_src == "1")disabled#end/></td>
			<th>单号</th>
			<th>单据类型</th>
			<th>商品类别</th>
			<th>大类</th>
			<th>单据数量</th>
			<th>已核销数量</th>
    		<th>未核销数量</th>
			<th>锁定数量</th>
        </tr>
    </thead>
	<tbody id="tbl_cash">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk'/></td>
				<td>$!map.billNo</td>
				<td>$!DictUtil.getValue('billcode', $!map.billType)</td>
				<td>$!map.articleTypeName</td>
				<td>$!map.itemClassName</td>
				<td>$!map.billNums</td>
				<td>$!map.cashNums</td>
				<td>$!map.noNums</td>
				<td>$!map.userNums
    				<input type='hidden' name='lineId' value="$!map.lineId" />
    				<input type='hidden' name='prId' value="$!map.prId" />
    				<input type='hidden' name='typeId' value="$!map.articleTypeId" />
					<input type='hidden' name='typeName' value="$!map.articleTypeName" />
    				<input type='hidden' name='itemClassId' value="$!map.itemClassId" />
					<input type='hidden' name='itemClassName' value="$!map.itemClassName" />
					<input type='hidden' name='noNums' value="$!map.noNums" />
					<input type='hidden' name='userNums' value="$!map.userNums" />
					<input type='hidden' name='bill_no' value="$!map.billNo" />
				</td>
			</tr>
		#end
    	</tbody>
	</table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
	
<script >
jQuery(function(){
	setValues();
	initQuery("btnFilter", "btnQueryCancel");
	initCalendarArr(["startDate", "endDate"]);
	checkTable('tbl_cash', 'chkall2', 'chk', #if($cond.is_src == "1")false#else true#end);
	jQuery("#btnQueryOk").click(search);
	jQuery("#btnQueryReset").click(reset);
});

function search(){
	jQuery("#frm").submit();
}


function setValues(){
	var data = jQuery("#data").val();
	if(data){
		var dataArray = data.split(";");
		var rowlen = $("tbl_cash").rows.length;
		for(var i=0;i<rowlen;i++){
			var lineId = $n("lineId")[i].value,
				prId = $n("prId")[i].value;
			if(dataArray.contains(lineId + ":" + prId)){
				$n("chk")[i].checked = true;
			}
		}
	}
}

function reset(){
	jQuery("#billno").val("");
	jQuery("#startDate").val("");
	jQuery("#endDate").val("");
}

function getValues(){
	var idxs = getSelectIndexs("chk");
	if(idxs.length >0){
		var dataList = [],
			articles = [];
		for(var i=0; i<idxs.length;i++){
			var idx = idxs[i];
			var articleTypeId = $n("typeId")[idx].value;
			if(articleTypeId && !articles.contains(articleTypeId)){
				articles.push(articleTypeId);
			}
			var obj = {
				lineId			: $n("lineId")[idx].value,
				prId			:$n("prId")[idx].value,
				articleTypeId	:articleTypeId,
				articleTypeName	:$n("typeName")[idx].value,
				noNums			:$n("noNums")[idx].value,
				userNums			:$n("userNums")[idx].value,
				bill_no			:$n("bill_no")[idx].value,
				itemClassId		:$n("itemClassId")[idx].value,
				itemClassName	:$n("itemClassName")[idx].value
			};
			dataList.push(obj);
		}
		if(articles.length > 1){
			alert("所选单据必须是同一种商品类别");
			return false;
		}
		var result = {
			data:dataList,
			billType:jQuery("#billType").val(),
			is_src:jQuery("#is_src").val()
		};
		return result;
	} else {
		alert("请先选择台账记录");
		return false;
	}
}
</script>