#set($jsfiles = ["$StringUtil.getContextPath()/js/pur/cash/payChange.js?t=201202131655.js", 
"$StringUtil.getContextPath()/dwr/interface/PayChangeDwr.js"])
	
<form id='frm' action="payChange.vm" method="post">
	#set($payChange = $!form.cashPayChange)
	#set($lines = $!form.lines)
	#if($StringUtil.isBlank($!payChange.billNo))
		#set($billNo = "自动生成")
		#set($orgId = $StringUtil.getOrgId($session))
		#set($billDate = $DateUtil.getCurrentDate10())
		#set($statusName = "保存")
		#set($status = "1")
		#set($createDate = $DateUtil.getCurrentDate10())
		#set($createId = $StringUtil.getUserId($session))
	#else
		#set($billNo = $payChange.billNo)
		#set($orgId = $payChange.orgId)
		#set($billDate = $payChange.billDate)
		#set($statusName = $!DictUtil.getValue('status', $!{payChange.status}))
		#set($status = $!{payChange.status})
		#set($createDate = $payChange.createDate)
		#set($createId = $!payChange.createId)
	#end
	
	#set($enableSave = false)
	#set($isSaved = false)
	#set($enableCheck = false)
	#set($enableClose = false)
	#if($StringUtil.isNotBlank($status))
		#if($status == "1")
			#set($enableSave = true)
			#set($isSaved = true)
			#set($enableCheck = true)
		#elseif($status == "5")
			#set($enableClose = true)
		#end
	#end
	<input type="hidden" id="user_action" name="user_action" value=""/>
	<input type="hidden" id="chaId" name="chaId" value="$!{payChange.chaId}"/>
    <table class="title">
    	<tr><td>资金台账调整详情</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' #if(!$enableSave)disabled#end class='btn' id='btnSave' $RightUtil.able($session, '0802090202','1')>
				<input type='button' value='审核' #if(!$enableCheck)disabled#end class='btn' id='btnCheck' $RightUtil.able($session, '0802090202','2')>
				<input type='button' value='关闭' #if(!$enableClose)disabled#end class='btn' id='btnClose' $RightUtil.able($session, '0802090202','3')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '0802090202','4')>
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号：</td>
			<td class='body2'>
				<input type='text' id="billNo" name='billNo' readonly value="$!billNo">
			</td>
			<td class='body1'>组织:</td>	
			<td class='body2'>
				<input type='hidden' id="orgId" name='orgId' value="$!{orgId}">
				<input type='text' id="orgName" name='orgName'  value="$!BdCommon.getOrgName($orgId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			
			<td class='body1'>单据日期：</td>
			<td class='body2'>
				<input type='text' id="billDate" name='billDate' readonly #if(!$isSaved)disabled#end value="$!{billDate}" dataType="Require" msg="不能为空">
			</td>
			<td class='body1'>单据状态：</td>	
			<td class='body2'>
				<input type='text' id="status" name='status' readonly value="$!statusName">
			</td>
		</tr>
		<tr>
			<td class='body1'>供应商：</td>
			<td class='body2'>
				#*<select id="verdorId" name="verdorId" #if(!$!isSaved)disabled#end dataType="Require" value="$!payChange.voderId" msg="不能为空" >
					$StringUtil.emptyOption()
                </select>$StringUtil.star()*#
				<input type='hidden' id='verdorId' name="verdorId" value="$!payChange.voderId">
				<input type='text' id='vendorName' value="$!BdCommon.getVendorName($!payChange.voderId)" #if(!$!isSaved)disabled#end readonly class='target' ondblclick="showVendorWin()" dataType="Require" msg="不能为空">
				$!StringUtil.star()
			</td>
			<td class='body1'>业务类型：</td>
			<td class='body2'>
				<select id="dotype" name="dotype" #if(!$!isSaved)disabled#end dataType="Require" value="$!payChange.dotype" msg="不能为空" >
					$StringUtil.emptyOption()
                    <option value="0">起初数据</option>
					<option value="1">调整单据</option>
                </select>$StringUtil.star()
			</td>
			
			<td class='body1'>创建人员：</td>	
			<td class='body2'>
				<input type='hidden' id="createId" name='createId' value="$!{createId}">
				<input type='text' id="createName" name='createName'  value="$!BdCommon.getUserName($!createId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			<td class='body1'>创建时间：</td>	
			<td class='body2'>
				<input type='text' id="createDate" name='createDate'  value="$!createDate" readonly  dataType="Require" msg="不能为空" >
			</td>
		</tr>
		<tr>
			<td class='body1'>单据类型：</td>	
			<td class='body2'>
				<select id="billType" name="billType" dataType="Require" #if(!$!isSaved)disabled#end  msg="不能为空">
					$StringUtil.emptyOption()
                    <option value="-1">应收</option>
    				<option value="1">应付</option>
				</select>
				$StringUtil.star()
			</td>
			<td class='body1'>金额：</td>	
			<td class='body2'>
				<input type='text' id="chaMoney" name='chaMoney'  #if(!$!isSaved)readonly#end value="$!payChange.chaMoney" dataType="Require" msg="不能为空" onblur="checkField()" >
				$StringUtil.star()
			</td>
			<td class='body1'></td>	
			<td class='body2'></td>
			<td class='body1'></td>	
			<td class='body2'></td>
        </tr>
        <tr>
			<td class='body1'>备注：</td>
			<td class='body2' colspan="7">
				<input type='text' id="memo" name='memo' #if(!$!isSaved)readonly#end value="$!payChange.memo" style="width:600px;" >
			</td>
		</tr>
    </table>
	
</form>

<script>
function showVendorWin(){
	selectVendor(function(idArr, nameArr){
		jQuery("#verdorId").val(idArr.join(','));
		jQuery("#vendorName").val(nameArr.join(','));
	}, null, null, false, jQuery("#verdorId").val());
}
function setValues(){
	/*BdCommonDwr.getAllVendor(function(data){
		addOptions("verdorId",  data, null, null, true, true, "$!payChange.voderId");
	});*/
	
	jQuery("#billType").val("$!payChange.billType");
	jQuery("#dotype").val("$!payChange.dotype");
}

jQuery(function(){
	initCalendar("billDate");
	setValues();
	jQuery("#btnSave").click(saveForm);
	jQuery("#btnCheck").click(checkBill);
	jQuery("#btnClose").click(closeBill);
	jQuery("#btnToList").click(function(){
		window.location = "payChange.vm";
	});
	checkReview();
})

</script>