#set($jsfiles = ["$StringUtil.getContextPath()/js/pur/cash/payMoney.js?t=201207311655.js", 
	"$StringUtil.getContextPath()/dwr/interface/PayMoneyDwr.js"])
	
<form id='frm' action="cashPayMoney.vm" method="post">
	#set($payMoney = $!form.payMoney)
	#if($StringUtil.isBlank($!payMoney.billNo))
		#set($billNo = "自动生成")
		#set($orgId = $StringUtil.getOrgId($session))
		#set($billDate = $DateUtil.getCurrentDate10())
		#set($statusName = "保存")
		#set($status = "1")
		#set($createDate = $DateUtil.getCurrentDate10())
		#set($createId = $StringUtil.getUserId($session))
	#else
		#set($billNo = $payMoney.billNo)
		#set($orgId = $payMoney.orgId)
		#set($billDate = $payMoney.billDate)
		#set($statusName = $!DictUtil.getValue('status', $!{payMoney.status}))
		#set($status = $!{payMoney.status})
		#set($createDate = $payMoney.createDate)
		#set($createId = $!payMoney.createId)
	#end
	
	#set($enableSave = false)
	#set($enableAccount = false)
	#set($enableCancel = false)
	#if($StringUtil.isNotBlank($status))
		#if($status == "1")
			#set($enableSave = true)
			#set($enableAccount = true)
		#elseif("$!status" == "8")
			#set($enableCancel = true)
		#end
	#end
	
	<input type="hidden" id="user_action" name="user_action" value=""/>
	<input type="hidden" id="payId" name="payId" value="$!{payMoney.payId}"/>
    <table class="title">
    	<tr><td>付款单详情</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' #if(!$enableSave)disabled#end class='btn' id='btnSave' $RightUtil.able($session, '0802090402','1')>
				<input type='button' value='记账' #if(!$enableAccount)disabled#end class='btn' id='btnAccount' $RightUtil.able($session, '0802090402','2')>
				<input type='button' value='撤销' #if(!$enableCancel)disabled#end class='btn' id='btnCancel' $RightUtil.able($session, '0802090402','4')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '0802090402','3')>
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号：</td>
			<td class='body2'>
				<input type='text' id="billNo" name='billNo' readonly value="$!billNo">
			</td>
			<td class='body1'>组织:</td>	
			<td class='body2'>
				<input type='hidden' id="orgId" name='orgId' value="$!{orgId}">
				<input type='text' id="orgName" name='orgName'  value="$!BdCommon.getOrgName($orgId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			
			<td class='body1'>单据时间：</td>
			<td class='body2'>
				<input type='text' id="billDate" name='billDate' readonly #if(!$enableSave)disabled#end value="$!{billDate}" dataType="Require" msg="不能为空">
			</td>
			<td class='body1'>单据状态：</td>	
			<td class='body2'>
				<input type='text' id="status" name='status' readonly value="$!statusName">
			</td>
		</tr>
		<tr>
			<td class='body1'>供应商：</td>
			<td class='body2'>
				#*<select id="verdorId" name="verdorId" #if(!$enableSave)disabled#end dataType="Require" value="$!payMoney.voderId" onchange="changeVendor(this)" msg="不能为空" >
					$StringUtil.emptyOption()
                </select>$StringUtil.star()*#
				<input type='hidden' id='verdorId' name="verdorId" value="$!payMoney.voderId">
				<input type='text' id='vendorName' value="$!BdCommon.getVendorName($!payMoney.voderId)" #if(!$enableSave)disabled#end readonly class='target' ondblclick="showVendorWin()" dataType="Require" msg="不能为空">
				$!StringUtil.star()
			</td>
			<td class='body1'>当前欠款：</td>
			<td class='body2'>
				<input type='text' id="lessMoney" readonly name='lessMoney' value="$!{payMoney.lessMoney}">
			</td>
			<td class='body1'>付款金额</td>
			<td class='body2'>
				<input type='text' id="payMoney" name='payMoney' value="$!payMoney.payMoney" #if(!$enableSave)readonly#end onblur="checkField()" dataType="Require" msg="不能为空">$StringUtil.star()
			</td>
			<td class='body1'>创建人员：</td>	
			<td class='body2'>
				<input type='hidden' id="createId" name='createId' value="$!{createId}">
				<input type='text' id="createName" name='createName'  value="$!BdCommon.getUserName($!createId)" readonly  dataType="Require" msg="不能为空" >
			</td>
		</tr>
		<tr>
			<td class='body1'>备注</td>
			<td class='body2' colspan="7">
				<input type="text" id="memo" name="memo" style="width:90%;" value="$!{payMoney.memo}"/>
			</td>
		</tr>
    </table>
</form>
<script>
function showVendorWin(){
	selectVendor(function(idArr, nameArr){
		jQuery("#verdorId").val(idArr.join(','));
		jQuery("#vendorName").val(nameArr.join(','));
		changeVendor();
	}, null, null, false, jQuery("#verdorId").val());
}
function setValues(){
	/*BdCommonDwr.getAllVendor(function(data){
		addOptions("verdorId",  data, null, null, true, true, "$!payMoney.voderId");
	});*/
}

jQuery(function(){
	initCalendar("billDate");
	setValues();
	jQuery("#btnSave").click(saveform);
	jQuery("#btnAccount").click(writeAccount);
	jQuery("#btnCancel").click(cancelPayMoney);
	jQuery("#btnToList").click(function(){
		window.location = "payMoney.vm";
	});
	checkReview();
})

</script>