#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/js/inout/send.js?t=201203211716.js", 
"$StringUtil.getContextPath()/dwr/interface/SendDwr.js",
"$StringUtil.getContextPath()/script/mclon/calendar/calendar.js"])
	
<form id='frm' action="receive.vm" method="post">
	#set($sendHead = $!form.sendHead)
	#set($lines = $!form.lines)
	#if($StringUtil.isBlank($!sendHead.billno))
		#set($billno = "自动生成")
		#set($orgId = $StringUtil.getOrgId($session))
		#set($dodate = $DateUtil.getCurrentDate10())
		#set($statusName = "保存")
		#set($status = "1")
		#set($createDate = $DateUtil.getCurrentDate10())
		#set($createId = $StringUtil.getUserId($session))
	#else
		#set($billno = $sendHead.billno)
		#set($orgId = $sendHead.orgId)
		#set($dodate = $sendHead.dodate)
		#set($statusName = $!DictUtil.getValue('status', $!{sendHead.status}))
		#set($status = $!{sendHead.status})
		#set($createDate = $sendHead.createDate)
		#set($createId = $!sendHead.createId)
	#end
	
	#set($enableSave = false)
	#set($disable = false)
	#set($isSaved = false)
	#set($enableCheck = false)
	#set($enableCashCheck = false)
	#if($StringUtil.isNotBlank($status))
		#if($status == "1")
			#set($enableSave = true)
			#set($isSaved = true)
			#set($enableCheck = true)
			#if($!sendHead)
				#set($enableAccount = true)
			#end
		#elseif($status == "5")
			#set($enableCashCheck = true)
		#end
	#end
	#if($sendHead)
		#set($disable = true)
	#end
	<input type="hidden" id="user_action" name="user_action" value=""/>
	<input type="hidden" id="billid" name="billid" value="$!{sendHead.billid}"/>
    <table class="title">
    	<tr><td>出票单详情</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='增行' #if(!$enableSave)disabled#end class='btn' id='btnAdd' $RightUtil.able($session, '08070202','1')>
				<input type='button' value='保存' #if(!$enableSave)disabled#end class='btn' id='btnSave' $RightUtil.able($session, '08070202','2')>
				<input type='button' value='记账' #if(!$enableCheck)disabled#end class='btn' id='btnCheck' $RightUtil.able($session, '08070202','3')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
				<input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08070202','4')>
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号：</td>
			<td class='body2'>
				<input type='text' id="billno" name='billno' readonly value="$!billno">
			</td>
			<td class='body1'>单据日期：</td>
			<td class='body2'>
				<input type='text' id="dodate" name='dodate' readonly #if(!$isSaved)disabled#end value="$!{dodate}" dataType="Require" msg="不能为空">
			</td>
			<td class='body1'>组织:</td>	
			<td class='body2'>
				<input type='hidden' id="orgId" name='orgId' value="$!{orgId}">
				<input type='text' id="orgName" name='orgName'  value="$!BdCommon.getOrgName($orgId)" readonly  dataType="Require" msg="不能为空" >
			</td>
			<td class='body1'>单据状态：</td>	
			<td class='body2'>
				<input type='text' id="status" name='status' readonly value="$!statusName">
			</td>
		</tr>
		<tr>
			<td class='body1'>供应商：</td>
			<td class='body2'>
				#*<select id="verdorId" name="verdorId" #if($disable)disabled#end dataType="Require" value="$!sendHead.vendorId" onchange="changeVendor(this)" msg="不能为空" >
					$StringUtil.emptyOption()
                </select>$StringUtil.star()*#
				<input type='hidden' id='verdorId' name="verdorId" value="$!sendHead.vendorId">
				<input type='text' id='vendorName' value="$!BdCommon.getVendorName($!sendHead.vendorId)" readonly #if($disable)disabled#end class='target' ondblclick="showVendorWin()" dataType="Require" msg="不能为空">
				$!StringUtil.star()
			</td>
			<td class='body1'>发票号码：</td>
			<td class='body2' colspan="5">
				<input type='text' id="invoiceNo" name='invoiceNo' value="$!sendHead.invoiceNo" #if(!$isSaved)readonly#end style="width:500px;" dataType="Require" msg="不能为空">
				$StringUtil.star()
			</td>
		</tr>
		<tr>
			<td class='body1'>发票日期：</td>	
			<td class='body2'>
				<input type='text' id="invoiceDate" name='invoiceDate'  value="$!sendHead.invoiceDate" #if(!$isSaved)disabled#end dataType="Require" msg="不能为空" >
				$StringUtil.star()
			</td>
			<td class='body1'>发票金额：</td>	
			<td class='body2'>
				<input type='text' id="invoiceMoney" name='invoiceMoney' readonly value="$!sendHead.invoiceMoney">
			</td>
			<td class='body1'>备注：</td>	
			<td class='body2' colspan="3">
				<input type='text' id="memo" name='memo'  value="$!sendHead.memo" #if(!$isSaved)readonly#end style="width:300px;">
			</td>
		</tr>
    </table>
	<input type="hidden" value="" name="deleteIds" id="deleteIds"/>
	<table class='list'>
    	<thead>
			<tr>
				<th></th>
				<th>对公销售单号</th>
				<th>销售金额</th>
                <th>发票金额</th>
				<th width='60px'></th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($line in $lines)
			<tr>
				<td></td>
				<td>$!line.outNo</td>
				<td>$!line.saleMoney</td>
				<td><input type="text" name="billMoney" value="$!line.billMoney" #if(!$isSaved)readonly#end  dataType="Require" msg="不能为空"/></td>
				<td><input type='button' value='删除' #if(!$!isSaved)disabled#end style='width:60px;' onclick='deleteLineRow(this, "tbl")'/>
    				<input type='hidden' name='lineid' value="$!line.lineid" />
    				<input type='hidden' name='outNo' value="$!line.outNo" />
    				<input type='hidden' name='saleMoney' value="$!line.saleMoney" />		
				</td>
			</tr>
		#end
    	</tbody>
    </table>
</form>

<script>
function showVendorWin(){
	selectVendor(function(idArr, nameArr){
		jQuery("#verdorId").val(idArr.join(','));
		jQuery("#vendorName").val(nameArr.join(','));
	}, null, null, false, jQuery("#verdorId").val());
}
function setValues(){
	/*BdCommonDwr.getAllVendor(function(data){
		addOptions("verdorId",  data, null, null, true, true, "$!sendHead.vendorId");
	});*/
}

jQuery(function(){
	initCalendar("invoiceDate");
	initCalendar("dodate");
	setValues();
	jQuery("#deleteIds").val("");
	jQuery("#btnAdd").click(addRow);
	jQuery("#btnSave").click(saveForm);
	jQuery("#btnCheck").click(closeBill);
	jQuery("#btnToList").click(function(){
		window.location = "send.vm";
	});
	altRowCSS('tbl');
	checkReview();
	changeSeq("tbl");
})

</script>