#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js"])
<form id="frm" method="post">
	<input type="hidden" name="reportType" value="$!form.reportType"/>
			<input type='hidden' id='user_action' name='user_action'/>
    <table class="title">
    	<tr><td>报表管理【款式分析--不带分析范围】#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
    </table>
	<table class='control'>
		<tr>
			<td>
				<input type='button' value='查询' class='btn' id='btnSearch'>
				<input type='reset' value='重置' class='btn' id='btnReset'>					
				<input type='button' value='导出Excel' class='btn' id='exportToExcel'  $RightUtil.able($session, '08051001','1')>		
			    <input type='button' value='打印' class='btn' id='btnPrint' onclick="window.print()" $RightUtil.able($session, '08051001','2')>
                &nbsp;&nbsp;[<label style="color: red; ">数据截止到昨天</label>]
			</td>
		</tr>
	</table>
	<table class='content'>
		<tr>
			<td class='body1'>商品类别</td>
				<td class='body2'>
					<input type='hidden' id="Finds" name='Finds' value="0">
				<select id="articleTypeId" name='articleTypeId'  value="" onchange="changeArticleTypeId()">$StringUtil.emptyOption()</select></td>
			<td class='body1'>大类</td>
			<td class='body2'>
				<select id="itemClassId" name='itemClassId'  value="" onchange="changeOrnaClassId()">$StringUtil.emptyOption()</select>
			</td>
			<td class='body1'>小类</td>
			<td class='body2'>
				<select id="ornaClassId" name="ornaClassId"  value="">$StringUtil.emptyOption()</select>
			</td>

		</tr>
		<tr>
		
			<td class='body1'>开始日期</td>
			<td class='body2'>
				<input type='text' id="startDate" name='startDate' value="">
			</td>
				<td class='body1'>结束日期</td>
			<td class='body2'>
				<input type='text' id="endDate" name='endDate' value="">
			</td>
			<td class='body1'>比较范围</td>
			<td class='body2'>
					<select id="isMotif" name='isMotif'  value="" >
				<option value=''>所有</option>
				<option value='1'>主题比较</option>
				<option value='0'>非主题比较</option>
				</select>	</td>
		</tr>


		
    </table>

	<div class='scroll2'>
        <table class='list' style='width:1500px;'>
    	<thead>
			<tr>               
				<th>大类</th>
				<th>小类</th>
				<th>款式大类</th>
				<th>款式中类</th>
				<th>款式小类</th>
				<th>款式</th>
				<th>创建时间</th>
				<th>主题名称</th>
				<th>是否封存</th>
				<th>是否淘汰</th>
				<th>是否常规下单</th>
				<th>周期类型</th>
				<th>款式等级</th>				
				<th>库存件数</th>	
				<th>销售件数</th>
				<th>总销售件数</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.list)
			<tr>
                <td>$!map.ITEM_CLASS_DSC</td>
				<td>$!map.ORNA_CLASS_DSC</td>
				<td>$!map.ITEM_CLASS_NAME</td>
				<td>$!map.MIDDLE_CLASS_NAME</td>
				<td>$!map.ORNA_CLASS_NAME</td>
				<td>$!HtmlUtil.printStyle("$!map.STYLEID", $!map.STYLENAME, $!map.ISBIGGRAPH)</td>
				<td>$!map.CREATEDATE</td>
				<td>$!map.THEME_NAME</td>
				<td>$!map.ISARCHIVE</td>
				<td>$!map.ISOUT</td>
				<td>$!map.ISGENERAL</td>	
				<td>$!map.CYCLE_TYPE_CODE</td>
				<td>$!map.ARTICLE_LEVEL_NAME</td>
				<td>$!map.STORENUM</td>
				<td>$!map.SALENUM</td>
				<td>$!map.ALLSALENUM</td>
		
			</tr>
		#end  
		
				#foreach($map in $form.listSum)
			<tr>
				<td>合计</td>
			    <td></td>
				<td></td>
				<td></td>
				<td></td>		
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>$!map.SUM_STORENUM</td>
				<td>$!map.SUM_SALENUM</td>
				<td></td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.start, $!form.limit, $!form.totalCount);
</script>
</form>
<script>
/**
 * 改变商品类别
 */
function changeArticleTypeId(){
	//获取大类
	BdCommonDwr.getItemClassForSlt(jQuery("#articleTypeId").val(), function(data){
		addOptions("itemClassId", data, null, null, true, true);
		changeOrnaClassId();
	});
}
/**
 * 改变大类
 */
function changeOrnaClassId(){
	BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
	
	});
}


function newCalendar(){
    new Calendar({
          inputField: "startDate",
          dateFormat: "%Y-%m-%d",
          trigger: "startDate",
          bottomBar: true,
          showTime:false,
          onSelect: function() {
            this.hide();
          }
    });
	
	 new Calendar({
          inputField: "endDate",
          dateFormat: "%Y-%m-%d",
          trigger: "endDate",
          bottomBar: true,
          showTime:false,
          onSelect: function() {
            this.hide();
          }
    });
}
function setValues(){
    altRowCSS("tbl");
	jQuery("#startDate").val("$!form.condition.startDate");
	jQuery("#endDate").val("$!form.condition.endDate");
	jQuery("#isMotif").val("$!form.condition.isMotif");
	
	BdCommonDwr.getArticleTypeForSlt(function(data){
		addOptions("articleTypeId", data, null, null, true, true, "$!form.condition.articleTypeId");
		if("$!form.condition.articleTypeId"){
        	BdCommonDwr.getItemClassForSlt(jQuery("#articleTypeId").val(), function(data){
        		addOptions("itemClassId", data, null, null, true, true, "$!form.condition.itemClassId");
				if("$!form.condition.itemClassId"){
        			BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data){
                		addOptions("ornaClassId", data, null, null, true, true, "$!form.condition.ornaClassId");
        				
                	});
				}
        	});
		}
	});
}
jQuery(function(){
	jQuery("#btnSearch").click(function(){
		if(""!=jQuery("#startDate").val()&&""!=jQuery("#endDate").val()){
			var dateTime = new Date();
			var d1 = (jQuery("#startDate").val()+"").split('-');
			var d2 = (jQuery("#endDate").val()+"").split('-');
			var date1 = dateTime.setFullYear(d1[0],d1[1],d1[2]);
			var date2 = dateTime.setFullYear(d2[0],d2[1],d2[2]);
			if(date1>date2){
    			alert('结束时间必须大于开始时间');
    			return;
			}
    	}
		jQuery("#frm").submit();
	});
	
	
	newCalendar();
	setValues();
	initExportExcel("exportToExcel", exportListToExcel);
});


function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}

</script>