#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/DisplayStandardDwr.js"])

<form id="frm" action="displayStandard.vm" method="post">
    <input type='hidden' id='user_action' name='user_action' value='orgtype'/>
    <table class="title">
    	<tr><td>畅销款陈列组织类别</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='增加' class='btn' onclick="addBill()" $RightUtil.able($session, '08091101','1')>
				<input type='button' value='修改' class='btn' onclick="editBill()" $RightUtil.able($session, '08091101','2')>
				<input type='button' value='删除' class='btn' onclick="deleteBill()" $RightUtil.able($session, '08091101','3')>
				<input type='button' value='导出所有行' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, '08091101','4')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' >
			</td>
		</tr>
    </table>
	<div class="scroll">
        <table class='list'>
        	<thead>
    			<tr>
                    <th width='45px'><input type='checkbox' id='chkall'/></th>
					<th width='120px'>类别名称</th>
            		<th width='90px'>创建人</th>
            		<th width='120px'>创建时间</th>
            		<th width='90px'>修改人</th>
            		<th width='120px'>修改时间</th>
            		<th width='90px'>状态</th>
                </tr>
            </thead>
            <tbody id="tbl">
    		#foreach($item in $form.pager.pageData)
    			<tr>
    				<td><input type='checkbox' name='chk' value='$!{item.headid}'/>
						<input type='hidden' name='hd_orgtypeName' value="$!item.orgtypeName"/>
						$velocityCounter
					</td>
    				<td><a href='javascript:showEidtDialog($velocityCounter - 1);'>$!item.orgtypeName</a></td>
    				<td>$!BdCommon.getUserName($!item.createId)</td>
    				<td>$!item.createDate</td>
    				<td>$!BdCommon.getUserName($!item.updateId)</td>
    				<td>$!item.updateDate</td>
    				<td>$!DictUtil.getValue('status', $!item.status)</td>
    			</tr>
    		#end
        	</tbody>
        </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<div id='orgtypeDiv' style="display:none;">
	<form id='frm2'>
    	<input type='hidden' id='headid'>
        <table class="control">
        	<tr>
    			<td>
    				<input type='button' value='增行' onclick="showOrgWin()">
    				<input type='button' value='保存' onclick="saveDisplayOrgtype()" $RightUtil.able($session, '08091102','1')>
    				<input type='button' value='取消' onclick="jQuery('#orgtypeDiv').dialog('close');">
    			</td>
    		</tr>
        </table>
    	<table class='content'>
    		<tr>
                <td class='body1'>组织类别名称</td>
                <td class='body2'><input id='orgtypeName' dataType="Require" msg="不能为空"/></td>
			</tr>
        </table>
        <table class='list'>
        	<thead>
    			<tr>
                    <th width='45px'></th>
					<th width='120px'>组织</th>
            		<th width='90px'></th>
                </tr>
            </thead>
            <tbody id="tbl2">
        	</tbody>
        </table>
	</form>
</div>
<script>
function showOrgWin(){
	selectOrg(function(idArr, nameArr){
		for(var i=0;i<idArr.length;i++){
    		addOrgRow({lineid:'', orgId:idArr[i], orgName:nameArr[i]});
		}
	}, null, null, true, getOrgIds(), "getDisplayOrg", {headid:jQuery("#headid").val()});
}
function getOrgIds(){
	var orgIdArr = [];
	for(var i=0;i<$n("orgId").length;i++){
		orgIdArr.push($n("orgId")[i].value);
	}
	return orgIdArr.join(",");
}
function showEidtDialog(index){
	jQuery("#headid").val($n("chk")[index].value);
	jQuery("#orgtypeName").val($n("hd_orgtypeName")[index].value);
	removeAllRows("tbl2");
	DisplayStandardDwr.getDisplayOrgByHeadid(jQuery("#headid").val(), function(datas){
		for(var i=0;i<datas.length;i++){
			addOrgRow(datas[i]);
		}
	});
	showSizeWin();
}
function addOrgRow(data){
	for(var i=0;i<$n("orgId").length;i++){
		if(data.orgId == $n("orgId")[i].value){
			return ;
		}
	}
	var htmlArr = [];
	htmlArr.push("");
	htmlArr.push("<input type='hidden' name='lineid' value='"+data.lineid+"'><input type='hidden' name='orgId' value='"+data.orgId+"'>" + data.orgName);
	htmlArr.push("<input type='button' class='btn' value='删除' onclick='deleteOrgRow(this)'>");
	insertRow("tbl2", htmlArr, true);
	resetIndex();
}
var deleteIdArr = [];
/**
 * 删除行
 */
function deleteOrgRow(obj){
	var index = obj.parentNode.parentNode.rowIndex-1;
	if(!isNull($n("lineid")[index].value)){
		deleteIdArr.push($n("lineid")[index].value);
	}
	deleteRow(obj, "tbl2");
	resetIndex();
}
function resetIndex(){
	for(var i=0;i<$n("orgId").length;i++){
		$('tbl2').rows[i].cells[0].innerHTML = $n("orgId").length - i;
	}
}
function showSizeWin(){
	jQuery("#orgtypeDiv").dialog({
			title:'组织类别设置',
			width:500, 
			height:400,
			modal:true,
			zIndex:1,
			close:function(){
				if(refreshFlag){
            		window.location = "displayStandard.vm?user_action=orgtype";
            	}else{
                	jQuery('#orgtypeDiv').dialog('close');
            	}
			}
		});
}
function removeAllRows(tblId){
	for(var i=$(tblId).rows.length-1;i>=0;i--){
		$(tblId).deleteRow(i);
	}
}
function addBill(){
	jQuery("#headid").val("");
	jQuery("#orgtypeName").val("");
	removeAllRows("tbl2");
	showSizeWin();
}
function editBill(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length != 1){
		alert("请选择要修改的一条记录");
		return ;
	}
	showEidtDialog(idxs[0]);
}
function getDisplayOrgtypeLine(){
	var lineArr = [];
	for(var i=0;i<$n("orgId").length;i++){
		if(isNull($n("lineid")[i].value)){
    		lineArr.push({orgId:$n("orgId")[i].value});
    	}
	}
	return lineArr;
}
function getDisplayOrgtype(){
	return {
		"headid"		:jQuery("#headid").val(),
		"orgtypeName"	:jQuery("#orgtypeName").val()
	};
}
var refreshFlag = false;
function saveDisplayOrgtype(){
	if(!Validator.Validate($("frm2"),3))
		return;
	if($n("orgId").length<1){
		alert("请先添加组织");
		return ;
	}
	confirm("确定保存?", function(){
		showLayer(true);
    	DisplayStandardDwr.saveOrUpdateDisplayOrgtype(getDisplayOrgtype(), getDisplayOrgtypeLine(), deleteIdArr, function(data){
    		showLayer(false);
    		alert(data?data:"保存成功", function(){
    			if(!data){
                	window.location = "displayStandard.vm?user_action=orgtype";
    			}
    		});
    	});
	});
}
function deleteBill(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length<1){
		alert("请选择要删除的记录");
		return ;
	}
	confirm("确定删除?", function(){
		showLayer(true);
		var billIdArr = [];
		for(var i=0, j=idxs.length;i<j;i++){
			billIdArr.push($n("chk")[idxs[i]].value);
		}
    	DisplayStandardDwr.deleteDisplayOrgtype(billIdArr, function(data){
    		showLayer(false);
    		alert(data?data:"删除成功", function(){
    			if(!data){
                	window.location = "displayStandard.vm?user_action=orgtype";
    			}
    		});
    	});
	});
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true, null, function(index){
		showEidtDialog(index);
	});
	initQuery2('PDISPLAYORGTYPE01', "frm", 'btnQueryShow');
	altRowCSS('tbl2');
	resetWinSize();
});
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel2");
	jQuery("#frm").submit();
	jQuery("#user_action").val("orgtype");
}
</script>