#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/ExcludeOrnaDwr.js"])
#set($modelCode='08090401')
<form id="frm" method="post">
    <input type='hidden' id='user_action' name='user_action' value=''/>
    <table class="title">
    	<tr><td>排序饰品</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' onclick="addBill()" $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='删除' onclick="deleteBill()" $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='批量排除' onclick="batchExclude()" $RightUtil.able($session, $modelCode,'3')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, $modelCode,'4')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' >
			</td>
		</tr>
    </table>
	<div class="scroll">
        <table class='list' style="width:1800px;">
        	<thead>
    			<tr>
                    <th width='45px'><input type='checkbox' id='chkall'/></th>
                    <th>饰品编码</th>
					<th>饰品名称</th>
            		<th width='90px'>状态</th>
					<th width='180px'>组织</th>
        			<th>大类</th><th>小类</th><th>分析范围</th>
					<th>款式</th>
					<th>色级</th><th>净度</th><th>品质</th>
        			<th>尺寸</th><th>商品材质</th><th>托架颜色</th><th>计量单位</th>
            		<th width='90px'>创建人</th>
            		<th width='120px'>创建时间</th>
            		<th width='90px'>状态</th>
                </tr>
            </thead>
            <tbody id="tbl">
    		#foreach($item in $form.pager.pageData)
    			<tr>
    				<td><input type='checkbox' name='chk' value='$!{item.ornaCode}'/>$velocityCounter</td>
    				<td>$!item.ornaCode</td>
    				<td>$!item.ornaDsc</td>
    				<td>$!DictUtil.getValue('status', $!item.state)</td>
					<td>$!BdCommon.getOrgName($!item.orgId)</td>
    				<td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
    				<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
    				<td>$!item.analysisName</td>
    				<td>$!item.styleName</td>
        			<td>$!DictUtil.getValue('diacolorgrade',$!item.colorGradeId)</td>
        			<td>$!DictUtil.getValue('diaclean',$!item.cleanId)</td>
        			<td>$!{DictUtil.getValue('gradelevel',$!item.colorGradeGradeId)}$!{DictUtil.getValue('gradelevel',$!item.cleanGradeId)}</td>
    				<td>$!item.sizeName</td>
        			<td>$!BdCommon.getQualityName($!item.qualityId)</td>
        			<td>$!DictUtil.getValue('bracketcolor',$!item.bracketcolorId)</td>
    				<td>$!BdCommon.getUnitName($!item.unitId)</td>
    				<td>$!BdCommon.getUserName($!item.createId)</td>
    				<td>$!item.createDate</td>
    				<td>$!DictUtil.getValue('status', $!item.status)</td>
    			</tr>
    		#end
        	</tbody>
        </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<div id='sizeDiv' style="display:none;">
	<input type='hidden' id='validFlag'>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='保存' onclick="saveExcludeOrna()" $RightUtil.able($session, '08090402','1')>
				<input type='button' value='取消' onclick="jQuery('#sizeDiv').dialog('close');">
			</td>
		</tr>
    </table>
	<table class='content'>
		<tr>
            <td class='body1'>饰品编码</td>
            <td class='body2'><input type='text' id='ornaCode_in' onchange="getMaterActiveByOrnaCode()"></td>
            <td class='body1'>饰品条码</td>
            <td class='body2'><input type='text' id='barCode_in' onchange="getMaterActiveByBarCode()"></td>
		</tr>
		<tr>
            <td class='body1'>饰品名称</td>
            <td class='body2'><input type='text' readonly id='ornaDsc'></td>
            <td class='body1'>组织</td>
            <td class='body2'><input type='text' readonly id='orgId'></td>
		</tr>
		<tr>
            <td class='body1'>状态</td>
            <td class='body2'><input type='text' readonly id='state'></td>
		</tr>
    </table>
</div>
<script>
function addBill(){
	jQuery("#validFlag").val("");
	jQuery("#ornaDsc").val("");
	jQuery("#orgId").val("");
	jQuery("#state").val("");
	jQuery("#barCode_in").val("");
	jQuery("#ornaCode_in").val("");
	
	jQuery("#sizeDiv").dialog({
			title:'添加排除饰品',
			width:500, 
			height:200,
			modal:true
		});
}
function deleteBill(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length<1){
		alert("请选择要删除的记录");
		return ;
	}
	confirm("确定删除?", function(){
		showLayer(true);
		var billIdArr = [];
		for(var i=0, j=idxs.length;i<j;i++){
			billIdArr.push($n("chk")[idxs[i]].value);
		}
    	ExcludeOrnaDwr.deleteExcludeOrna(billIdArr, function(data){
    		showLayer(false);
    		alert(data?data:"删除成功", function(){
    			if(!data){
                	window.location = "excludeOrna.vm";
    			}
    		});
    	});
	});
}
jQuery(function(){
//	setEnterKey('ornaCode_in', getMaterActiveByOrnaCode);
//	setEnterKey('barCode_in', getMaterActiveByBarCode);
	checkTable('tbl', 'chkall', 'chk', true, null);
	initQuery2('PEXCLUDEORNA01', "frm", 'btnQueryShow');
});
/**
 * 根据饰品编码获取饰品信息
 */
function getMaterActiveByOrnaCode(){
	getMaterActiveInfo(jQuery("#ornaCode_in").val(), true);
}
/**
 * 根据饰品条码获取饰品信息
 */
function getMaterActiveByBarCode(){
	getMaterActiveInfo(jQuery("#barCode_in").val(), false);
}
function getMaterActiveInfo(code, ornaFlag){
	ExcludeOrnaDwr.getMaterActiveInfo(code, ornaFlag, function(data){
		if(!data){
			//alert("不能获取饰品信息");
    		jQuery("#validFlag").val("");
    		jQuery("#ornaDsc").val("");
    		jQuery("#orgId").val("");
    		jQuery("#state").val("");
		}else{
    		jQuery("#validFlag").val(data.ornaCode);
    		jQuery("#ornaDsc").val(data.ornaDsc);
    		jQuery("#orgId").val(data.orgName);
    		jQuery("#state").val(data.stateName);
		}
		if(ornaFlag){
			jQuery("#barCode_in").val("");
		}else{
			jQuery("#ornaCode_in").val("");
		}
	});
}
function saveExcludeOrna(){
	if(isNull(jQuery("#validFlag").val())){
		alert("饰品编码或条码无效");
		return;
	}
	confirm("确定保存?", function(){
		showLayer(true);
		ExcludeOrnaDwr.saveExcludeOrna(jQuery("#validFlag").val(), function(data){
			showLayer(false);
			alert(data?data:"保存成功", function(){
				if(!data){
					window.location = "excludeOrna.vm";
				}
			});
		});
	});
}
function batchExclude(){
	window.location = "excludeOrna.vm?user_action=query";
}
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
</script>