#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/GatherOrderDwr.js"])
#set($modelCode='08090202')
#set($isLoveStyle = false)
#if("1" == "$!{form.head.isLoveStyle}")
    #set($isLoveStyle = true)
#end
<form id='frm' action="gatherOrder.vm" method="post">
	<input type="hidden" id="user_action" name="user_action" value="view"/>
	<input type="hidden" id="headid" name="headid" value="$!{form.condition.headid}"/>
	<input type="hidden" id="setLineId" name="setLineId" value="$!{form.condition.setLineId}"/>
	#if("" == "$!{form.backUrl}")
	<input type="hidden" id="salableFlag" name="salableFlag" value="$!{form.condition.salableFlag}"/>
	#end
    <table class="title">
    	<tr><td>总单内容</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='导出Excel' class='btn' id='btnExportToExcel' onclick="exportToExcel()" $RightUtil.able($session, $modelCode,'1')>
			#if("" != "$!{form.backUrl}")
				<input type='button' value='返回列表' class='btn' id="" onclick="bactToList()">
			#end
			</td>
		</tr>
    </table>
	#if("" != "$!{form.backUrl}")
	<table class="content">
		<tr>
			<td class='body1'>总单号</td><td class='body2'>$!{form.head.billNo}</td>
			<td class='body1'>区域</td><td class='body2'>$!form.head.regionName</td>
			<td class='body1'>周期类型</td><td class='body2'>$!form.head.cycleTypeName</td>
		</tr>
        <tr>
            <td class='body1'>商品类别</td><td class='body2'>$!{form.head.articleTypeNames}</td>
            <td class='body1'>情侣款</td>
            <td class='body2'>$!DictUtil.getValue("yesorno", $!{form.head.isLoveStyle})</td>
        </tr>
	</table>
	#end
	<table class="list">
		<thead>
			<tr>
                #if($isLoveStyle)
                    <th style="width:30%;">大类</th>
                    <th style="width:30%;">小类</th>
                    <th style="width:30%;">款式大类</th>
                #else
                    <th style="width:13%;">大类</th>
                    <th style="width:13%;">小类</th>
                    <th style="width:13%;">分析范围</th>
                    <th style="width:13%;">款式大类</th>
                    <th style="width:13%;">款式中类</th>
                    <th style="width:13%;">款式小类</th>
                    <th style="width:13%;">明细款式</th>
                    #if("" != "$!{form.backUrl}")
                        <th style="width:13%;">是否畅销款</th>
                    #end
                #end
				<th></th>
			</tr>
        </thead>
		<tbody>
			<tr>
                #if($isLoveStyle)
                    <td><select id="itemClassId" name="itemClassId" onchange="changeItemClass()"><option value=''>--请选择--</option></select></td>
                    <td><select id="ornaClassId" name="ornaClassId" onchange="changeOrnaClass()"><option value=''>--请选择--</option></select></td>
                    <td><select id="styleItemClassId" name="styleItemClassId" onchange="changeStyleItemClass()"><option value=''>--请选择--</option></select></td>
                #else
                    <td><select id="itemClassId" name="itemClassId" onchange="changeItemClass()"><option value=''>--请选择--</option></select></td>
                    <td><select id="ornaClassId" name="ornaClassId" onchange="changeOrnaClass()"><option value=''>--请选择--</option></select></td>
                    <td><select id="analysisId" name="analysisId" #*onchange="changeAnalysis()"*#><option value=''>--请选择--</option></select></td>
                    <td><select id="styleItemClassId" name="styleItemClassId" onchange="changeStyleItemClass()"><option value=''>--请选择--</option></select></td>
                    <td><select id="styleMiddleClassId" name="styleMiddleClassId" onchange="changeStyleMiddleClass()"><option value=''>--请选择--</option></select></td>
                    <td><select id="styleOrnaClassId" name="styleOrnaClassId" onchange="changeStyleOrnaClass()"><option value=''>--请选择--</option></select></td>
                    <td><select id="styleId" name="styleId" onchange=""><option value=''>--请选择--</option></select></td>
                    #if("" != "$!{form.backUrl}")
                    <td><select id='salableFlag' name='salableFlag'><option value="">--</option><option value="1">是</option><option value="0">否</option></select></td>
                    #end
			#end
				<td><input type="button" value="筛选" id="btnQuery" class='btn'/> </td>
			</tr>
        </tbody>
	</table>
	<table class="list">
		<thead>
			<tr>
                #if($isLoveStyle)
                    <th style="width:30%;">大类</th>
                    <th style="width:30%;">小类</th>
                    <th style="width:30%;">款式大类</th>
                 #else
                     <th>大类</th>
                     <th>小类</th>
                     <th>分析范围</th>
                     <th>款式大类</th>
                    <th>款式中类</th>
                    <th>款式小类</th>
                    <th>款式</th>
                    <th>商品材质</th>
                    <th>托架颜色</th>
                    <th>计量单位</th>
                    <th>尺寸</th>
                    <th>色级</th>
                    <th>净度</th>
                    <th>品质</th>
                #end
				<th>下单数量</th>
			</tr>
        </thead>
		<tbody id='tbl'>
		#foreach($item in $form.pager.pageData)
			<tr>
                #if($isLoveStyle)
                    <td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
                    <td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
                    <td>$!BdCommon.getStyleItemClassNames($!item.styleItemClassId)</td>
                    <td>$!item.orderNum</td>
                #else
                    <td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
                    <td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
                    <td>$!item.analysisName</td>
                    <td>$!BdCommon.getStyleItemClassNames($!item.styleItemClassId)</td>
                    <td>$!BdCommon.getStyleMiddleClassNames($!item.styleMiddleClassId)</td>
                    <td>$!BdCommon.getStyleOrnaClassNames($!item.styleOrnaClassId)</td>
                    <td>$!HtmlUtil.printStyle($!item.styleId, $!item.styleName, $!item.bigGraph)</td>
                    <td>$!BdCommon.getQualityName($!item.qualityId)</td>
                    <td>$!DictUtil.getValue('bracketcolor',$!item.bracketColorId)</td>
                    <td>$!BdCommon.getUnitName($!item.unitId)</td>
                    <td>$!item.sizeName</td>
                    <td>$!DictUtil.getValue('diacolorgrade',$!item.colorGradeId)</td>
                    <td>$!DictUtil.getValue('diaclean',$!item.cleanId)</td>
                    <td>$!{DictUtil.getValue('gradelevel',$!item.colorGradeGradeId)}$!{DictUtil.getValue('gradelevel',$!item.cleanGradeId)}</td>
                    <td>$!item.orderNum</td>
                #end
			</tr>
		#end
    	</tbody>
	</table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
/**
* 改变大类
*/
function changeItemClass(){
	GatherOrderDwr.getOrnaClassForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
		changeOrnaClass();
	});
}
/**
* 改变小类
*/
function changeOrnaClass(){
#if(!$isLoveStyle)
	GatherOrderDwr.getAnalysisForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("analysisId", data, null, null, true, true);
		//changeAnalysis();
	});
    #end
    GatherOrderDwr.getStyleItemClassForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), function(data){
        addOptions("styleItemClassId", data, null, null, true, true);
        #if(!$isLoveStyle)
        changeStyleItemClass();
        #end
    });
}
/**
* 改变分析范围
*/
function changeAnalysis(){
#if(!$isLoveStyle)
	GatherOrderDwr.getStyleItemClassForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), function(data){
		addOptions("styleItemClassId", data, null, null, true, true);
		changeStyleItemClass();
	});
#end
}
/**
* 改变款式大类
*/
function changeStyleItemClass(){
#if(!$isLoveStyle)
	GatherOrderDwr.getStyleMiddleClassForSlt(jQuery("#headid").val(),  jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), function(data){
		addOptions("styleMiddleClassId", data, null, null, true, true);
		changeStyleMiddleClass();
	});
#end
}
/**
* 改变款式中类
*/
function changeStyleMiddleClass(){
	GatherOrderDwr.getStyleOrnaClassForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
		addOptions("styleOrnaClassId", data, null, null, true, true);
		changeStyleOrnaClass();
	});
}
/**
* 改变款式小类
*/
function changeStyleOrnaClass(){
	GatherOrderDwr.getStyleIdForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
		addOptions("styleId", data, null, null, true, true);
	});
}
jQuery(function(){
	altRowCSS('tbl');
	jQuery("#btnQuery").click(function(){
		jQuery("#frm").submit();
	});
#if(!$isLoveStyle)
	#if("" != "$!{form.backUrl}")
    	selectOption("salableFlag", "$!form.condition.salableFlag");
	#end
#end
	//请求大类数据
	GatherOrderDwr.getItemClassForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), function(data){
		addOptions("itemClassId", data, null, null, true, true, "$!form.condition.itemClassId");
		if("$!form.condition.itemClassId"){
			//请求小类数据
			GatherOrderDwr.getOrnaClassForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), function(data){
    			addOptions("ornaClassId", data, null, null, true, true, "$!form.condition.ornaClassId");
				if("$!form.condition.ornaClassId"){
                    #if(!$isLoveStyle)
                        //请求分析范围数据
                        GatherOrderDwr.getAnalysisForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
                            addOptions("analysisId", data, null, null, true, true, "$!form.condition.analysisId");
                        });
                    #end
                    GatherOrderDwr.getStyleItemClassForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), function(data){
                        addOptions("styleItemClassId", data, null, null, true, true, "$!form.condition.styleItemClassId");
                        if("$!form.condition.styleItemClassId" && !$isLoveStyle ){
                            //请求款式中类数据
                            GatherOrderDwr.getStyleMiddleClassForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), function(data){
                                addOptions("styleMiddleClassId", data, null, null, true, true, "$!form.condition.styleMiddleClassId");
                                if("$!form.condition.styleMiddleClassId"){
                                    //请求款式小类数据
                                    GatherOrderDwr.getStyleOrnaClassForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
                                        addOptions("styleOrnaClassId", data, null, null, true, true, "$!form.condition.styleOrnaClassId");
                                        if("$!form.condition.styleOrnaClassId"){
                                            //请求款式数据
                                            GatherOrderDwr.getStyleIdForSlt(jQuery("#headid").val(), jQuery("#setLineId").val(), jQuery("#salableFlag").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
                                                addOptions("styleId", data, null, null, true, true, "$!form.condition.styleId");
                                            });
                                        }
                                    });
                                }
                            });
                        }
                    });
				}
    		});
		}
	});
});
function bactToList(){
	window.location = "$!{form.backUrl}";
}
function exportToExcel(){
	jQuery("#user_action").val("exportExcel2");
	jQuery("#frm").submit();
	jQuery("#user_action").val("view");
}
</script>