<!-- 正配货变更 -->
#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/PushDispatchDwr.js"])
<form id="frm" action="pushDispatch.vm?user_action=changeDispatching" method="post">
	<input type='hidden' name='conditionId' value="$!form.condition.conditionId"/>
	<input type='hidden' name='ornaLogId' value="$!form.condition.ornaLogId"/>
	<input type='hidden' id='orgId' name='orgId' value="$!form.condition.orgId"/>
	<input type='hidden' id='cancelFlag' name='cancelFlag' value="$!form.condition.cancelFlag"/>
    <table class='list'>
    	<thead>
    		<tr>
                <th width='20px'><input type='checkbox' id='chkall'/></th>
    			<th>分配店</th><th align="center">已配数</th><th align="center">正配数</th><th>契合度</th><th>缺货差异</th><th>品质差异</th><th>变更</th>
    		</tr>
    	</thead>
    	<tbody id='tbl'>
    	#foreach($item in $form.pager.pageData)
    		<tr>
				<td><input type='checkbox' name='chk'/></td>
    			<td>$!BdCommon.getOrgName($!item.orgId)</td>
    			<td>$!item.dispatchedNum</td>
    			<td>$!item.dispatchingNum</td>
    			<td>$!item.matchDegee</td>
    			<td>$StringUtil.formatDouble($!item.numDiff, 4)</td>
    			<td>$StringUtil.formatDouble($!item.gradeDiff, 4)</td>
				<td><input type='button' class='btn' #if("$!{item.orgId}" == "$!{form.condition.orgId}") value='取消' onclick="changeButtonStatus(true)" #else value='变更' onclick="exchange(this, '$!{item.orgId}')" #end/></td>
            </tr>
    	#end
    	</tbody>
    </table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
	changeButtonStatus(false);
});
function changeButtonStatus(flag){
	if(flag){
		jQuery("#cancelFlag").val("1");
	}
	if(jQuery("#cancelFlag").val() == "1"){
    	jQuery(".btn").each(function(){
    		jQuery(this).attr("disabled", true);
    	});
	}
}
/**
 * 变更正配货饰品
 */
function exchange(obj, orgId){
	confirm("确定变更?", function(){
    	PushDispatchDwr.exchangeDispatching("$!form.condition.ornaLogId", orgId, function(data){
    		alert(data?data:"变更成功", function(){
				//jQuery("#cancelFlag").val("1");
				jQuery("#orgId").val(orgId);
				jQuery("#frm").submit();
    		});
    	});
	});
}
</script>