<!-- 总部总单行查询 -->
#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/PushDispatchDwr.js"])
<form id="frm" action="pushDispatch.vm?user_action=hqline" method="post">
	<input type='hidden' name='gheadid' value="$!form.condition.gheadid"/>
	<input type='hidden' name='itemClassId' value="$!form.condition.itemClassId"/>
	<input type='hidden' name='ornaClassId' value="$!form.condition.ornaClassId"/>
	<input type='hidden' name='showUnfullOnly' value="$!form.condition.showUnfullOnly"/>
    <table class='list'>
    	<thead>
    		<tr>
                <th width='20px'><input type='checkbox' id='chkall'/></th>
    			<th>大类</th><th>小类</th><th>分析范围</th><th>款式大类</th><th>款式</th><th>订购数</th><th>已配数</th>
    		</tr>
    	</thead>
    	<tbody id='tbl'>
    	#foreach($item in $form.pager.pageData)
    		<tr>
				<td><input type='checkbox' name='chk'/><input type='hidden' name='lineid' value='$!{item.lineid}'/></td>
    			<td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
    			<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
    			<td>$!item.analyseName</td>
    			<td>$!BdCommon.getStyleItemClassNames($!item.styleItemClassId)</td>
				<td>$!HtmlUtil.printStyle($!item.styleId, $!item.styleName, $!item.bigGraph)</td>
    			<td>$!item.orderNum</td>
    			<td><input type='button' style='width:40px;' value='$!item.dispatchedNum'
                           onclick='showDispatched("$!form.condition.gheadid", "$!item.itemClassId", "$!item.ornaClassId", "$!item.analysisId", "$!item.styleItemClassId", "$!item.styleId")'/></td>
            </tr>
    	#end
    	</tbody>
    </table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
});

/**
 * 显示已配数据
 */
function showDispatched(headid, itemClassId, ornaClassId, analysisId, styleItemClassId, styleId){
    var _iframeId = "dispatchedOrna";
    var options = {
        title : '查看已分配饰品',
        contentType : 'iframe',
        iframeId : _iframeId,
        width : 1000,
        height : 350,
        okBtnName : '关闭',
        //cancelBtnName : '',
        showCancel : false,
        closeable:true,
        boxid:'winDiv',
        onok : function(box) {
            box.close();
        }
    };
    var url =ctxPath + "/push/pushDispatch.vm?user_action=showDispatched&headid="+headid+
            "&itemClassId=" + itemClassId+"&ornaClassId="+ornaClassId+"&analysisId="+analysisId+
            "&styleItemClassId="+styleItemClassId+"&styleId="+styleId;
    jQuery.weeboxs.open(url, options);
}
</script>