#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/PushDispatchDwr.js"])
#set($modelCode='08090301')
<form id="frm" method="post">
    <input type='hidden' id='user_action' name='user_action' value=''/>
    <table class="title">
    	<tr><td>推式订单列表</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='减库生成采购总单' class='btn' id='btnSubPurchase' $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='不减库生成采购总单' class='btn' id='btnUnsubPurchase' $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='手工减库生成采购总单' class='btn' id='btnSubPurchase2' $RightUtil.able($session, $modelCode,'3')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, $modelCode,'4')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' >
				<input type="checkbox" name='showAllFlag' #if("1" == "$!{form.condition.showAllFlag}") checked #end value='1' onclick="showAllBill('frm')">显示所有单据
			</td>
		</tr>
    </table>
	<div class="scroll">
    <table class='list' style="width:1400px;">
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
				<th width='90px'></th>
                <th width='120px'>总单编号</th>
        		<th width='120px'>区域</th>
                <th width='60px'>情侣款</th>
				<th width='120px'>周期类型</th>
				<th width='180px'>商品类别</th>
				<th width='60px'>购物类型</th>
        		<th width='90px'>创建人</th>
        		<th width='120px'>创建时间</th>
        		<th width='90px'>状态</th>
				<th width='120px'>执行功能</th>
				<th width='90px'>已配货</th>
            </tr>
        </thead>
            <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td>
					<input type='checkbox' name='chk'/>
					<input type='hidden' name='headid' value='$!{map.headid}'/>
					<input type='hidden' name='isLoveStyle' value='$!{map.isLoveStyle}'/>
					<input type='hidden' name='dispatchFlag' value='$!{map.dispatchFlag}'/>
					<input type='hidden' name='purchaseFlag' value='$!{map.purchaseFlag}'/>$velocityCounter
				</td>
				<td><input type="button" class="btn" value="进入配货" onclick="dispatch(this, '$!map.headid', '$!map.status')"/></td>
				<td>$!map.billNo</td>
				<td>$!map.regionName</td>
                <td>$!DictUtil.getValue('yesorno', $!map.isLoveStyle)</td>
				<td>$!map.cycleTypeName</td>
				<td><input type='text' readonly class='none' value="$!map.articleTypeNames" style='width:180px;'></td>
				<td>$!DictUtil.getValue('ordertype', "$!map.ordertype")</td>
				<td>$!BdCommon.getUserName($!map.createId)</td>
				<td>$!map.createDate</td>
				<td>$!DictUtil.getValue('status', $!map.status)</td>
				<td>$!DictUtil.getValue('dispatchdotype', $!map.dotype)</td>
				<td>$!DictUtil.getValue('yesorno', $!map.dispatchFlag)</td>
			</tr>
		#end
    	</tbody>
    </table>
</div>
<script>
createPagingToolbar('frm', 1, 15, 5);
</script>
</form>
<div id='conditionDiv' style='display:none;'>
	<table class='list'>
        <thead>
    		<tr>
    			<th style='width:45px;'><input type='checkbox' id='chkall2'/></th>
    			<th style='width:90px;'>大类</th>
    			<th style='width:90px;'>小类</th>
    			<th style='width:90px;'>创建人</th>
    			<th style='width:120px;'>创建时间</th>
    		</tr>
		</thead>
		<tbody id="tbl2">
        </tbody>
    </table>
</div>
<script>
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
function showAllBill(formId){
	jQuery("#" + formId).submit();
}
function removeAllRows(tblId){
	for(var i=$(tblId).rows.length-1;i>=0;i--){
		$(tblId).deleteRow(i);
	}
}
function loadConditionlines(headid){
	removeAllRows('tbl2');
	PushDispatchDwr.getConditionLine(headid, function(data){
		for(var i=0,j=data.length;i<j;i++){
			addConditionRow(data[i]);
		}
	});
}
function addConditionRow(data){
	var htmlArr = [];
	htmlArr.push("<input type='checkbox' name='chk2'/><input type='hidden' name='conditionId' value='" +data.id+ "'/><input type='hidden' name='createId' value='"+data.createId+"'/>");
	htmlArr.push(data.itemClassName);
	htmlArr.push(data.ornaClassName);
	htmlArr.push(data.createName);
	htmlArr.push(data.createDate);
	insertRow("tbl2", htmlArr, false);
	checkTable('tbl2', 'chkall2', 'chk2', false);
}
function dispatch(obj, headid, gstatus){
	jQuery("#conditionDiv").dialog({
			title:'选择配货参数',
			width:500, 
			height:300,
			modal:true,
			zIndex:1,
			open: function(event, ui) {
				loadConditionlines(headid);
			}
		});
	jQuery("#conditionDiv").dialog("option", "buttons", [{
			text:"创建新的分配",
			click:function(){
				jQuery(this).dialog("close");
            	window.location = "pushDispatch.vm?user_action=dispatch&gheadid="+headid+"&gstatus="+gstatus+"&conditionId=-1";
			}
		},{
			text:"选择参数进入",
			click:function(){
            	var index = getSelectIndex('chk2');
            	if(index<0){
            		alert("请先选择配货参数");
            		return ;
            	}
        		if($n("createId")[index].value != "$!StringUtil.getUserId($session)"){
        			alert('只能选择自己创建的配货参数');
        			return ;
        		}
				jQuery(this).dialog("close");
            	window.location = "pushDispatch.vm?user_action=dispatch&gheadid="+headid+"&gstatus="+gstatus+"&conditionId=" + $n("conditionId")[index].value;
			}
		},{
			text:"取消",
			click:function(){
				jQuery(this).dialog("close");
			}
		}
	]);
}
function changeBtn(checked, index){
	jQuery("#btnSubPurchase").attr("disabled", true);
	jQuery("#btnUnsubPurchase").attr("disabled", true);
	jQuery("#btnSubPurchase2").attr("disabled", true);
	if(!checked ||  $n('isLoveStyle')[index].value == "1")return;
	//若未生成采购单
	if("0" == $n("purchaseFlag")[index].value){
    	//已经配货则，只能手工减库生成采购单
    	if("1" == $n('dispatchFlag')[index].value){
    		jQuery("#btnSubPurchase2").attr("disabled", false);
    	}else{
    		jQuery("#btnSubPurchase").attr("disabled", false);
    		jQuery("#btnUnsubPurchase").attr("disabled", false);
    	}
	}
}
/**
 * 减库生成采购单
 */
function subPurchase(){
	var index = getSelectIndex('chk');
	if(index<0){
		alert("请先选择要减库生成采购单的总部总单");
		return ;
	}
	confirm("确定减库生成采购单?", function(){
		showLayer(true);
    	PushDispatchDwr.subPurchase($n("headid")[index].value, function(data){
    		showLayer(false);
    		alert(data?data:"减库生成采购单成功", function(){
    			if(!data){
    				window.location = ctxPath + "/push/pushDispatch.vm";
    			}
    		});
    	});
	});
}
/**
 * 手工减库生成采购单
 */
function subPurchase2(){
	var index = getSelectIndex('chk');
	if(index<0){
		alert("请先选择要手工减库生成采购单的总部总单");
		return ;
	}
	confirm("确定手工减库生成采购单?", function(){
		showLayer(true);
    	PushDispatchDwr.subPurchase2($n("headid")[index].value, function(data){
    		showLayer(false);
    		alert(data?data:"手工减库生成采购单成功", function(){
    			if(!data){
    				window.location = ctxPath + "/push/pushDispatch.vm";
    			}
    		});
    	});
	});
}
/**
 * 不减库生成采购单
 */
function unsubPurchase(){
	var index = getSelectIndex('chk');
	if(index<0){
		alert("请先选择要不减库生成采购单的总部总单");
		return ;
	}
	confirm("确定不减库生成采购单?", function(){
    	var headid = $n("headid")[index].value;
		showLayer(true);
    	PushDispatchDwr.unsubPurchase(headid, function(data){
    		showLayer(false);
    		alert(data?data:"不减库生成采购单成功", function(){
    			if(!data){
    				window.location = ctxPath + "/push/pushDispatch.vm";
    			}
    		});
    	});
	});
}
/**
 * 查询
 */
function executeQuery(){
	jQuery("#frm").submit();
}
function resetQuery(){
	jQuery("#frm").clearForm();
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false, changeBtn);
	//初始化查询div common_query.js中定义默认已经引入
	jQuery("#btnQueryOk").click(executeQuery);
	jQuery("#btnQueryReset").click(resetQuery);
	jQuery("#btnSubPurchase").click(subPurchase);//减库生成采购单
	jQuery("#btnSubPurchase2").click(subPurchase2);//手工减库生成采购单
	jQuery("#btnUnsubPurchase").click(unsubPurchase);//不减库生成采购单
	
	initQuery2('PDISPATCH01', "frm", 'btnQueryShow');
	changeBtn(false);
});
</script>