#set($cssfiles = ["$!StringUtil.getContextPath()/css/mclon/tabpanel.css"])
#set($modelCode='08090302')
#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/PushDispatchDwr.js", "$!StringUtil.getContextPath()/js/push/pushDispatch_edit.js?t=201211261826"])
<form id="frm" method="post">
    <input type='hidden' id='user_action' name='user_action' value=''/>
	<input type='hidden' id='gheadid' value="$!form.gheadid"/>
	<input type='hidden' id='gstatus' value="$!form.gstatus"/>
	<input type='hidden' id='conditionId' value="$!form.conditionId"/>
	<input type='hidden' id='isLoveStyle' value="$!{form.ghead.isLoveStyle}"/>
    <table class="title">
    	<tr><td>推式配货</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='记账' class='btn' id='btnMark' $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='查看减库饰品' class='btn' id='btnViewSubOrna' $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='返回列表' class='btn' id='btnToList'>
			</td>
		</tr>
    </table>
	<table class='content'>
		<tr>
			<td class='body1'>总单编号</td><td class='body2'><input type='text' readonly value='$!{form.ghead.billNo}'></td>
			<td class='body1'>区域</td><td class='body2'><input type='text' readonly value='$!{form.ghead.regionName}'></td>
			<td class='body1'>周期类型</td><td class='body2'><input type='text' readonly value='$!{form.ghead.cycleTypeName}'></td>
            <td class='body1'>情侣款</td>
            <td class='body2'>$!DictUtil.getValue("yesorno", $!{form.ghead.isLoveStyle})</td>
		</tr>
		<tr>
			<td class='body1'>分配店</td><td class='body2'><input type='hidden' id='inOrgId' value="-1"><input type='text' class="target" id="inOrgName" value="自动分配" ondblclick="selectDispatchOrg()"></td>
			<td class='body1'>饰品条码</td><td class='body2'><input type='text' id='barCode' style="width:110px;"><input type='checkbox' id='showDispatchingChangeChk' style="width:20px;" checked ></td>
			<td class='body1'>饰品编码</td><td class='body2'><input type='text' id='ornaCode' value=""></td>
		</tr>
	</table>
    <table class='list'>
    	<thead>
			<tr>
                <th>饰品编码</th>
                <th>饰品名称</th>
        		<th>计量单位</th>
        		<th>款式</th>
				<th>品质</th>
				<th>重量</th>
				<th>主石重</th>
				<th>配石重</th>
        		<th>尺寸</th>
        		<th>基础价</th>
            </tr>
        </thead>
        <tbody id="tbl1">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
    	</tbody>
    </table>
    <div id="tab">
    	<h3 class="up" onclick="go_to(1)">配货</h3>
    	<div class="block">
    		<table class='content'>
    			<tr>
    				<td class='body1' style="width:12%;">大类</td>
    				<td class='body2' style="width:13%;"><select id="itemClassId1" onchange="changeItemClass1()"><option value=''>--请选择--</option></select></td>
    				<td class='body1' style="width:12%;">小类</td>
    				<td class='body2' style="width:13%;"><select id="ornaClassId1"><option value=''>--请选择--</option></select></td>
    				<td class='body2' style="width:50%;"><input type='button' class='btn' value='生成配货参数' id='btnDispatchCondition'></td>
    			</tr>
				<tr>
                    <td colspan="5"><span id='dispatchTip'></span></td>
				</tr>
    		</table>
    		<table width="100%">
    			<tr>
    				<td>
    					<iframe marginwidth="0" frameborder="0" width='100%' height='400' id="dispatchingChangeFrame" src="" style="display:none;"></iframe>
    				</td>
    			</tr>
    		</table>
    	</div>
    	<h3 onclick="go_to(2)">正配货</h3>
    	<div>
			<table class='content' style=''>
				<tr>
					<td class='body1' style="width:12%;">分配店</td>
    				<td class='body2' style="width:13%;"><select id="orgId2"><option value=''>--请选择--</option></select></td>
    				<td class='body2' style="width:75%;">
						<input type='button' class='btn' value='查询' id='btnDispatchingQuery' style="width:60px;">
						<input type='button' class='btn' value='查看统计' style="width:90px;" onclick="viewStatistics(true)">
						<input type='button' class='btn' value='导出excel' style="width:90px;" onclick="dispatchingExcel()">
					</td>
				</tr>
			</table>
    		<table width="100%">
    			<tr>
    				<td>
    					<iframe marginwidth="0" frameborder="0" width='100%' height='450' id="dispatchingFrame" src="pushDispatch.vm?user_action=dispatching&conditionId=$!{form.conditionId}"></iframe>
    				</td>
    			</tr>
    		</table>
    	</div>
    	<h3 onclick="go_to(3)">已配货</h3>
    	<div>
			<table class='content' style=''>
				<tr>
					<td class='body1' style="width:12%;">分配店</td>
    				<td class='body2' style="width:13%;"><select id="orgId3"><option value=''>--请选择--</option></select></td>
					<td class='body1' style="width:12%;">大类</td>
    				<td class='body2' style="width:13%;"><select id="itemClassId3"><option value=''>--请选择--</option></select></td>
					<td class='body1' style="width:12%;">小类</td>
    				<td class='body2' style="width:13%;"><select id="ornaClassId3"><option value=''>--请选择--</option></select></td>
    				<td class='body2' style="width:75%;">
						<input type='button' class='btn' value='查询' id='btnDispatchedQuery' style="width:60px;">
						<input type='button' class='btn' value='查看统计' style="width:90px;" onclick="viewStatistics(false)">
                        <input type='button' class='btn' value='导出excel' style="width:90px;" onclick="dispatchedExcel()">
					</td>
				</tr>
			</table>
    		<table width="100%">
    			<tr>
    				<td>
    					<iframe marginwidth="0" frameborder="0" width='100%' height='450' id="dispatchedFrame" src="pushDispatch.vm?user_action=dispatched&gheadid=$!{form.gheadid}"></iframe>
    				</td>
    			</tr>
    		</table>
    	</div>
    	<h3 onclick="go_to(4)">总部总单</h3>
    	<div>
			<table class='content'>
				<tr>
					<td class='body1' style="width:12%;">大类</td>
    				<td class='body2' style="width:13%;"><select id='itemClassId4'><option value=''>--请选择--</option></select></td>
					<td class='body1' style="width:12%;">小类</td>
    				<td class='body2' style="width:13%;"><select id='ornaClassId4'><option value=''>--请选择--</option></select></td>
    				<td class='body2' style="width:50%;">
						<input type='button' class='btn' value='查询' id='btnHqlineQuery' style="width:60px;">
						<input type='button' class='btn' value='导出Excel' id='btnHqlineExport' style="width:65px;">
					</td>
				</tr>
			</table>
    		<table width="100%">
    			<tr>
    				<td>
    					<iframe marginwidth="0" frameborder="0" width='100%' height='450' id="hqlineFrame" src="pushDispatch.vm?user_action=hqline&gheadid=$!{form.gheadid}"></iframe>
    				</td>
    			</tr>
    		</table>
    	</div>
    	<h3 onclick="go_to(5)">生成调拨单</h3>
    	<div>
			<table width="100%">
				<tr valign="top">
					<td width="30%">
            			<table class='content'>
            				<tr>
            					<td class='body1'>分配店</td>
            					<td class='body1'>配货员</td>
            				</tr>
            				<tr>
            					<td class='body1'><select multiple="multiple" style="width: 120px" size="9" id='orgId5'></select></td>
            					<td class='body1'><select multiple="multiple" style="width: 120px" size="9" id='dispatchUserId5'></select></td>
            				</tr>
            				<tr>
            					<td class='body1'>大类</td>
            					<td class='body1'>小类</td>
            				</tr>
            				<tr>
                                <td class='body1'><select multiple="multiple" style="width: 120px" size="10" id='itemClassId5'></select></td>
            					<td class='body1'><select multiple="multiple" style="width: 120px" size="10" id='ornaClassId5'></select></td>
            				</tr>
            			</table>
					</td>
					<td>
            			<table class='content'>
            				<tr>
            					<td class='body2'>
									<input type='button' class='btn' value='刷新' style="width:60px;" id='btnMoveBillRefresh'>
									<input type='button' class='btn' value='全选' style="width:60px;" id='btnMoveBillSelectAll'>
									<input type='button' class='btn' value='生成调拨单' id='btnCreateMoveBill' $RightUtil.able($session, $modelCode,'3')>
									<input type='button' class='btn' value='查看成本' id='btnViewRealCost' $RightUtil.able($session, $modelCode,'4')>
									<!--
										<input type='button' class='btn' value='改总部状态为已到店' id='btnUpdateHqornaStatus' $RightUtil.able($session, $modelCode,'5')>
									-->
								</td>
							</tr>
						</table>
						<table class='list'>
							<thead>
								<tr><th>分配店</th><th>调拨单号</th><th>件数</th></tr>
							</thead>
							<tbody id='moveBillTbl'></tbody>
						</table>
					</td>
				</tr>
			</table>
    	</div>
    	<h3 onclick="go_to(6)">未生成调拨单</h3>
    	<div>
			<table class='content'>
				<tr>
					<td class='body2' style="">
                        <input type='button' value='刷新' onclick="" class="btn" id='btnUnmovebillQuery'>
                        <input type='button' value='导出excel' onclick="unMovedBillExcel()" class="btn" >
                    </td>
				</tr>
			</table>
    		<table width="100%">
    			<tr>
    				<td>
    					<iframe marginwidth="0" frameborder="0" width='100%' height='450' id="unmovebillFrame" src="pushDispatch.vm?user_action=unmovebill&gheadid=$!{form.gheadid}"></iframe>
    				</td>
    			</tr>
    		</table>
    	</div>
    	<h3 onclick="go_to(7)">调拨单查询</h3>
    	<div>
			<table class='content'>
				<tr>
					<td class='body2' style="">
                        <input type='button' value='刷新' onclick="" class="btn" id='btnMovebillQuery'>
                        <input type='button' value='导出excel' onclick="movebillExcel()" class="btn" >
                    </td>
				</tr>
			</table>
    		<table width="100%">
    			<tr>
    				<td>
    					<iframe marginwidth="0" frameborder="0" width='100%' height='450' id="movebillFrame" src="pushDispatch.vm?user_action=movebill&gheadid=$!{form.gheadid}"></iframe>
    				</td>
    			</tr>
    		</table>
    	</div>
    </div>
</form>
<div id="showStaticDiv" style="display:none;" title='查看统计'>
	<table class='list'>
		<thead>
            <th>门店</th>
            <th>大类</th>
            <th>小类</th>
            <th>分析范围</th>
            <th>品质</th>
            <th>数量</th>
        </thead>
    </table>
</div>
<script>
function go_to(ao){
	var h = jQuery("#tab h3");
	var d = jQuery("#tab div");
	for(var i=0;i<h.length;i++) {
		if(ao-1==i) {
			h[i].className+=" up";
			d[i].className+=" block";
		} else {
			h[i].className=" ";
			d[i].className=" ";
		}
	}
}
/**
 * 设置配货参数
 */
function setValues(){
	//未选择配货参数
	if("-1" == jQuery("#conditionId").val()){
		PushDispatchDwr.getGatherLineItemClassForSlt(jQuery("#gheadid").val(), function(data){
			addOptions("itemClassId1", data, null, null, true, true);
		});
	}else{
		addOptions("itemClassId1", [{value:"$!form.disCondition.itemClassId", text:"$!BdCommon.getItemClassDesc($!form.disCondition.itemClassId)"}], null, null, true);
		addOptions("ornaClassId1", [{value:"$!form.disCondition.ornaClassId", text:"$!BdCommon.getOrnaClassDesc($!form.disCondition.ornaClassId)"}], null, null, true);
		jQuery("#btnDispatchCondition").attr("disabled", true);
	}
}
jQuery(function(){
	checkTable('tbl1', 'chkall', 'chk', false);
	jQuery("#btnToList").click(function(){
		window.location = "pushDispatch.vm";
	});
	jQuery("#btnMark").click(markBill);
	jQuery("#btnViewSubOrna").click(viewSubOrna);
	jQuery("#btnDispatchCondition").click(saveDispatchCondition);
	setEnterKey('ornaCode', getMaterActiveByOrnaCode);
	setEnterKey('barCode', getMaterActiveByBarCode);

	setValues();
	setDispatching();//设置正配货
	setDispatched();//设置已配货
	setHqline();//设置总部总单
	setDispatchMove();//设置生成调拨单
	setMovebill();//设置调拨单(未生成调拨单\调拨单查询)
	
	PushDispatchDwr.checkDispatchStatus(jQuery("#gheadid").val(), function(data){
		if(data){
    		jQuery("#btnMark").attr("disabled", true);//记账
    		jQuery("#btnDispatchCondition").attr("disabled", true);//记账
		}
	});
});
/**
 * 正配货查询
 */
function dispatchingQuery(){
	var url ="pushDispatch.vm?user_action=dispatching&conditionId=" + jQuery("#conditionId").val() + "&orgId=" + jQuery("#orgId2").val();
	jQuery("#dispatchingFrame").attr("src", url);//
}
/**
 * 设置正配货
 */
function setDispatching(){
	if("-1" != jQuery("#conditionId").val()){
		PushDispatchDwr.getDispatchingOrgForSlt(jQuery("#conditionId").val(), function(data){
			addOptions("orgId2", data, null, null, true, true);
		});
//		jQuery("#btnDispatchingQuery").click(dispatchingQuery);
		jQuery("#btnDispatchingQuery").click(function(){
			var selectOrgId2 = jQuery("#orgId2").val();
    		PushDispatchDwr.getDispatchingOrgForSlt(jQuery("#conditionId").val(), function(data){
    			addOptions("orgId2", data, null, null, true, true, selectOrgId2);
				dispatchingQuery();
    		});
		});
	}
}
/**
 * 改变组织
 */
function changeOrgId3(){
	PushDispatchDwr.getDispatchedItemClassForSlt(jQuery("#gheadid").val(), jQuery("#orgId3").val(), function(data){
		addOptions("itemClassId3", data, null, null, true, true);
		changeItemClassId3();
	});
}
/**
 * 改变大类
 */
function changeItemClassId3(){
	PushDispatchDwr.getDispatchedOrnaClassForSlt(jQuery("#gheadid").val(), jQuery("#orgId3").val(), jQuery("#itemClassId3").val(), function(data){
		addOptions("ornaClassId3", data, null, null, true, true);
	});
}
/**
 * 已配货查询
 */
function dispatchedQuery(){
	var url ="pushDispatch.vm?user_action=dispatched&gheadid=" + jQuery("#gheadid").val()
		+ "&orgId=" + jQuery("#orgId3").val()
		+ "&itemClassId=" + jQuery("#itemClassId3").val()
		+ "&ornaClassId=" + jQuery("#ornaClassId3").val();
	jQuery("#dispatchedFrame").attr("src", url);
	PushDispatchDwr.getDispatchedDispatchRate(jQuery("#gheadid").val(), jQuery("#orgId3").val(), jQuery("#itemClassId3").val(), jQuery("#ornaClassId3").val(), (jQuery("#showUnfullOnly3").attr("checked")?1:0), (jQuery("#showUnperfectMatch3").attr("checked")?1:0), function(data){
        $("dispatchedDispatchRate").innerHTML = "<font color='blue'>匹配率："+data+"%</font>";
	});
}
/**
 * 设置已配货
 */
function setDispatched(){
	if(jQuery("#gheadid").val()){
		PushDispatchDwr.getDispatchedOrgForSlt(jQuery("#gheadid").val(), function(data){
			addOptions("orgId3", data, null, null, true, true);
		});
		PushDispatchDwr.getDispatchedItemClassForSlt(jQuery("#gheadid").val(), "", function(data){
			addOptions("itemClassId3", data, null, null, true, true);
		});
		PushDispatchDwr.getDispatchedOrnaClassForSlt(jQuery("#gheadid").val(), "", "", function(data){
    		addOptions("ornaClassId3", data, null, null, true, true);
    	});
		jQuery("#btnDispatchedQuery").click(dispatchedQuery);
		jQuery("#orgId3").change(changeOrgId3);
		jQuery("#itemClassId3").change(changeItemClassId3);
	}
}
/**
 * 改变大类
 */
function changeItemClassId4(){
	PushDispatchDwr.getHqlineOrnaClassForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId4").val(), function(data){
		addOptions("ornaClassId4", data, null, null, true, true);
	});
}
/**
 * 总部总单查询
 */
function hqlineQuery(){
	var url ="pushDispatch.vm?user_action=hqline&gheadid=" + jQuery("#gheadid").val()
		+ "&itemClassId=" + jQuery("#itemClassId4").val()
		+ "&ornaClassId=" + jQuery("#ornaClassId4").val()
		+ "&showUnfullOnly=" + (jQuery("#showUnfullOnly4").attr("checked")?1:0)
		+ "&showUnperfectMatch=" + (jQuery("#showUnperfectMatch4").attr("checked")?1:0);
	jQuery("#hqlineFrame").attr("src", url);
//	PushDispatchDwr.getHqlineDispatchRate(jQuery("#gheadid").val(), jQuery("#itemClassId4").val(), jQuery("#ornaClassId4").val(), (jQuery("#showUnfullOnly4").attr("checked")?1:0), (jQuery("#showUnperfectMatch4").attr("checked")?1:0), function(data){
//       $("hqlineDispatchRate").innerHTML = "<font color='blue'>匹配率："+data+"%</font>";
//	});
}
function hqlineExport(){
	window.location = "pushDispatch.vm?user_action=exportHqline&gheadid=" + jQuery("#gheadid").val()
		+ "&itemClassId=" + jQuery("#itemClassId4").val()
		+ "&ornaClassId=" + jQuery("#ornaClassId4").val()
		+ "&showUnfullOnly=" + (jQuery("#showUnfullOnly4").attr("checked")?1:0)
		+ "&showUnperfectMatch=" + (jQuery("#showUnperfectMatch4").attr("checked")?1:0);
}
/**
 * 设置总部总单
 */
function setHqline(){
	if(jQuery("#gheadid").val()){
		PushDispatchDwr.getHqlineItemClassForSlt(jQuery("#gheadid").val(), function(data){
			addOptions("itemClassId4", data, null, null, true, true);
		});
		PushDispatchDwr.getHqlineOrnaClassForSlt(jQuery("#gheadid").val(), "", function(data){
    		addOptions("ornaClassId4", data, null, null, true, true);
    	});
		jQuery("#btnHqlineQuery").click(hqlineQuery);
		jQuery("#btnHqlineExport").click(hqlineExport);
		jQuery("#itemClassId4").change(changeItemClassId4);
	}
}
function setDispatchMoveParameter(){
	PushDispatchDwr.getMoveItemClassForSlt(jQuery("#gheadid").val(), function(data){
		addOptions("itemClassId5", data, null, null, true, false);
	});
	PushDispatchDwr.getMoveOrnaClassForSlt(jQuery("#gheadid").val(), function(data){
		addOptions("ornaClassId5", data, null, null, true, false);
	});
	PushDispatchDwr.getMoveOrgForSlt(jQuery("#gheadid").val(), function(data){
		addOptions("orgId5", data, null, null, true, false);
	});
	PushDispatchDwr.getMoveDispatchUserForSlt(jQuery("#gheadid").val(), function(data){
		addOptions("dispatchUserId5", data, null, null, true, false);
	});
}
/**
 * 设置生成调拨单
 */
function setDispatchMove(){
	setDispatchMoveParameter();
	jQuery("#btnMoveBillRefresh").click(setDispatchMoveParameter);
	jQuery("#btnMoveBillSelectAll").click(selectAllMoveBillCondition);
	jQuery("#btnCreateMoveBill").click(createMoveBill);
	jQuery("#btnViewRealCost").click(viewRealCost);
	jQuery("#btnUpdateHqornaStatus").click(updateHqOrnaStatus);
}
function selectAllMoveBillCondition(){
	selectAllSlt("orgId5");
	selectAllSlt("itemClassId5");
	selectAllSlt("ornaClassId5");
	selectAllSlt("dispatchUserId5");
}
function selectAllSlt(sltId){
	for(var i=0;i<$(sltId).options.length;i++){
		$(sltId).options[i].selected = true;
	}
}
/**
 * 改总部状态为已到店
 */
function updateHqOrnaStatus(){
	confirm("确定改总部状态为已到店?", function(){
		showLayer(true);
    	PushDispatchDwr.updateHqOrnaStatus(jQuery("#gheadid").val(), function(data){
    		showLayer(false);
			alert(data?data:"改总部状态为已到店成功");
		});
	});
}
function checkMoveBillAvail(){
	if(null == jQuery("#orgId5").val()){
		alert("请先选择分配店");
		return false;
	}
	if(null == jQuery("#itemClassId5").val()){
		alert("请先选择大类");
		return false;
	}
	if(null == jQuery("#ornaClassId5").val()){
		alert("请先选择小类");
		return false;
	}
	return true;
}
/**
 * 查看成本
 */
function viewRealCost(){
	if(!checkMoveBillAvail())	return ;
	var _iframeId = "viewRealCostFrm";
	var options = {
			title : '查看成本',
			contentType : 'iframe',
			iframeId : _iframeId,
			width : 500,
			height : 200,
			showCancel: false,
			onok : function(box) {
    			box.close();
			}
	};
	var url = 'pushDispatch.vm?user_action=viewRealCost&gheadid=' + jQuery("#gheadid").val()
		+ '&orgIds=' + jQuery("#orgId5").val().join(",")
		+ '&itemClassIds=' + jQuery("#itemClassId5").val().join(",")
		+ '&ornaClassIds=' + jQuery("#ornaClassId5").val().join(",");
	jQuery.weeboxs.open(url, options);
}
/**
 * 创建调拨单
 */
function createMoveBill(){
	if(!checkMoveBillAvail())	return ;
	if(null == jQuery("#dispatchUserId5").val()){
		alert("请先选择配货员");
		return ;
	}
	confirm("确定生成调拨单?", function(){
		showLayer(true);
    	PushDispatchDwr.createMoveBill(jQuery("#gheadid").val(), jQuery("#orgId5").val().join(","), jQuery("#itemClassId5").val().join(",")
			, jQuery("#ornaClassId5").val().join(","), jQuery("#dispatchUserId5").val().join(","), function(data){
	    		showLayer(false);
				if(typeof data == 'object'){
            		alert("生成调拨单成功", function(){
        				setDispatchMoveParameter();
						for(var i=0;i<data.length;i++){
            				var htmlArr = [data[i].inOrgName, data[i].billno, data[i].sumCount];
    						insertRow('moveBillTbl', htmlArr, false);
						}
        			});
				}else{
					alert(data);
				}
			});
	});
}
/**
 * 设置未生成调拨单、调拨单查询
 */
function setMovebill(){
	jQuery("#btnUnmovebillQuery").click(function(){
    	var url ="pushDispatch.vm?user_action=unmovebill&gheadid=" + jQuery("#gheadid").val();
    	jQuery("#unmovebillFrame").attr("src", url);
	});
	jQuery("#btnMovebillQuery").click(function(){
    	var url ="pushDispatch.vm?user_action=movebill&gheadid=" + jQuery("#gheadid").val();
    	jQuery("#movebillFrame").attr("src", url);
	});
}
/**
 * 查看统计
 */
function viewStatistics(ingFlag){
	var _iframeId = "viewStatisticsFrm";
	var options = {
			title : '查看'+(ingFlag?"正配货":"已配货")+'统计',
			contentType : 'iframe',
			iframeId : _iframeId,
			width : 700,
			height : 300,
			showCancel: false,
			onok : function(box) {
    			box.close();
			}
	};
	var url = 'pushDispatch.vm?user_action=viewStatistics&gheadid=' + jQuery("#gheadid").val() +"&dispatchingFlag=" + (ingFlag?"1":"0");
	jQuery.weeboxs.open(url, options);
}

function dispatchingExcel() {
    window.location = "pushDispatch.vm?user_action=dispatchingExcel&conditionId=" + jQuery("#conditionId").val() + "&orgId=" + jQuery("#orgId2").val();
}

function dispatchedExcel() {
    window.location ="pushDispatch.vm?user_action=dispatchedExcel&gheadid=" + jQuery("#gheadid").val()
            + "&orgId=" + jQuery("#orgId3").val()
            + "&itemClassId=" + jQuery("#itemClassId3").val()
            + "&ornaClassId=" + jQuery("#ornaClassId3").val();
}
function unMovedBillExcel() {
    window.location ="pushDispatch.vm?user_action=unmovebillExcel&gheadid=$!{form.gheadid}";
}
function movebillExcel() {
    window.location ="pushDispatch.vm?user_action=movebillExcel&gheadid=$!{form.gheadid}";
}

</script>