#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/PushGradeDwr.js",
"$StringUtil.getContextPath()/script/mclon/ajaxfileupload.js"])
#set($modelCode='08090701')
<form id="frm" method="post">
    <input type='hidden' id='user_action' name='user_action' value=''/>
    <table class="title">
    	<tr><td>推式品质比例</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' onclick="addBill()" $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='修改' class='btn' onclick="editBill()" $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='删除' class='btn' onclick="deleteBill()" $RightUtil.able($session, $modelCode,'3')>
                <input type='button' value='导入Excel' class='btn' id='' onclick="showImportWin()" $RightUtil.able($session, $modelCode,'5')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, $modelCode,'4')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' >
			</td>
		</tr>
    </table>
	<div class="scroll">
        <table class='list' style='width:1400px;'>
        	<thead>
    			<tr>
                    <th width='45px'><input type='checkbox' id='chkall'/></th>
					<th width='120px'>大类</th>
					<th width='120px'>小类</th>
                    <th width='120px'>分析范围</th>
					<th width='90px'>色级</th>
					<th width='90px'>净度</th>
					<th width='120px'>品质</th>
                    <th width='60px'>比例(%)</th>
            		<th width='90px'>创建人</th>
            		<th width='120px'>创建时间</th>
            		<th width='90px'>修改人</th>
            		<th width='120px'>修改时间</th>
            		<th width='90px'>状态</th>
                </tr>
            </thead>
            <tbody id="tbl">
    		#foreach($item in $form.pager.pageData)
    			<tr>
    				<td><input type='checkbox' name='chk' value='$!{item.billId}'/>
						<input type='hidden' name='hd_itemClassId' value='$!item.itemClassId'/>
						<input type='hidden' name='hd_ornaClassId' value='$!item.ornaClassId'/>
						<input type='hidden' name='hd_analysisId' value='$!item.analysisId'/>
						<input type='hidden' name='hd_colorGradeId' value='$!item.colorGradeId'/>
						<input type='hidden' name='hd_cleanId' value='$!item.cleanId'/>
						<input type='hidden' name='hd_colorGradeGradeId' value='$!item.colorGradeGradeId'/>
						<input type='hidden' name='hd_cleanGradeId' value='$!item.cleanGradeId'/>
						<input type='hidden' name='hd_rate' value='$!item.rate'/>
						$velocityCounter
					</td>
    				<td><a href='javascript:showEidtDialog($velocityCounter - 1);'>$!BdCommon.getItemClassDesc($!item.itemClassId)</a></td>
    				<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
    				<td>$!item.analysisName</td>
    				<td>$!DictUtil.getValue('diacolorgrade', $!item.colorGradeId)</td>
    				<td>$!DictUtil.getValue('diaclean', $!item.cleanId)</td>
    				<td>$!DictUtil.getValue('gradelevel', $!item.colorGradeGradeId)$!DictUtil.getValue('gradelevel', $!item.cleanGradeId)</td>
    				<td>$!item.rate</td>
    				<td>$!BdCommon.getUserName($!item.createId)</td>
    				<td>$!item.createDate</td>
    				<td>$!BdCommon.getUserName($!item.updateId)</td>
    				<td>$!item.updateDate</td>
    				<td>$!DictUtil.getValue('status', $!item.status)</td>
    			</tr>
    		#end
        	</tbody>
        </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<div id='gradeDiv' style="display:none;">
	<form id='frm2'>
    	<input type='hidden' id='billId'>
        <table class="control">
        	<tr>
    			<td>
    				<input type='button' value='保存' onclick="savePushGrade()" $RightUtil.able($session, '08090702','1')>
    				<input type='button' value='保存并复制' onclick="savePushGradeAndCopy()" $RightUtil.able($session, '08090702','2')>
    				<input type='button' value='取消' onclick="jQuery('#gradeDiv').dialog('close');">
    			</td>
    		</tr>
        </table>
		<table class='content'>
			<tr>
                <td class='body1'>大类</td>
                <td class='body2'><select  id='itemClassId' onchange="changeOrnaClassId()" dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
                <td class='body1'>小类</td>
                <td class='body2'><select id='ornaClassId' onchange="changeOrnaClass()" dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
			</tr>
			<tr>
                <td class='body1'>分析范围</td>
                <td class='body2'><select id='analysisId' dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
			</tr>
			<tr>
                <td class='body1'>色级</td>
                <td class='body2'><select id='colorGradeId' dataType="Require" msg="不能为空" onchange="getGradeName()">$!StringUtil.emptyOption()</select></td>
                <td class='body1'>净度</td>
                <td class='body2'><select id='cleanId' dataType="Require" msg="不能为空" onchange="getGradeName()">$!StringUtil.emptyOption()</select></td>
			</tr>
			<tr>
                <td class='body1'>品质</td>
                <td class='body2'><input type='hidden' id='colorGradeGradeId'><input type='hidden' id='cleanGradeId'><input type='text' id='gradeName' readonly></td>
                <td class='body1'>比例(%)</td>
                <td class='body2'><input type='text' id='rate' dataType="Double" msg="不能为空,且必须为数字类型"></td>
			</tr>
        </table>
	</form>
</div>
<div id="importExcelDiv" style="display:none;">
    <form method="post">
        <table class="control">
            <tr>
                <td>
                    <input type='button' value='导入' onclick="ajaxFileUpload()" $RightUtil.able($session, $modelCode, '5')>
                </td>
            </tr>
        </table>
        <table class='content'>
            <tr>
                <td class='body1'>选择文件：</td>
                <td class='body2'>
                    <input name="excel_file" type="file" id="excel_file" style="background:#eeeeee;font:normal 12px Tahoma;width:220px;">
                </td>
            </tr>
            <tr><td colspan="2">
                <font style="color:red">
                    注：请严格按照模板来导入，若没有模板点击
                    <a href="$StringUtil.getContextPath()/velocity/mclon/push/template_pushGrade.xls">这里</a>
                    下载模板。
            </td></tr>
        </table>
    </form>
</div>
<script>
/**
 * 改变大类
 */
function changeOrnaClassId(){
	BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
		changeOrnaClass();
	});
}
/**
 *　改变小类
 */
function changeOrnaClass(){
	//获取分析范围
	BdCommonDwr.getAnalysisForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("analysisId", data, null, null, true, true);
	});
}
function showEidtDialog(index){
	jQuery("#billId").val($n("chk")[index].value);
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true, $n("hd_itemClassId")[index].value);
		BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data2){
    		addOptions("ornaClassId", data2, null, null, true, true, $n("hd_ornaClassId")[index].value);
        	//获取分析范围
        	BdCommonDwr.getAnalysisForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data3){
        		addOptions("analysisId", data3, null, null, true, true,  $n("hd_analysisId")[index].value);
			});
    	});
	});
	selectOption('colorGradeId', $n("hd_colorGradeId")[index].value);
	selectOption('cleanId', $n("hd_cleanId")[index].value);
	getGradeName();
	jQuery("#rate").val($n("hd_rate")[index].value);
	showGradeWin();
}
function showGradeWin(){
	jQuery("#gradeDiv").dialog({
			title:'下单品质设置',
			width:600, 
			height:300,
			modal:true,
			zIndex:1,
			close:function(){
				if(refreshFlag){
            		window.location = "pushGrade.vm";
            	}else{
                	jQuery('#gradeDiv').dialog('close');
            	}
			}
		});
}
var refreshFlag = false;
function addBill(){
	selectOption('itemClassId', "");
	selectOption('ornaClassId', "");
	selectOption('analysisId', "");
	selectOption('colorGradeId', "");
	selectOption('cleanId', "");
	jQuery("#colorGradeGradeId").val("")
	jQuery("#cleanGradeId").val("")
	jQuery("#gradeName").val("")
	jQuery("#rate").val("")
	showGradeWin();
}
function editBill(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length != 1){
		alert("请选择要修改的一条记录");
		return ;
	}
	showEidtDialog(idxs[0]);
}
function deleteBill(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length<1){
		alert("请选择要删除的记录");
		return ;
	}
	confirm("确定删除?", function(){
		showLayer(true);
		var billIdArr = [];
		for(var i=0, j=idxs.length;i<j;i++){
			billIdArr.push($n("chk")[idxs[i]].value);
		}
    	PushGradeDwr.deletePushGrade(billIdArr, function(data){
    		showLayer(false);
    		alert(data?data:"删除成功", function(){
    			if(!data){
                	window.location = "pushGrade.vm";
    			}
    		});
    	});
	});
}
function getPushGrade(){
	return {
		"billId"			:jQuery("#billId").val(),
		"itemClassId"		:jQuery("#itemClassId").val(),
		"ornaClassId"		:jQuery("#ornaClassId").val(),
		"analysisId"		:jQuery("#analysisId").val(),
		"colorGradeId"		:jQuery("#colorGradeId").val(),
		"cleanId"			:jQuery("#cleanId").val(),
		"colorGradeGradeId"	:jQuery("#colorGradeGradeId").val(),
		"cleanGradeId"		:jQuery("#cleanGradeId").val(),
		"rate"				:jQuery("#rate").val()
	};
}
function savePushGrade(){
	if(!Validator.Validate($("frm2"),3))
		return;
	confirm("确定保存?", function(){
		showLayer(true);
    	PushGradeDwr.saveOrUpdatePushGrade(getPushGrade(), function(data){
    		showLayer(false);
    		alert(data?data:"保存成功", function(){
    			if(!data){
                	window.location = "pushGrade.vm";
    			}
    		});
    	});
	});
}
function savePushGradeAndCopy(){
	if(!Validator.Validate($("frm2"),3))
		return;
	confirm("确定保存?", function(){
		showLayer(true);
    	PushGradeDwr.saveOrUpdatePushGrade(getPushGrade(), function(data){
    		showLayer(false);
    		alert(data?data:"保存并复制成功", function(){
    			if(!data){
					jQuery("#billId").val("");
					refreshFlag = true;//页面需要刷新
    			}
    		});
    	});
	});
}
function getGradeName(){
	if(isNull(jQuery("#colorGradeId").val()) || isNull(jQuery("#cleanId").val())){
		return ;
	}
	var data1, data2;
	startSync();
	BdCommonDwr.getGradeByColorGradeId(jQuery("#colorGradeId").val(), function(data){data1 = data;});
	BdCommonDwr.getGradeByCleanId(jQuery("#cleanId").val(), function(data){data2 = data;});
	endSync();
	if(data1 && data2){
    	jQuery("#colorGradeGradeId").val(data1.value);
    	jQuery("#cleanGradeId").val(data2.value);
    	jQuery("#gradeName").val(data1.text + data2.text);
	}else{
    	jQuery("#colorGradeGradeId").val("");
    	jQuery("#cleanGradeId").val("");
    	jQuery("#gradeName").val("");
	}
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true, null, function(index){
		showEidtDialog(index);
	});
	initQuery2('PUSHGRADE01', "frm", 'btnQueryShow');
	resetWinSize();
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true);
	});
	DictDwr.getDictsForSlt('diacolorgrade', function(data){
		addOptions("colorGradeId", data, null, null, true, true);
	});
	DictDwr.getDictsForSlt('diaclean', function(data){
		addOptions("cleanId", data, null, null, true, true);
	});
});
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}

function showImportWin(){
    jQuery("#importExcelDiv").dialog({
        title:'导入Excel',
        width:400,
        height:150,
        modal:true,
        zIndex:1,
        close:function(){
            if(refreshFlag){
                window.location = "pushGrade.vm";
            }else{
                jQuery('#turnoverNumDiv').dialog('close');
            }
        }
    });
}
function ajaxFileUpload() {
    if(isNull(jQuery("#excel_file").val())){
        alert("请选择上传文件");
        return ;
    }
    confirm("确定要上传？", function(){
        //showLayer(true);
        var url = 'pushGrade.vm?user_action=importExcel';
        jQuery.ajaxFileUpload({
            url : url, //需要链接到服务器地址
            secureuri : false,
            fileElementId : 'excel_file', //文件选择框的id属性
            dataType : 'json', //服务器返回的格式，可以是json
            success : function (data, status) {
                //showLayer(false);
                if(data.isSuccess === "true"){
                    var msg = "上传成功";
                    alert(msg, function(){
                        window.location = "pushGrade.vm";
                    });
                } else {
                    alert(data.msg);
                }
            },
            error : function (data, status, e) {
                //showLayer(false);
                alert("上传失败");
            }
        });
    });
}
</script>