<!-- 查看真实总成本 -->
<table class='list'>
	<thead>
		<tr>
			<th>分配店</th>
			<th>大类</th>
			<th>小类</th>
			<th>总成本</th>
		</tr>
	</thead>
	<tbody id='tbl'>
		#foreach($item in $form.realCostList)
			<tr>
				<td>$!BdCommon.getOrgName($!item.orgId)</td>
				<td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
				<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
				<td>$!item.realCost</td>
			</tr>
		#end
	</tbody>
</table>
<script>
jQuery(function(){
	altRowCSS('tbl');
});
</script>