#set($jsfiles = ["$StringUtil.getContextPath()/js/push/pushStyle.js?t=201211281004.js",
	"$StringUtil.getContextPath()/dwr/interface/PushStyleDwr.js"])
	
#set($pushStyle = $form.pushStyle)
<form id='frm' action="pushStyle.vm" method="post">
	<input type="hidden" id="user_action" name="user_action" value=""/>
	<input type="hidden" id="id" name="id" value="$!{pushStyle.id}"/>
	<input type="hidden" id="styleItemClassId" name="styleItemClassId" #if($!{pushStyle.styleItemClassId})value="$!{pushStyle.styleItemClassId}"#else value="161" #end/>
    <table class="title">
    	<tr><td>推式款式配对</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='保存' class='btn' id='btnSave' $RightUtil.able($session, '08091402','1') />
				<input type='button' value='返回列表' class='btn' id="btnToList">
			</td>
		</tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>大类</td>	
			<td class='body2'>
				<select id="itemClassId" dataType="Require"  msg="不能为空">$StringUtil.emptyOption()</select>
				$StringUtil.star()
			</td>
			<td class='body1'>小类</td>	
			<td class='body2'>
				<select id="ornaClassId" dataType="Require"  msg="不能为空">$StringUtil.emptyOption()</select>
				$StringUtil.star()
			</td>
            <td class='body1'>款式1</td>
            <td class='body2'>
                <select id="styleId1" dataType="Require" value="" msg="不能为空">$StringUtil.emptyOption()</select>
                $StringUtil.star()
            </td>
            <td class='body1'>款式2</td>
            <td class='body2'>
                <select id="styleId2" dataType="Require" value="" msg="不能为空">$StringUtil.emptyOption()</select>
                $StringUtil.star()
            </td>
		</tr>
		<tr>
			<td class='body1'>状态</td>
			<td class='body2'>
				<input type='text' name='status' readonly value="保存">
			</td>
		</tr>
    </table>
</form>
<script>

jQuery(function(){
    var valueDict = {
            itemClassId : "$!pushStyle.itemClassId",
            ornaClassId : "$!pushStyle.ornaClassId",
            styleItemClassId : "$!pushStyle.styleItemClassId",
            styleId1 : "$!pushStyle.styleId1",
            styleId2 : "$!pushStyle.styleId2"
    };
    initItenmClass(valueDict);

	jQuery("#btnSave").click(saveform);
	jQuery("#btnToList").click(function(){
		window.location = "pushStyle.vm";
	});

    jQuery("#itemClassId").change(function(){
        changeItemClass({
            itemClassId:jQuery("#itemClassId").val()
        });
    });
    jQuery("#ornaClassId").change(function(){
        changeOrnaClass({
            itemClassId:jQuery("#itemClassId").val(),
            ornaClassId:jQuery("#ornaClassId").val(),
            styleItemClassId:jQuery("#styleItemClassId").val()
        });
    });
})

</script>