#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/TurnoverNumDwr.js",
"$StringUtil.getContextPath()/script/mclon/ajaxfileupload.js"])
#set($modelCode='08090901')
<form id="frm" method="post">
    <input type='hidden' id='user_action' name='user_action' value=''/>
    <table class="title">
    	<tr><td>周转量设置</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' onclick="addTurnoverNum()" $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='修改' class='btn' onclick="editTurnoverNum()" $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='删除' class='btn' onclick="deleteTurnoverNum()" $RightUtil.able($session, $modelCode,'3')>
				<input type='button' value='复制' class='btn' onclick="showCopyWin()" $RightUtil.able($session, $modelCode,'4')>
				<input type='button' value='导入Excel' class='btn' id='' onclick="showImportWin()" $RightUtil.able($session, $modelCode,'5')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, $modelCode,'6')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' >
			</td>
		</tr>
    </table>
	<div class="scroll">
        <table class='list' style="width:1600px;">
        	<thead>
    			<tr>
                    <th width='45px'><input type='checkbox' id='chkall'/></th>
					<th width='120px'>起始日期</th>
					<th width='120px'>截止日期</th>
					<th width='180px'>组织</th>
					<th width='120px'>大类</th>
					<th width='120px'>小类</th>
					<th width='120px'>分析范围</th>
					<th width='120px'>款式大类</th>
					<th width='90px'>周转量</th>
            		<th width='90px'>创建人</th>
            		<th width='120px'>创建时间</th>
            		<th width='90px'>修改人</th>
            		<th width='120px'>修改时间</th>
            		<th width='90px'>状态</th>
                </tr>
            </thead>
            <tbody id="tbl">
    		#foreach($item in $form.pager.pageData)
    			<tr>
    				<td><input type='checkbox' name='chk' value='$!{item.billId}'/>
						<input type='hidden' name='hd_orgId' value='$!item.orgId'/>
						<input type='hidden' name='hd_orgName' value='$!BdCommon.getOrgName($!item.orgId)'/>
						<input type='hidden' name='hd_itemClassId' value='$!item.itemClassId'/>
						<input type='hidden' name='hd_ornaClassId' value='$!item.ornaClassId'/>
						<input type='hidden' name='hd_analysisId' value='$!item.analysisId'/>
						<input type='hidden' name='hd_styleItemClassId' value='$!item.styleItemClassId'/>
						<input type='hidden' name='hd_startDate' value='$!item.startDate'/>
						<input type='hidden' name='hd_endDate' value='$!item.endDate'/>
						<input type='hidden' name='hd_turnoverNum' value='$!item.turnoverNum'/>
						$velocityCounter
					</td>
    				<td><a href='javascript:showEidtDialog($velocityCounter - 1);'>$!item.startDate</a></td>
    				<td>$!item.endDate</td>
    				<td>$!BdCommon.getOrgName($!item.orgId)</td>
    				<td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
    				<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
    				<td>$!item.analysisName</td>
    				<td>$!BdCommon.getStyleItemClassNames($!item.styleItemClassId)</td>
    				<td>$!item.turnoverNum</td>
    				<td>$!BdCommon.getUserName($!item.createId)</td>
    				<td>$!item.createDate</td>
    				<td>$!BdCommon.getUserName($!item.updateId)</td>
    				<td>$!item.updateDate</td>
    				<td>$!DictUtil.getValue('status', $!item.status)</td>
    			</tr>
    		#end
        	</tbody>
        </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<div id='copyDiv' style="display:none;">
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='复制' onclick="copyTurnoverNum()" $RightUtil.able($session, '08090902','1')>
				<input type='button' value='取消' onclick="jQuery('#copyDiv').dialog('close');">
			</td>
		</tr>
    </table>
	<table class='content'>
		<tr>
            <td class='body1'>源起始日期</td>
            <td class='body2'><input type='text' readonly id='srcStartDate'></td>
            <td class='body1'>源截止日期</td>
            <td class='body2'><input type='text' readonly id='srcEndDate'></td>
		</tr>
		<tr>
            <td class='body1'>目标起始日期</td>
            <td class='body2'><input type='text' readonly id='targetStartDate'></td>
            <td class='body1'>目标截止日期</td>
            <td class='body2'><input type='text' readonly id='targetEndDate'></td>
		</tr>
    </table>
</div>
<div id='turnoverNumDiv' style="display:none;">
	<form id='frm2'>
		<input type='hidden' id='billId'>
        <table class="control">
        	<tr>
    			<td>
    				<input type='button' value='保存' onclick="saveTurnoverNum()" $RightUtil.able($session, '08090903','1')>
    				<input type='button' value='保存并复制' onclick="saveTurnoverNum2()" $RightUtil.able($session, '08090903','1')>
    				<input type='button' value='取消' onclick="cancelTurnoverNum()">
    			</td>
    		</tr>
        </table>
		<table class='content'>
			<tr>
                <td class='body1'>起始日期</td>
                <td class='body2'><input type='text' id='startDate' readonly></td>
                <td class='body1'>截止日期</td>
                <td class='body2'><input type='text' id='endDate' readonly></td>
			</tr>
			<tr>
                <td class='body1'>组织</td>
                <td class='body2'><input type='hidden' id='orgId'><input type='text' id='orgName' readonly class="target" ondblclick="showOrgWin()" dataType="Require" msg="不能为空"></td>
			</tr>
			<tr>
                <td class='body1'>大类</td>
                <td class='body2'><select id='itemClassId' onchange="changeOrnaClassId()" dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
                <td class='body1'>小类</td>
                <td class='body2'><select id='ornaClassId' onchange="changeOrnaClass()" dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
			</tr>
			<tr>
                <td class='body1'>分析范围</td>
                <td class='body2'><select id='analysisId' dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
                <td class='body1'>款式大类</td>
                <td class='body2'><select id='styleItemClassId' dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
			</tr>
			<tr>
                <td class='body1'>周转量</td>
                <td class='body2'><input type='text' id='turnoverNum' dataType="Number" msg="不能为空,且必须为正整数类型"></td>
			</tr>
        </table>
    </form>
</div>
<div id="importExcelDiv" style="display:none;">
	<form method="post">
        <table class="control">
        	<tr>
    			<td>
    				<input type='button' value='导入' onclick="ajaxFileUpload()" $RightUtil.able($session, '08090904','1')>
    			</td>
    		</tr>
    	</table>
    	<table class='content'>
        	<tr>
    			<td class='body1'>选择文件：</td>
    			<td class='body2'>
    				<input name="excel_file" type="file" id="excel_file" style="background:#eeeeee;font:normal 12px Tahoma;width:220px;"> 
    			</td>
    		</tr>
            <tr><td colspan="2">
    				<font style="color:red">
    					注：请严格按照模板来导入，若没有模板点击
    					<a href="$StringUtil.getContextPath()/velocity/mclon/push/template_turnoverNum.xls">这里</a>
    					下载模板。
    		</td></tr>
        </table>
    </form>
</div>
<script>

function ajaxFileUpload() {
	if(isNull(jQuery("#excel_file").val())){
		alert("请选择上传文件");
		return ;
	}
	confirm("确定要上传？", function(){
		//showLayer(true);
		var url = 'turnoverNum.vm?user_action=importExcel';
		jQuery.ajaxFileUpload({
			url : url, //需要链接到服务器地址
			secureuri : false,
			fileElementId : 'excel_file', //文件选择框的id属性
			dataType : 'json', //服务器返回的格式，可以是json
			success : function (data, status) {
				//showLayer(false);
				if(data.isSuccess === "true"){
					var msg = "上传成功";
					alert(msg, function(){
						window.location = "turnoverNum.vm";
					});
				} else {
					alert(data.msg);
				}
			},
			error : function (data, status, e) {
				//showLayer(false);
				alert("上传失败");
			}
		});
	});
}
function showOrgWin(){
	selectOrg(function(idArr, nameArr){
		jQuery("#orgId").val(idArr.join(","));
		jQuery("#orgName").val(nameArr.join(","));
	}, null, null, false, jQuery("#orgId").val());
}
/**
 * 改变大类
 */
function changeOrnaClassId(){
	BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
		changeOrnaClass();
	});
}
/**
 *　改变小类
 */
function changeOrnaClass(){
	//获取分析范围
	BdCommonDwr.getAnalysisForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("analysisId", data, null, null, true, true);
	});
	//获取款式大类
	BdCommonDwr.getStyleItemClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("styleItemClassId", data, null, null, true, true);
	});
}
function addTurnoverNum(){
	jQuery("#billId").val("");
	jQuery("#orgId").val("");
	jQuery("#orgName").val("");
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true);
	});
	removeAllOptions("ornaClassId", true);
	removeAllOptions("analysisId", true);
	removeAllOptions("styleItemClassId", true);
	jQuery("#turnoverNum").val("")
	showDiv();
}
function showDiv(){
	jQuery("#turnoverNumDiv").dialog({
			title:'周转量设置',
			width:600, 
			height:300,
			modal:true,
			zIndex:1,
			close:function(){
				if(refreshFlag){
            		window.location = "turnoverNum.vm";
            	}else{
                	jQuery('#turnoverNumDiv').dialog('close');
            	}
			}
		});
}
function editTurnoverNum(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length != 1){
		alert("请选择要修改的一条记录");
		return ;
	}
	showEidtDialog(idxs[0]);
}
function showEidtDialog(index){
	jQuery("#billId").val($n("chk")[index].value);
	jQuery("#orgId").val($n("hd_orgId")[index].value);
	jQuery("#orgName").val($n("hd_orgName")[index].value);
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true, $n("hd_itemClassId")[index].value);
		BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data2){
    		addOptions("ornaClassId", data2, null, null, true, true, $n("hd_ornaClassId")[index].value);
        	//获取分析范围
        	BdCommonDwr.getAnalysisForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data3){
        		addOptions("analysisId", data3, null, null, true, true, $n("hd_analysisId")[index].value);
        	});
        	//获取款式大类
			BdCommonDwr.getStyleItemClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data4){
        		addOptions("styleItemClassId", data4, null, null, true, true, $n("hd_styleItemClassId")[index].value);
        	});
    	});
	});
	jQuery("#startDate").val($n("hd_startDate")[index].value);
	jQuery("#endDate").val($n("hd_endDate")[index].value);
	jQuery("#turnoverNum").val($n("hd_turnoverNum")[index].value);
	showDiv();
}
function deleteTurnoverNum(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length<1){
		alert("请选择要删除的记录");
		return ;
	}
	confirm("确定删除?", function(){
		showLayer(true);
		var billIdArr = [];
		for(var i=0, j=idxs.length;i<j;i++){
			billIdArr.push($n("chk")[idxs[i]].value);
		}
    	TurnoverNumDwr.deleteTurnoverNum(billIdArr, function(data){
    		showLayer(false);
    		alert(data?data:"删除成功", function(){
    			if(!data){
                	window.location = "turnoverNum.vm";
    			}
    		});
    	});
	});
}
function copyTurnoverNum(){
	if(isNull(jQuery("#srcStartDate").val()) || isNull(jQuery("#srcEndDate").val())){
		alert("源起始日期、源截止日期不能为空");
		return ;
	}
	if(isNull(jQuery("#targetStartDate").val()) || isNull(jQuery("#targetEndDate").val())){
		alert("目标起始日期、目标截止日期不能为空");
		return ;
	}
	confirm("确定复制?", function(){
    	showLayer(true);
    	TurnoverNumDwr.copyTurnoverNum(jQuery("#srcStartDate").val(), jQuery("#srcEndDate").val(), jQuery("#targetStartDate").val(), jQuery("#targetEndDate").val(), function(data){
    		showLayer(false);
    		alert(data?data:"复制成功", function(){
    			if(!data){
                	window.location = "turnoverNum.vm";
    			}
    		});
    	});
	});
}
function showCopyWin(){
	jQuery("#copyDiv").dialog({
			title:'周转量复制',
			width:600, 
			height:300,
			modal:true,
			zIndex:1,
			close:function(){
				if(refreshFlag){
            		window.location = "turnoverNum.vm";
            	}else{
                	jQuery('#copyDiv').dialog('close');
            	}
			}
		});
}
function getTurnoverNum(){
	return {
		"billId"		:jQuery("#billId").val(),
		"orgId"			:jQuery("#orgId").val(),
		"itemClassId"	:jQuery("#itemClassId").val(),
		"ornaClassId"	:jQuery("#ornaClassId").val(),
		"analysisId"	:jQuery("#analysisId").val(),
		"styleItemClassId":jQuery("#styleItemClassId").val(),
		"startDate"		:jQuery("#startDate").val(),
		"endDate"		:jQuery("#endDate").val(),
		"turnoverNum"	:jQuery("#turnoverNum").val()
	};
}

function checkField(){
    var startDate = jQuery("#startDate").val(),
        endDate = jQuery("#endDate").val();
    if(!startDate) {
        alert("起始时间不能为空");
        return false;
    }
    if(!endDate) {
        alert("截止时间不能为空");
        return false;
    }
    if(diffDate(endDate, startDate) <0) {
        alert("起始日期必须小于等于截止日期");
        return false;
    }
    return true;
}

/**
 * 保存
 */
function saveTurnoverNum(){
	if(!Validator.Validate($("frm2"),3))
		return;
    if(!checkField()) return;
	confirm("确定保存?", function(){
		showLayer(true);
    	TurnoverNumDwr.saveOrUpdateTurnoverNum(getTurnoverNum(), function(data){
    		showLayer(false);
    		alert(data?data:"保存成功", function(){
    			if(!data){
                	window.location = "turnoverNum.vm";
    			}
    		});
    	});
	});
}
var refreshFlag = false;
/**
 * 保存并复制
 */
function saveTurnoverNum2(){
	if(!Validator.Validate($("frm2"),3))
		return;
    if(!checkField()) return;
    confirm("确定保存并复制?", function(){
		showLayer(true);
    	TurnoverNumDwr.saveOrUpdateTurnoverNum(getTurnoverNum(), function(data){
    		showLayer(false);
    		alert(data?data:"保存并复制成功", function(){
    			if(!data){
					jQuery("#billId").val("");
					refreshFlag = true;//页面需要刷新
    			}
    		});
    	});
	});
}
function cancelTurnoverNum(){
   	jQuery('#turnoverNumDiv').dialog('close');
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true, null, function(index){
		showEidtDialog(index);
	});
	initQuery2('PDISTRIBUTENUM01', "frm", 'btnQueryShow');
	initCalendarArr(['startDate', 'endDate', 'srcStartDate', 'srcEndDate', 'targetStartDate', 'targetEndDate']);
});
function showImportWin(){
	jQuery("#importExcelDiv").dialog({
			title:'导入Excel',
			width:400, 
			height:150,
			modal:true,
			zIndex:1,
			close:function(){
				if(refreshFlag){
            		window.location = "turnoverNum.vm";
            	}else{
                	jQuery('#turnoverNumDiv').dialog('close');
            	}
			}
		});
}
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
</script>