#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/WearSizeDwr.js","$!StringUtil.getContextPath()/dwr/interface/PushSizeDwr.js"])
#set($modelCode='08090601')
<form id="frm" method="post">
    <input type='hidden' id='user_action' name='user_action' value=''/>
    <table class="title">
    	<tr><td>佩戴对象尺寸比例</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' onclick="addBill()" $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='修改' class='btn' onclick="editBill()" $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='删除' class='btn' onclick="deleteBill()" $RightUtil.able($session, $modelCode,'3')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, $modelCode,'4')>
				<input type='button' value='查询' class='btn' id='btnQueryShow' >
			</td>
		</tr>
    </table>
	<div class="scroll">
        <table class='list' style="width:1400px;">
        	<thead>
    			<tr>
                    <th width='45px'><input type='checkbox' id='chkall'/></th>
					<th width='120px'>大类</th>
					<th width='120px'>小类</th>
					<th width='120px'>款式大类</th>
					<th width='120px'>佩戴对象</th>
					<th width='90px'>尺寸起</th>
					<th width='90px'>尺寸止</th>
                    <th width='90px'>尺寸名称</th>
					<th width='90px'>比例(%)</th>
            		<th width='90px'>创建人</th>
            		<th width='120px'>创建时间</th>
            		<th width='90px'>修改人</th>
            		<th width='120px'>修改时间</th>
            		<th width='90px'>状态</th>
                </tr>
            </thead>
            <tbody id="tbl">
    		#foreach($item in $form.pager.pageData)
    			<tr>
    				<td><input type='checkbox' name='chk' value='$!{item.billId}'/>
						<input type='hidden' name='hd_itemClassId' value='$!item.itemClassId'/>
						<input type='hidden' name='hd_ornaClassId' value='$!item.ornaClassId'/>
						<input type='hidden' name='hd_styleItemClassId' value='$!item.styleItemClassId'/>
						<input type='hidden' name='hd_wearId' value='$!item.wearId'/>
						<input type='hidden' name='hd_startSizeId' value='$!item.startSizeId'/>
						<input type='hidden' name='hd_endSizeId' value='$!item.endSizeId'/>
						<input type='hidden' name='hd_sizeId' value='$!item.sizeId'/>
						<input type='hidden' name='hd_rate' value='$!item.rate'/>
						$velocityCounter
					</td>
    				<td><a href='javascript:showEidtDialog($velocityCounter - 1);'>$!BdCommon.getItemClassDesc($!item.itemClassId)</a></td>
    				<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
    				<td>$!item.styleItemClassName</td>
    				<td>$!item.wearName</td>
    				<td>$!item.startSizeName</td>
    				<td>$!item.endSizeName</td>
    				<td>$!item.sizeName</td>
    				<td>$!item.rate</td>
    				<td>$!BdCommon.getUserName($!item.createId)</td>
    				<td>$!item.createDate</td>
    				<td>$!BdCommon.getUserName($!item.updateId)</td>
    				<td>$!item.updateDate</td>
    				<td>$!DictUtil.getValue('status', $!item.status)</td>
    			</tr>
    		#end
        	</tbody>
        </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<div id='sizeDiv' style="display:none;">
	<form id='frm2'>
    	<input type='hidden' id='billId'>
        <table class="control">
        	<tr>
    			<td>
    				<input type='button' value='保存' onclick="saveWearSize()" $RightUtil.able($session, '08090602','1')>
    				<input type='button' value='保存并复制' onclick="saveWearSize2()" $RightUtil.able($session, '08090602','2')>
    				<input type='button' value='取消' onclick="jQuery('#sizeDiv').dialog('close');">
    			</td>
    		</tr>
        </table>
    	<table class='content'>
    		<tr>
                <td class='body1'>大类</td>
                <td class='body2'><select id='itemClassId' onchange="changeOrnaClassId()" dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
                <td class='body1'>小类</td>
                <td class='body2'><select id='ornaClassId' onchange="changeOrnaClass()" dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
    		</tr>
    		<tr>
                <td class='body1'>款式大类</td>
                <td class='body2'><select id='styleItemClassId' dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
                <td class='body1'>佩戴对象</td>
                <td class='body2'><select id='wearId' dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
			</tr>
			<tr>
                <td class='body1'>尺寸名称</td>
                <td class='body2'><select id='sizeId' dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
    		</tr>
                <td class='body1'>尺寸起</td>
                <td class='body2'><select id='startSizeId' dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
                <td class='body1'>尺寸止</td>
                <td class='body2'><select id='endSizeId' dataType="Require" msg="不能为空">$!StringUtil.emptyOption()</select></td>
    		</tr>
    		<tr>
                <td class='body1'>比例(%)</td>
                <td class='body2'><input type='text' id='rate' dataType="Double" msg="不能为空,且必须为数字类型"></td>
    		</tr>
        </table>
	</form>
</div>
<script>
/**
 * 改变大类
 */
function changeOrnaClassId(){
	BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
		changeOrnaClass();
	});
}
/**
 *　改变小类
 */
function changeOrnaClass(){
	//获取款式大类
	BdCommonDwr.getStyleItemClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("styleItemClassId", data, null, null, true, true);
	});
	//获取尺寸
	PushSizeDwr.getSizeByItemIdAndOrnaId(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("startSizeId", data, null, null, true, true);
		addOptions("endSizeId", data, null, null, true, true);
		addOptions("sizeId", data, null, null, true, true);
	});
}
function showEidtDialog(index){
	jQuery("#billId").val($n("chk")[index].value);
	//获取佩戴对象
	BdCommonDwr.getAllWear(function(data){
		addOptions('wearId', data, null, null, true, true, $n("hd_wearId")[index].value);
	});
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true, $n("hd_itemClassId")[index].value);
		BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data2){
    		addOptions("ornaClassId", data2, null, null, true, true, $n("hd_ornaClassId")[index].value);
        	//获取款式大类
        	BdCommonDwr.getStyleItemClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
        		addOptions("styleItemClassId", data, null, null, true, true, $n("hd_styleItemClassId")[index].value);
        	});
        	//获取尺寸
        	PushSizeDwr.getSizeByItemIdAndOrnaId(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data3){
        		addOptions("startSizeId", data3, null, null, true, true, $n("hd_startSizeId")[index].value);
        		addOptions("endSizeId", data3, null, null, true, true, $n("hd_endSizeId")[index].value);
        		addOptions("sizeId", data3, null, null, true, true, $n("hd_sizeId")[index].value);
        	});
    	});
	});
	jQuery("#rate").val($n("hd_rate")[index].value);
	showSizeWin();
}
function showSizeWin(){
	jQuery("#sizeDiv").dialog({
			title:'下单尺寸设置',
			width:600, 
			height:300,
			modal:true,
			zIndex:1,
			close:function(){
				if(refreshFlag){
            		window.location = "wearSize.vm";
            	}else{
                	jQuery('#sizeDiv').dialog('close');
            	}
			}
		});
}
function addBill(){
	BdCommonDwr.getAllItemClassForSlt(function(data){
		addOptions("itemClassId", data, null, null, true, true);
	});
	removeAllOptions("ornaClassId", true);
	removeAllOptions("styleItemClassId", true);
	//获取佩戴对象
	BdCommonDwr.getAllWear(function(data){
		addOptions('wearId', data, null, null, true, true);
	});
	removeAllOptions("startSizeId", true);
	removeAllOptions("endSizeId", true);
	removeAllOptions("sizeId", true);
	jQuery("#rate").val("")
	showSizeWin();
}
function editBill(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length != 1){
		alert("请选择要修改的一条记录");
		return ;
	}
	showEidtDialog(idxs[0]);
}
function deleteBill(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length<1){
		alert("请选择要删除的记录");
		return ;
	}
	confirm("确定删除?", function(){
		showLayer(true);
		var billIdArr = [];
		for(var i=0, j=idxs.length;i<j;i++){
			billIdArr.push($n("chk")[idxs[i]].value);
		}
    	WearSizeDwr.deleteWearSize(billIdArr, function(data){
    		showLayer(false);
    		alert(data?data:"删除成功", function(){
    			if(!data){
                	window.location = "wearSize.vm";
    			}
    		});
    	});
	});
}
function getWearSize(){
	var startSize = ""+jQuery("#startSizeId").val();
	var startSizeId = startSize.split(",")[0];
	var startSizeNum = startSize.split(",")[1];
	var endSize = ""+jQuery("#endSizeId").val();
	var endSizeId = endSize.split(",")[0];
	var endSizeNum = endSize.split(",")[1];
	var sizeId = (""+jQuery("#sizeId").val()).split(",")[0];
	return {
		"billId"		:jQuery("#billId").val(),
		"itemClassId"	:jQuery("#itemClassId").val(),
		"ornaClassId"	:jQuery("#ornaClassId").val(),
		"styleItemClassId"	:jQuery("#styleItemClassId").val(),
		"wearId"		:jQuery("#wearId").val(),
		"startSizeId"	:startSizeId,
		"endSizeId"		:endSizeId,
		"startSizeNum"	:startSizeNum,
		"endSizeNum"	:endSizeNum,
		"sizeId"		:sizeId,
		"rate"			:jQuery("#rate").val()
	};
}
function saveWearSize(){
	if(!Validator.Validate($("frm2"),3))
		return;
	if(parseFloat(jQuery("#startSizeId").val().split(",")[1])>parseFloat(jQuery("#endSizeId").val().split(",")[1])){
		alert("起始尺寸不能大于截止尺寸");
		return ;
	}
	confirm("确定保存?", function(){
		showLayer(true);
    	WearSizeDwr.saveOrUpdateWearSize(getWearSize(), function(data){
    		showLayer(false);
    		alert(data?data:"保存成功", function(){
    			if(!data){
                	window.location = "wearSize.vm";
    			}
    		});
    	});
	});
}
var refreshFlag = false;
/**
 * 保存并复制
 */
function saveWearSize2(){
	if(!Validator.Validate($("frm2"),3))
		return;
	if(parseFloat(jQuery("#startSizeId").val().split(",")[1])>parseFloat(jQuery("#endSizeId").val().split(",")[1])){
		alert("起始尺寸不能大于截止尺寸");
		return ;
	}
	confirm("确定保存并复制?", function(){
		showLayer(true);
    	WearSizeDwr.saveOrUpdateWearSize(getWearSize(), function(data){
    		showLayer(false);
    		alert(data?data:"保存并复制成功", function(){
    			if(!data){
					jQuery("#billId").val("");
					refreshFlag = true;//页面需要刷新
    			}
    		});
    	});
	});
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true, null, function(index){
		showEidtDialog(index);
	});
	initQuery2('PWEARSIZE01', "frm", 'btnQueryShow');
	resetWinSize();
});
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
</script>