
<form id="frm" name="frm" method="post">
	<input type="hidden" id="user_action" name="user_action" value=""/>
    <table class="title">
    	<tr><td>系统参数#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
			</td>
		</tr>
    </table>
	<div class='scroll'>
    <table class='list' style="width:1500px;">
    	<thead>
			<tr>
                <th width='20px'><input type='checkbox' id='chkall' /></th>
                <th>键</th>
        		<th>值</th>
        		<th>备注</th>
				<th>修改人</th>
				<th>修改时间</th>
				<th>状态</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value="$!{map.name}"/></td>
				<td><a href='javascript:toEditPage("$!map.name")'>$!map.name</a></td>
				<td>$!map.value</td>
				<td>$!map.memo</td>
				<td>$!BdCommon.getUserName($!map.updateId)</td>
				<td>$!map.updateDate</td>
				<td>$!DictUtil.getValue('status', $!map.status)
					<input type="hidden" name="status_list" value="$!map.status"/>
					<input type="hidden" name="status_name" value="$!map.name"/>
				</td>
			</tr>
		#end
    	</tbody>
    </table>
    </div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function disableDeleteBtn(checked, index){
	jQuery("#btnDelete").attr("disabled", true);
	if(checked ){
		if($n("status_list")[index].value==="1"){
			jQuery("#btnDelete").attr("disabled", false);
		}
	}
}

jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false, disableDeleteBtn, function(index){
		window.location = "parameter.vm?user_action=toEdit&name=" + $n("chk")[index].value;
	});
	
	jQuery("#btnAdd").click(function(){
		window.location = "parameter.vm?user_action=toEdit";
	});
	jQuery("#btnDelete").click(deleteRow);
	jQuery("#btnSearch").click(function(){
		jQuery("#frm").submit();
	});
});

function deleteRow(){
	var idx = getSelectIndex("chk");
	if(idx == -1){
		alert("尚未选择要删除的行");
	} else {
		confirm("确定删除?", function(){
    		window.location = "parameter.vm?user_action=delete&name=" + $n("status_name")[idx].value;
    	});
	}
}
function toEditPage(name){
	window.location = "parameter.vm?user_action=toEdit&name=" + name;
}

function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
</script>