<!-- 正配货查询 -->
<form id="frm" action="pushDispatch.vm" method="post">
	<input type='hidden' name='gheadid' value='$!form.condition.gheadid'/>
	<input type='hidden' name='user_action' id='user_action' value='viewSubOrna'/>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='导出Excel' class='btn' onclick="exportListToExcel()">
			</td>
		</tr>
    </table>
	<div class='scroll2' style="height:340px;">
    <table class='list' style="width:1500px;">
    	<thead>
    		<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
    			<th width='120px;'>饰品编码</th>
				<th width='120px;'>饰品名称</th>
				<th width='90px;'>大类</th>
				<th width='90px;'>小类</th>
				<th width='90px;'>款式大类</th>
				<th width='90px;'>款式中类</th>
				<th width='90px;'>款式小类</th>
				<th width='90px;'>分析范围</th>
				<th width='90px;'>计量单位</th>
				<th width='120px;'>款式</th>
				<th width='90px;'>色级</th>
				<th width='90px;'>净度</th>
				<th width='60px;'>总重量</th>
				<th width='60px;'>主石重</th>
				<th width='60px;'>配石重</th>
				<th width='60px;'>尺寸</th>
				<th width='60px;'>基础价</th>
    			<th width='60px;'>已配货</th>
    			<th width='60px;'>状态</th>
    			<th width='60px;'>仓库</th>
    			<th width='60px;'>备货</th>
    		</tr>
    	</thead>
    	<tbody id='tbl'>
    	#foreach($item in $form.pager.pageData)
    		<tr>
				<td><input type='checkbox' name='chk'/>$velocityCounter</td>
    			<td>$!item.ornaCode</td>
    			<td>$!item.ornaDsc</td>
    			<td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
    			<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
    			<td>$!BdCommon.getStyleItemClassNames($!item.styleItemClassId)</td>
    			<td>$!BdCommon.getStyleMiddleClassNames($!item.styleMiddleClassId)</td>
    			<td>$!BdCommon.getStyleOrnaClassNames($!item.styleOrnaClassId)</td>
    			<td>$!item.analysisName</td>
    			<td>$!BdCommon.getUnitName($!item.unitId)</td>
    			<td>$!HtmlUtil.printStyle($!item.styleId, $!item.styleName, $!item.bigGraph)</td>
    			<td>$!DictUtil.getValue('diacolorgrade',$!item.colorGradeId)</td>
    			<td>$!DictUtil.getValue('diaclean',$!item.cleanId)</td>
    			<td>$!item.allQty</td>
    			<td>$!item.mainWeight</td>
    			<td>$!item.partWeight</td>
    			<td>$!item.sizeName</td>
    			<td>$!item.basicPrice</td>
    			<td>$!DictUtil.getValue('yesorno', $!item.dispatchFlag)</td>
    			<td>$!DictUtil.getValue('status', $!item.status)</td>
    			<td>$!DictUtil.getValue('invcode', $!item.stockId)</td>
    			<td>$!DictUtil.getValue('yesorno', $!item.isMaterial)</td>
            </tr>
    	#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function exportListToExcel(){
	jQuery("#user_action").val("exportSubOrnaExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("viewSubOrna");
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
});
</script>