#set($layout = "layout/homeLayout.vm")
##使用ztree
#set($cssfiles = ["$StringUtil.getContextPath()/css/mclon/ztree/zTreeStyle.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/ztree/jquery.ztree.core-3.0.js", "$StringUtil.getContextPath()/script/mclon/ztree/jquery.ztree.excheck-3.0.js"])

<div id="myZTree" class="ztree"></div>
<script>
function beforeClick(treeId, treeNode, clickFlag) {
	if(treeNode.tabUrl)
		return true;
	return false;
}
function onClick(event, treeId, treeNode, clickFlag) {
	addTab(treeNode.name,treeNode.tabUrl)
}
jQuery(document).ready(function(){
    var setting = {
			data: {
				simpleData: {enable: true}
			},
			callback: {
				beforeClick: beforeClick,
				onClick: onClick
			}
		};
	//静态数据
    var nodeDataArr =[
    		{id:'01', pId:'0', name:'系统管理', tabname:'sys', open:false, isParent:true},
				{id:'0101', pId:'01', name:'系统数据字典', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/sys/dict.vm?entryType=1'},
				{id:'0102', pId:'01', name:'业务数据字典', tabname:'bizDict', tabUrl:'$!StringUtil.getContextPath()/sys/dict.vm?entryType=2'},
				{id:'0103', pId:'01', name:'刷新缓存', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/sys/refreshCache.vm'},
				{id:'0104', pId:'01', name:'单据审批', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/sys/billReview.vm'},
				{id:'0105', pId:'01', name:'系统参数-任', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/sys/parameter.vm'},
				{id:'0106', pId:'01', name:'查询条件配置-任', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/sys/queryCondition.vm'},
    			{id:'0107', pId:'01', name:'数据字典管理', tabname:'dict', open:false, isParent:true},
					{id:'010701', pId:'0107', name:'数据字典采购员', tabname:'dictPurEmp', tabUrl:'$!StringUtil.getContextPath()/sys/dictEntry.vm?entryCode=purchaseEmp'},
    		{id:'02', pId:'0', name:'基础数据', tabname:'bd', open:false, isParent:true},
				{id:'0201', pId:'02', name:'单号编码规则', tabname:'billnoRule', tabUrl:'$!StringUtil.getContextPath()/basic/billnoRule.vm'},
				{id:'0202', pId:'02', name:'单位柜组-任', tabname:'orgGroup', tabUrl:'$!StringUtil.getContextPath()/basic/orgGroup.vm'},
				{id:'0203', pId:'02', name:'特殊工费标准-任', tabname:'charge', tabUrl:'$!StringUtil.getContextPath()/basic/charge.vm'},
				{id:'0203', pId:'02', name:'PT950特殊工费标准-制', tabname:'charge', tabUrl:'$!StringUtil.getContextPath()/basic/ptCharge.vm'},
				{id:'0204', pId:'02', name:'采购组织与大类关系-制', tabname:'orgItem', tabUrl:'$!StringUtil.getContextPath()/basic/orgItem.vm'},
				{id:'0205', pId:'02', name:'组织快递接收人', tabname:'orgItem', tabUrl:'$!StringUtil.getContextPath()/basic/expressReceuser.vm'},
				{id:'0206', pId:'02', name:'色级品质-制', tabname:'colorGradeGrade', tabUrl:'$!StringUtil.getContextPath()/basic/colorGradeGrade.vm'},
				{id:'0207', pId:'02', name:'净度品质-制', tabname:'cleanGrade', tabUrl:'$!StringUtil.getContextPath()/basic/cleanGrade.vm'},
				{id:'0208', pId:'02', name:'原料大类关系-任', tabname:'materialItem', tabUrl:'$!StringUtil.getContextPath()/basic/materialItem.vm'},
				{id:'0209', pId:'02', name:'钻石石头系数-任', tabname:'stoneMainCoefficient', tabUrl:'$!StringUtil.getContextPath()/basic/stoneMainCoefficient.vm'},
				{id:'0210', pId:'02', name:'旧品条码', tabname:'cleanGrade', tabUrl:'$!StringUtil.getContextPath()/basic/createOldbarCode.vm'},
				{id:'0211', pId:'02', name:'采购员商品类别', tabname:'cleanGrade', tabUrl:'$!StringUtil.getContextPath()/basic/purEmpArticleType.vm'},
				{id:'0212', pId:'02', name:'饰品名管理-任', tabname:'ornaDesc', tabUrl:'$!StringUtil.getContextPath()/basic/ornaDesc.vm'},
				{id:'0213', pId:'02', name:'总部安全库存', tabname:'cleanGrade', tabUrl:'$!StringUtil.getContextPath()/basic/safeStock.vm'},
				{id:'0214', pId:'02', name:'标签类型-制', tabname:'cleanGrade', tabUrl:'$!StringUtil.getContextPath()/basic/labelType.vm'},
				{id:'0215', pId:'02', name:'换标签原因-任', tabname:'saleChangeLabel', tabUrl:'$!StringUtil.getContextPath()/basic/saleChangeLabel.vm'},
				{id:'0216', pId:'02', name:'供应商系数-制', tabname:'cleanGrade', tabUrl:'$!StringUtil.getContextPath()/basic/vendorCoef.vm'},
				{id:'0217', pId:'02', name:'滞销商品规则-任', tabname:'unsaleOrna', tabUrl:'$!StringUtil.getContextPath()/basic/unsaleOrna.vm'},
				{id:'0217', pId:'02', name:'新特殊工费-制', tabname:'unsaleOrna', tabUrl:'$!StringUtil.getContextPath()/basic/verdorCharge.vm'},
				{id:'0217', pId:'02', name:'总系数单价-制', tabname:'unsaleOrna', tabUrl:'$!StringUtil.getContextPath()/sys/dict.vm?user_action=toEditCoeff&entryType=2&entryCode=coefficien_unit'},
                {id:'0217', pId:'02', name:'素金小克重特殊工费标准', tabname:'unsaleOrna', tabUrl:'$!StringUtil.getContextPath()/basic/goldSpecialCharge.vm'},
                {id:'0217', pId:'02', name:'爱尚金固定金价', tabname:'unsaleOrna', tabUrl:'$!StringUtil.getContextPath()/basic/fashionGoldPrice.vm'},
			{id:'04', pId:'0', name:'采购管理', tabname:'pl', open:false, isParent:true},
				{id:'0401', pId:'04', name:'采购总单管理', tabname:'purGather', tabUrl:'$!StringUtil.getContextPath()/pur/purGather.vm'},
				{id:'0402', pId:'04', name:'采购总单', tabname:'purGather', tabUrl:'$!StringUtil.getContextPath()/pur/purGather.vm?user_action=list2'},
				{id:'0403', pId:'04', name:'采购单管理', tabname:'purchasebill', tabUrl:'$!StringUtil.getContextPath()/pur/purchase.vm'},
				{id:'0404', pId:'04', name:'到货登记', tabname:'purchaseArrive', tabUrl:'$!StringUtil.getContextPath()/pur/purchaseArrive.vm'},
				{id:'0405', pId:'04', name:'订做单接收', tabname:'purchaseCust', tabUrl:'$!StringUtil.getContextPath()/pur/purchaseCust.vm?user_action=receiveList'},
				{id:'0406', pId:'04', name:'订做生成采购单', tabname:'purchaseCust', tabUrl:'$!StringUtil.getContextPath()/pur/purchaseCust.vm'},
				{id:'0407', pId:'04', name:'交接单-任', tabname:'handover', tabUrl:'$!StringUtil.getContextPath()/pur/handover.vm'},
				{id:'0408', pId:'04', name:'结算管理', open:false, isParent:true},
					{id:'040801', pId:'0408', name:'付款单-任', tabname:'cashPayMoney', tabUrl:'$!StringUtil.getContextPath()/pur/cash/payMoney.vm'},
					{id:'040802', pId:'0408', name:'采购结算单-任', tabname:'cashHead', tabUrl:'$!StringUtil.getContextPath()/pur/cash/cashHead.vm'},
					{id:'040803', pId:'0408', name:'料转料-任', tabname:'prodProd', tabUrl:'$!StringUtil.getContextPath()/pur/cash/prodProd.vm'},
					{id:'040804', pId:'0408', name:'货品台账-任', tabname:'cashMoneyAccount', tabUrl:'$!StringUtil.getContextPath()/pur/cash/prodAccount.vm'},
					{id:'040805', pId:'0408', name:'资金台账-任', tabname:'cashMoneyAccount', tabUrl:'$!StringUtil.getContextPath()/pur/cash/moneyAccount.vm'},
					{id:'040806', pId:'0408', name:'货品台账起初、调整-任', tabname:'cashProdChange', tabUrl:'$!StringUtil.getContextPath()/pur/cash/prodChange.vm'},
					{id:'040807', pId:'0408', name:'资金台帐期初、调整-任', tabname:'cashPayChange', tabUrl:'$!StringUtil.getContextPath()/pur/cash/payChange.vm'},
    		{id:'05', pId:'0', name:'调拨模块', tabname:'move', open:false, isParent:true},
				{id:'0501', pId:'05', name:'调拨成本系数', tabname:'moveSalecoef', tabUrl:'$!StringUtil.getContextPath()/move/moveCostcoef.vm'},
				{id:'0502', pId:'05', name:'调拨销价系数', tabname:'moveSalecoef', tabUrl:'$!StringUtil.getContextPath()/move/moveSalecoef.vm'},
				{id:'0503', pId:'05', name:'调拔网络', tabname:'moveNet', tabUrl:'$!StringUtil.getContextPath()/move/moveNet.vm'},
				{id:'0504', pId:'05', name:'调拔单', tabname:'moveBill', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=1'},
				{id:'0505', pId:'05', name:'退货单', tabname:'moveBill2', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=2'},
				{id:'0506', pId:'05', name:'退残单', tabname:'moveBill3', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=3'},
				{id:'0507', pId:'05', name:'移库单', tabname:'moveBill4', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=4'},
				{id:'0508', pId:'05', name:'柜组调拔单', tabname:'moveBill5', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=5'},
				{id:'0509', pId:'05', name:'饰品装箱单', tabname:'movePack', tabUrl:'$!StringUtil.getContextPath()/move/movePack.vm?billType=1'},
				{id:'0510', pId:'05', name:'维修装箱单', tabname:'movePack2', tabUrl:'$!StringUtil.getContextPath()/move/movePack.vm?billType=2'},
				{id:'0511', pId:'05', name:'交接装箱单', tabname:'movePack3', tabUrl:'$!StringUtil.getContextPath()/move/movePack.vm?billType=3'},
				{id:'0511', pId:'05', name:'形态转换装箱单', tabname:'movePack3', tabUrl:'$!StringUtil.getContextPath()/move/movePack.vm?billType=4'},
				{id:'0512', pId:'05', name:'调拨单接收', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/moveReceive.vm?billType=1'},
				{id:'0513', pId:'05', name:'退货单接收', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/moveReceive.vm?billType=2'},
				{id:'0514', pId:'05', name:'退残单接收', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/moveReceive.vm?billType=3'},
				{id:'0515', pId:'05', name:'特价钻石价格', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/specialDiam.vm'},
				{id:'0516', pId:'05', name:'专卖店专柜维护', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/specialDiam.vm?user_action=orgTypeList'},
				{id:'0516', pId:'05', name:'价位带配货数据', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/dispatchWay.vm?user_action=priceList'},
				{id:'0516', pId:'05', name:'款式配货数据', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/dispatchWay.vm?user_action=styleList'},
				{id:'0516', pId:'05', name:'标准配货', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/standardDispatch.vm'},
				{id:'0517', pId:'05', name:'调拨指令单-任', tabname:'moveCmd', tabUrl:'$!StringUtil.getContextPath()/move/moveCmd.vm'},
				{id:'0518', pId:'05', name:'调拨删除申请单-任', tabname:'moveDeleteApply', tabUrl:'$!StringUtil.getContextPath()/move/moveDeleteApply.vm'},
			{id:'06', pId:'0', name:'库存管理', tabname:'stock', open:false, isParent:true},
				{id:'0601', pId:'06', name:'订单配货', tabname:'dispatchOrna', tabUrl:'$!StringUtil.getContextPath()/stock/dispatchOrna.vm'},
				{id:'0602', pId:'06', name:'价格锁定单', tabname:'priceLock', tabUrl:'$!StringUtil.getContextPath()/basic/priceLock.vm'},
				{id:'0603', pId:'06', name:'裸石拆混包单-任', tabname:'procPackage', tabUrl:'$!StringUtil.getContextPath()/stock/procPackage.vm'},
				{id:'0604', pId:'06', name:'退料单-任', tabname:'procExit', tabUrl:'$!StringUtil.getContextPath()/stock/procExit.vm'},
				{id:'0605', pId:'06', name:'形态转换单-任', tabname:'procChange', tabUrl:'$!StringUtil.getContextPath()/stock/procChange.vm'},
				{id:'0606', pId:'06', name:'原料提纯单-任', tabname:'procPurify', tabUrl:'$!StringUtil.getContextPath()/stock/procPurify.vm'},
				{id:'0607', pId:'06', name:'拆石单-任', tabname:'procDismantle', tabUrl:'$!StringUtil.getContextPath()/stock/procDismantle.vm'},
				{id:'0608', pId:'06', name:'原料货位维护-任', tabname:'cargoManager', tabUrl:'$!StringUtil.getContextPath()/stock/cargoManager.vm'},
				{id:'0609', pId:'06', name:'盘点单-任', tabname:'inventoryManager', tabUrl:'$!StringUtil.getContextPath()/stock/procInventory.vm'},
				{id:'0610', pId:'06', name:'其他交接单-任', tabname:'cargoManager', tabUrl:'$!StringUtil.getContextPath()/stock/handover.vm'},
				{id:'0611', pId:'06', name:'饰品属性修改-制', tabname:'materAttrUpdate', tabUrl:'$!StringUtil.getContextPath()/calc/materAttrUpdate.vm'},
				{id:'0612', pId:'06', name:'代销修改-任', tabname:'plSale', tabUrl:'$!StringUtil.getContextPath()/stock/plSale.vm'},
				{id:'0613', pId:'06', name:'加盟特价-任', tabname:'jmSale', tabUrl:'$!StringUtil.getContextPath()/stock/jmSale.vm'},
			{id:'07', pId:'0', name:'入库管理', tabname:'calc', open:false, isParent:true},
				{id:'0701', pId:'07', name:'单品入库-制', tabname:'cargoManager', tabUrl:'$!StringUtil.getContextPath()/stock/materIniv.vm'},
				{id:'0702', pId:'07', name:'核价单-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/priceHead.vm'},
				{id:'0703', pId:'07', name:'采购总系数-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/coefficient.vm'},
				{id:'0704', pId:'07', name:'委外总系数-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/coefficientWW.vm'},
				{id:'0705', pId:'07', name:'辅料系数-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/accessory.vm'},
				{id:'0706', pId:'07', name:'宝石系数-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/stoneCoefficient.vm'},
				{id:'0707', pId:'07', name:'托架系数-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/sbraCoefficient.vm'},
				{id:'0708', pId:'07', name:'托架市场价-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/sbraPrice.vm'},
				{id:'0709', pId:'07', name:'主配石市场价-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/stonePrice.vm?priceType=1'},
				{id:'0710', pId:'07', name:'主配石采购价-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/stonePrice.vm?priceType=2'},
				{id:'0711', pId:'07', name:'配件类型-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/sbraType.vm'},
				{id:'0712', pId:'07', name:'时尚黄金系数-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/fashionCoefficient.vm'},
				{id:'0713', pId:'07', name:'核价基础价(1)-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/basicPriceOne.vm'},
				{id:'0714', pId:'07', name:'核价基础价(2)-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/basicPriceTwo.vm'},
				{id:'0715', pId:'07', name:'翠核价单基础价-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/basicPriceJade.vm'},
				{id:'0716', pId:'07', name:'特殊工费核算规则表-制', tabname:'coefficient', tabUrl:'$!StringUtil.getContextPath()/calc/specialCharge.vm'},
			{id:'08', pId:'0', name:"出库管理", tablename:"out", open:false, isParent:true},
				{id:'0801', pId:'08', name:"对公销售单", tablename:"out", tabUrl:'$!StringUtil.getContextPath()/out/outVendor.vm?user_action=toPubSaleList'},
				{id:'0802', pId:'08', name:"丢失出库单", tablename:"out", tabUrl:'$!StringUtil.getContextPath()/out/loseOutStock.vm'},
				{id:'0803', pId:'08', name:"报废出库单", tablename:"out", tabUrl:'$!StringUtil.getContextPath()/out/scrapOutStock.vm'},
				{id:'0804', pId:'08', name:"礼品出库单", tablename:"out", tabUrl:'$!StringUtil.getContextPath()/out/giftOutStock.vm'},
				{id:'0805', pId:'08', name:"营销出库单", tablename:"out", tabUrl:'$!StringUtil.getContextPath()/out/marketOutStock.vm'},
				{id:'0806', pId:'08', name:"余金领用单", tablename:"out", tabUrl:'$!StringUtil.getContextPath()/out/leftGoldOutStock.vm'},
				{id:'0807', pId:'08', name:"委外发料单", tablename:"out", tabUrl:"$!StringUtil.getContextPath()/out/outVendor.vm?user_action=toEntrustoutList"},
				{id:'0808', pId:'08', name:"代销退货单", tablename:"out", tabUrl:"$!StringUtil.getContextPath()/out/outVendor.vm?user_action=toPSaleList"},
				{id:'0809', pId:'08', name:"借出归还单", tablename:"out", tabUrl:"$!StringUtil.getContextPath()/out/outBack.vm?user_action=toOutBackList"},
				{id:'0810', pId:'08', name:"维修耗料单", tablename:"out", tabUrl:"$!StringUtil.getContextPath()/out/consum.vm"},
			{id:'10', pId:'0', name:'收票出票', tabname:'inout', open:false, isParent:true},
				{id:'1001', pId:'10', name:'收票单', tabname:'receive', tabUrl:'$!StringUtil.getContextPath()/inout/receive.vm'},
				{id:'1002', pId:'10', name:'出票单', tabname:'send', tabUrl:'$!StringUtil.getContextPath()/inout/send.vm'},
			{id:'11', pId:'0', name:'标签相关', tabname:'tag', open:false, isParent:true},
				{id:'1101', pId:'11', name:'标签申请单', tabname:'labelApply', tabUrl:'$!StringUtil.getContextPath()/tag/labelTagApply.vm'},
				{id:'1102', pId:'11', name:'标签打印单', tabname:'labelApplyPrint', tabUrl:'$!StringUtil.getContextPath()/tag/labelTagApplyPrint.vm'},
				{id:'1103', pId:'11', name:'标签导入申请单', tabname:'labelImport', tabUrl:'$!StringUtil.getContextPath()/tag/labelTagImport.vm'},
    		{id:'12', pId:'0', name:'推式下单', tabname:'report', open:false, isParent:true},
				{id:'1201', pId:'12', name:'下单设置', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/gatherSet.vm?user_action=setList'},
				{id:'1201', pId:'12', name:'总单列表', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/gatherOrder.vm?user_action=list'},
				{id:'1202', pId:'12', name:'推式配货', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/pushDispatch.vm'},
				{id:'1203', pId:'12', name:'排除饰品', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/excludeOrna.vm'},
				{id:'1204', pId:'12', name:'下单手寸', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/pushSize.vm'},
				{id:'1204', pId:'12', name:'佩戴对像尺寸比例', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/wearSize.vm'},
				{id:'1205', pId:'12', name:'下单品质', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/pushGrade.vm'},
				{id:'1206', pId:'12', name:'铺货量设置', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/distributeNum.vm'},
				{id:'1207', pId:'12', name:'周转量设置', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/turnoverNum.vm'},
				{id:'1208', pId:'12', name:'畅销款比例', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/salableRate.vm'},
				{id:'1208', pId:'12', name:'组织类别', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/displayStandard.vm?user_action=orgtype'},
				{id:'1201', pId:'12', name:'畅销款铺货标准', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/displayStandard.vm'},
				{id:'1201', pId:'12', name:'非畅销款铺货标准', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/displayStandard.vm?user_action=list2'},
				{id:'1201', pId:'12', name:'区域组织', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/displayStandard.vm?user_action=region'},
				{id:'1201', pId:'12', name:'畅销款基础表', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/salable.vm'},
				{id:'1201', pId:'12', name:'推式款式配对', tabname:'dict', tabUrl:'$!StringUtil.getContextPath()/push/pushStyle.vm'},
			{id:'13', pId:'0', name:'加盟调拨模块', tabname:'move', open:false, isParent:true},
				{id:'1304', pId:'13', name:'加盟调拔单', tabname:'moveBill', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=1&jmFlag=1'},
				{id:'1305', pId:'13', name:'加盟退货单', tabname:'moveBill2', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=2&jmFlag=1'},
				{id:'1306', pId:'13', name:'加盟退残单', tabname:'moveBill3', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=3&jmFlag=1'},
				{id:'1307', pId:'13', name:'加盟移库单', tabname:'moveBill4', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=4&jmFlag=1'},
				{id:'1308', pId:'13', name:'加盟柜组调拔单', tabname:'moveBill5', tabUrl:'$!StringUtil.getContextPath()/move/moveBill.vm?billType=5&jmFlag=1'},
				{id:'1309', pId:'13', name:'加盟饰品装箱单', tabname:'movePack', tabUrl:'$!StringUtil.getContextPath()/move/movePack.vm?billType=1&jmFlag=1'},
				{id:'1312', pId:'13', name:'加盟调拨单接收', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/moveReceive.vm?billType=1&jmFlag=1'},
				{id:'1313', pId:'13', name:'加盟退货单接收', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/moveReceive.vm?billType=2&jmFlag=1'},
				{id:'1314', pId:'13', name:'加盟退残单接收', tabname:'moveReceive', tabUrl:'$!StringUtil.getContextPath()/move/moveReceive.vm?billType=3&jmFlag=1'},
			{id:'14', pId:'0', name:'加盟采购模块', tabname:'move', open:false, isParent:true},
				{id:'1401', pId:'14', name:'订做单接收', tabname:'purchaseCust', tabUrl:'$!StringUtil.getContextPath()/pur/purchaseCust.vm?user_action=receiveList&jmFlag=1'},
				{id:'1402', pId:'14', name:'订做生成采购单', tabname:'purchaseCust', tabUrl:'$!StringUtil.getContextPath()/pur/purchaseCust.vm?jmFlag=1'},
			{id:'98', pId:'0', name:'报表管理', tabname:'report', open:false, isParent:true},
				{id:'9801', pId:'98', name:'库存汇总查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=1'},
				{id:'9802', pId:'98', name:'库存明细查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=2'},
				{id:'9803', pId:'98', name:'进销存查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=3'},
				{id:'9804', pId:'98', name:'进销存查询(无金额)', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=28'},
				{id:'9805', pId:'98', name:'门店满足率查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=4'},
				{id:'9806', pId:'98', name:'总单满足率查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=5'},
				{id:'9807', pId:'98', name:'未关闭交接单查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=6'},
				{id:'9808', pId:'98', name:'未关闭其它交接单查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=7'},
				{id:'9809', pId:'98', name:'下单款式查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=8'},
				{id:'9810', pId:'98', name:'款式分析-带分析范围', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=9'},
				{id:'9811', pId:'98', name:'款式分析-不带分析范围', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=10'},
				{id:'9812', pId:'98', name:'商品流转记录', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=11'},
				{id:'9813', pId:'98', name:'销售汇总查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=12'},
				{id:'9814', pId:'98', name:'销售明细查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=13'},
				{id:'9815', pId:'98', name:'代销商品查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=14'},
				{id:'9815', pId:'98', name:'代销商品查询（含成本）', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=35'},
				{id:'9816', pId:'98', name:'采购统计', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=15'},
				{id:'9817', pId:'98', name:'装箱单查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=16'},
				{id:'9818', pId:'98', name:'饰品编码盘点信息查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=17'},
				
				{id:'9819', pId:'98', name:'饰品库数据', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=19'},
				{id:'9820', pId:'98', name:'门店总单在途查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=20'},
				{id:'9821', pId:'98', name:'门店总单在途查询(截止昨天)', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=29'},
				{id:'9822', pId:'98', name:'商品部库存明细查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=21'},
				{id:'9823', pId:'98', name:'商品部销售明细查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=22'},
				{id:'9824', pId:'98', name:'库存统计', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=23'},
				{id:'9825', pId:'98', name:'调拔查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=24'},
				{id:'9826', pId:'98', name:'安全库存', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=25'},
				{id:'9827', pId:'98', name:'核价查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=26'},
				{id:'9828', pId:'98', name:'裸石查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=27'},
				{id:'9829', pId:'98', name:'滞销商品管理', tabname:'unsalereport', tabUrl:'$!StringUtil.getContextPath()/report/unsaleReport.vm'},
				{id:'9821', pId:'98', name:'手工调配在途量', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=30'},
				{id:'9821', pId:'98', name:'财务销售查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=31'},
				{id:'9821', pId:'98', name:'加盟库存汇总', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=36'},
				{id:'9821', pId:'98', name:'加盟库存明细', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=32'},
				{id:'9821', pId:'98', name:'采购分析', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=33'},
				{id:'9821', pId:'98', name:'委外代销查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=34'},
				{id:'9821', pId:'98', name:'财务未结算单据查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=37'},
				{id:'9821', pId:'98', name:'推式下单满足率查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=38'},
				{id:'9821', pId:'98', name:'推式下单在途查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=39'},
				{id:'9821', pId:'98', name:'饰品调拨类型查询', tabname:'testreport', tabUrl:'$!StringUtil.getContextPath()/report/report.vm?reportType=40'},
			{id:'99', pId:'0', name:'退出', tabname:'', open:true, tabUrl:'$!StringUtil.getContextPath()/logOff.vm'}
    	];
	//初始化tree
	jQuery.fn.zTree.init(jQuery("#myZTree"), setting, nodeDataArr);
});
</script>