#set($jsfiles = ["$StringUtil.getContextPath()/js/move/moveDeleteApply.js?t=201210151141.js",
"$StringUtil.getContextPath()/dwr/interface/MoveDeleteApplyDwr.js?t=201210151141.js"])

#set($head = $form.moveDeleteApply)
#set($moveHead = $form.moveHeadLog)
#set($moveLines = $form.moveLineLogList)

#set($modelCode = "09061102")

#if($StringUtil.isBlank($!head.billno))
    #set($billno = "自动生成")
    #set($orgId = $StringUtil.getOrgId($session))
    #set($dodate = $DateUtil.getCurrentDate10())
    #set($statusName = "保存")
    #set($status = "1")
    #set($createDate = $DateUtil.getCurrentDate18())
    #set($updateDate = $DateUtil.getCurrentDate18())
    #set($createId = $StringUtil.getUserId($session))
    #set($updateId = $StringUtil.getUserId($session))
#else
    #set($billno = $head.billno)
    #set($orgId = $head.orgId)
    #set($dodate = $head.dodate)
    #set($statusName = $!DictUtil.getValue('status', $!{head.status}))
    #set($status = $!{head.status})
    #set($createDate = $head.createDate)
    #set($updateDate = $head.updateDate)
    #set($createId = $!head.createId)
    #set($updateId = $!head.updateId)
#end

#if($form.dodate)
    #set($dodate = $form.dodate)
#end

#set($enableSave = false)
#set($isSaved = false)
#if($StringUtil.isNotBlank($status))
    #if($status == "1")
        #set($enableSave = true)
        #set($isSaved = true)
    #end
#end

<form id='frm' action=moveDeleteApply.vm"" method="post">
<input type='hidden' id='headid' value='$!{head.headid}'/>
<input type='hidden' id='user_action' value="toEdit"/>

<table class="control">
    <tr>
        <td>
            <input type='button' value='保存' #if(!$enableSave) disabled #end class='btn' id='btnSave' $RightUtil.able($session, $modelCode,'1')>
            <input type='button' value='审核' #if(!$enableSave) disabled #end class='btn' id='btnMark' $RightUtil.able($session, $modelCode,'2')>
            <input type='button' value='打印' class='btn' id="btnPrint" $RightUtil.able($session, $modelCode,'3')>
            <input type='button' value='返回列表' class='btn' id="btnToList">
        </td>
    </tr>
</table><hr style="margin-top: 1px; margin-bottom: 1px;">
<table class="control">
    <tr><td>调拨删除申请单信息</td></tr>
</table>
<table class='content'>
    <tr>
        <td class='body1'>单据编号</td>
        <td class='body2'>
            <input type='text' readonly id='billno' value="$!billno"/>
        </td>
        <td class='body1'>业务日期</td>
        <td class='body2'>
            <input type='text' readonly id='dodate' value="$!dodate" #if(!$enableSave) disabled #end/>
        </td>
        <td class='body1'>组织</td>
        <td class='body2'>
            <input type='hidden'  id='orgId' value="$!orgId"/>
            <input type='text' readonly id='orgName' value="$!BdCommon.getOrgName($!orgId)" readonly>
        </td>
        <td class='body1'>单据状态</td>
        <td class='body2'>
            <input type='text' readonly id='statusName' value="$!statusName"/>
        </td>
    </tr>
    <tr>
        <td class='body1'>备注</td>
        <td class='body2' colspan="7">
            <input type='text' id='memo' value="$!head.memo" style="width: 600px;"/>
        </td>
    </tr>
    <tr>
        <td class='body1'>创建人</td><td class='body2'><input type='text' readonly id='createId' value="$!{BdCommon.getUserName($!createId)}"/></td>
        <td class='body1'>创建时间</td><td class='body2'><input type='text' readonly id='createDate' value="$!createDate"/></td>
        <td class='body1'>修改人</td><td class='body2'><input type='text' readonly id='updateId' value="$!BdCommon.getUserName($!updateId)"/></td>
        <td class='body1'>修改时间</td><td class='body2'><input type='text' readonly id='updateDate' value="$!updateDate"/></td>
    </tr>
</table>
<table class="control">
    <tr><td>调拨单信息</td></tr>
</table>
<table class='content'>
    <tr>
        <td class='body1'>调拨单号</td>
        <td class='body2'>
            <input type='hidden' readonly id='oldMoveHeadid' value="$!head.moveHeadid"/>
            <input type='hidden' readonly id='moveHeadid' value="$!moveHead.headid"/>
            <input type='text' readonly id='moveBillno' value="$!moveHead.billno"  #if($enableSave) class="target" onclick="showMoveBillWin()" #end/>
        </td>
        <td class='body1'>调拨单状态</td><td class='body2'><input type='text' readonly value="$!DictUtil.getValue("status", $!moveHead.status)"/></td>
        <td class='body1'>调拨日期</td><td class='body2'><input type='text' readonly value="$!moveHead.dodate"/></td>
        <td class='body1'>创建人</td><td class='body2'><input type='text' readonly value="$!BdCommon.getUserName("$!moveHead.createId")"/></td>
    </tr>
        <tr>
            <td class='body1'>调出组织</td><td class='body2'>
            <input type='text' id='outOrgName' value="$!BdCommon.getOrgName("$!moveHead.outOrgId")" readonly>
        </td>
            <td class='body1'>调出仓库</td><td class='body2'>
            <input type='text' id='outStockName' value="饰品库" readonly>
        </td>
            <td class='body1'>调入组织</td><td class='body2'>
            <input type='text' id='inOrgName' readonly value="$!BdCommon.getOrgName("$!moveHead.inOrgId")">
        </td>
            <td class='body1'>调入仓库</td><td class='body2'>
            <input type='text' id='inStockName' value="饰品库" readonly>
        </td>
        </tr>
    <tr>
        <td class='body1'>件数合计</td><td class='body2'><input type='text' readonly id='sumCount' value='$!{moveHead.sumCount}'/></td>
        <td class='body1'>重量合计</td><td class='body2'><input type='text' readonly id='sumWeight' value='$!{moveHead.sumWeight}'/></td>
        <td class='body1'>粒数合计</td><td class='body2'><input type='text' readonly id='sumGrains' value='$!{moveHead.sumGrains}'/></td>

        #if($RightUtil.isAble($session, $modelCode,'5'))
            <td class='body1'>成本合计</td>
            <td class='body2'>
                <input type='hidden'   value='$!{moveHead.sumMoney}'/>
                <input type='text' readonly  value='$!{moveHead.sumCost}'/>
           </td>
        #else
            <td class='body1'></td><td class='body2'>
                <input type='hidden'  value='$!{moveHead.sumMoney}'/>
                <input type='hidden'  value='$!{moveHead.sumCost}'/>
            </td>
        #end
    </tr>
    <tr>
        <td class='body1'>接收日期</td><td class='body2'><input type='text' readonly id='receiveDate' value='$!{moveHead.receiveDate}'/></td>
        <td class='body1'>接收人员</td><td class='body2'><input type='text' readonly id='receiveEmpId' value='$!BdCommon.getUserName($!{moveHead.receiveEmpId})'/></td>
        <td class='body1'>接收件数</td><td class='body2'><input type='text' readonly id='receCount' value='$!{moveHead.receCount}'/></td>
        <td class='body1'>作废件数</td><td class='body2'><input type='text' readonly id='discardCount' value='$!{moveHead.discardCount}'/></td>
    </tr>
    <tr>
        #if($RightUtil.isAble($session, $modelCode,'6'))
            <td class='body1'>新总成本</td><td class='body2'><input type='text'  readonly value='$!{moveHead.sumNewPosCost}'/></td>
        #else
            <td class='body1'></td><td class='body2'><input type='hidden' value='$!{moveHead.sumNewPosCost}'/></td>
        #end


        #set($moveCmdId = "")
        #set($moveCmdNo = "")
        #if("$!moveHead.srcBillCode" == "MC")
            #set($moveCmdId = $!moveHead.srcBillId)
            #set($moveCmdNo = $!moveHead.srcBillNo)
        #end
        <td class='body1'>调拨指令单</td>
        <td class='body2'>
            <input type='text' readonly  value='$!moveCmdNo' />
        </td>
        <td class='body1'>备注</td><td class='body2' colspan="3"><input type='text' readonly value='$!{moveHead.memo}' style="width:280px; "/></td>
        </tr>
</table>
<table class='list'>
    <thead>
    <tr>
        <th></th>
        <th>双标签</th>
        <th>需要打印</th>
        <th>饰品编码</th>
        <th>饰品名称</th>
        <th>大类</th>
        <th>小类</th>
        <th>分析范围</th>
        <th>款式</th>
        <th>计量单位</th>
        <th>总重量</th>
        <th>现有量</th>
        <th>粒数</th>
        <th>网点金额</th>
        <th>主石重</th>
        <th>配石重</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody id='tbl'>
        #foreach($item in $moveLines)
        <tr>
            <td>$velocityCounter</td>
            <td>$!DictUtil.getValue('yesorno', $item.isDblLabel)</td>
            <td>$!DictUtil.getValue('yesorno', $item.printLabel)</td>
            <td>$!item.ornaCode</td>
            <td>$!item.ornaDsc</td>
            <td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
            <td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
            <td>$!item.analysisName</td>
            <td>$!HtmlUtil.printStyle($!item.styleId, $!item.styleName, $!item.bigGraph)</td>
            <td>$!BdCommon.getUnitName($!item.unitId)</td>
            <td>$!item.allWeight</td>
            <td>$!item.nowQty</td>
            <td>$!item.grains</td>
            <td>$!item.newPosMoney</td>
            <td>$!item.mainWeight</td>
            <td>$!item.partWeight</td>
            <td>$!DictUtil.getValue('status', $!item.status)</td>
        </tr>
        #end
    </tbody>
</table>
</form>
<script type="text/javascript">
    jQuery(function(){
        initCalendar("dodate");

        jQuery("#btnSave").click(saveform);
        jQuery("#btnMark").click(checkBill);
        jQuery("#btnToList").click(function(){
            window.location = "moveDeleteApply.vm";
        });
        altRowCSS('tbl');
        checkReview();
        changeSeq("tbl");
    });

</script>
