#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/MoveNetDwr.js"])

<form id='frm' action="" method="post">
	<input type='hidden' id="outflag" value="$!form.outflag">
    <table class="title">
    	<tr><td>调拨网络</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='添加行组织' class='btn' id='btnAddOutOrg'>
				<input type='button' value='保存' class='btn' id='btnSave'>
				<input type='button' value='返回列表' class='btn' id="btnToList">
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>#if("1"=="$!form.outflag") 调出组织 #else 调入组织 #end</td>
			<td class='body2'>
				<input type='hidden' id='orgid' value="${form.orgid}">
				<input type='text' id='orgname' value="$!BdCommon.getOrgName(${form.orgid})" readonly class="target" ondblclick="showSelectOrgWin()">
			</td>
			<td class='body1'></td>
			<td class='body2'></td>
		</tr>
    </table>
	<table class='list' style="width:600px;">
		<thead><tr><th>#if("1"=="$!form.outflag") 调入组织  #else 调出组织  #end</th><th width='60px;'></th></tr></thead>
		<tbody id='tbl'>
		#foreach($item in $form.list)
			<tr>
				<td>
					<input type='hidden' name='outOrgId' readonly value='$!item.value'>
					<input type='text' name='outOrgName' readonly value='$!item.text' style='width:200px;'>
				</td>
				<td><input type='button' value='删除' style='width:60px;' onclick='deleteRow(this,"tbl")'></td>
			</tr>
		#end
        </tbody>
    </table>
</form>
<script>
//显示组织选择窗口
function showSelectOrgWin(){
	selectOrg(function(idArr, nameArr){
			jQuery("#orgid").val(idArr.join(","));
			jQuery("#orgname").val(nameArr.join(","));
			if(!isNull(jQuery("#orgid").val())){
				window.location = "moveNet.vm?user_action=toEdit&orgid=" + jQuery("#orgid").val() + "&outflag=" + jQuery("#outflag").val();
			}
		}, null, null, false, jQuery("#orgid").val());
}
function addOutOrg(){
	if(isNull(jQuery("#orgid").val())){
		alert("请先选择调出组织");
		return ;
	}
	selectOrg(function(idArr, nameArr){
			for(var i=0;i<idArr.length;i++){
				if(!checkOrgExists(idArr[i])){
					//alert("组织[" + nameArr[i] + "]已经存在");
					continue;
				}
				if(idArr[i] == jQuery("#orgid").val()){
					alert("调入、调出组织[" + nameArr[i] + "]不能相同");
					continue;
				}
    			var tdHtmlArr = ["<input type='hidden' name='outOrgId' readonly value='" + idArr[i] + "'>" +
						"<input type='text' name='outOrgName' readonly value='" + nameArr[i] + "' style='width:200px;'>",
						"<input type='button' value='删除' style='width:60px;' onclick='deleteRow(this,\"tbl\")'>"];
    			insertRow("tbl", tdHtmlArr, true);
			}
		}, null, null, true, getOutOrgIds().join(","));
}
function getOutOrgIds(){
	var ids = [];
	for(var i=0;i<$n("outOrgId").length;i++){
		ids.push($n("outOrgId")[i].value);
	}
	return ids;
}
function checkOrgExists(orgId){
	for(var i=0;i<$n("outOrgId").length;i++){
		if($n("outOrgId")[i].value == orgId){
			return false;
		}
	}
	return true;
}
jQuery(function(){
	altRowCSS('tbl');
	jQuery("#btnSave").click(saveform);
	var dw = jQuery(document).width();
	if(dw > 1000){
		jQuery(".list").css("width", dw+"px");
	}
	//返回列表
	jQuery("#btnToList").click(function(){
		window.location = "moveNet.vm";
	});
	jQuery("#btnAddOutOrg").click(addOutOrg);
});
function saveform(){
	if($n("outOrgId").length<1){
		alert("请先添加行表组织");
		return ;
	}
	confirm("确定保存?", function(){
    	showLayer(true);
    	MoveNetDwr.saveMoveNet(jQuery("#orgid").val(), getOutOrgIds(), jQuery("#outflag").val(), function(data){
    		showLayer(false);
    		alert(data?data:"保存成功", function(){
        		window.location = "moveNet.vm";
    		});
    	});
	});
}
</script>