#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/MoveBillDwr.js"])

#if("1" == "$!{form.billType}")
	#set($modelCode = '0803010101')
	#set($billCode = 'TB')
	#set($queryCode = 'TB01')
#elseif("2" == "$!{form.billType}")
	#set($modelCode = '0803010201')
	#set($billCode = 'TH')
	#set($queryCode = 'TH01')
#elseif("3" == "$!{form.billType}")
	#set($modelCode = '0803010301')
	#set($billCode = 'TC')
	#set($queryCode = 'TC01')
#elseif("4" == "$!{form.billType}")
	#if("1" == "$!{form.jmFlag}")
		#set($modelCode = '09060401')
    		#set($billCode = 'DK')
    		#set($queryCode = 'DK01')
	#else
		#set($modelCode = '0803010402')
    		#set($billCode = 'YK')
    		#set($queryCode = 'YK01')
	#end
#elseif("5" == "$!{form.billType}")
	#if("1" == "$!{form.jmFlag}")
		#set($modelCode = '09060501')
    		#set($billCode = 'ZG')
    		#set($queryCode = 'ZG01')
	#else
		#set($modelCode = '0803010501')
    		#set($billCode = 'GZ')
    		#set($queryCode = 'GZ01')
	#end
#end
<form id="frm" action="moveBill.vm" method="post">
	<input type='hidden' id='user_action' name='user_action' value=''/>
	<input type='hidden' id="billType" name="billType" value="$!{form.billType}"/>
	<input type='hidden' id="jmFlag" name="jmFlag" value="$!{form.jmFlag}"/>
    <table class="title">
    	<tr>
			<td>$!DictUtil.getValue("movebilltype", $!form.billType)
				#if(""!="$!{form.message}")
					[<font color='red'>$!{form.message}</font>]
				#end
			</td>
		</tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' id='btnAdd' $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='修改/查看' class='btn' id='btnEdit' $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='删除' class='btn' id="btnDelete" $RightUtil.able($session, $modelCode,'3')>
				<input type='button' value='查询' class='btn' id="btnQueryShow" $RightUtil.able($session, $modelCode,'4')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, $modelCode,'5')>
				<input type="checkbox" name='showAllFlag' #if("1" == "$!{form.condition.showAllFlag}") checked #end value='1' onclick="showAllBill('frm')">显示所有单据
			</td>
		</tr>
    </table>
	<div class="scroll">
    <table class='list' style='width:2200px;'>
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
        		<th width='80px'>状态</th>
                <th width='120px'>单据编号</th>
                <th width='90px'>业务日期</th>
			#if("1" == $!{form.billType})
                <th width='60px'>调拨类型</th>
                <th width='90px'>来源单据</th>
                <th width='120px'>来源单据号</th>
                <th width='180px'>调出组织</th>
                <th width='60px'>调出仓库</th>
                <th width='180px'>调入组织</th>
                <th width='60px'>调入仓库</th>
                <th width='120px'>装箱单号</th>
			#elseif("2" == $!{form.billType})
                <th width='180px'>调出组织</th>
                <th width='60px'>调出仓库</th>
                <th width='180px'>调入组织</th>
                <th width='60px'>调入仓库</th>
                <th width='90px'>48小时退货</th>
                <th width='120px'>装箱单号</th>
			#elseif("3" == $!{form.billType})
                <th width='180px'>调出组织</th>
                <th width='60px'>调出仓库</th>
                <th width='180px'>调入组织</th>
                <th width='60px'>调入仓库</th>
                <th width='120px'>装箱单号</th>
			#elseif("4" == $!{form.billType})
                <th width='180px'>组织</th>
                <th width='60px'>调出仓库</th>
                <th width='60px'>调入仓库</th>
        		<th width='120px'>接收时间</th>
        		<th width='90px'>接收人</th>
			#elseif("5" == $!{form.billType})
                <th width='180px'>组织</th>
                <th width='60px'>调出柜组</th>
                <th width='60px'>调入柜组</th>
        		<th width='90px'>接收时间</th>
        		<th width='90px'>接收人</th>
			#end
				<th width='60px'>件数合计</th>
				<th width='60px'>重量合计</th>
				<th width='60px'>接收合计</th>
				<th width='90px'>未接收合计</th>
				<th width='90px'>所有证书合计</th>
        		<th width='120px'>创建时间</th>
        		<th width='90px'>创建人</th>
        		<th width='120px'>修改时间</th>
        		<th width='90px'>修改人</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($item in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value='$!{item.headid}'/><input type="hidden" name="outOrgId" value="$!item.outOrgId"/>$velocityCounter</td>
				<td><input type='hidden' name='status' value='$!{item.status}'/><a href="javascript:viewReviewLog('${billCode}', '$!{item.headid}')">$!DictUtil.getValue('status', $!item.status)</a></td>
				<td><a href='javascript:toEditPage($!{item.headid});'>$!item.billno</a></td>
				<td>$!item.dodate</td>
			#if("1" == $!{form.billType})
				<td>$!DictUtil.getValue('movetype', $!item.moveType)</td>
				<td>$!DictUtil.getValue('billcode', $!item.srcBillCode)</td>
                <td><a href='javascript:viewSrcBillWin("$!{item.srcBillId}", "$!item.srcBillNo", "$!item.srcBillCode");'>$!item.srcBillNo</a></td>
				<td>$!BdCommon.getOrgName($!item.outOrgId)</td>
				<td>$!DictUtil.getValue('invcode', $!item.outStockId)</td>
				<td>$!BdCommon.getOrgName($!item.inOrgId)</td>
				<td>$!DictUtil.getValue('invcode', $!item.inStockId)</td>
				<td>$!item.packNo</td>
			#elseif("2" == $!{form.billType})
				<td>$!BdCommon.getOrgName($!item.outOrgId)</td>
				<td>$!DictUtil.getValue('invcode', $!item.outStockId)</td>
				<td>$!BdCommon.getOrgName($!item.inOrgId)</td>
				<td>$!DictUtil.getValue('invcode', $!item.inStockId)</td>
				<td>$!DictUtil.getValue('yesorno', $!item.backIn48Flag)</td>
				<td>$!item.packNo</td>
			#elseif("3" == $!{form.billType})
				<td>$!BdCommon.getOrgName($!item.outOrgId)</td>
				<td>$!DictUtil.getValue('invcode', $!item.outStockId)</td>
				<td>$!BdCommon.getOrgName($!item.inOrgId)</td>
				<td>$!DictUtil.getValue('invcode', $!item.inStockId)</td>
				<td>$!item.packNo</td>
			#elseif("4" == $!{form.billType})
				<td>$!BdCommon.getOrgName($!item.outOrgId)</td>
				<td>$!DictUtil.getValue('invcode', $!item.outStockId)</td>
				<td>$!DictUtil.getValue('invcode', $!item.inStockId)</td>
				<td>$!item.receiveDate</td>
				<td>$!BdCommon.getUserName($!item.receiveEmpId)</td>
			#elseif("5" == $!{form.billType})
				<td>$!BdCommon.getOrgName($!item.outOrgId)</td>
				<td>$!DictUtil.getValue('groups', $!item.outGroup)</td>
				<td>$!DictUtil.getValue('groups', $!item.inGroup)</td>
				<td>$!item.receiveDate</td>
				<td>$!BdCommon.getUserName($!item.receiveEmpId)</td>
			#end
				<td>$!item.sumCount</td>
				<td>$!StringUtil.formatDouble($!item.sumWeight, 2)</td>
				<td>$!item.receCount</td>
				<td>$!item.noreceCount</td>
				<td>$!item.certCount</td>
				<td>$!item.createDate</td>
				<td>$!BdCommon.getUserName($!item.createId)</td>
				<td>$!item.updateDate</td>
				<td>$!BdCommon.getUserName($!item.updateId)</td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function exportListToExcel(){
	jQuery("#user_action").val("exportExcel");
	jQuery("#frm").submit();
	jQuery("#user_action").val("");
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false, changeButtons, function(index){
		window.location = "moveBill.vm?user_action=toEdit&headid=" + $n("chk")[index].value;
	});
	//初始化查询div common_query.js中定义默认已经引入
	jQuery("#btnAdd").click(function(){
		window.location = "moveBill.vm?user_action=toAdd&billType=" + jQuery("#billType").val()+ "&jmFlag=" + jQuery("#jmFlag").val();
	});
	jQuery("#btnEdit").click(function(){
    	var index = getSelectIndex('chk');
    	if(index<0){
    		alert("请选择要修改/查看的记录");
    		return ;
    	}
		window.location = "moveBill.vm?user_action=toEdit&headid=" + $n("chk")[index].value;
	});
	jQuery("#btnDelete").click(deleteMoveBill);
	changeButtons(false, 0);
	initQuery2('${queryCode}', "frm", 'btnQueryShow');
	
//	info(window.screen.availWidth + "*" + window.screen.availHeight);
//	info(document.body.offsetWidth + "*" + document.body.offsetHeight);
//	info(document.documentElement.clientWidth + "*" + document.documentElement.clientHeight);
//	info(document.body.scrollWidth + "*" + document.body.scrollHeight);
});
function showAllBill(formId){
	jQuery("#" + formId).submit();
}
function changeButtons(checked, index){
	jQuery("#btnEdit").attr("disabled", true);
	jQuery("#btnDelete").attr("disabled", true);
	
	if(!checked)	return ;
	jQuery("#btnEdit").attr("disabled", false);
	if("1" == $n("status")[index].value && ("$!StringUtil.getOrgId($session)" == $n("outOrgId")[index].value)){
		jQuery("#btnDelete").attr("disabled", false);
	}
}
function toEditPage(headid){
	window.location = "moveBill.vm?user_action=toEdit&headid=" + headid;
}
function deleteMoveBill(){
	var index = getSelectIndex('chk');
	if(index<0){
		alert("请选择要删除的记录");
		return ;
	}
	confirm("确定删除?", function(){
		MoveBillDwr.deleteMoveBill([$n("chk")[index].value], function(errMsg){
			if(errMsg){
				alert(errMsg);
			}else{
				alert("删除成功", function(){
					jQuery("#frm").submit();
				});
			}
		});
	});
}
function toViewPage(headid,status){
	var options = {
		title : '来源单据',
		contentType : 'iframe',
		iframeId : "purchaseWindowId",
		width : 800,
		height : 400,
		okBtnName : '确定',
		closeable:true,
		boxid:'winDiv',
		onok : function(box) {box.close();},
		oncancel : function(box) {box.close();}
	};
	var url = ctxPath+ "/stock/dispatchOrna.vm?user_action=dispatch&gheadid="+headid+"&gstatus="+status+"&conditionId=-1"  + "&reviewflag=1";
	printWin= jQuery.weeboxs.open(url, options);
}
</script>