#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/MoveSalecoefDwr.js"])

<form id="frm" method="post">
    <table class="title">
    	<tr><td>调拨销价系数#if($!form.message)[<font color='red'>$!form.message</font>]#end</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' id='btnAdd'>
				<input type='button' value='删除' class='btn' id='btnDelete'>
				<input type='button' value='查询' class='btn' id="btnQueryShow">
			</td>
		</tr>
    </table>
	<div class='scroll'>
    <table class='list'  style="width:1300px;">
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
        		<th width='120px'>状态</th>
                <th width='180px'>调入组织</th>
        		<th width='120px'>大类</th>
        		<th width='120px'>小类</th>
        		<th width='180px'>款式大类</th>
        		<th width='160px'>创建时间</th>
        		<th width='120px'>创建人</th>
        		<th width='160px'>修改时间</th>
        		<th width='120px'>修改人</th>
            </tr>
        </thead>
        <tbody id="tbl" >
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value='$!{map.headid}'/>$velocityCounter</td>
				<td>$!DictUtil.getValue('status', $!map.status)</td>
				<td><a href='javascript:toEditPage($!{map.headid});'>$!BdCommon.getOrgName($!{map.inOrgId})</a></td>
				<td>$BdCommon.getItemClassDesc($!map.itemClassId)</td>
				<td>$BdCommon.getOrnaClassDesc($!map.ornaClassId)</td>
				<td><input type='text' readonly class='none' style='width:160px;' value="$!BdCommon.getStyleItemClassNames($!map.styleItemIds)"></td>
				<td>$!map.createDate</td>
				<td>$!BdCommon.getUserName($!map.createId)</td>
				<td>$!map.updateDate</td>
				<td>$!BdCommon.getUserName($!map.updateId)</td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true,null, function(index){
		window.location = "moveSalecoef.vm?user_action=toEdit&headid=" + $n("chk")[index].value;
	});
	
	jQuery("#btnAdd").click(function(){
		window.location = "moveSalecoef.vm?user_action=toEdit";
	});
	jQuery("#btnDelete").click(deleteMoveSalecoef);
	initQuery2('02', "frm", 'btnQueryShow');
});
function toEditPage(headid){
	window.location = "moveSalecoef.vm?user_action=toEdit&headid=" + headid;
}
function deleteMoveSalecoef(headid){
	var indexs = getSelectIndexs('chk');
	if(indexs.length<1){
		alert("请选择要删除的记录");
		return ;
	}
	var headidArr = [];
	for(var i=0;i<indexs.length;i++){
		headidArr.push($n("chk")[indexs[i]].value);
	}
	confirm("确定删除?", function(){
		MoveSalecoefDwr.deleteMoveSalecoef(headidArr, function(errMsg){
			if(errMsg){
				alert(errMsg);
			}else{
				alert("删除成功", function(){
        			window.location = "moveSalecoef.vm";
				});
			}
		});
	});
}
</script>