#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/MoveNetDwr.js"])
<form id="frm" method="post">
    <table class="title">
    	<tr><td>调拨网络</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' id='btnAdd'>
				<input type='button' value='删除' class='btn' id="btnDelete">
				<input type='button' value='查询' class='btn' id="btnQueryShow">
			</td>
		</tr>
    </table>
	<div class='scroll'>
    <table class='list'>
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
        		<th width='120px'>状态</th>
                <th width='180px'>调出组织</th>
                <th width='180px'>调入组织</th>
        		<th width='120px'>创建时间</th>
        		<th width='120px'>创建人</th>
        		<th width='120px'>修改时间</th>
        		<th width='120px'>修改人</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value='$!{map.netId}'/>$velocityCounter
					<input type='hidden' name='outOrgIds' value='$!{map.outOrgId}'/></td>
				<td>$!DictUtil.getValue('status', $!map.status)</td>
				<td><a href='javascript:toEditPage($!{map.outOrgId}, 1);'>$BdCommon.getOrgName($!map.outOrgId)</a></td>
				<td><a href='javascript:toEditPage($!{map.inOrgId}, 0);'>$!BdCommon.getOrgName($!{map.inOrgId})</a></td>
				<td>$!map.createDate</td>
				<td>$!BdCommon.getUserName($!map.createId)</td>
				<td>$!map.updateDate</td>
				<td>$!BdCommon.getUserName($!map.updateId)</td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true,null, function(index){
		window.location = "moveNet.vm?user_action=toEdit&orgid=" + $n("outOrgIds")[index].value + "&outflag=1" ;
	});
	
	jQuery("#btnAdd").click(function(){
		window.location = "moveNet.vm?user_action=toEdit&outflag=1";
	});
	jQuery("#btnDelete").click(deleteMoveNet);
	initQuery2('04', "frm", 'btnQueryShow');
});
function toEditPage(orgid, outflag){
	window.location = "moveNet.vm?user_action=toEdit&orgid=" + orgid + "&outflag=" + outflag;
}
function deleteMoveNet(){
	var indexs = getSelectIndexs('chk');
	if(indexs.length<1){
		alert("请选择要删除的记录");
		return ;
	}
	var netIdArr = [];
	for(var i=0;i<indexs.length;i++){
		netIdArr.push($n("chk")[indexs[i]].value);
	}
	confirm("确定删除?", function(){
		MoveNetDwr.deleteMoveNet(netIdArr, function(errMsg){
			if(errMsg){
				alert(errMsg);
			}else{
				alert("删除成功", function(){
        			window.location = "moveNet.vm";
				});
			}
		});
	});
}
</script>