#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])

#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js",
	"$StringUtil.getContextPath()/js/move/moveCmd.js",
	"$StringUtil.getContextPath()/dwr/interface/DictDwr.js",
	"$StringUtil.getContextPath()/dwr/interface/MoveCmdDwr.js"])
	
#if($StringUtil.isBlank($!form.head.billno))
	#set($statusName = "保存")
	#set($status = "1")
#else
	#set($statusName = $!DictUtil.getValue('status', $!{form.head.status}))
	#set($status = $!form.head.status)
#end
#set($isSaved = false)
#if($StringUtil.isNotBlank($status))
	#if($status == "1")
		#set($isSaved = true)
	#else
		#set($isSaved = false)
	#end
#end
<form id='frm' action="" method="post">
	<input type='hidden' id='headid' value='$!{form.head.headid}'/>
    <table class="title">
    	<tr><td>调拨指令单</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='保存' class='btn' id='btnSave' $RightUtil.able($session, '09061002','1')>
				<input type='button' value='审核' class='btn' id='btnMark' $RightUtil.able($session, '09061002','2')>
				<input type='button' value='作废' class='btn' id='btnInvalid' $RightUtil.able($session, '09061002','3')>
				<input type='button' value='打印' class='btn' id="btnPrint" $RightUtil.able($session, '09061002','4')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
			</td>
		</tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号</td><td class='body2'><input type='text' readonly id='billno' value='自动生成'/></td>
			<td class='body1'>业务日期</td><td class='body2'><input type='text' readonly id='dodate' value='$!{DateUtil.getCurrentDate10()}'/></td>
			<td class='body1'>创建人</td><td class='body2'><input type='text' readonly id='createId' value='$!{StringUtil.getUserName($session)}'/></td>
			<td class='body1'>创建时间</td><td class='body2'><input type='text' readonly id='createDate' value='$!{DateUtil.getCurrentDate18()}'/></td>
		</tr>
    	<tr>
			<td class='body1'>调入组织</td><td class='body2'>
				<input type='hidden' id='inOrgId' value="$!StringUtil.getOrgId($session)">
				<input type='text' id='inOrgName' value="$!StringUtil.getOrgName($session)" readonly>
			</td>
			<td class='body1'>调入仓库</td><td class='body2'>
				<input type='hidden' id='inStockId' value="1">
				<input type='text' id='inStockName' value="饰品库" readonly>
			</td>
			<td class='body1'>调出组织</td><td class='body2'>
				<input type='hidden' id='outOrgId'>
				<input type='text' id='outOrgName' readonly #if($!isSaved) class='target' ondblclick="showOutOrgWin()" #end>
			</td>
			<td class='body1'>调出仓库</td><td class='body2'>
				<input type='hidden' id='outStockId' value="1">
				<input type='text' id='outStockName' value="饰品库" readonly>
			</td>
		</tr>
    	<tr>
			<td class='body1'>件数合计</td><td class='body2'><input type='text' readonly id='sumCount' value='$!{form.head.sumCount}'/></td>
			<td class='body1'>重量合计</td><td class='body2'><input type='text' readonly id='sumWeight' value='$!{form.head.sumWeight}'/></td>
			<td class='body1'>粒数合计</td><td class='body2'><input type='text' readonly id='sumGrains' value='$!{form.head.sumGrains}'/></td>
			<td class='body1'>单据状态：</td>	
			<td class='body2'>
				<input type='hidden' id="status" name='status' readonly value="$!status">
				<input type='text' id="statusName" name='statusName' readonly value="$!statusName">
				<input type='hidden' id='sumMoney' value='$!{form.head.sumMoney}'/>
				<input type='hidden' id='sumCost' value='$!{form.head.sumCost}'/>
			</td>
		</tr>
    	<tr>
			<td class='body1'>饰品条码</td><td class='body2'><input type='text' id='barCode_in' value='' #if(!$!isSaved) readOnly #end/></td>
			<td class='body1'>饰品编码</td><td class='body2'><input type='text' id='ornaCode_in' value='' #if(!$!isSaved) readOnly #end/></td>
			<td class='body1'>备注</td><td class='body2' colspan="3"><input type='text' id='memo' value='$!{form.head.memo}' style='width:90%' #if(!$!isSaved) readOnly #end/></td>
		</tr>
    </table>
	<table class='list'>
		<thead>
			<tr>
				<th></th>
				<th><input type='checkbox' id='chkall'/></th>
				<th>双标签</th>
				<th>饰品编码</th>
				<th>饰品名称</th>
				<th>大类</th>
				<th>小类</th>
				<th>分析范围</th>
				<th>款式</th>
				<th>计量单位</th>
				<th>总重量</th>
				<th>现有量</th>
				<th>粒数</th>
				<th>网点金额</th>
				<th>主石重</th>
				<th>配石重</th>
				<th>状态</th>
				<th width='60px;'></th>
			</tr>
		</thead>
		<tbody id='tbl'>
		#foreach($item in $form.lineList)
			<tr><td></td>
				<td>
					<input type='checkbox' name='chk'/>
            		<input type='hidden' name='lineid' value='$!{item.lineid}'/>
            		<input type='hidden' name='ornaCode' value='$!{item.ornaCode}'/>
            		<input type='hidden' name='barCode' value='$!{item.barCode}'/>
            		<input type='hidden' name='allWeight' value='$!{item.allWeight}'/>
            		<input type='hidden' name='posCost' value='$!{item.posCost}'/>
            		<input type='hidden' name='posAmount' value='$!{item.posAmount}'/>
            		<input type='hidden' name='grains' value='$!{item.grains}'/>
				</td>
				<td>$!DictUtil.getValue('yesorno', $item.isDblLabel)</td>
				<td>$!item.ornaCode</td>
				<td>$!item.ornaDsc</td>
				<td>$!BdCommon.getItemClassDesc($!item.itemClassId)</td>
				<td>$!BdCommon.getOrnaClassDesc($!item.ornaClassId)</td>
				<td>$!item.analysisName</td>
				<td>$!HtmlUtil.printStyle($!item.styleId, $!item.styleName, $!item.bigGraph)</td>
				<td>$!BdCommon.getUnitName($!item.unitId)</td>
				<td>$!item.allWeight</td>
				<td>$!item.nowQty</td>
				<td>$!item.grains</td>
				<td>$!item.posAmount</td>
				<td>$!item.mainWeight</td>
				<td>$!item.partWeight</td>
				<td>$!DictUtil.getValue('status', $!item.status)</td>
				<td><input type='button' class='btn' value='删除' onclick='deleteMoveRow(this)' #if(!$!isSaved) disabled #end/></td>
			</tr>
		#end
        </tbody>
    </table>
</form>
<script>
function checkForm(){
	if(!Validator.Validate($("frm"),3))
		return false;
	if(jQuery("#outOrgId").val() == jQuery("#inOrgId").val()){
		alert("调入组织不能和调出组织相同");
		return false;
	}
	if($n("ornaCode").length<1){
		alert("请添加调拨饰品");
		return false;
	}
	return true;
}
function saveform(status){
	if(!checkForm())	return;
	var action = "1" == status?"保存":("4" == status?"审核":"");
	confirm("确定"+action+"?", function(){
		var moveHead = {
			headid : jQuery("#headid").val(),
			billno : jQuery("#billno").val(),
			outOrgId : jQuery("#outOrgId").val(),
			outStockId : jQuery("#outStockId").val(),
			inOrgId : jQuery("#inOrgId").val(),
			inStockId : jQuery("#inStockId").val(),
			dodate : jQuery("#dodate").val(),
			memo : jQuery("#memo").val(),
			status : status
		};
		var newOrnaCodeArr = [];
		for(var i=0;i<$n("ornaCode").length;i++){
			//lineid为空表示新添加
			if(isNull($n("lineid")[i].value)){
    			newOrnaCodeArr.push($n("ornaCode")[i].value);
			}
		}
		showLayer(true);
		MoveCmdDwr.checkOrnaStatusAvail(newOrnaCodeArr, function(data){
    		showLayer(false);
			if(data){
				alert("饰品编码：<br>"+data.join("<br>")+"<br>状态不为有效，不能做调拨指令单");
				return ;
			}
    		var sumCost = 0;
    		//饰品调拨单如果行记录多余1条，则要控制总成本
    		if( $n("ornaCode").length>1){
    			sumCost = jQuery("#sumCost").val();
    		}
			showLayer(true);
            MoveCmdDwr.saveMoveCmd(moveHead, newOrnaCodeArr, deleteOrnaCodeArr, sumCost, function(data2){
				showLayer(false);
            	alert(data2?data2:action+"成功", function(){
					if(!data2){
                		window.location = "moveCmd.vm";
					}
            	});
            });
		});
	});
}
//修改时删除的行id
var deleteOrnaCodeArr = [];
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true);
	jQuery("#btnSave").click(function(){saveform("1");});
	
	jQuery("#btnMark").click(function(){saveform("4");});
	jQuery("#btnInvalid").click(invalidCmd);
	
	//返回列表
	jQuery("#btnToList").click(function(){
		forward("moveCmd.vm");
	});
	setEnterKey('ornaCode_in', getMaterActiveByOrnaCode);
	setEnterKey('barCode_in', getMaterActiveByBarCode);
	setContent();
	setValues();
	changeButtons();
});
function setValues(){
	if(isNull(jQuery("#headid").val()))	return ;
	jQuery("#billno").val("$!{form.head.billno}");
	jQuery("#status").val("$!DictUtil.getValue('status', $!{form.head.status})");
	jQuery("#dodate").val("$!{form.head.dodate}");
	jQuery("#createId").val("$!BdCommon.getUserName($!{form.head.createId})");
    jQuery("#createDate").val("$!form.head.createDate");

	jQuery("#outOrgId").val("$!{form.head.outOrgId}");
	jQuery("#outOrgName").val("$!BdCommon.getOrgName($!{form.head.outOrgId})");
	
	jQuery("#inOrgId").val("$!{form.head.inOrgId}");
	jQuery("#inOrgName").val("$!BdCommon.getOrgName($!{form.head.inOrgId})");
	jQuery("#outOrgName").attr("disabled", true);
	
	
	//jQuery("#outStockId").val("$!{form.head.outStockId}");
	//jQuery("#outStockName").val("$!DictUtil.getValue('invcode', $!{form.head.outStockId})");
	//jQuery("#inStockId").val("$!{form.head.inStockId}");
	//jQuery("#inStockName").val("$!DictUtil.getValue('invcode', $!{form.head.inStockId})");
	
	jQuery("#outOrgId").attr("disabled", true);
	checkReview();
	calcSum();
}
function showOutOrgWin(){
	selectOrg(function(idArr, nameArr){
		jQuery("#outOrgId").val(idArr.join(','));
		jQuery("#outOrgName").val(nameArr.join(','));
	}, null, null, false, jQuery("#outOrgId").val(), "getInOrgByMoveNet");
}
function setContent(){
	initCalendar('dodate');
	
}
function changeButtons(){
	jQuery("#btnSave").attr("disabled", true);
	jQuery("#btnMark").attr("disabled", true);
	jQuery("#btnInvalid").attr("disabled", true);
	
	if(("1" == "$!{form.head.status}" || isNull("$!{form.head.status}")) && ("$!StringUtil.getOrgId($session)" == jQuery("#inOrgId").val())){
    	jQuery("#btnSave").attr("disabled", false);
    	jQuery("#btnMark").attr("disabled", false);
	}
	if("5" == "$!{form.head.status}" && "$!StringUtil.getOrgId($session)" == jQuery("#outOrgId").val()){
		jQuery("#btnInvalid").attr("disabled", false);
	}
	
}

</script>