#set($cssfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.css"])
#set($jsfiles = ["$StringUtil.getContextPath()/script/mclon/calendar/calendar.js",
	"$StringUtil.getContextPath()/js/move/movePack.js",
	"$StringUtil.getContextPath()/dwr/interface/MoveNetDwr.js",
	"$StringUtil.getContextPath()/dwr/interface/MovePackDwr.js"])
##业务类型1饰品装箱2维修件装箱3交接单装箱4形态转换单
#if("1" == $!{form.billType})
	#set($modelCode = '0803010602')
#elseif("2" == $!{form.billType})
	#set($modelCode = '0803010702')
#elseif("3" == $!{form.billType})
	#set($modelCode = '0803010802')
#elseif("4" == $!{form.billType})
	#set($modelCode = '0803011202')
#end
<form id='frm' action="" method="post">
	<input type='hidden' id='billType' value='$!{form.billType}'/>
	<input type='hidden' id='headid' value='$!{form.head.headid}'/>
    <table class="title">
    	<tr><td>$!DictUtil.getValue("packbilltype", $!form.billType)</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='保存' class='btn' id='btnSave' $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='审核' class='btn' id='btnMark' $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='接收' class='btn' id='btnReceive' $RightUtil.able($session, $modelCode,'3')>
				<input type='button' value='修改可接收人' class='btn' id='btnUpdaterReceUserIds' $RightUtil.able($session, $modelCode,'5')>
				<input type='button' value='打印' class='btn' id="btnPrint">
				<input type='button' value='返回列表' class='btn' id="btnToList">
			</td>
		</tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>单据编号</td><td class='body2'><input type='text' readonly id='billno' value='自动生成'/></td>
			<td class='body1'>单据状态</td><td class='body2'><input type='text' readonly id='status' value='保存'/></td>
			<td class='body1'>创建人</td><td class='body2'><input type='text' readonly id='createId' value='$!{StringUtil.getUserName($session)}'/></td>
            <td class='body1'>包裹毛重</td><td class='body2'><input type='text' id='grossWeight' value='$!{form.head.grossWeight}' dataType="Double" msg="不能为空,且为数字类型"/></td>			
		</tr>
    	<tr>
			<td class='body1'>调出组织</td><td class='body2'>
				<input type='hidden' id='outOrgId' value="$!StringUtil.getOrgId($session)">
				<input type='text' id='outOrgName' value="$!StringUtil.getOrgName($session)" readonly>
			</td>
			<td class='body1'>调入组织</td><td class='body2'>
		#if("3" == "$!form.billType" || "4" == "$!form.billType")##交接单\形态转换单
				<select id='inOrgId' onchange="changeInOrgId()"></select>
		#else
				<input type='hidden' id='inOrgId'>
				<input type='text' id='inOrgName' readonly class='target' ondblclick="showInOrgWin()">
		#end
			</td>
            <td class='body1'>配送方式</td><td class='body2'><select id='expressMode' dataType="Require" msg="不能为空"></select></td>
            <td class='body1'>快递单号</td><td class='body2'><input type='text' id='expressNo' value='$!{form.head.expressNo}' dataType="Require" msg="不能为空"/></td>
		</tr>
		<tr>
			<td class='body1'>装箱日期</td><td class='body2'><input type='text' readonly id='dodate' value='$!{DateUtil.getCurrentDate10()}'/></td>
            <td class='body1'>预计到货日期</td><td class='body2'><input type='text' id='planEndDate' value='$!{form.head.planEndDate}' readonly/></td>
            <td class='body1'>件数合计</td><td class='body2'><input type='text' readonly id='sumCount' value='$!{form.head.sumCount}'/></td>
		#if("2" != $!{form.billType})
			#if($RightUtil.isAble($session, $modelCode,'4'))
				<td class='body1'>成本合计</td><td class='body2'><input type='text' readonly id='sumCost' value='$!{form.head.sumCost}'/></td>
			#else
				<td class='body1'></td><td class='body2'><input type='hidden' readonly id='sumCost' value='$!{form.head.sumCost}'/></td>
			#end
		#end
		</tr>
		<tr>
            <td class='body1'>封包人</td>
			<td class='body2'>
				<input type='text' readonly id='sendUserId' value='$!{StringUtil.getUserName($session)}'/>
			</td>
			<td class='body1'>可接收人</td><td class='body2'>
				<input type='hidden' id='receUserIds' value='$!{form.head.receUserIds}'/>
				<input type='text' readonly class='target' id='receUserNames' value='$!BdCommon.getUserName($!{form.head.receUserIds})' ondblclick="selectExpressEmps()" dataType="Require" msg="不能为空"/>
			</td>
            <td class='body1'>接收人</td><td class='body2'><input type='text' id='receiveEmpId' value='$!BdCommon.getUserName($!{form.head.receiveEmpId})' readonly/></td>
			<td class='body1'>接收日期</td><td class='body2'><input type='text' readonly id='receiveDate' value='$!{form.head.receiveDate}'/></td>
		</tr>
    	<tr>
		#if("1" == $!{form.billType})##饰品装箱单
			<td class='body1'>调拨单号</td><td class='body2'><input type='text' id='moveNo_in' value=''/></td>
		#elseif("2" == $!{form.billType})##维修件
			<td class='body1'>维修件单号</td><td class='body2'><input type='text' id='fixNo_in' value=''/></td>
		#elseif("3" == $!{form.billType})##交接单
			<td class='body1'>交接单号</td><td class='body2'><input type='text' id='handoverNo_in' value=''/></td>
		#elseif("4" == $!{form.billType})##形态转换单
			<td class='body1'>形态转换号</td><td class='body2'><input type='text' id='procChangeNo_in' value=''/></td>
		#end
			<td class='body1'>备注</td><td class='body2' colspan="5"><input type='text' id='memo' value='$!{form.head.memo}' style="width:95%;"/></td>
		</tr>
    </table>
	<table class='list'>
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>#if("1" == $!{form.billType})调拨单号#elseif("2" == $!{form.billType})维修单号#elseif("3" == $!{form.billType})交接单号#elseif("4" == $!{form.billType})形态转换单号#end</th>				
				<th>创建人</th>
				<th>件数</th>
			#if("2" != $!{form.billType})
				#if($RightUtil.isAble($session, $modelCode,'4'))
					<th>成本</th>
				#end
			#end
				<th width='60px;'></th>
			</tr>
		</thead>
		<tbody id='tbl'>
		#foreach($item in $form.lineList)
			<tr>
				<td></td>
				<td>
					<input type='checkbox' name='chk'/>
            		<input type='hidden' name='lineid' value='$!{item.lineid}'/>
            		<input type='hidden' name='billId' value='$!{item.billId}'/>
            		<input type='hidden' name='billNo' value='$!{item.billNo}'/>
            		<input type='hidden' name='billUserId' value='$!{item.billUserId}'/>
            		<input type='hidden' name='billCount' value='$!{item.billCount}'/>
			#if("2" != $!{form.billType})
            		<input type='hidden' name='billCost' value='$!{item.billCost}'/>
			#end
				</td>
				<td>$!{item.billNo}</td>
				<td>$!{item.billUserName}</td>
				<td>$!{item.billCount}</td>
			#if("2" != $!{form.billType})
				#if($RightUtil.isAble($session, $modelCode,'4'))
				<td>$!{item.billCost}</td>
				#end
			#end
				<td><input type='button' class='btn' value='删除' onclick='deleteMoveRow(this)'/></td>
			</tr>
		#end
        </tbody>
    </table>
</form>
<script>
var viewCostFlag = $RightUtil.isAble($session, $modelCode,'4');
function showInOrgWin(){
	selectOrg(function(idArr, nameArr){
		jQuery("#inOrgId").val(idArr.join(','));
		jQuery("#inOrgName").val(nameArr.join(','));
		changeInOrgId();
	}, null, null, false, jQuery("#inOrgId").val(), "getInOrgByMoveNet");
}
function changeInOrgId(){
	if(isNull(jQuery("#inOrgId").val())){
		jQuery("#receUserIds").val("");
		jQuery("#receUserNames").val("");
		return ;
	}
	MovePackDwr.getExpressEmps(jQuery("#inOrgId").val(), function(dataStr){
		var data = eval("(" + dataStr + ")");
			jQuery("#receUserIds").val(data.userids.join(","));
			jQuery("#receUserNames").val(data.usernames.join(","));
	});
}
/**
 * 选择联邦快递人员
 */
function selectExpressEmps(){
	if(isNull(jQuery("#inOrgId").val())){
		alert("请先选择调入组织");
		return ;
	}
	selectEmp(function(idArr, nameArr){
		jQuery("#receUserIds").val(idArr);
		jQuery("#receUserNames").val(nameArr);
		disableInput();
	}, null, null, true, jQuery("#receUserIds").val(), "getExpressEmps", {orgId:jQuery("#inOrgId").val()});
}
function checkForm(){
	if(!Validator.Validate($("frm"),3))
		return false;
 	if(("3" != jQuery("#billType").val() && "4" != jQuery("#billType").val())&(jQuery("#outOrgId").val() == jQuery("#inOrgId").val())){
		alert("调入组织不能和调出组织相同");//若不是交接装箱单和形态转换单形态转换单，则调入、调出组织不能相同
		return false;
	}
	if($n("billId").length<1){
		alert("请添加行表单据");
		return false;
	}
	return true;
}
function saveform(status){
	if(!checkForm())	return;
	var action = "1" == status?"保存":("4" == status?"审核":"");
	confirm("确定"+action+"?", function(){
		var packHead = {
			headid : jQuery("#headid").val(),
			billno : jQuery("#billno").val(),
			dodate : jQuery("#dodate").val(),
			billType : jQuery("#billType").val(),
			jmFlag : "0",
			outOrgId : jQuery("#outOrgId").val(),
			inOrgId : jQuery("#inOrgId").val(),
			expressMode : jQuery("#expressMode").val(),
			expressNo : jQuery("#expressNo").val(),
			planEndDate : jQuery("#planEndDate").val(),
			grossWeight : jQuery("#grossWeight").val(),
			sendOrgId : jQuery("#sendOrgId").val(),
			sendUserId : jQuery("#sendUserId").val(),
			receOrgId : jQuery("#receOrgId").val(),
			receUserIds : jQuery("#receUserIds").val(),
			sumCount : jQuery("#sumCount").val(),
			sumCost : ("2" != jQuery("#billType").val()?jQuery("#sumCost").val():null),
			memo : jQuery("#memo").val(),
			status : status
		};
		var newLineArr = [];
		for(var i=0;i<$n("billId").length;i++){
			//lineid为空表示新添加
			if(isNull($n("lineid")[i].value)){
    			newLineArr.push({
					billId:$n("billId")[i].value,
					billNo:$n("billNo")[i].value,
					billUserId:$n("billUserId")[i].value,
					billCount:$n("billCount")[i].value,
					billCost:("2" != jQuery("#billType").val()?$n("billCost")[i].value:null)
				});
			}
		}
		var sumCost = 0;
		//饰品装箱单如果行记录多余1条，则要控制总成本
		if("2" != jQuery("#billType").val() && $n("billId").length>1 && jQuery("#expressMode").val()!='2'){
			sumCost = jQuery("#sumCost").val();
		}
		showLayer(true);
		MovePackDwr.checkBillAvail(newLineArr, jQuery("#billType").val(), "0", jQuery("#headid").val(), sumCost, function(data){
			showLayer(false);
			if(data){
				alert(data);
				return ;
			}
			showLayer(true);
            MovePackDwr.saveMovePack(packHead, newLineArr, deleteMoveIdArr, function(data2){
    			showLayer(false);
            	alert(data2?data2:action+"成功", function(){
            		window.location = "movePack.vm?billType=$!{form.billType}";
            	});
            });
		});
	});
}
/**
 * 接收装箱单
 */
function receiveMovePack(){
	if(isNull(jQuery("#headid").val()))	return ;
	confirm("确定接收?", function(){
		MovePackDwr.receiveMovePack(jQuery("#headid").val(), function(data){
			alert(data?data:"接收成功", function(){
				window.location = "movePack.vm?billType=$!{form.billType}";
			});
		});
	});
}
//修改时删除的行id
var deleteMoveIdArr = [];
jQuery(function(){
	altRowCSS('tbl');
	jQuery("#btnSave").click(function(){saveform("1");});
	jQuery("#btnMark").click(function(){saveform("4");});
	jQuery("#btnPrint").click(printMovePack);
	//返回列表
	jQuery("#btnToList").click(function(){
		window.location = "movePack.vm?billType=$!{form.billType}";
	});
	jQuery("#btnReceive").click(receiveMovePack);
	jQuery("#btnUpdaterReceUserIds").click(updaterReceUserIds);
	#if("1" == $!{form.billType})
	setEnterKey('moveNo_in', getMoveBillInfo);
	#elseif("2" == $!{form.billType})
	setEnterKey('fixNo_in', getFixBillInfo);
	#elseif("3" == $!{form.billType})
	setEnterKey('handoverNo_in', getHandoverBillInfo);
	#elseif("4" == $!{form.billType})
	setEnterKey('procChangeNo_in', getProcChangeBillInfo);
	#end
	setContent();
	setValues();
	disableButtons();
});
function updaterReceUserIds(){
	selectEmp(function(idArr, nameArr){
		confirm("确定修改可接收人?", function(){
    		MovePackDwr.updateReceUserIds(jQuery("#headid").val(), idArr.join(','), function(data){
    			alert(data?data:"修改可接收人成功", function(){
    				if(!data){
    					window.location = "movePack.vm?user_action=toEdit&headid=" + jQuery("#headid").val();
    				}
    			});
    		});
		});
	}, null, null, true, jQuery("#receUserIds").val(), "getExpressEmps", {orgId:jQuery("#inOrgId").val()});
}
/**
 * 打印单据
 */
function printMovePack(){
	var options = {
		title : '打印装箱单',
		contentType : 'iframe',
		iframeId : "movePackFrm",
		width : 800,
		height : 350,
		okBtnName : '确定',
		//cancelBtnName : '取消',
		showCancelBtn : false
	};
	var url = ctxPath + '/move/movePack.vm?user_action=printbill&headid=' + jQuery("#headid").val();
	jQuery.weeboxs.open(url, options);
}
function setValues(){
	if(isNull(jQuery("#headid").val())){
		//交接装箱单\形态转换单 调入组织和调出组织相同，都是从session获取
		if("3" == jQuery("#billType").val() || "4" == jQuery("#billType").val()){
			addOption("inOrgId", "$!StringUtil.getOrgId($session)", "$!StringUtil.getOrgName($session)");
		}
    	return ;
	}
	jQuery("#billno").val("$!{form.head.billno}");
	jQuery("#status").val("$!DictUtil.getValue('status', $!{form.head.status})");
	jQuery("#dodate").val("$!{form.head.dodate}");
	jQuery("#createId").val("$!BdCommon.getUserName($!{form.head.createId})");
	
	jQuery("#outOrgId").val("$!{form.head.outOrgId}");
	jQuery("#outOrgName").val("$!BdCommon.getOrgName($!{form.head.outOrgId})");
	if("3" == jQuery("#billType").val() || "4" == jQuery("#billType").val()){
    	removeAllOptions("inOrgId",false);
    	addOption("inOrgId", "$!{form.head.inOrgId}", "$!BdCommon.getOrgName($form.head.inOrgId)");
		jQuery("#inOrgId").attr("disabled", true);
	}else{
		jQuery("#inOrgId").val("$!{form.head.inOrgId}");
		jQuery("#inOrgName").val("$!BdCommon.getOrgName($!{form.head.inOrgId})");
		jQuery("#inOrgId").attr("disabled", true);
		jQuery("#inOrgName").attr("disabled", true);
	}
			
	jQuery("#planEndDate").val("$!form.head.planEndDate");
	jQuery("#sendUserId").val("$!BdCommon.getUserName($!{form.head.sendUserId})");
	
	checkReview();
	calcSum();
}
function setContent(){
	initCalendar('dodate', {onSelect:function(cal){
		var date = Calendar.intToDate(cal.selection.get() + 1);
		jQuery("#planEndDate").val(Calendar.printDate(date, "%Y-%m-%d"));
		this.hide();
	}});
	var cal = initCalendar('planEndDate');
	//cal.selection.set(Calendar.dateToInt(new Date()) + 1);
	//jQuery("#planEndDate").val(cal.selection.print("%Y-%m-%d"));
	var date = Calendar.intToDate(Calendar.dateToInt(new Date()) + 1);
	jQuery("#planEndDate").val(Calendar.printDate(date, "%Y-%m-%d"));
	DictDwr.getDictsForSlt("movepackexpressmode", function(data){
		addOptions("expressMode", data, null, null, true, true, isNull(jQuery("#headid").val())?"1":"$!{form.head.expressMode}");
	});
}
function disableButtons(){
	jQuery("#btnSave").attr("disabled", true);
	jQuery("#btnMark").attr("disabled", true);
	jQuery("#btnReceive").attr("disabled", true);
	jQuery("#btnUpdaterReceUserIds").attr("disabled", true);
	
	if(isNull("$!{form.head.status}") || ("1" == "$!{form.head.status}" && "$!{form.head.outOrgId}" == "$!{StringUtil.getOrgId($!session)}")){
    	jQuery("#btnSave").attr("disabled", false);
    	jQuery("#btnMark").attr("disabled", false);
		jQuery("#btnReceive").hide();
	}else if("5" == "$!{form.head.status}"){//审批完成
		jQuery("#btnUpdaterReceUserIds").attr("disabled", false);
		if("$!{form.head.inOrgId}" == "$!{StringUtil.getOrgId($!session)}"){
			if(",$!{form.head.receUserIds},".indexOf(',$!{StringUtil.getUserId($!session)},')>-1){
				jQuery("#btnReceive").attr("disabled", false);
			}
		}
	}
}
</script>