#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/SpecialDiamDwr.js"])
#set($modelCode='0803011401')
#set($queryCode='11')
<form id="frm" action="specialDiam.vm" method="post">
    <input type='hidden' id='user_action' name='user_action' value='orgTypeList'/>
	<table class="control">
    	<tr>
			<td>
				<input type='button' value='删除' class='btn' id="btnDelete" $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='导出Excel' class='btn' id='exportToExcel' onclick="exportListToExcel()" $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='查询' class='btn' id="btnQueryShow" $RightUtil.able($session, $modelCode,'3')>
			</td>
		</tr>
    </table>
	<div class="scroll">
    <table class='list' style='width:1200px;'>
    	<thead>
			<tr>
                <th width='45px'><input type='checkbox' id='chkall'/></th>
        		<th width='80px'>状态</th>
                <th width='120px'>组织</th>
                <th width='120px'>类型</th>
        		<th width='120px'>创建时间</th>
        		<th width='90px'>创建人</th>
        		<th width='120px'>修改时间</th>
        		<th width='90px'>修改人</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($item in $form.pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value='$!{item.orgId}'/>$velocityCounter</td>
				<td>$!DictUtil.getValue('status', $!item.status)</td>
				<td>$!item.orgName</td>
				<td><select style="width:120px;" onchange="changeOrgType(this)">$HtmlUtil.printDictOptions('specialDiamOrgType', true, $!item.orgType)</select></td>
				<td>$!item.createDate</td>
				<td>$!BdCommon.getUserName($!item.createId)</td>
				<td>$!item.updateDate</td>
				<td>$!BdCommon.getUserName($!item.updateId)</td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
function changeOrgType(slt){
	var rowIndex = slt.parentNode.parentNode.rowIndex - 1;
	var orgId = $n("chk")[rowIndex].value;
    showLayer(true);
	SpecialDiamDwr.changeSpecialDiamOrgType(orgId, slt.value, function(data){
    		showLayer(false);
        	window.location = "specialDiam.vm?user_action=orgTypeList";
			/*
    		alert(data?data:"保存成功", function(){
    			if(!data){
                	window.location = "specialDiam.vm?user_action=orgTypeList";
    			}
    		});
			*/
    	});
}
function exportListToExcel(){
	jQuery("#user_action").val("exportExcelOrg");
	jQuery("#frm").submit();
	jQuery("#user_action").val("orgTypeList");
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', true);
	jQuery("#btnDelete").click(deleteBill);
	initQuery2('${queryCode}', "frm", 'btnQueryShow');
	resetWinSize();
});
function deleteBill(){
	var idxs = getSelectIndexs('chk');
	if(idxs.length<1){
		alert("请选择要删除的记录");
		return ;
	}
	confirm("确定删除?", function(){
		showLayer(true);
		var billIdArr = [];
		for(var i=0, j=idxs.length;i<j;i++){
			billIdArr.push($n("chk")[idxs[i]].value);
		}
    	SpecialDiamDwr.deleteSpecialDiamOrgs(billIdArr, function(data){
    		showLayer(false);
    		alert(data?data:"删除成功", function(){
    			if(!data){
                	window.location = "specialDiam.vm?user_action=orgTypeList";
    			}
    		});
    	});
	});
}
</script>