#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/StandardDispatchDwr.js"])
<form id="frm" action="" method="post">
	<input type='hidden' name='gheadid' value="$!form.gheadid" id="gheadid"/>
	<input type='hidden' name='ornaCode' value="$!form.ornaCode" id="ornaCode"/>
	<input type='hidden' name='dispatchOrgId' value="$!form.dispatchOrgId" id='dispatchOrgId'/>
	<table width="100%" border="0" height='50px;'>
		<tr>
			<td>
			#if("$!form.ornaCode" != "")
				饰品[$!form.ornaCode]
				<font size='6' color=red>
                    #if("$!form.dispatchModel" == "1")已配货#elseif("$!form.dispatchModel" == "2")配货成功#elseif("$!form.dispatchModel" == "3")配货未成功
                    #elseif("$!form.dispatchModel" == "4")配货未成功, 配货参数不匹配#end
                </font>
				#if("$!form.dispatchOrgId" != "-1"),已经配给<font size='6'>$!BdCommon.getOrgName($!form.dispatchOrgId)</font>#end
			#end
			</td>
		</tr>
	</table>
    <table class='list'>
    	<thead>
    		<tr>
				<th>分配组织</th>
				<th>库存</th>
				<th>在途</th>
				<th>已分配</th>
				<th>配货方式</th>
				<th>最小量</th>
				<th>最大量</th>
				<th>操作</th>
    		</tr>
    	</thead>
    	<tbody id='tbl'>
    	#foreach($item in $form.pager.pageData)
    		<tr>
    			<td>$!BdCommon.getOrgName($!item.orgId)</td>
    			<td>$!item.stockNum</td>
    			<td>$!item.onwayNum</td>
    			<td>$!item.dispatchNum</td>
    			<td>#if("1" == "$!item.dispatchFlag")价位带#elseif("2" == "$!item.dispatchFlag")款式#else 不能配货#end</td>
    			<td>$!item.dispMin</td>
    			<td>$!item.dispMax</td>
			#if("$!{form.dispatchOrgId}" == "$!item.orgId")
				<td><input type='button' class='btn' value='取消' onclick="cancelChange(this, '$!{item.orgId}')"/></td>
			#else
				<td><input type='button' class='btn' value='变更' #if("0" == "$!item.dispatchFlag")disabled#end onclick="exchange(this, '$!{item.orgId}')"/></td>
			#end
            </tr>
    	#end
    	</tbody>
    </table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
	changeButtonStatus();
});
function changeButtonStatus(){
	if("-1" == jQuery("#dispatchOrgId").val()){
		jQuery(".btn").each(function(){
			jQuery(this).attr("disabled", true);
		});
	}
}
/**
 * 取消变更
 */
function cancelChange(obj, orgId){
	confirm("确定取消?", function(){
		StandardDispatchDwr.cancelDispatch(jQuery("#gheadid").val(), jQuery("#ornaCode").val(), function(data){
			alert(data?data:"取消成功", function(){
            	jQuery("#dispatchOrgId").val("-1");
            	jQuery("#frm").submit();
			});
		});
	});
}
/**
 * 变更正配货饰品
 */
function exchange(obj, orgId){
	confirm("确定变更?", function(){
		StandardDispatchDwr.exchangeDispatching(jQuery("#gheadid").val(), jQuery("#ornaCode").val(), orgId, function(data){
			alert(data?data:"变更成功", function(){
				jQuery("#dispatchOrgId").val(orgId);
            	jQuery("#frm").submit();
			});
		});
	});
}
</script>