<!-- 已配货查询 -->
#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/StandardDispatchDwr.js"])
<form id="frm" action="" method="post">
	<input type='hidden' name='gheadid' value="$!form.gheadid"/>
    <table class='list'>
    	<thead>
    		<tr>
                <th width='20px'><input type='checkbox' id='chkall'/></th>
                <th>组织</th><th>商品编码</th><th>商品名称</th><th>计量单位</th><th>款式</th>
				<th>色级</th><th>净度</th><th>总重量</th><th>主石重</th><th>配石重</th><th>尺寸</th><th>网点金额</th>
				<th>配货方式</th>
				<th>状态</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody id='tbl'>
    	#foreach($item in $form.pager.pageData)
    		<tr>
				<td><input type='checkbox' name='chk'/><input type='hidden' name='status' value="$!item.status"/></td>
    			<td>$!BdCommon.getOrgName($!item.orgId)</td>
    			<td>$!item.ornaCode</td>
    			<td>$!item.ornaDsc</td>
    			<td>$!BdCommon.getUnitName($!item.unitId)</td>
				<td>$!HtmlUtil.printStyle($!item.styleId, $!item.styleName, $!item.bigGraph)</td>
    			<td>$!DictUtil.getValue('diacolorgrade',$!item.colorGradeId)</td>
    			<td>$!DictUtil.getValue('diaclean',$!item.cleanId)</td>
    			<td>$!item.allQty</td>
    			<td>$!item.mainWeight</td>
    			<td>$!item.partWeight</td>
    			<td>$!item.sizeName</td>
    			<td>$!item.newPosMoney</td>
    			<td>#if("1" == "$!item.dispatchFlag")价位带#elseif("2" == "$!item.dispatchFlag")款式#end</td>
				<td>$!DictUtil.getValue('dispatchornastatus',$item.status)</td>
    			<td><input type='button' style='width:40px;' value='删除' #if("2" != "$!item.status")disabled#end onclick="deleteDispatched(this,'$!{item.id}')"/></td>
            </tr>
    	#end
    	</tbody>
    </table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
});
/**
 * 删除已配货记录
 */
function deleteDispatched(obj, ornaLogId){
	var index = obj.parentNode.parentNode.rowIndex-1;
	if("2" != $n("status")[index].value){
		alert("只有已配货状态的才可以删除");
		return ;
	}
	confirm("确定删除配货记录?", function(){
        StandardDispatchDwr.deleteDispatchLog(ornaLogId, function(data){
			alert(data?data:"删除成功", function(){
    			jQuery("#frm").submit();
			});
		});
	});
}
</script>