<!-- 已配货查询 -->
#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/StandardDispatchDwr.js"])
<form id="frm" action="" method="post">
	<input type='hidden' name='gheadid' value="$!form.gheadid" id='gheadid'/>
    <table class="control">
    	<tr><td>
				<input type='button' value='返回列表' class='btn' id="btnToList">
		</td></tr>
    </table>
	<table class="content">
		<tr>
			<td class='body1'>单据编号</td><td class='body2'>$!form.ghead.billno</td>
			<td class='body1'>创建人</td><td class='body2'>$!BdCommon.getUserName($!form.ghead.createId)</td>
			<td class='body1'>创建时间</td><td class='body2'>$!form.ghead.createDate</td>
		</tr>
	</table>
	<table class="list">
		<thead>
			<tr>
				<th style="width:13%;">大类</th>
				<th style="width:13%;">小类</th>
				<th style="width:13%;">分析范围</th>
				<th style="width:13%;">款式大类</th>
				<th style="width:13%;">款式中类</th>
				<th style="width:13%;">款式小类</th>
				<th style="width:13%;">明细款式</th>
				<th></th>
			</tr>
        </thead>
		<tbody>
			<tr>
				<td><select id="itemClassId" name="itemClassId" onchange="changeItemClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="ornaClassId" name="ornaClassId" onchange="changeOrnaClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="analysisId" name="analysisId" onchange="changeAnalysis()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleItemClassId" name="styleItemClassId" onchange="changeStyleItemClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleMiddleClassId" name="styleMiddleClassId" onchange="changeStyleMiddleClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleOrnaClassId" name="styleOrnaClassId" onchange="changeStyleOrnaClass()"><option value=''>--请选择--</option></select></td>
				<td><select id="styleId" name="styleId" onchange=""><option value=''>--请选择--</option></select></td>
				<td><input type="button" value="筛选" id="btnQuery" class='btn'/> </td>
			</tr>
        </tbody>
	</table>
    <table class='list'>
    	<thead>
    		<tr>
                <th width='20px'><input type='checkbox' id='chkall'/></th>
    			<th>商品编码</th><th>商品名称</th><th>计量单位</th><th>款式</th>
				<th>色级</th><th>净度</th><th>总重量</th><th>主石重</th><th>配石重</th><th>尺寸</th><th>网点金额</th>
				<th>配货方式</th>
				<th>组织</th>
				<th>状态</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody id='tbl'>
    	#foreach($item in $form.pager.pageData)
    		<tr>
				<td><input type='checkbox' name='chk'/><input type='hidden' name='status' value="$!item.status"/></td>
    			<td>$!item.ornaCode</td>
    			<td>$!item.ornaDsc</td>
    			<td>$!BdCommon.getUnitName($!item.unitId)</td>
				<td>$!HtmlUtil.printStyle($!item.styleId, $!item.styleName, $!item.bigGraph)</td>
    			<td>$!DictUtil.getValue('diacolorgrade',$!item.colorGradeId)</td>
    			<td>$!DictUtil.getValue('diaclean',$!item.cleanId)</td>
    			<td>$!item.allQty</td>
    			<td>$!item.mainWeight</td>
    			<td>$!item.partWeight</td>
    			<td>$!item.sizeName</td>
    			<td>$!item.newPosMoney</td>
    			<td>#if("1" == "$!item.dispatchFlag")价位带#elseif("2" == "$!item.dispatchFlag")款式#end</td>
    			<td>$!BdCommon.getOrgName($!item.orgId)</td>
				<td>$!DictUtil.getValue('dispatchornastatus',$item.status)</td>
    			<td><input type='button' style='width:40px;' value='删除' #if("2" != "$!item.status")disabled#end onclick="deleteDispatched(this,'$!{item.id}')"/></td>
            </tr>
    	#end
    	</tbody>
    </table>
<script>
createPagingToolbar('frm', $!form.pager.start, $!form.pager.limit, $!form.pager.totalCount);
</script>
</form>
<script>
/**
* 改变大类
*/
function changeItemClass(){
	StandardDispatchDwr.getOrnaClassForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
		changeOrnaClass();
	});
}
/**
* 改变小类
*/
function changeOrnaClass(){
	StandardDispatchDwr.getAnalysisForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("analysisId", data, null, null, true, true);
		changeAnalysis();
	});
}
/**
* 改变分析范围
*/
function changeAnalysis(){
	StandardDispatchDwr.getStyleItemClassForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), function(data){
		addOptions("styleItemClassId", data, null, null, true, true);
		changeStyleItemClass();
	});
}
/**
* 改变款式大类
*/
function changeStyleItemClass(){
	StandardDispatchDwr.getStyleMiddleClassForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), function(data){
		addOptions("styleMiddleClassId", data, null, null, true, true);
		changeStyleMiddleClass();
	});
}
/**
* 改变款式中类
*/
function changeStyleMiddleClass(){
	StandardDispatchDwr.getStyleOrnaClassForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
		addOptions("styleOrnaClassId", data, null, null, true, true);
		changeStyleOrnaClass();
	});
}
/**
* 改变款式小类
*/
function changeStyleOrnaClass(){
	StandardDispatchDwr.getStyleIdForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
		addOptions("styleId", data, null, null, true, true);
	});
}
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false);
	jQuery("#btnQuery").click(function(){
		jQuery("#frm").submit();
	});
	//返回列表
	jQuery("#btnToList").click(function(){
		window.location = "standardDispatch.vm";
	});
	//请求大类数据
	StandardDispatchDwr.getItemClassForSlt(jQuery("#gheadid").val(), function(data){
		addOptions("itemClassId", data, null, null, true, true, "$!form.condition.itemClassId");
		if("$!form.condition.itemClassId"){
			//请求小类数据
			StandardDispatchDwr.getOrnaClassForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), function(data){
    			addOptions("ornaClassId", data, null, null, true, true, "$!form.condition.ornaClassId");
				if("$!form.condition.ornaClassId"){
        			//请求分析范围数据
        			StandardDispatchDwr.getAnalysisForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
                		addOptions("analysisId", data, null, null, true, true, "$!form.condition.analysisId");
                		if("$!form.condition.analysisId"){
                			//请求款式大类数据
							StandardDispatchDwr.getStyleItemClassForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), function(data){
                        		addOptions("styleItemClassId", data, null, null, true, true, "$!form.condition.styleItemClassId");
                        		if("$!form.condition.styleItemClassId"){
                        			//请求款式中类数据
        							StandardDispatchDwr.getStyleMiddleClassForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), function(data){
                                		addOptions("styleMiddleClassId", data, null, null, true, true, "$!form.condition.styleMiddleClassId");
                                		if("$!form.condition.styleMiddleClassId"){
                                			//请求款式小类数据
                							StandardDispatchDwr.getStyleOrnaClassForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
                                        		addOptions("styleOrnaClassId", data, null, null, true, true, "$!form.condition.styleOrnaClassId");
                                        		if("$!form.condition.styleOrnaClassId"){
                                        			//请求款式数据
                									StandardDispatchDwr.getStyleIdForSlt(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#analysisId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
                                                		addOptions("styleId", data, null, null, true, true, "$!form.condition.styleId");
                                                	});
                								}
                                        	});
										}
									});
								}
							});
						}
                	});
				}
    		});
		}
	});
});
/**
 * 删除已配货记录
 */
function deleteDispatched(obj, ornaLogId){
	var index = obj.parentNode.parentNode.rowIndex-1;
	if("2" != $n("status")[index].value){
		alert("只有已配货状态的才可以删除");
		return ;
	}
	confirm("确定删除配货记录?", function(){
        StandardDispatchDwr.deleteDispatchLog(ornaLogId, function(data){
			alert(data?data:"删除成功", function(){
    			jQuery("#frm").submit();
			});
		});
	});
}
</script>