#set($jsfiles = ["$!StringUtil.getContextPath()/dwr/interface/StandardDispatchDwr.js",
"$!StringUtil.getContextPath()/js/move/standardDispatch.js"])
#set($modelCode='08031402')
#if("-1" == $!{form.gheadid})
	#set($billCode = '自动生成')
#else
	#set($billCode = $!{form.ghead.billno})
#end
<form id="frm" action="" method="post">
	<input type='hidden' id='gheadid' value='$!form.gheadid'>
	<input type='hidden' id='conditionId' value='$!form.conditionId'>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='锁定配货参数' class='btn' id='btnLock' $RightUtil.able($session, $modelCode,'1')>
				<input type='button' value='解除参数锁定' class='btn' id='btnReleaseLock' $RightUtil.able($session, $modelCode,'2')>
				<input type='button' value='查看已配饰品' class='btn' id="btnViewDispatchOrna" $RightUtil.able($session, $modelCode,'3')>
				<input type='button' value='返回列表' class='btn' id="btnBackToList" $RightUtil.able($session, $modelCode,'4')>
			</td>
		</tr>
    </table>
	<table class='content'>
		<tr>
			<td class='body1'>单据编号</td><td class='body2'><input type='text' readonly value='$billCode'></td>
			<td class='body1'>大类</td><td class='body2'><select id="itemClassId" onchange="changeItemClass()"><option value=''>--请选择--</option></select></td>
			<td class='body1'>小类</td><td class='body2'><select id="ornaClassId"><option value=''>--请选择--</option></select></td>
		</tr>
		<tr>
			<td class='body1'>饰品条码</td><td class='body2'><input type='text' id='barCode_in' value=""></td>
			<td class='body1'>饰品编码</td><td class='body2'><input type='text' id='ornaCode_in' value=""></td>
		</tr>
	</table>
    <table class='list'>
    	<thead>
    		<tr>
    			<th>分析范围</th><th>款式大类</th><th>款式中类</th><th>款式小类</th><th>款式</th>
				<th>色级</th><th>净度</th><th>品质</th><th>尺寸</th><th>商品材质</th>
				<th>托架颜色</th><th>计量单位</th>
    		</tr>
    	</thead>
    	<tbody id='tbl1'>
			<tr>
				<td></td><td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td><td></td>
				<td></td><td></td>
			</tr>
        </tbody>
    </table>
	<table width="100%">
		<tr>
			<td>
				<iframe marginwidth="0" frameborder="0" width='100%' height='450' id="dispatchingChangeFrame" src="standardDispatch.vm?user_action=dispatching"></iframe>
			</td>
		</tr>
	</table>
</form>
<script>
/**
 * 改变大类
 */
function changeItemClass(){
	BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
	});
}
/**
 * 显示已配数据
 */
function showDispatched(){
	var _iframeId = "dispatchedOrna";
	var options = {
		title : '查看已分配饰品',
		contentType : 'iframe',
		iframeId : _iframeId,
		width : 1000,
		height : 350,
		okBtnName : '关闭',
		//cancelBtnName : '',
		showCancel : false,
		closeable:true,
		boxid:'winDiv',
		onok : function(box) {
			box.close();
		}
	};
	var url = "standardDispatch.vm?user_action=showDispatched&gheadid=" + jQuery("#gheadid").val() + "&conditionId=" + jQuery("#conditionId").val();
	jQuery.weeboxs.open(url, options);
}
jQuery(function(){
	jQuery("#btnLock").click(lockDisCondition);
	jQuery("#btnReleaseLock").click(releaseLock);
	jQuery("#btnBackToList").click(function(){
		window.location = "standardDispatch.vm";
	});
	jQuery("#btnViewDispatchOrna").click(function(){
		showDispatched();
	});
	setEnterKey('ornaCode_in', getMaterActiveByOrnaCode);
	setEnterKey('barCode_in', getMaterActiveByBarCode);
	initQuery2('${queryCode}', "frm", 'btnQueryShow');
	
	
	if("-1" == jQuery("#conditionId").val()){		
		jQuery("#btnLock").attr("disabled", false);
		jQuery("#btnReleaseLock").attr("disabled", true);
    	BdCommonDwr.getAllItemClassForSlt(function(data){
    		addOptions("itemClassId", data, null, null, true, true);
		});
		jQuery("#ornaCode_in").attr("disabled", true);
		jQuery("#barCode_in").attr("disabled", true);
	}else{
		jQuery("#btnLock").attr("disabled", true);
		jQuery("#btnReleaseLock").attr("disabled", false);
    	BdCommonDwr.getAllItemClassForSlt(function(data){
    		addOptions("itemClassId", data, null, null, true, true, "$!form.disCondition.itemClassId");
    		BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data2){
        		addOptions("ornaClassId", data2, null, null, true, true, "$!form.disCondition.ornaClassId");
			});
		});
		jQuery("#itemClassId").attr("disabled", true);
		jQuery("#ornaClassId").attr("disabled", true);
	}
});
function lockDisCondition(){
	if(isNull(jQuery("#itemClassId").val()) || isNull(jQuery("#ornaClassId").val())){
		alert("请先选择配货参数 大类、小类");
		return false;
	}
	confirm("确定锁定配货参数?", function(){
    	showLayer(true);
    	StandardDispatchDwr.checkDispatchCondition(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
    		if(!data){
    			StandardDispatchDwr.saveDispatchCondition(jQuery("#gheadid").val(), jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data2){
    				showLayer(false);
    				alert("生成配货参数成功", function(){
    					window.location = "standardDispatch.vm?user_action=dispatch&gheadid=" + data2[0] + "&conditionId=" + data2[1];
    				});
    			});
    		}else{
        		showLayer(false);
    			alert(data);
    		}
    	});
	});
}
function releaseLock(){
	confirm("确定解除锁定?", function(){
    	StandardDispatchDwr.releaseLock(jQuery("#conditionId").val(), function(data){
    		alert(data?data:"解除锁定成功", function(){
    			if(!data){
        			window.location = "standardDispatch.vm";
    			}
    		});
    	});
	});
}
</script>