#set($jsfiles = ["$StringUtil.getContextPath()/dwr/interface/BdCommonDwr.js"])

<table class='content'>
	<tr>
		<td class='body1'>商品类别</td><td class='body2'><select id="articleTypeId" onchange="changeArticleTypeId()"><option value=''>--请选择--</option></select></td>
	</tr>
	<tr>
		<td class='body1'>大类</td><td class='body2'><select id="itemClassId" onchange="changeOrnaClassId()"><option value=''>--请选择--</option></select></td>
		<td class='body1'>小类</td><td class='body2'><select id="ornaClassId" onchange="changeOrnaClass()"><option value=''>--请选择--</option></select></td>
	</tr>
	<tr>
		<td class='body1'>款式大类</td><td class='body2'><select id="styleItemClassId" onchange="changeStyleItemClassId()"><option value=''>--请选择--</option></select></td>
		<td class='body1'>款式中类</td><td class='body2'><select id="styleMiddleClassId" onchange="changeStyleMiddleClassId()"><option value=''>--请选择--</option></select></td>
	</tr>
	<tr>
		<td class='body1'>款式小类</td><td class='body2'><select id="styleOrnaClassId" onchange="changeStyleOrnaClassId()"><option value=''>--请选择--</option></select></td>
		<td class='body1'>款式</td><td class='body2'><select id="styleId"><option value=''>--请选择--</option></select></td>
	</tr>
</table>
<script>
/**
 * 改变商品类别
 */
function changeArticleTypeId(){
	BdCommonDwr.getItemClassForSlt(jQuery("#articleTypeId").val(), function(data){
		addOptions("itemClassId", data, null, null, true, true);
		changeOrnaClassId();
	});
}
/**
 * 改变大类
 */
function changeOrnaClassId(){
	BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data){
		addOptions("ornaClassId", data, null, null, true, true);
		changeOrnaClass();
	});
}
/**
 *　改变小类
 */
function changeOrnaClass(){
	//获取款式大类
	BdCommonDwr.getStyleItemClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
		addOptions("styleItemClassId", data, null, null, true, true);
		changeStyleItemClassId();
	});
}
/**
 *　改变款式大类
 */
function changeStyleItemClassId(){
	//获取款式中类
	BdCommonDwr.getStyleMiddleClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#styleItemClassId").val(), function(data){
		addOptions("styleMiddleClassId", data, null, null, true, true);
		changeStyleMiddleClassId();
	});
}
/**
 *　改变款式中类
 */
function changeStyleMiddleClassId(){
	//获取款式小类
	BdCommonDwr.getStyleOrnaClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
		addOptions("styleOrnaClassId", data, null, null, true, true);
		changeStyleOrnaClassId();
	});
}
/**
 *　改变款式小类
 */
function changeStyleOrnaClassId(){
	//获取款式
	BdCommonDwr.getStyleForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
		addOptions("styleId", data, null, null, true, true, "$!{form.selectedStyleId}");
	});
}
function getValues(){
	var options = $("styleId").options;
	for(var i=0;i<options.length;i++){
		if(options[i].selected){
			if(isNull(options[i].value))
				return [null, null];
			else
				return [options[i].value, options[i].text];
		}
	}
	return [null,null];
}
jQuery(document).ready(function(){
	BdCommonDwr.getArticleTypeForSlt(function(data){
		addOptions("articleTypeId", data, null, null, true, true, "$!form.cust.articleTypeId");
		if("$!form.cust.articleTypeId"){
			//jQuery("#articleTypeId").attr("disabled", true);
        	BdCommonDwr.getItemClassForSlt(jQuery("#articleTypeId").val(), function(data){
        		addOptions("itemClassId", data, null, null, true, true, "$!form.cust.itemClassId");
				if("$!form.cust.itemClassId"){
					//jQuery("#itemClassId").attr("disabled", true);
        			BdCommonDwr.getOrnaClassByItemClassIdForSlt(jQuery("#itemClassId").val(), function(data){
                		addOptions("ornaClassId", data, null, null, true, true, "$!form.cust.ornaClassId");
						if("$!form.cust.ornaClassId"){
                        	//jQuery("#ornaClassId").attr("disabled", true);
							BdCommonDwr.getStyleItemClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), function(data){
                        		addOptions("styleItemClassId", data, null, null, true, true, "$!form.cust.styleItemClassId");
								if("$!form.cust.styleItemClassId"){
									//jQuery("#styleItemClassId").attr("disabled", true);
									BdCommonDwr.getStyleMiddleClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#styleItemClassId").val(), function(data){
                                		addOptions("styleMiddleClassId", data, null, null, true, true, "$!form.cust.styleMiddleClassId");
										if("$!form.cust.styleMiddleClassId"){
											//jQuery("#styleMiddleClassId").attr("disabled", true);
											BdCommonDwr.getStyleOrnaClassForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), function(data){
                                        		addOptions("styleOrnaClassId", data, null, null, true, true, "$!form.cust.styleOrnaClassId");
												if("$!form.cust.styleOrnaClassId"){
													//jQuery("#styleOrnaClassId").attr("disabled", true);
													BdCommonDwr.getStyleForSlt(jQuery("#itemClassId").val(), jQuery("#ornaClassId").val(), jQuery("#styleItemClassId").val(), jQuery("#styleMiddleClassId").val(), jQuery("#styleOrnaClassId").val(), function(data){
                                                		addOptions("styleId", data, null, null, true, true, "$!{form.selectedStyleId}");
                                                	});
												}
                                        	});
										}
                                	});
								}
                        	});
						}
                	});
				}
        	});
		}
	});
});
</script>